In [4]:
import geopandas as gpd
import os
import pandas as pd

directory_path = 'andra'
gdf_list = []

# Iterate over each file in the directory
for filename in os.listdir(directory_path):
    if filename.endswith('.shp'):
        # Construct the full file path
        file_path = os.path.join(directory_path, filename)
        
        # Load the Shapefile as a GeoDataFrame
        gdf = gpd.read_file(file_path)
        
        # Append the GeoDataFrame to the list
        gdf_list.append(gdf)

# Concatenate all GeoDataFrames into a single GeoDataFrame
big_gdf_andra = gpd.GeoDataFrame(pd.concat(gdf_list, ignore_index=True))

print("All shapefiles have been concatenated into a single GeoDataFrame.")

All shapefiles have been concatenated into a single GeoDataFrame.

In [9]:

import geopandas as gpd
import os
import pandas as pd

directory_path = 'orissa'
gdf_list = []

# Iterate over each file in the directory
for filename in os.listdir(directory_path):
    if filename.endswith('.shp'):
        # Construct the full file path
        file_path = os.path.join(directory_path, filename)
        
        # Load the Shapefile as a GeoDataFrame
        gdf = gpd.read_file(file_path)
        
        # Append the GeoDataFrame to the list
        gdf_list.append(gdf)

# Concatenate all GeoDataFrames into a single GeoDataFrame
big_gdf_orissa_correct = gpd.GeoDataFrame(pd.concat(gdf_list, ignore_index=True))

print("All shapefiles have been concatenated into a single GeoDataFrame.")

All shapefiles have been concatenated into a single GeoDataFrame.

In [10]:
import geopandas as gpd
import os
import pandas as pd

directory_path = 'rajasthan'
gdf_list = []

# Iterate over each file in the directory
for filename in os.listdir(directory_path):
    if filename.endswith('.shp'):
        # Construct the full file path
        file_path = os.path.join(directory_path, filename)
        
        # Load the Shapefile as a GeoDataFrame
        gdf = gpd.read_file(file_path)
        
        # Append the GeoDataFrame to the list
        gdf_list.append(gdf)

# Concatenate all GeoDataFrames into a single GeoDataFrame
big_gdf_rajasthan_main = gpd.GeoDataFrame(pd.concat(gdf_list, ignore_index=True))

print("All shapefiles have been concatenated into a single GeoDataFrame.")

All shapefiles have been concatenated into a single GeoDataFrame.

In [11]:
import geopandas as gpd
import os
import pandas as pd

directory_path = 'assam'
gdf_list = []

# Iterate over each file in the directory
for filename in os.listdir(directory_path):
    if filename.endswith('.shp'):
        # Construct the full file path
        file_path = os.path.join(directory_path, filename)
        
        # Load the Shapefile as a GeoDataFrame
        gdf = gpd.read_file(file_path)
        
        # Append the GeoDataFrame to the list
        gdf_list.append(gdf)

# Concatenate all GeoDataFrames into a single GeoDataFrame
big_gdf_assam = gpd.GeoDataFrame(pd.concat(gdf_list, ignore_index=True))

print("All shapefiles have been concatenated into a single GeoDataFrame.")

All shapefiles have been concatenated into a single GeoDataFrame.

In [12]:


import geopandas as gpd
import os
import pandas as pd

directory_path = 'punjab-shapes'
gdf_list = []

# Iterate over each file in the directory
for filename in os.listdir(directory_path):
    if filename.endswith('.shp'):
        # Construct the full file path
        file_path = os.path.join(directory_path, filename)
        
        # Load the Shapefile as a GeoDataFrame
        gdf = gpd.read_file(file_path)
        
        # Append the GeoDataFrame to the list
        gdf_list.append(gdf)

# Concatenate all GeoDataFrames into a single GeoDataFrame
big_gdf_punjab = gpd.GeoDataFrame(pd.concat(gdf_list, ignore_index=True))

print("All shapefiles have been concatenated into a single GeoDataFrame.")

All shapefiles have been concatenated into a single GeoDataFrame.

In [13]:
import geopandas as gpd
import os
import pandas as pd

directory_path = 'tamil'
gdf_list = []

# Iterate over each file in the directory
for filename in os.listdir(directory_path):
    if filename.endswith('.shp'):
        # Construct the full file path
        file_path = os.path.join(directory_path, filename)
        
        # Load the Shapefile as a GeoDataFrame
        gdf = gpd.read_file(file_path)
        
        # Append the GeoDataFrame to the list
        gdf_list.append(gdf)

# Concatenate all GeoDataFrames into a single GeoDataFrame
big_gdf_tamil = gpd.GeoDataFrame(pd.concat(gdf_list, ignore_index=True))

print("All shapefiles have been concatenated into a single GeoDataFrame.")

All shapefiles have been concatenated into a single GeoDataFrame.

In [14]:
import geopandas as gpd
import os
import pandas as pd

directory_path = 'himachal'
gdf_list = []

# Iterate over each file in the directory
for filename in os.listdir(directory_path):
    if filename.endswith('.shp'):
        # Construct the full file path
        file_path = os.path.join(directory_path, filename)
        
        # Load the Shapefile as a GeoDataFrame
        gdf = gpd.read_file(file_path)
        
        # Append the GeoDataFrame to the list
        gdf_list.append(gdf)

# Concatenate all GeoDataFrames into a single GeoDataFrame
big_gdf_himachal_main = gpd.GeoDataFrame(pd.concat(gdf_list, ignore_index=True))

print("All shapefiles have been concatenated into a single GeoDataFrame.")

All shapefiles have been concatenated into a single GeoDataFrame.

In [15]:
import geopandas as gpd
import os
import pandas as pd

directory_path = 'jharkhand-all-shapefiles'
gdf_list = []

# Iterate over each file in the directory
for filename in os.listdir(directory_path):
    if filename.endswith('.shp'):
        # Construct the full file path
        file_path = os.path.join(directory_path, filename)
        
        # Load the Shapefile as a GeoDataFrame
        gdf = gpd.read_file(file_path)
        
        # Append the GeoDataFrame to the list
        gdf_list.append(gdf)

# Concatenate all GeoDataFrames into a single GeoDataFrame
big_gdf_jhar = gpd.GeoDataFrame(pd.concat(gdf_list, ignore_index=True))

print("All shapefiles have been concatenated into a single GeoDataFrame.")

All shapefiles have been concatenated into a single GeoDataFrame.

In [16]:
import geopandas as gpd
import os
import pandas as pd

directory_path = 'kerala-all-shapefiles'
gdf_list = []

# Iterate over each file in the directory
for filename in os.listdir(directory_path):
    if filename.endswith('.shp'):
        # Construct the full file path
        file_path = os.path.join(directory_path, filename)
        
        # Load the Shapefile as a GeoDataFrame
        gdf = gpd.read_file(file_path)
        
        # Append the GeoDataFrame to the list
        gdf_list.append(gdf)

# Concatenate all GeoDataFrames into a single GeoDataFrame
big_gdf_kerala = gpd.GeoDataFrame(pd.concat(gdf_list, ignore_index=True))

print("All shapefiles have been concatenated into a single GeoDataFrame.")

All shapefiles have been concatenated into a single GeoDataFrame.

In [17]:
import geopandas as gpd
import os
import pandas as pd

directory_path = 'maharasthra-all-shapefiles'
gdf_list = []

# Iterate over each file in the directory
for filename in os.listdir(directory_path):
    if filename.endswith('.shp'):
        # Construct the full file path
        file_path = os.path.join(directory_path, filename)
        
        # Load the Shapefile as a GeoDataFrame
        gdf = gpd.read_file(file_path)
        
        # Append the GeoDataFrame to the list
        gdf_list.append(gdf)

# Concatenate all GeoDataFrames into a single GeoDataFrame
big_gdf_maha = gpd.GeoDataFrame(pd.concat(gdf_list, ignore_index=True))

print("All shapefiles have been concatenated into a single GeoDataFrame.")

All shapefiles have been concatenated into a single GeoDataFrame.

In [18]:
import geopandas as gpd
import os
import pandas as pd

directory_path = 'bengal'
gdf_list = []

# Iterate over each file in the directory
for filename in os.listdir(directory_path):
    if filename.endswith('.shp'):
        # Construct the full file path
        file_path = os.path.join(directory_path, filename)
        
        # Load the Shapefile as a GeoDataFrame
        gdf = gpd.read_file(file_path)
        
        # Append the GeoDataFrame to the list
        gdf_list.append(gdf)

# Concatenate all GeoDataFrames into a single GeoDataFrame
big_gdf_bengal = gpd.GeoDataFrame(pd.concat(gdf_list, ignore_index=True))

print("All shapefiles have been concatenated into a single GeoDataFrame.")

All shapefiles have been concatenated into a single GeoDataFrame.

In [19]:
import geopandas as gpd
import os
import pandas as pd

directory_path = 'haryana'
gdf_list = []

# Iterate over each file in the directory
for filename in os.listdir(directory_path):
    if filename.endswith('.shp'):
        # Construct the full file path
        file_path = os.path.join(directory_path, filename)
        
        # Load the Shapefile as a GeoDataFrame
        gdf = gpd.read_file(file_path)
        
        # Append the GeoDataFrame to the list
        gdf_list.append(gdf)

# Concatenate all GeoDataFrames into a single GeoDataFrame
big_gdf_haryana = gpd.GeoDataFrame(pd.concat(gdf_list, ignore_index=True))

print("All shapefiles have been concatenated into a single GeoDataFrame.")

All shapefiles have been concatenated into a single GeoDataFrame.

In [20]:

import geopandas as gpd
import os
import pandas as pd

directory_path = 'bihar'
gdf_list = []

# Iterate over each file in the directory
for filename in os.listdir(directory_path):
    if filename.endswith('.shp'):
        # Construct the full file path
        file_path = os.path.join(directory_path, filename)
        
        # Load the Shapefile as a GeoDataFrame
        gdf = gpd.read_file(file_path)
        
        # Append the GeoDataFrame to the list
        gdf_list.append(gdf)

# Concatenate all GeoDataFrames into a single GeoDataFrame
big_gdf_bihar = gpd.GeoDataFrame(pd.concat(gdf_list, ignore_index=True))

print("All shapefiles have been concatenated into a single GeoDataFrame.")

All shapefiles have been concatenated into a single GeoDataFrame.

In [22]:

import geopandas as gpd
import os
import pandas as pd

directory_path = 'chattisgarh'
gdf_list = []

# Iterate over each file in the directory
for filename in os.listdir(directory_path):
    if filename.endswith('.shp'):
        # Construct the full file path
        file_path = os.path.join(directory_path, filename)
        
        # Load the Shapefile as a GeoDataFrame
        gdf = gpd.read_file(file_path)
        
        # Append the GeoDataFrame to the list
        gdf_list.append(gdf)

# Concatenate all GeoDataFrames into a single GeoDataFrame
big_gdf_chat = gpd.GeoDataFrame(pd.concat(gdf_list, ignore_index=True))

print("All shapefiles have been concatenated into a single GeoDataFrame.")

All shapefiles have been concatenated into a single GeoDataFrame.

In [23]:

import geopandas as gpd
import os
import pandas as pd

directory_path = 'data (24)'
gdf_list = []

# Iterate over each file in the directory
for filename in os.listdir(directory_path):
    if filename.endswith('.shp'):
        # Construct the full file path
        file_path = os.path.join(directory_path, filename)
        
        # Load the Shapefile as a GeoDataFrame
        gdf = gpd.read_file(file_path)
        
        # Append the GeoDataFrame to the list
        gdf_list.append(gdf)

# Concatenate all GeoDataFrames into a single GeoDataFrame
big_gdf_uttarakhand = gpd.GeoDataFrame(pd.concat(gdf_list, ignore_index=True))

print("All shapefiles have been concatenated into a single GeoDataFrame.")

All shapefiles have been concatenated into a single GeoDataFrame.

In [24]:

import geopandas as gpd
import os
import pandas as pd

directory_path = 'karnataka'
gdf_list = []

# Iterate over each file in the directory
for filename in os.listdir(directory_path):
    if filename.endswith('.shp'):
        # Construct the full file path
        file_path = os.path.join(directory_path, filename)
        
        # Load the Shapefile as a GeoDataFrame
        gdf = gpd.read_file(file_path)
        
        # Append the GeoDataFrame to the list
        gdf_list.append(gdf)

# Concatenate all GeoDataFrames into a single GeoDataFrame
big_gdf_Karnataka_main = gpd.GeoDataFrame(pd.concat(gdf_list, ignore_index=True))

print("All shapefiles have been concatenated into a single GeoDataFrame.")

All shapefiles have been concatenated into a single GeoDataFrame.

In [25]:

import geopandas as gpd
import os
import pandas as pd

directory_path = 'mp'
gdf_list = []

# Iterate over each file in the directory
for filename in os.listdir(directory_path):
    if filename.endswith('.shp'):
        # Construct the full file path
        file_path = os.path.join(directory_path, filename)
        
        # Load the Shapefile as a GeoDataFrame
        gdf = gpd.read_file(file_path)
        
        # Append the GeoDataFrame to the list
        gdf_list.append(gdf)

# Concatenate all GeoDataFrames into a single GeoDataFrame
big_gdf_MP = gpd.GeoDataFrame(pd.concat(gdf_list, ignore_index=True))

print("All shapefiles have been concatenated into a single GeoDataFrame.")

All shapefiles have been concatenated into a single GeoDataFrame.

In [2]:

import geopandas as gpd
import os
import pandas as pd

directory_path = '/Users/rishivijaywargiya/Downloads/Uttar Pradesh All'
gdf_list = []

# Iterate over each file in the directory
for filename in os.listdir(directory_path):
    if filename.endswith('.shp'):
        # Construct the full file path
        file_path = os.path.join(directory_path, filename)
        
        # Load the Shapefile as a GeoDataFrame
        gdf = gpd.read_file(file_path)
        
        # Append the GeoDataFrame to the list
        gdf_list.append(gdf)

# Concatenate all GeoDataFrames into a single GeoDataFrame
big_gdf_Uttar = gpd.GeoDataFrame(pd.concat(gdf_list, ignore_index=True))

print("All shapefiles have been concatenated into a single GeoDataFrame.")

All shapefiles have been concatenated into a single GeoDataFrame.

In [27]:

import geopandas as gpd
import os
import pandas as pd

directory_path = 'gujarat'
gdf_list = []

# Iterate over each file in the directory
for filename in os.listdir(directory_path):
    if filename.endswith('.shp'):
        # Construct the full file path
        file_path = os.path.join(directory_path, filename)
        
        # Load the Shapefile as a GeoDataFrame
        gdf = gpd.read_file(file_path)
        
        # Append the GeoDataFrame to the list
        gdf_list.append(gdf)

# Concatenate all GeoDataFrames into a single GeoDataFrame
big_gdf_Gujarat = gpd.GeoDataFrame(pd.concat(gdf_list, ignore_index=True))

print("All shapefiles have been concatenated into a single GeoDataFrame.")

All shapefiles have been concatenated into a single GeoDataFrame.

In [6]:
le

NameError: name 'all_state_village' is not defined

In [7]:
all_states_village = [big_gdf_andra, big_gdf_assam, big_gdf_bengal, big_gdf_bihar, big_gdf_chat, big_gdf_Gujarat, big_gdf_haryana, big_gdf_himachal_main, big_gdf_jhar, big_gdf_Karnataka_main, big_gdf_kerala, big_gdf_maha, big_gdf_MP, big_gdf_orissa_correct, big_gdf_punjab, big_gdf_rajasthan_main, big_gdf_Uttar, big_gdf_uttarakhand, big_gdf_tamil]

NameError: name 'big_gdf_assam' is not defined

NameError: name 'all_state_village' is not defined

In [2]:
import geopandas as gpd
import os
from shapely.wkt import loads as wkt_loads
import pandas as pd

directory_path = 'coc_village_shapes_2008_2020'
gdf_list = []

# Iterate over each file in the directory
for filename in os.listdir(directory_path):
    if filename.endswith('.shp'):
        # Construct the full file path
        file_path = os.path.join(directory_path, filename)
        
        # Load the Shapefile as a GeoFrame
        gdf = gpd.read_file(file_path)
        
        # Append the GeoFrame to the list
        gdf_list.append(gdf)

# Concatenate all GeoFrames into a single GeoFrame
coc_gdf = gpd.GeoDataFrame(pd.concat(gdf_list, ignore_index=True))



coc_gdf_punjab = coc_gdf[coc_gdf['state']=='Punjab']
coc_gdf_bihar = coc_gdf[coc_gdf['state']=='Bihar']
coc_gdf_uttarakhand = coc_gdf[coc_gdf['state']=='Uttarakhand']
coc_gdf_chattisgarh = coc_gdf[coc_gdf['state']=='Chhattisgarh']
coc_gdf_gujarat = coc_gdf[coc_gdf['state']=='Gujarat']
coc_gdf_UP = coc_gdf[coc_gdf['state']=='Uttar Pradesh']
coc_gdf_rajasthan = coc_gdf[coc_gdf['state']=='Rajasthan']
coc_gdf_karnataka = coc_gdf[coc_gdf['state']=='Karnataka']
coc_gdf_bengal = coc_gdf[coc_gdf['state']=='West Bengal']
coc_gdf_MP = coc_gdf[coc_gdf['state']=='Madhya Pradesh']
coc_gdf_orissa = coc_gdf[coc_gdf['state']=='Orissa']
coc_gdf_Himachal = coc_gdf[coc_gdf['state']=='Himachal Pradesh']
coc_gdf_haryana = coc_gdf[coc_gdf['state']=='Haryana']
coc_gdf_andra = coc_gdf[coc_gdf['state']=='Andhra Pradesh']
coc_gdf_jhar = coc_gdf[coc_gdf['state']=='Jharkhand']
coc_gdf_kerala = coc_gdf[coc_gdf['state']=='Kerala']
coc_gdf_assam = coc_gdf[coc_gdf['state']=='ASSAM']
coc_gdf_tamil = coc_gdf[coc_gdf['state']=='Tamil Nadu']
coc_gdf_maha = coc_gdf[coc_gdf['state']=='MAHARASHTRA']

In [435]:
coc_gdf

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry
0,Bihar,2008-11,1,Samastipur,1,Samastipur,Fatehpur,Samastipur,POINT (85.74868 25.84460)
1,Bihar,2008-11,1,Samastipur,2,Samastipur,Muktapur,Samastipur,POINT (85.75294 25.84970)
2,Bihar,2008-11,1,Samastipur,3,Dalsingsarai,Banghara,Dalsinghsarai,POINT (85.81624 25.66342)
3,Bihar,2008-11,1,Madhubani,4,Madhubani,Saurath,Madhubani,POINT (86.05196 26.35940)
4,Bihar,2008-11,1,Madhubani,4,Madhubani,Saurath,Madhubani,POINT (86.06495 26.38378)
...,...,...,...,...,...,...,...,...,...
3768,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),59,MATHURAPUR-II,Kautala,Mathurapur - II,POINT (88.39996 22.05989)
3769,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),59,MATHURAPUR-II,Madpur,Mathurapur - II,POINT (88.41894 22.09075)
3770,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),60,BHANGORE-I,Rangsara,Bhangar - I,POINT (88.65039 22.51068)
3771,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),60,BHANGORE-I,Chandipur,Bhangar - I,POINT (88.64295 22.51316)
3772,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),60,BHANGORE-I,Santra,Bhangar - I,POINT (88.64297 22.49437)

In [5]:
import geopandas as gpd

# Check and align CRS
if coc_gdf_andra.crs !=big_gdf_andra.crs:
    # Reproject coc_gdf_andra to match the CRS ofbig_gdf_andra
    coc_gdf_andra = coc_gdf_andra.to_crs(big_gdf_andra.crs)

# Perform a spatial join
joined_gdf_andra = gpd.sjoin(coc_gdf_andra,big_gdf_andra, how='inner', predicate='within')

# Add the geometry frombig_gdf_andra to the joined GeoDataFrame
joined_gdf_andra['geometry_big'] = gpd.GeoSeries(joined_gdf_andra['index_right'].map(big_gdf_andra.geometry))

# Print statistics about the join
print(f'Villages - {len(coc_gdf_andra)}')
print(f'Matched Villages - {len(joined_gdf_andra)}')
print(f'Left Out Villages - {len(coc_gdf_andra) - len(joined_gdf_andra)}')


geometry_polygon_andra = joined_gdf_andra['geometry_big']
coc_gdf_andra['geometry-polygon'] = geometry_polygon_andra

Villages - 223
Matched Villages - 223
Left Out Villages - 0

/opt/anaconda3/lib/python3.11/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

In [42]:
import geopandas as gpd

# Check and align CRS
if coc_gdf_rajasthan.crs !=big_gdf_rajasthan_main.crs:
    # Reproject coc_gdf_rajasthan to match the CRS ofbig_gdf_rajasthan_main
    coc_gdf_rajasthan = coc_gdf_rajasthan.to_crs(big_gdf_rajasthan_main.crs)

# Perform a spatial join
joined_gdf_rajasthan_main = gpd.sjoin(coc_gdf_rajasthan,big_gdf_rajasthan_main, how='inner', predicate='within')

# Add the geometry frombig_gdf_rajasthan_main to the joined GeoDataFrame
joined_gdf_rajasthan_main['geometry_big'] = gpd.GeoSeries(joined_gdf_rajasthan_main['index_right'].map(big_gdf_rajasthan_main.geometry))

# Print statistics about the join
print(f'Villages - {len(coc_gdf_rajasthan)}')
print(f'Matched Villages - {len(joined_gdf_rajasthan_main)}')
print(f'Left Out Villages - {len(coc_gdf_rajasthan) - len(joined_gdf_rajasthan_main)}')


geometry_polygon_rajasthan = joined_gdf_rajasthan_main['geometry_big']
coc_gdf_rajasthan['geometry-polygon'] = geometry_polygon_rajasthan
nan_raj = coc_gdf_rajasthan[coc_gdf_rajasthan['geometry-polygon'] == None]
nan_raj

Villages - 263
Matched Villages - 261
Left Out Villages - 2

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/geopandas/geodataframe.py:1525: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry,geometry-polygon
2716,Rajasthan,2011-14,7,Udaipur,49,Mavli,Sanwad,None,None,None
2749,Rajasthan,2014-17,3,Sikar,16,Nim ka Thana,Ghavdi,None,None,None

In [ ]:
big_gdf_ma

In [43]:
import geopandas as gpd

# Check and align CRS
if coc_gdf_maha.crs !=big_gdf_maha.crs:
    # Reproject coc_gdf_maha to match the CRS ofbig_gdf_maha
    coc_gdf_maha = coc_gdf_maha.to_crs(big_gdf_maha.crs)

# Perform a spatial join
joined_gdf_maha = gpd.sjoin(coc_gdf_maha,big_gdf_maha, how='inner', predicate='within')

# Add the geometry frombig_gdf_maha to the joined GeoDataFrame
joined_gdf_maha['geometry_big'] = gpd.GeoSeries(joined_gdf_maha['index_right'].map(big_gdf_maha.geometry))

# Print statistics about the join
print(f'Villages - {len(coc_gdf_maha)}')
print(f'Matched Villages - {len(joined_gdf_maha)}')
print(f'Left Out Villages - {len(coc_gdf_maha) - len(joined_gdf_maha)}')


geometry_polygon_maha = joined_gdf_maha['geometry_big']
coc_gdf_maha['geometry-polygon'] = geometry_polygon_maha
nan_maha = coc_gdf_maha[coc_gdf_maha['geometry-polygon'] == None]
nan_maha

Villages - 249
Matched Villages - 249
Left Out Villages - 0

Empty GeoDataFrame
Columns: [state, year, zone, dtnmcoc, slnococ, tehnmcoc, vilnmcoc, sdnm_11, geometry, geometry-polygon]
Index: []

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [44]:
import geopandas as gpd

# Check and align CRS
if coc_gdf_Himachal.crs != big_gdf_himachal_main.crs:
    # Reproject coc_gdf_Himachal to match the CRS of big_gdf_himachal_main
    coc_gdf_Himachal = coc_gdf_Himachal.to_crs(big_gdf_himachal_main.crs)

# Perform a spatial join
joined_gdf_himachal = gpd.sjoin(coc_gdf_Himachal, big_gdf_himachal_main, how='inner', predicate='within')

# Add the geometry from big_gdf_himachal_main to the joined GeoDataFrame
joined_gdf_himachal['geometry_big'] = gpd.GeoSeries(joined_gdf_himachal['index_right'].map(big_gdf_himachal_main.geometry))

# Print statistics about the join
print(f'Villages - {len(coc_gdf_Himachal)}')
print(f'Matched Villages - {len(joined_gdf_himachal)}')
print(f'Left Out Villages - {len(coc_gdf_Himachal) - len(joined_gdf_himachal)}')


geometry_polygon_himachal = joined_gdf_himachal['geometry_big']
coc_gdf_Himachal['geometry-polygon'] = geometry_polygon_himachal
nan_hima = coc_gdf_Himachal[coc_gdf_Himachal['geometry-polygon'] == None]
nan_hima

Villages - 347
Matched Villages - 303
Left Out Villages - 44

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/geopandas/geodataframe.py:1525: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry,geometry-polygon
261,Himachal Pradesh,2008-11,3,Shimla,24,Shimla(R),Halog,None,None,None
262,Himachal Pradesh,2008-11,3,Shimla,24,Shimla(R),Kanori,None,None,None
263,Himachal Pradesh,2008-11,3,Shimla,24,Shimla(R),Sheel,None,None,None
267,Himachal Pradesh,2008-11,3,Shimla,26,Sunni,Panehal,None,None,None
268,Himachal Pradesh,2008-11,3,Shimla,26,Sunni,Neen,None,None,None
269,Himachal Pradesh,2008-11,3,Shimla,26,Sunni,Sewang,None,None,None
279,Himachal Pradesh,2008-11,3,Kullu,28,Nirmand,Thans,None,None,None
281,Himachal Pradesh,2008-11,3,Kullu,28,Nirmand,Olinala,None,None,None
282,Himachal Pradesh,2008-11,3,Shimla,29,Sunni,Reog,None,None,None
283,Himachal Pradesh,2008-11,3,Shimla,29,Sunni,Bagh Abal,None,None,None
284,Himachal Pradesh,2008-11,3,Shimla,29,Sunni,Dadheog,None,None,None
289,Himachal Pradesh,2008-11,3,Kullu,30,Anni,Behri,None,None,None
290,Himachal Pradesh,2008-11,3,Kullu,30,Anni,Bain Rathoh,None,None,None
353,Himachal Pradesh,2011-14,3,Shimla,25,Tikkar(Rohru),Koti,None,None,None
354,Himachal Pradesh,2011-14,3,Shimla,25,Tikkar(Rohru),Sajjar,None,None,None
355,Himachal Pradesh,2011-14,3,Shimla,25,Tikkar(Rohru),Tikkari,None,None,None
356,Himachal Pradesh,2011-14,3,Shimla,26,Sunni,Neen,None,None,None
357,Himachal Pradesh,2011-14,3,Shimla,26,Sunni,Rauri,None,None,None
358,Himachal Pradesh,2011-14,3,Shimla,26,Sunni,Jelly Dhar,None,None,None
359,Himachal Pradesh,2011-14,3,Kullu,27,Anni,Talluna,None,None,None
360,Himachal Pradesh,2011-14,3,Kullu,27,Anni,Haripur,None,None,None
361,Himachal Pradesh,2011-14,3,Kullu,27,Anni,Nigan,None,None,None
362,Himachal Pradesh,2011-14,3,Shimla,28,Sunni,Basant Pur,None,None,None
363,Himachal Pradesh,2011-14,3,Shimla,28,Sunni,Kadog,None,None,None
364,Himachal Pradesh,2011-14,3,Shimla,28,Sunni,Tarror,None,None,None
371,Himachal Pradesh,2011-14,3,Kullu,30,Nirmand,Thans,None,None,None
414,Himachal Pradesh,2014-17,2,Dehra/Kangra,18,Bharoon Buli,Bharoon Buli,None,None,None
416,Himachal Pradesh,2014-17,2,Dehra/Kangra,18,Bharoon Buli,Bharoon Uprli,None,None,None
424,Himachal Pradesh,2014-17,2,Nadaun/Hamirpur,20,Uparli Sorar,Uparli Sorar,None,None,None
427,Himachal Pradesh,2014-17,2,Nadaun/Hamirpur,20,Sorar,Buhali Sorar,None,None,None
433,Himachal Pradesh,2014-17,2,Mandi,22,Kot,Kot,None,None,None
443,Himachal Pradesh,2014-17,3,Sunni/Shimla,26,Ayog,Ayog,None,None,None
444,Himachal Pradesh,2014-17,3,Sunni/Shimla,26,Ayog,Chatyad,None,None,None
445,Himachal Pradesh,2014-17,3,Sunni/Shimla,26,Ayog,Jelli Dhar,None,None,None
451,Himachal Pradesh,2014-17,3,Sunni/Shimla,29,Mandyalu,Mandyalu,None,None,None
452,Himachal Pradesh,2014-17,3,Sunni/Shimla,29,Mandyalu,Jander,None,None,None
453,Himachal Pradesh,2014-17,3,Sunni/Shimla,29,Mandyalu,Kadog,None,None,None
463,Himachal Pradesh,2014-17,2,Dehra/ Kangra,5,Seuntha,Seuntha,None,None,None
489,Himachal Pradesh,2017-20,Low Hill,Solan,5,Darlaghat,Sergalotian,None,None,None
504,Himachal Pradesh,2017-20,Low Hill,Una,10,Bangana,Sori,None,None,None
527,Himachal Pradesh,2017-20,Low Hill,Solan,19,Arki,Kotla,None,None,None
558,Himachal Pradesh,2017-20,Mid Hill,Shimla,30,Sunni,Shakrori,None,None,None
559,Himachal Pradesh,2017-20,Mid Hill,Shimla,30,Sunni,Bagain,None,None,None
560,Himachal Pradesh,2017-20,Mid Hill,Shimla,30,Sunni,Matogri,None,None,None

In [45]:
import geopandas as gpd

# Check and align CRS
if coc_gdf_assam.crs != big_gdf_assam.crs:
    # Reproject coc_gdf_assam to match the CRS of big_gdf_assam
    coc_gdf_assam = coc_gdf_assam.to_crs(big_gdf_assam.crs)

# Perform a spatial join
joined_gdf_assam = gpd.sjoin(coc_gdf_assam, big_gdf_assam, how='inner', predicate='within')

# Add the geometry from big_gdf_assam to the joined GeoDataFrame
joined_gdf_assam['geometry_big'] = gpd.GeoSeries(joined_gdf_assam['index_right'].map(big_gdf_assam.geometry))

# Print statistics about the join
print(f'Villages - {len(coc_gdf_assam)}')
print(f'Matched Villages - {len(joined_gdf_assam)}')
print(f'Left Out Villages - {len(coc_gdf_assam) - len(joined_gdf_assam)}')


geometry_polygon_assam = joined_gdf_assam['geometry_big']
coc_gdf_assam['geometry-polygon'] = geometry_polygon_assam

Villages - 245
Matched Villages - 245
Left Out Villages - 0

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/geopandas/geodataframe.py:1525: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

In [46]:
import geopandas as gpd

# Check and align CRS
if coc_gdf_jhar.crs != big_gdf_jhar.crs:
    # Reproject coc_gdf_jhar to match the CRS of big_gdf_jhar
    coc_gdf_jhar = coc_gdf_jhar.to_crs(big_gdf_jhar.crs)

# Perform a spatial join
joined_gdf_jhar = gpd.sjoin(coc_gdf_jhar, big_gdf_jhar, how='inner', predicate='within')

# Add the geometry from big_gdf_jhar to the joined GeoDataFrame
joined_gdf_jhar['geometry_big'] = gpd.GeoSeries(joined_gdf_jhar['index_right'].map(big_gdf_jhar.geometry))

# Print statistics about the join
print(f'Villages - {len(coc_gdf_jhar)}')
print(f'Matched Villages - {len(joined_gdf_jhar)}')
print(f'Left Out Villages - {len(coc_gdf_jhar) - len(joined_gdf_jhar)}')


geometry_polygon_jhar = joined_gdf_jhar['geometry_big']
coc_gdf_jhar['geometry-polygon'] = geometry_polygon_jhar
nan_jhar = coc_gdf_jhar[coc_gdf_jhar['geometry-polygon'] == None]
nan_jhar

Villages - 63
Matched Villages - 58
Left Out Villages - 5

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry,geometry-polygon
1467,Jharkhand,2011-14,1,Hazaribag,7,Barhi,Bhushan dih,None,None,None
1473,Jharkhand,2011-14,1,Ghat Shilla,12,Ghat Shilla,Pavara,None,None,None
1482,Jharkhand,2014-17,1,Saheb ganj,6,Saheb ganj,Badi bochahi,None,None,None
1483,Jharkhand,2014-17,1,Godda,7,Godda,Ghatbanka,None,None,None
1503,Jharkhand,2017-20,2,Palamau,11,Palamau,Barigama,None,None,None

In [47]:
import geopandas as gpd

# Check and align CRS
if coc_gdf_kerala.crs != big_gdf_kerala.crs:
    # Reproject coc_gdf_kerala to match the CRS of big_gdf_kerala
    coc_gdf_kerala = coc_gdf_kerala.to_crs(big_gdf_kerala.crs)

# Perform a spatial join
joined_gdf_kerala = gpd.sjoin(coc_gdf_kerala, big_gdf_kerala, how='inner', predicate='within')

# Add the geometry from big_gdf_kerala to the joined GeoDataFrame
joined_gdf_kerala['geometry_big'] = gpd.GeoSeries(joined_gdf_kerala['index_right'].map(big_gdf_kerala.geometry))

# Print statistics about the join
print(f'Villages - {len(coc_gdf_kerala)}')
print(f'Matched Villages - {len(joined_gdf_kerala)}')
print(f'Left Out Villages - {len(coc_gdf_kerala) - len(joined_gdf_kerala)}')


geometry_polygon_kerala = joined_gdf_kerala['geometry_big']
coc_gdf_kerala['geometry-polygon'] = geometry_polygon_kerala
coc_gdf_kerala

Villages - 118
Matched Villages - 118
Left Out Villages - 0

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry,geometry-polygon
1693,Kerala,2008-11,1,Alappuzha,1,Karthigappally,Cheruthana,Karthikappally,POINT (3604899.913 2395904.333),"POLYGON ((3606480.305 2398255.227, 3606517.735..."
1694,Kerala,2008-11,1,Alappuzha,2,Kuttanad,Kainakary South,Kuttanad,POINT (3598730.303 2411703.034),"POLYGON ((3595823.041 2411444.754, 3595819.689..."
1695,Kerala,2008-11,1,Trichur,3,Chavakkad,Mullassery,Chavakkad,POINT (3569099.377 2532115.153),"POLYGON ((3568551.773 2530749.093, 3568498.278..."
1696,Kerala,2008-11,1,Kozhikkode,4,Vadakara,Maniyur,Vadakara,POINT (3524719.513 2646548.051),"POLYGON ((3524460.808 2649001.498, 3524460.812..."
1697,Kerala,2008-11,2,Thiruvananthapuram,5,Neyyattinkara,Chenkal,Neyyattinkara,POINT (3676430.014 2285737.430),"POLYGON ((3675185.875 2288890.975, 3675186.008..."
...,...,...,...,...,...,...,...,...,...,...
1806,Kerala,2017-20,1,Kozhikkode,26,Vadakara,Velom,Vadakara,POINT (3531781.174 2653359.895),"POLYGON ((3535063.158 2654171.002, 3535078.450..."
1807,Kerala,2017-20,3,Wynad,27,Sulthabetheri,Krishnagiri,Sulthanbathery,POINT (3583813.066 2656421.846),"POLYGON ((3583709.153 2661007.812, 3583786.040..."
1808,Kerala,2017-20,2,Kannur,28,Irity,Aralam,Thalassery,POINT (3538788.184 2691904.180),"POLYGON ((3544043.104 2696984.519, 3544336.843..."
1809,Kerala,2017-20,2,Kannur,29,Thaliparambu,Ramathali,Taliparamba,POINT (3477146.070 2702337.767),"POLYGON ((3474152.616 2705582.667, 3474157.078..."
1810,Kerala,2017-20,3,Kasargod,30,Housdurg,Cheemeni,Hosdurg,POINT (3483431.572 2724164.436),"POLYGON ((3481536.063 2726679.104, 3481726.659..."

In [48]:
import geopandas as gpd

# Check and align CRS
if coc_gdf_tamil.crs != big_gdf_tamil.crs:
    # Reproject coc_gdf_tamil to match the CRS of big_gdf_tamil
    coc_gdf_tamil = coc_gdf_tamil.to_crs(big_gdf_tamil.crs)

# Perform a spatial join
joined_gdf_tamil = gpd.sjoin(coc_gdf_tamil, big_gdf_tamil, how='inner', predicate='within')

# Add the geometry from big_gdf_tamil to the joined GeoDataFrame
joined_gdf_tamil['geometry_big'] = gpd.GeoSeries(joined_gdf_tamil['index_right'].map(big_gdf_tamil.geometry))

# Print statistics about the join
print(f'Villages - {len(coc_gdf_tamil)}')
print(f'Matched Villages - {len(joined_gdf_tamil)}')
print(f'Left Out Villages - {len(coc_gdf_tamil) - len(joined_gdf_tamil)}')


geometry_polygon_tamil = joined_gdf_tamil['geometry_big']
coc_gdf_tamil['geometry-polygon'] = geometry_polygon_tamil
coc_gdf_tamil

Villages - 250
Matched Villages - 250
Left Out Villages - 0

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/geopandas/geodataframe.py:1525: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry,geometry-polygon
2865,Tamil Nadu,2008-11,1,TIRUVALLUR,1,PONNERI,ALADU,Ponneri,POINT (80.22649 13.32685),"POLYGON ((80.22619 13.33599, 80.22671 13.33588..."
2866,Tamil Nadu,2008-11,1,KANCHEEPURAM,2,KANCHEEPURAM,DEVARAIYAMBAKKAM,Kancheepuram,POINT (79.86529 12.79963),"POLYGON ((79.85836 12.80745, 79.85954 12.80732..."
2867,Tamil Nadu,2008-11,1,KANCHEEPURAM,3,CHENGALPATTU,ELLALUR,Chengalpattu,POINT (80.14484 12.70420),"POLYGON ((80.14614 12.71830, 80.14693 12.71836..."
2868,Tamil Nadu,2008-11,1,KANCHEEPURAM,4,CHEYYUR,AKKINAMPATTU,Cheyyur,POINT (80.03616 12.41047),"POLYGON ((80.02065 12.42469, 80.02093 12.42528..."
2869,Tamil Nadu,2008-11,2,VELLORE,5,VELLORE,SOLAVARAM,Vellore,POINT (79.07903 12.81171),"POLYGON ((79.06868 12.82701, 79.07095 12.82754..."
...,...,...,...,...,...,...,...,...,...,...
3110,Tamil Nadu,2017-20,VI,Coimbatore,56,Pollachi II,Servakaranpalayam,Pollachi,POINT (76.90989 10.72002),"POLYGON ((76.88216 10.71325, 76.88255 10.71347..."
3111,Tamil Nadu,2017-20,VI,Namakkal,57,Namakkal,Navani,Namakkal,POINT (78.14923 11.36117),"POLYGON ((78.16120 11.38982, 78.16336 11.38837..."
3112,Tamil Nadu,2017-20,VI,Dharmapuri,58,Pennagaram,Paruvathanahalli,Pennagaram,POINT (77.91346 12.14237),"POLYGON ((77.91623 12.17056, 77.91696 12.17036..."
3113,Tamil Nadu,2017-20,VI,Tiruppur,59,Kangeyam,Maravapalayam,Kangeyam,POINT (77.56381 11.09849),"POLYGON ((77.57472 11.11296, 77.57628 11.11343..."
3114,Tamil Nadu,2017-20,VI,Salem,60,Edapadi,Katchupalli,Edappadi,POINT (77.93695 11.59484),"POLYGON ((77.94786 11.62282, 77.94788 11.62280..."

In [49]:
import geopandas as gpd

# Check and align CRS
if coc_gdf_punjab.crs != big_gdf_punjab.crs:
    # Reproject coc_gdf_punjab to match the CRS of big_gdf_punjab
    coc_gdf_punjab = coc_gdf_punjab.to_crs(big_gdf_punjab.crs)

# Perform a spatial join
joined_gdf_punjab = gpd.sjoin(coc_gdf_punjab, big_gdf_punjab, how='inner', predicate='within')

# Add the geometry from big_gdf_punjab to the joined GeoDataFrame
joined_gdf_punjab['geometry_big'] = gpd.GeoSeries(joined_gdf_punjab['index_right'].map(big_gdf_punjab.geometry))

# Print statistics about the join
print(f'Villages - {len(coc_gdf_punjab)}')
print(f'Matched Villages - {len(joined_gdf_punjab)}')
print(f'Left Out Villages - {len(coc_gdf_punjab) - len(joined_gdf_punjab)}')


geometry_polygon_punjab = joined_gdf_punjab['geometry_big']
coc_gdf_punjab['geometry-polygon'] = geometry_polygon_punjab
nan_raj = coc_gdf_punjab[coc_gdf_punjab['geometry-polygon'] == None]
nan_raj

Villages - 155
Matched Villages - 154
Left Out Villages - 1

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry,geometry-polygon
2569,Punjab,2017-20,1,Hoshiarpur,7,Mukerian,Raiya,None,None,None

In [50]:
import geopandas as gpd

# Check and align CRS
if coc_gdf_haryana.crs != big_gdf_haryana.crs:
    # Reproject coc_gdf_haryana to match the CRS of big_gdf_haryana
    coc_gdf_haryana = coc_gdf_haryana.to_crs(big_gdf_haryana.crs)

# Perform a spatial join
joined_gdf_haryana = gpd.sjoin(coc_gdf_haryana, big_gdf_haryana, how='inner', predicate='within')

# Add the geometry from big_gdf_haryana to the joined GeoDataFrame
joined_gdf_haryana['geometry_big'] = gpd.GeoSeries(joined_gdf_haryana['index_right'].map(big_gdf_haryana.geometry))

# Print statistics about the join
print(f'Villages - {len(coc_gdf_haryana)}')
print(f'Matched Villages - {len(joined_gdf_haryana)}')
print(f'Left Out Villages - {len(coc_gdf_haryana) - len(joined_gdf_haryana)}')


geometry_polygon_haryana = joined_gdf_haryana['geometry_big']
coc_gdf_haryana['geometry-polygon'] = geometry_polygon_haryana
nan_haryana = coc_gdf_haryana[coc_gdf_haryana['geometry-polygon'] == None]
nan_haryana

Villages - 120
Matched Villages - 120
Left Out Villages - 0

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/geopandas/geodataframe.py:1525: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

Empty GeoDataFrame
Columns: [state, year, zone, dtnmcoc, slnococ, tehnmcoc, vilnmcoc, sdnm_11, geometry, geometry-polygon]
Index: []

In [51]:
import geopandas as gpd

# Check and align CRS
if coc_gdf_bihar.crs != big_gdf_bihar.crs:
    # Reproject coc_gdf_bihar to match the CRS of big_gdf_bihar
    coc_gdf_bihar = coc_gdf_bihar.to_crs(big_gdf_bihar.crs)

# Perform a spatial join
joined_gdf_bihar = gpd.sjoin(coc_gdf_bihar, big_gdf_bihar, how='inner', predicate='within')

# Add the geometry from big_gdf_bihar to the joined GeoDataFrame
joined_gdf_bihar['geometry_big'] = gpd.GeoSeries(joined_gdf_bihar['index_right'].map(big_gdf_bihar.geometry))

# Print statistics about the join
print(f'Villages - {len(coc_gdf_bihar)}')
print(f'Matched Villages - {len(joined_gdf_bihar)}')
print(f'Left Out Villages - {len(coc_gdf_bihar) - len(joined_gdf_bihar)}')


geometry_polygon_bihar = joined_gdf_bihar['geometry_big']
coc_gdf_bihar['geometry-polygon'] = geometry_polygon_bihar
coc_gdf_bihar

Villages - 214
Matched Villages - 214
Left Out Villages - 0

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/geopandas/geodataframe.py:1525: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry,geometry-polygon
0,Bihar,2008-11,1,Samastipur,1,Samastipur,Fatehpur,Samastipur,POINT (85.74868 25.84460),"POLYGON ((85.74223 25.85468, 85.74215 25.85404..."
1,Bihar,2008-11,1,Samastipur,2,Samastipur,Muktapur,Samastipur,POINT (85.75294 25.84970),"POLYGON ((85.75123 25.85661, 85.75135 25.85649..."
2,Bihar,2008-11,1,Samastipur,3,Dalsingsarai,Banghara,Dalsinghsarai,POINT (85.81624 25.66342),"POLYGON ((85.81817 25.67291, 85.81973 25.67269..."
3,Bihar,2008-11,1,Madhubani,4,Madhubani,Saurath,Madhubani,POINT (86.05196 26.35940),"POLYGON ((86.05422 26.38550, 86.05490 26.38531..."
4,Bihar,2008-11,1,Madhubani,4,Madhubani,Saurath,Madhubani,POINT (86.06495 26.38378),"POLYGON ((86.06011 26.38452, 86.06052 26.38480..."
...,...,...,...,...,...,...,...,...,...,...
209,Bihar,2017-20,IIIA,Bhojpur,41,Piro,Bagwan,Piro,POINT (84.35709 25.34507),"POLYGON ((84.35404 25.35849, 84.35477 25.35827..."
210,Bihar,2017-20,IIIB,Shekhpura,42,Shekhpura,Chewara,Sheikhpura,POINT (85.78948 25.12640),"POLYGON ((85.79544 25.14324, 85.79707 25.14290..."
211,Bihar,2017-20,IIIB,Lakhisarai,43,Lakhisarai,Dhira,Lakhisarai,POINT (86.03254 25.14898),"POLYGON ((86.03731 25.14917, 86.03719 25.14810..."
212,Bihar,2017-20,IIIB,Bhagalpur,44,Bhagalpur,Masdi,Sultanganj,POINT (86.71462 25.22782),"POLYGON ((86.71008 25.24334, 86.72329 25.24436..."
213,Bihar,2017-20,IIIB,Munger,45,Munger Sadar,Nawagrahi - I,Munger,POINT (86.53958 25.34714),"POLYGON ((86.53841 25.36031, 86.54133 25.35987..."

In [52]:
import geopandas as gpd

# Check and align CRS
if coc_gdf_uttarakhand.crs != big_gdf_uttarakhand.crs:
    # Reproject coc_gdf_uttarakhand to match the CRS of big_gdf_uttarakhand
    coc_gdf_uttarakhand = coc_gdf_uttarakhand.to_crs(big_gdf_uttarakhand.crs)

# Perform a spatial join
joined_gdf_uttarakhand = gpd.sjoin(coc_gdf_uttarakhand, big_gdf_uttarakhand, how='inner', predicate='within')

# Add the geometry from big_gdf_uttarakhand to the joined GeoDataFrame
joined_gdf_uttarakhand['geometry_big'] = gpd.GeoSeries(joined_gdf_uttarakhand['index_right'].map(big_gdf_uttarakhand.geometry))

# Print statistics about the join
print(f'Villages - {len(coc_gdf_uttarakhand)}')
print(f'Matched Villages - {len(joined_gdf_uttarakhand)}')
print(f'Left Out Villages - {len(coc_gdf_uttarakhand) - len(joined_gdf_uttarakhand)}')


geometry_polygon_uttarakhand = joined_gdf_uttarakhand['geometry_big']
coc_gdf_uttarakhand['geometry-polygon'] = geometry_polygon_uttarakhand
coc_gdf_uttarakhand

Villages - 23
Matched Villages - 23
Left Out Villages - 0

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/geopandas/geodataframe.py:1525: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry,geometry-polygon
3438,Uttarakhand,2008-11,1,Champawat,1,Tanakpur,Tanak Pur,Champawat,POINT (80.12039 29.08202),"POLYGON ((80.11662 29.07766, 80.11432 29.07783..."
3439,Uttarakhand,2008-11,1,Champawat,1,Tanakpur,Gyan-Kheda,Champawat,POINT (80.12157 29.06808),"POLYGON ((80.11460 29.07263, 80.11747 29.07313..."
3440,Uttarakhand,2008-11,2,Nainital,6,Haldwani,Padampur Nigaltia,Haldwani,POINT (79.44813 29.22340),"POLYGON ((79.44602 29.22936, 79.44673 29.22962..."
3441,Uttarakhand,2008-11,2,Nainital,6,Haldwani,Harakpur Quira,Haldwani,POINT (79.45208 29.21755),"POLYGON ((79.45211 29.22041, 79.45587 29.22010..."
3442,Uttarakhand,2008-11,2,Nainital,6,Haldwani,P.PurNaal,Haldwani,POINT (79.44768 29.21235),"POLYGON ((79.44742 29.21535, 79.45049 29.21519..."
3443,Uttarakhand,2008-11,2,U.S.Nagar,9,Bajpur,Nar-Kheda,Kashipur,POINT (79.19732 29.16874),"POLYGON ((79.20054 29.18089, 79.20096 29.18117..."
3444,Uttarakhand,2008-11,3,Haridwar,14,Roorki,Tanshipur,Roorkee,POINT (77.86588 29.82945),"POLYGON ((77.85917 29.83790, 77.85928 29.83803..."
3445,Uttarakhand,2011-14,1,Rudra Prayag,1,Rudra Prayag,Nagrasu,Rudraprayag,POINT (79.13204 30.29251),"POLYGON ((79.12519 30.30012, 79.12794 30.29972..."
3446,Uttarakhand,2011-14,1,Rudra Prayag,1,Rudra Prayag,Mabada,Rudraprayag,POINT (79.12120 30.29425),"POLYGON ((79.11198 30.29598, 79.11270 30.29633..."
3447,Uttarakhand,2011-14,2,U.S.Nagar,2,Sitarganj,Darhaha,Sitarganj,POINT (79.69749 28.89918),"POLYGON ((79.69113 28.90468, 79.69296 28.90357..."
3448,Uttarakhand,2011-14,2,U.S.Nagar,2,Sitarganj,Malpuri,Sitarganj,POINT (79.70515 28.89093),"POLYGON ((79.71041 28.90201, 79.71042 28.90187..."
3449,Uttarakhand,2011-14,2,U.S.Nagar,3,Jaspur,Kishanpur,Kashipur,POINT (78.79238 29.30170),"POLYGON ((78.79853 29.31295, 78.79959 29.31244..."
3450,Uttarakhand,2011-14,3,Haridwar,4,Haridwar,Bhogpur,Hardwar,POINT (78.18037 29.79919),"POLYGON ((78.16201 29.81947, 78.16300 29.82109..."
3451,Uttarakhand,2014-17,1,Dehradun,1,Chakrata,Gavela,Chakrata,POINT (77.78397 30.68365),"POLYGON ((77.77913 30.68898, 77.78085 30.68902..."
3452,Uttarakhand,2014-17,2,U.S.Nagar,2,Rudrapur,Kanakpur,Kichha,POINT (79.47521 28.96463),"POLYGON ((79.47660 28.97416, 79.47850 28.97495..."
3453,Uttarakhand,2014-17,2,U.S.Nagar,2,Rudrapur,Pandari,Kichha,POINT (79.49660 28.93258),"POLYGON ((79.50087 28.93961, 79.50098 28.93947..."
3454,Uttarakhand,2014-17,2,U.S.Nagar,3,Sitarganj,Turka Tisor,Sitarganj,POINT (79.72174 28.93456),"POLYGON ((79.71739 28.94107, 79.71958 28.94037..."
3455,Uttarakhand,2014-17,3,Haridwar,4,Haridwar,Vishanpur,Hardwar,POINT (78.15644 29.87198),"POLYGON ((78.15042 29.87862, 78.15244 29.87876..."
3456,Uttarakhand,2014-17,3,Haridwar,4,Haridwar,Pherupur-Ramkheda,Hardwar,POINT (78.13221 29.86102),"POLYGON ((78.11483 29.87587, 78.12057 29.87490..."
3457,Uttarakhand,2017-20,Hill Zone,Almora,1,Bhanoli,Fulai Jageshwar,Almora,POINT (79.90990 29.64951),"POLYGON ((79.91323 29.65289, 79.91322 29.65201..."
3458,Uttarakhand,2017-20,Hill Zone,Pithoragarh,2,Pithoragarh,Balakot,Pithoragarh,POINT (80.18858 29.55635),"POLYGON ((80.18306 29.55934, 80.18534 29.55990..."
3459,Uttarakhand,2017-20,Tarai Zone,U.S.Nagar,3,Sitarganj,Tharu Tusar,Sitarganj,POINT (79.72522 28.94929),"POLYGON ((79.71633 28.95753, 79.71645 28.95746..."
3460,Uttarakhand,2017-20,Western Plain,Haridwar,4,Haridwar,Ahmadpur-Grunt,Hardwar,POINT (78.03658 29.88470),"POLYGON ((78.01981 29.89569, 78.02312 29.89666..."

In [53]:
import geopandas as gpd

# Check and align CRS
if coc_gdf_chattisgarh.crs != big_gdf_chat.crs:
    # Reproject coc_gdf_chattisgarh to match the CRS of big_gdf_chat
    coc_gdf_chattisgarh = coc_gdf_chattisgarh.to_crs(big_gdf_chat.crs)

# Perform a spatial join
joined_gdf_chat = gpd.sjoin(coc_gdf_chattisgarh, big_gdf_chat, how='inner', predicate='within')

# Add the geometry from big_gdf_chat to the joined GeoDataFrame
joined_gdf_chat['geometry_big'] = gpd.GeoSeries(joined_gdf_chat['index_right'].map(big_gdf_chat.geometry))

# Print statistics about the join
print(f'Villages - {len(coc_gdf_chattisgarh)}')
print(f'Matched Villages - {len(joined_gdf_chat)}')
print(f'Left Out Villages - {len(coc_gdf_chattisgarh) - len(joined_gdf_chat)}')


geometry_polygon_chat = joined_gdf_chat['geometry_big']
coc_gdf_chattisgarh['geometry-polygon'] = geometry_polygon_chat
coc_gdf_chattisgarh

Villages - 63
Matched Villages - 63
Left Out Villages - 0

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/geopandas/geodataframe.py:1525: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry,geometry-polygon
1029,Chhattisgarh,2008-11,I,Janjgir,1,Malkharoda,Pota,Malkharoda,POINT (82.99990 21.90934),"POLYGON ((82.98465 21.92152, 82.98583 21.92122..."
1030,Chhattisgarh,2008-11,I,Bilaspur,2,Masturi,Mudpar,Masturi,POINT (82.32546 22.11027),"POLYGON ((82.31384 22.11787, 82.32315 22.11822..."
1031,Chhattisgarh,2008-11,I,Bilaspur,2,Masturi,Mudpar,Masturi,POINT (82.26105 21.95115),"POLYGON ((82.26933 21.96864, 82.27083 21.96652..."
1032,Chhattisgarh,2008-11,I,Korba,3,Katghora,Jhenjara,Katghora,POINT (82.59275 22.48269),"POLYGON ((82.58398 22.48928, 82.58620 22.48930..."
1033,Chhattisgarh,2008-11,I,Raigarh,4,Gharghora,Amleedeeh,Gharghoda,POINT (83.34477 22.09633),"POLYGON ((83.35414 22.10534, 83.35426 22.10535..."
...,...,...,...,...,...,...,...,...,...,...
1087,Chhattisgarh,2017-20,Chhattisgarh plain,Bemetara,11,Nawagarh,Gadamore,Nawagarh,POINT (81.62221 21.97609),"POLYGON ((81.63727 21.98766, 81.63818 21.98767..."
1088,Chhattisgarh,2017-20,Chhattisgarh plain,Rajnandgaon,12,Khairagarh,Badhaitola,Khairagarh,POINT (80.98410 21.35009),"POLYGON ((80.97946 21.36362, 80.98022 21.36156..."
1089,Chhattisgarh,2017-20,Chhattisgarh plain,Korba,13,Pali,Haranmudi,Pali,POINT (82.28691 22.29884),"POLYGON ((82.27167 22.30836, 82.27374 22.30874..."
1090,Chhattisgarh,2017-20,Chhattisgarh plain,Kanker,14,Charama,"Mahud, Kaswahi",Charama,POINT (81.36451 20.53031),"POLYGON ((81.36027 20.54139, 81.36076 20.54313..."
1091,Chhattisgarh,2017-20,Chhattisgarh plain,Raipur,15,Arang,Rasani,Arang,POINT (81.93107 21.20771),"POLYGON ((81.92581 21.22383, 81.92956 21.22214..."

In [54]:
import geopandas as gpd

# Check and align CRS
if coc_gdf_gujarat.crs != big_gdf_Gujarat.crs:
    # Reproject coc_gdf_gujarat to match the CRS of big_gdf_Gujarat
    coc_gdf_gujarat = coc_gdf_gujarat.to_crs(big_gdf_Gujarat.crs)

# Perform a spatial join
joined_gdf_gujarat = gpd.sjoin(coc_gdf_gujarat, big_gdf_Gujarat, how='inner', predicate='within')

# Add the geometry from big_gdf_Gujarat to the joined GeoDataFrame
joined_gdf_gujarat['geometry_big'] = gpd.GeoSeries(joined_gdf_gujarat['index_right'].map(big_gdf_Gujarat.geometry))

# Print statistics about the join
print(f'Villages - {len(coc_gdf_gujarat)}')
print(f'Matched Villages - {len(joined_gdf_gujarat)}')
print(f'Left Out Villages - {len(coc_gdf_gujarat) - len(joined_gdf_gujarat)}')


geometry_polygon_gujarat = joined_gdf_gujarat['geometry_big']
coc_gdf_gujarat['geometry-polygon'] = geometry_polygon_gujarat
coc_gdf_gujarat

Villages - 233
Matched Villages - 233
Left Out Villages - 0

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/geopandas/geodataframe.py:1525: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry,geometry-polygon
1092,Gujarat,2008-11,1,Kutch,1,Mandvi,Mota Asambiya,Mandvi,POINT (69.45909 22.95884),"POLYGON ((69.44711 22.98615, 69.45067 22.98641..."
1093,Gujarat,2008-11,1,Kutch,2,Nakhatrana,Kotada (J),Nakhatrana,POINT (69.20167 23.35489),"POLYGON ((69.16802 23.38374, 69.16858 23.38450..."
1094,Gujarat,2008-11,2,Amreli,3,Amreli,Gavadka,Amreli,POINT (71.15794 21.55142),"POLYGON ((71.14669 21.56443, 71.14725 21.56484..."
1095,Gujarat,2008-11,2,Amreli,4,Dhari,Gigasan,Dhari,POINT (70.95492 21.27372),"POLYGON ((70.94269 21.28900, 70.94329 21.28825..."
1096,Gujarat,2008-11,2,Amreli,5,Lathi,Bhingrad,Lathi,POINT (71.44085 21.68771),"POLYGON ((71.43288 21.70334, 71.43378 21.70348..."
...,...,...,...,...,...,...,...,...,...,...
1320,Gujarat,2017-20,8,Banaskantha,56,Dhanera,Voda,Dhanera,POINT (72.11681 24.50967),"POLYGON ((72.10122 24.51124, 72.10229 24.51159..."
1321,Gujarat,2017-20,8,Banaskantha,57,Tharad,Moti Pavad,Tharad,POINT (71.68130 24.34106),"POLYGON ((71.66547 24.35723, 71.66920 24.35722..."
1322,Gujarat,2017-20,8,Banaskantha,58,Lakhani,Vasana (vatam),Deesa,POINT (71.85721 24.26643),"POLYGON ((71.86759 24.29454, 71.86894 24.29441..."
1323,Gujarat,2017-20,8,Banaskantha,59,Dantiwada,Vaghrol,Dantiwada,POINT (72.34632 24.29597),"POLYGON ((72.34113 24.31425, 72.34076 24.31555..."
1324,Gujarat,2017-20,8,Kachchh,60,Mandvi,Mota Ansaliya,Mandvi,POINT (69.45909 22.95884),"POLYGON ((69.44711 22.98615, 69.45067 22.98641..."

In [57]:
import geopandas as gpd

# Check and align CRS
if coc_gdf_UP.crs != big_gdf_Uttar.crs:
    # Reproject coc_gdf_UP to match the CRS of big_gdf_Uttar
    coc_gdf_UP = coc_gdf_UP.to_crs(big_gdf_Uttar.crs)

# Perform a spatial join
joined_gdf_UP = gpd.sjoin(coc_gdf_UP, big_gdf_Uttar, how='inner', predicate='within')

# Add the geometry from big_gdf_Uttar to the joined GeoDataFrame
joined_gdf_UP['geometry_big'] = gpd.GeoSeries(joined_gdf_UP['index_right'].map(big_gdf_Uttar.geometry))

# Print statistics about the join
print(f'Villages - {len(coc_gdf_UP)}')
print(f'Matched Villages - {len(joined_gdf_UP)}')
print(f'Left Out Villages - {len(coc_gdf_UP) - len(joined_gdf_UP)}')


geometry_polygon_UP = joined_gdf_UP['geometry_big']
coc_gdf_UP['geometry-polygon'] = geometry_polygon_UP
nan_UP = coc_gdf_UP[coc_gdf_UP['geometry-polygon'] == None]
nan_UP

Villages - 323
Matched Villages - 304
Left Out Villages - 19

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry,geometry-polygon
3188,Uttar Pradesh,2008-11,9,Ghazipur,64,Saidpur,Wahadiya,None,None,None
3209,Uttar Pradesh,2011-14,3,Muzaffar Nagar,13,Kerana,Jaganpur,Kairana,POINT (3735709.297 4592926.244),None
3216,Uttar Pradesh,2011-14,4,J.P.Nagar,20,Amroha,Nasir-Nagla,Amroha,POINT (3848069.152 4541180.990),None
3225,Uttar Pradesh,2011-14,4,J.P.Nagar,25,Hasanpur,Sahwajjpur-Dhor,Hasanpur,POINT (3827377.541 4524610.948),None
3237,Uttar Pradesh,2011-14,5,Farrukhabad,36,Kayamganj,Kisroli,Kaimganj,POINT (3942064.331 4380722.135),None
3239,Uttar Pradesh,2011-14,6,Mahoba,38,Mahoba,Bilbai,Mahoba,POINT (3990353.658 4145997.957),None
3258,Uttar Pradesh,2011-14,8,Sant K. Nagar,57,Khalilabad,Ferusha,Khalilabad,POINT (4299850.254 4300349.302),None
3259,Uttar Pradesh,2011-14,8,Sant K. Nagar,57,Khalilabad,Bailuali,Khalilabad,POINT (4299660.852 4298222.308),None
3262,Uttar Pradesh,2011-14,8,Sant K. Nagar,60,Dhanghata,Bhitani Dudhari,Ghanghata,POINT (4283718.847 4285790.005),None
3295,Uttar Pradesh,2014-17,4,J.P.Nagar,18,Dhanora,Naraina,Dhanaura,POINT (3841397.288 4530329.140),None
3296,Uttar Pradesh,2014-17,4,J.P.Nagar,18,Dhanora,Kaphur Pur,Dhanaura,POINT (3842482.039 4530622.373),None
3298,Uttar Pradesh,2014-17,4,J.P.Nagar,20,Hasanpur,Chhapana,Hasanpur,POINT (3835175.487 4501098.228),None
3346,Uttar Pradesh,2014-17,8,Sant Kabir Nagar,61,Dhanghata,Mukhlishpur,Ghanghata,POINT (4295300.317 4286642.031),None
3369,Uttar Pradesh,2017-20,Western Plain,Shamli (P.Nagar),13,Kerana,Manna-Majar,Kairana,POINT (3734583.973 4591457.313),None
3372,Uttar Pradesh,2017-20,Western Plain,Shamli(P.Nagar),16,Kerana,Mohammadpur-Rahi,Kairana,POINT (3729839.654 4592721.538),None
3374,Uttar Pradesh,2017-20,Middle ? western plain,Moradabad,18,Kanth,Ladawali,Moradabad,POINT (3874493.566 4537492.917),None
3377,Uttar Pradesh,2017-20,Middle ? western plain,J.P.Nagar,20,Hasanpur,Burawali,Hasanpur,POINT (3835376.287 4503910.366),None
3379,Uttar Pradesh,2017-20,Middle ? western plain,Shahajahanpur,22,Jalalabad,Nayagaon-Sehbagpur,None,None,None
3398,Uttar Pradesh,2017-20,Bundelkhand,Mahoba,40,Kulpahad,Madhari,Kulpahar,POINT (3962281.605 4136988.402),None

In [58]:
import geopandas as gpd

# Check and align CRS
if coc_gdf_rajasthan.crs != big_gdf_rajasthan_main.crs:
    # Reproject coc_gdf_rajasthan to match the CRS of big_gdf_rajasthan_main
    coc_gdf_rajasthan = coc_gdf_rajasthan.to_crs(big_gdf_rajasthan_main.crs)

# Perform a spatial join
joined_gdf_rajastha = gpd.sjoin(coc_gdf_rajasthan, big_gdf_rajasthan_main, how='inner', predicate='within')

# Add the geometry from big_gdf_rajasthan_main to the joined GeoDataFrame
joined_gdf_rajastha['geometry_big'] = gpd.GeoSeries(joined_gdf_rajastha['index_right'].map(big_gdf_rajasthan_main.geometry))

# Print statistics about the join
print(f'Villages - {len(coc_gdf_rajasthan)}')
print(f'Matched Villages - {len(joined_gdf_rajastha)}')
print(f'Left Out Villages - {len(coc_gdf_rajasthan) - len(joined_gdf_rajastha)}')


geometry_polygon_rajastha = joined_gdf_rajastha['geometry_big']
coc_gdf_rajasthan['geometry-polygon'] = geometry_polygon_rajastha
nan_raj = coc_gdf_rajasthan[coc_gdf_rajasthan['geometry-polygon'] == None]
nan_raj

Villages - 263
Matched Villages - 261
Left Out Villages - 2

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/geopandas/geodataframe.py:1525: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry,geometry-polygon
2716,Rajasthan,2011-14,7,Udaipur,49,Mavli,Sanwad,None,None,None
2749,Rajasthan,2014-17,3,Sikar,16,Nim ka Thana,Ghavdi,None,None,None

In [59]:
import geopandas as gpd

# Check and align CRS
if coc_gdf_karnataka.crs != big_gdf_Karnataka_main.crs:
    # Reproject coc_gdf_karnataka to match the CRS of big_gdf_Karnataka_main
    coc_gdf_karnataka = coc_gdf_karnataka.to_crs(big_gdf_Karnataka_main.crs)

# Perform a spatial join
joined_gdf_karnatak = gpd.sjoin(coc_gdf_karnataka, big_gdf_Karnataka_main, how='inner', predicate='within')

# Add the geometry from big_gdf_Karnataka_main to the joined GeoDataFrame
joined_gdf_karnatak['geometry_big'] = gpd.GeoSeries(joined_gdf_karnatak['index_right'].map(big_gdf_Karnataka_main.geometry))

# Print statistics about the join
print(f'Villages - {len(coc_gdf_karnataka)}')
print(f'Matched Villages - {len(joined_gdf_karnatak)}')
print(f'Left Out Villages - {len(coc_gdf_karnataka) - len(joined_gdf_karnatak)}')


geometry_polygon_karnatak = joined_gdf_karnatak['geometry_big']
coc_gdf_karnataka['geometry-polygon'] = geometry_polygon_karnatak
coc_gdf_karnataka

Villages - 185
Matched Villages - 185
Left Out Villages - 0

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/geopandas/geodataframe.py:1525: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry,geometry-polygon
1508,Karnataka,2008-11,1,Bidar,1,Aurad,Santhapur,Aurad,POINT (77.44018 18.17557),"POLYGON ((77.43873 18.19861, 77.43896 18.19870..."
1509,Karnataka,2008-11,1,Bidar,2,Bhalki,Bhatramba,Bhalki,POINT (77.14665 18.07623),"POLYGON ((77.14416 18.10815, 77.14545 18.10695..."
1510,Karnataka,2008-11,2,Raichur,3,Devadurga,Gabbur,Devadurga,POINT (77.16073 16.29912),"POLYGON ((77.18985 16.33355, 77.19025 16.33443..."
1511,Karnataka,2008-11,2,Raichur,3,Devadurga,Gabbur,Devadurga,POINT (77.06161 16.29221),"POLYGON ((77.05360 16.29438, 77.05496 16.29455..."
1512,Karnataka,2008-11,2,Raichur,4,Manvi,Kavital,Manvi,POINT (76.81763 16.08436),"POLYGON ((76.77740 16.12709, 76.77746 16.12705..."
...,...,...,...,...,...,...,...,...,...,...
1688,Karnataka,2017-20,Northern Transitional Zone (NTZ) (8),Dharwad,41,Hubbali,Kiresur,Hubli,POINT (75.27997 15.42581),"POLYGON ((75.25644 15.44329, 75.26215 15.44179..."
1689,Karnataka,2017-20,Northern Transitional Zone (NTZ) (8),Belagavi,42,Hukkeri,Ammanagi,Hukeri,POINT (74.55645 16.28415),"POLYGON ((74.56258 16.31304, 74.56424 16.31214..."
1690,Karnataka,2017-20,Hiilly Zones (9),Chikkamagaluru,43,Chikkamagaluru,Ambale,Chikmagalur,POINT (75.79493 13.27355),"POLYGON ((75.78074 13.29037, 75.78220 13.28921..."
1691,Karnataka,2017-20,Hiilly Zones (9),Belagavi,44,Khanapur,Adhi,Khanapur,POINT (74.65456 15.56261),"POLYGON ((74.64996 15.56422, 74.65487 15.56486..."
1692,Karnataka,2017-20,Costal hills (10),Uttara Kannada,45,Bhatkal,Bengere 11,Bhatkal,POINT (74.52308 14.04862),"POLYGON ((74.49627 14.05408, 74.49662 14.05426..."

In [60]:
import geopandas as gpd

# Check and align CRS
if coc_gdf_bengal.crs != big_gdf_bengal.crs:
    # Reproject coc_gdf_bengal to match the CRS of big_gdf_bengal
    coc_gdf_bengal = coc_gdf_bengal.to_crs(big_gdf_bengal.crs)

# Perform a spatial join
joined_gdf_bengal = gpd.sjoin(coc_gdf_bengal, big_gdf_bengal, how='inner', predicate='within')

# Add the geometry from big_gdf_bengal to the joined GeoDataFrame
joined_gdf_bengal['geometry_big'] = gpd.GeoSeries(joined_gdf_bengal['index_right'].map(big_gdf_bengal.geometry))

# Print statistics about the join
print(f'Villages - {len(coc_gdf_bengal)}')
print(f'Matched Villages - {len(joined_gdf_bengal)}')
print(f'Left Out Villages - {len(coc_gdf_bengal) - len(joined_gdf_bengal)}')


geometry_polygon_bengal = joined_gdf_bengal['geometry_big']
coc_gdf_bengal['geometry-polygon'] = geometry_polygon_bengal
coc_gdf_bengal

Villages - 312
Matched Villages - 312
Left Out Villages - 0

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/geopandas/geodataframe.py:1525: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry,geometry-polygon
3461,West Bengal,2008-11,II,JALPAIGURI,1,DHUPGURI,BARA GHARIA,Dhupguri,POINT (88.98599 26.56042),"POLYGON ((88.97442 26.57195, 88.97465 26.57212..."
3462,West Bengal,2008-11,II,JALPAIGURI,2,ALIPURDUAR-II,TATPARA,Alipurduar - II,POINT (89.61505 26.49860),"POLYGON ((89.60672 26.51114, 89.60655 26.51128..."
3463,West Bengal,2008-11,II,COOCHBEHAR,3,MATHABHANGA-I,DAIBHANGI,Mathabhanga - I,POINT (89.18582 26.44845),"POLYGON ((89.16359 26.46423, 89.16673 26.46374..."
3464,West Bengal,2008-11,II,COOCHBEHAR,4,SITALKUCHI,SARBBESWAR JAYDUAR,Sitalkuchi,POINT (89.27821 26.16464),"POLYGON ((89.29410 26.18128, 89.29771 26.18173..."
3465,West Bengal,2008-11,II,UTTAR DINAJPUR,5,KARANDIGHI,JUJHARPUR,Karandighi,POINT (87.96416 25.75101),"POLYGON ((87.95780 25.76549, 87.95804 25.76583..."
...,...,...,...,...,...,...,...,...,...,...
3768,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),59,MATHURAPUR-II,Kautala,Mathurapur - II,POINT (88.39996 22.05989),"POLYGON ((88.38358 22.07822, 88.38495 22.07863..."
3769,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),59,MATHURAPUR-II,Madpur,Mathurapur - II,POINT (88.41894 22.09075),"POLYGON ((88.41531 22.09286, 88.41542 22.09290..."
3770,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),60,BHANGORE-I,Rangsara,Bhangar - I,POINT (88.65039 22.51068),"POLYGON ((88.64702 22.51803, 88.64716 22.51805..."
3771,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),60,BHANGORE-I,Chandipur,Bhangar - I,POINT (88.64295 22.51316),"POLYGON ((88.64100 22.51993, 88.64166 22.51991..."
3772,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),60,BHANGORE-I,Santra,Bhangar - I,POINT (88.64297 22.49437),"POLYGON ((88.64098 22.50403, 88.64149 22.50404..."

In [61]:
import geopandas as gpd

# Check and align CRS
if coc_gdf_MP.crs != big_gdf_MP.crs:
    # Reproject coc_gdf_MP to match the CRS of big_gdf_MP
    coc_gdf_MP = coc_gdf_MP.to_crs(big_gdf_MP.crs)

# Perform a spatial join
joined_gdf_MP = gpd.sjoin(coc_gdf_MP, big_gdf_MP, how='inner', predicate='within')

# Add the geometry from big_gdf_MP to the joined GeoDataFrame
joined_gdf_MP['geometry_big'] = gpd.GeoSeries(joined_gdf_MP['index_right'].map(big_gdf_MP.geometry))

# Print statistics about the join
print(f'Villages - {len(coc_gdf_MP)}')
print(f'Matched Villages - {len(joined_gdf_MP)}')
print(f'Left Out Villages - {len(coc_gdf_MP) - len(joined_gdf_MP)}')


geometry_polygon_MP = joined_gdf_MP['geometry_big']
coc_gdf_MP['geometry-polygon'] = geometry_polygon_MP
coc_gdf_MP

Villages - 188
Matched Villages - 188
Left Out Villages - 0

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/geopandas/geodataframe.py:1525: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry,geometry-polygon
2060,Madhya Pradesh,2008-11,1,Gwalior,1,Bhitarwar,Shyampur,Bhitarwar,POINT (78.06881 25.81580),"POLYGON ((78.05775 25.82623, 78.06802 25.82750..."
2061,Madhya Pradesh,2008-11,1,Morena,2,Morena,Morena,Morena,POINT (78.02348 26.50487),"POLYGON ((78.00525 26.50784, 78.00591 26.50832..."
2062,Madhya Pradesh,2008-11,2,Guna,3,Guna,Myana,Guna,POINT (77.47313 24.83583),"POLYGON ((77.48039 24.85703, 77.48409 24.85726..."
2063,Madhya Pradesh,2008-11,2,Shivpuri,4,Kolarus,Sesaee Sadar,Kolaras,POINT (77.63057 25.30977),"POLYGON ((77.64652 25.32836, 77.64711 25.32865..."
2064,Madhya Pradesh,2008-11,2,Ashoknagar,5,Mungawali,Pipraee,Mungaoli,POINT (77.96854 24.50781),"POLYGON ((77.96316 24.52744, 77.96336 24.52759..."
...,...,...,...,...,...,...,...,...,...,...
2243,Madhya Pradesh,2017-20,10,Khargone,42,Kasrawad,Nimrani,Kasrawad,POINT (75.45957 22.11669),"POLYGON ((75.45666 22.12892, 75.45824 22.12913..."
2244,Madhya Pradesh,2017-20,10,Khandwa,43,Khandwa,Jaswadi,Khandwa,POINT (76.42639 21.79396),"POLYGON ((76.41508 21.79574, 76.41730 21.79842..."
2245,Madhya Pradesh,2017-20,10,Badwani,44,Badwani,Kari,Barwani,POINT (74.46044 22.02331),"POLYGON ((74.45023 22.03373, 74.45420 22.03477..."
2246,Madhya Pradesh,2017-20,10,Badwani,44,Badwani,Kari,Barwani,POINT (74.94705 22.03377),"POLYGON ((74.94801 22.04416, 74.94849 22.04413..."
2247,Madhya Pradesh,2017-20,11,Jhabua,45,Petlawad,Raipuria,Petlawad,POINT (74.83761 22.96341),"POLYGON ((74.82613 22.97363, 74.82753 22.97352..."

In [434]:
coc_gdf

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry
0,Bihar,2008-11,1,Samastipur,1,Samastipur,Fatehpur,Samastipur,POINT (85.74868 25.84460)
1,Bihar,2008-11,1,Samastipur,2,Samastipur,Muktapur,Samastipur,POINT (85.75294 25.84970)
2,Bihar,2008-11,1,Samastipur,3,Dalsingsarai,Banghara,Dalsinghsarai,POINT (85.81624 25.66342)
3,Bihar,2008-11,1,Madhubani,4,Madhubani,Saurath,Madhubani,POINT (86.05196 26.35940)
4,Bihar,2008-11,1,Madhubani,4,Madhubani,Saurath,Madhubani,POINT (86.06495 26.38378)
...,...,...,...,...,...,...,...,...,...
3768,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),59,MATHURAPUR-II,Kautala,Mathurapur - II,POINT (88.39996 22.05989)
3769,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),59,MATHURAPUR-II,Madpur,Mathurapur - II,POINT (88.41894 22.09075)
3770,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),60,BHANGORE-I,Rangsara,Bhangar - I,POINT (88.65039 22.51068)
3771,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),60,BHANGORE-I,Chandipur,Bhangar - I,POINT (88.64295 22.51316)
3772,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),60,BHANGORE-I,Santra,Bhangar - I,POINT (88.64297 22.49437)

In [62]:
import geopandas as gpd

# Check and align CRS
if coc_gdf_orissa.crs != big_gdf_orissa_correct.crs:
    # Reproject coc_gdf_orissa to match the CRS of big_gdf_orissa_correct
    coc_gdf_orissa = coc_gdf_orissa.to_crs(big_gdf_orissa_correct.crs)

# Perform a spatial join
orissa_j = gpd.sjoin(coc_gdf_orissa, big_gdf_orissa_correct, how='inner', predicate='within')

# Add the geometry from big_gdf_orissa_correct to the joined GeoDataFrame
orissa_j['geometry_big'] = gpd.GeoSeries(orissa_j['index_right'].map(big_gdf_orissa_correct.geometry))

# Print statistics about the join
print(f'Villages - {len(coc_gdf_orissa)}')
print(f'Matched Villages - {len(orissa_j)}')
print(f'Left Out Villages - {len(coc_gdf_orissa) - len(orissa_j)}')


geometry_polygon_MP = orissa_j['geometry_big']
coc_gdf_orissa['geometry-polygon'] = geometry_polygon_MP
nan_raj = coc_gdf_orissa[coc_gdf_orissa['geometry-polygon'] == None]
nan_raj

Villages - 199
Matched Villages - 199
Left Out Villages - 0

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/geopandas/geodataframe.py:1525: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

Empty GeoDataFrame
Columns: [state, year, zone, dtnmcoc, slnococ, tehnmcoc, vilnmcoc, sdnm_11, geometry, geometry-polygon]
Index: []

In [224]:
import geopandas as gpd
import pandas as pd

# Function to handle reprojection safely
def safe_reproject(gdf, target_crs):
    # Check if the main geometry CRS is set; if not, assume a default
    if gdf.crs is None:
        gdf.set_crs('EPSG:4326', inplace=True)  # Assuming 'EPSG:4326' as the default CRS
    
    # Reproject the main geometry to the target CRS if different
    if gdf.crs != target_crs:
        gdf = gdf.to_crs(target_crs)
    
    # Check and reproject 'geometry-polygon' if it exists and is a GeoSeries
    if 'geometry-polygon' in gdf.columns and isinstance(gdf['geometry-polygon'], gpd.GeoSeries):
        if gdf['geometry-polygon'].crs != target_crs:
            gdf['geometry-polygon'] = gdf['geometry-polygon'].to_crs(target_crs)
    
    return gdf

# List of all your GeoDataFrames
geo_dfs = [
    coc_gdf_punjab, coc_gdf_bihar, coc_gdf_uttarakhand, coc_gdf_chattisgarh, 
    coc_gdf_gujarat, coc_gdf_UP, coc_gdf_karnataka, 
    coc_gdf_bengal, coc_gdf_MP, coc_gdf_orissa, coc_gdf_Himachal, 
    coc_gdf_haryana, coc_gdf_jhar, coc_gdf_kerala, coc_gdf_assam, coc_gdf_tamil, coc_gdf_maha, coc_gdf_andra, 
    coc_gdf_rajasthan
]

# Target CRS
target_crs = 'EPSG:4326'

# Reproject all GeoDataFrames
geo_dfs = [safe_reproject(gdf, target_crs) for gdf in geo_dfs]

# Concatenate all GeoDataFrames
concatenated_gdf_small = gpd.GeoDataFrame(pd.concat(geo_dfs, ignore_index=True))

concatenated_gdf_small['geometry'] = concatenated_gdf_small['geometry-polygon']
concatenated_gdf_small = concatenated_gdf_small.drop('geometry-polygon', axis=1)

In [226]:
concatenated_gdf_small

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry
0,Punjab,2008-11,1,Gurdaspur,1,Gurdaspur,Lakhowal,Gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373..."
1,Punjab,2008-11,1,Gurdaspur,2,Batala,Ammo Nagal,Batala,"POLYGON ((75.24774 31.75000, 75.24879 31.75118..."
2,Punjab,2008-11,1,Amrtisar,3,Ajnala,Bhalapind,Ajnala,"POLYGON ((74.78681 31.79373, 74.78854 31.79339..."
3,Punjab,2008-11,1,Amritsar,4,Amritsar-I,Ballian Manjpur,Amritsar I,"POLYGON ((75.08233 31.59099, 75.08259 31.59082..."
4,Punjab,2008-11,1,Tarntarn,5,Patti,Kirtowal,Patti,"POLYGON ((74.90056 31.21235, 74.90026 31.21180..."
...,...,...,...,...,...,...,...,...,...
3768,Rajasthan,2017-20,9,Kota,56,Digod,Sultanpur,Digod,"POLYGON ((76.13732 25.30970, 76.13781 25.31034..."
3769,Rajasthan,2017-20,9,Bundi,57,Hindoli,Badodiya,Hindoli,"POLYGON ((75.56267 25.51453, 75.56316 25.51453..."
3770,Rajasthan,2017-20,9,Bundi,58,Talera,Jakhamund,Bundi,"POLYGON ((75.75674 25.25866, 75.75697 25.25882..."
3771,Rajasthan,2017-20,9,Baran,59,Krishnganj,Maharwata,Kishanganj,"POLYGON ((76.63089 25.14469, 76.63319 25.14469..."
3772,Rajasthan,2017-20,9,Jhalawar,60,Jhalrapatan,Bhawrasa,Jhalrapatan,"POLYGON ((76.23306 24.52334, 76.23324 24.52298..."

In [227]:
concatenated_gdf_small['state'].value_counts()

state
Himachal Pradesh    347
Uttar Pradesh       323
West Bengal         312
Rajasthan           263
Tamil Nadu          250
MAHARASHTRA         249
ASSAM               245
Gujarat             233
Andhra Pradesh      223
Bihar               214
Orissa              199
Madhya Pradesh      188
Karnataka           185
Punjab              155
Haryana             120
Kerala              118
Jharkhand            63
Chhattisgarh         63
Uttarakhand          23
Name: count, dtype: int64

In [228]:
concatenated_gdf_small

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry
0,Punjab,2008-11,1,Gurdaspur,1,Gurdaspur,Lakhowal,Gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373..."
1,Punjab,2008-11,1,Gurdaspur,2,Batala,Ammo Nagal,Batala,"POLYGON ((75.24774 31.75000, 75.24879 31.75118..."
2,Punjab,2008-11,1,Amrtisar,3,Ajnala,Bhalapind,Ajnala,"POLYGON ((74.78681 31.79373, 74.78854 31.79339..."
3,Punjab,2008-11,1,Amritsar,4,Amritsar-I,Ballian Manjpur,Amritsar I,"POLYGON ((75.08233 31.59099, 75.08259 31.59082..."
4,Punjab,2008-11,1,Tarntarn,5,Patti,Kirtowal,Patti,"POLYGON ((74.90056 31.21235, 74.90026 31.21180..."
...,...,...,...,...,...,...,...,...,...
3768,Rajasthan,2017-20,9,Kota,56,Digod,Sultanpur,Digod,"POLYGON ((76.13732 25.30970, 76.13781 25.31034..."
3769,Rajasthan,2017-20,9,Bundi,57,Hindoli,Badodiya,Hindoli,"POLYGON ((75.56267 25.51453, 75.56316 25.51453..."
3770,Rajasthan,2017-20,9,Bundi,58,Talera,Jakhamund,Bundi,"POLYGON ((75.75674 25.25866, 75.75697 25.25882..."
3771,Rajasthan,2017-20,9,Baran,59,Krishnganj,Maharwata,Kishanganj,"POLYGON ((76.63089 25.14469, 76.63319 25.14469..."
3772,Rajasthan,2017-20,9,Jhalawar,60,Jhalrapatan,Bhawrasa,Jhalrapatan,"POLYGON ((76.23306 24.52334, 76.23324 24.52298..."

In [437]:
big_

NameError: name 'big_gdf' is not defined

In [433]:
concatenated_gdf_small

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry
0,Punjab,2008-11,1,Gurdaspur,1,Gurdaspur,Lakhowal,Gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373..."
1,Punjab,2008-11,1,Gurdaspur,2,Batala,Ammo Nagal,Batala,"POLYGON ((75.24774 31.75000, 75.24879 31.75118..."
2,Punjab,2008-11,1,Amrtisar,3,Ajnala,Bhalapind,Ajnala,"POLYGON ((74.78681 31.79373, 74.78854 31.79339..."
3,Punjab,2008-11,1,Amritsar,4,Amritsar-I,Ballian Manjpur,Amritsar I,"POLYGON ((75.08233 31.59099, 75.08259 31.59082..."
4,Punjab,2008-11,1,Tarntarn,5,Patti,Kirtowal,Patti,"POLYGON ((74.90056 31.21235, 74.90026 31.21180..."
...,...,...,...,...,...,...,...,...,...
3768,Rajasthan,2017-20,9,Kota,56,Digod,Sultanpur,Digod,"POLYGON ((76.13732 25.30970, 76.13781 25.31034..."
3769,Rajasthan,2017-20,9,Bundi,57,Hindoli,Badodiya,Hindoli,"POLYGON ((75.56267 25.51453, 75.56316 25.51453..."
3770,Rajasthan,2017-20,9,Bundi,58,Talera,Jakhamund,Bundi,"POLYGON ((75.75674 25.25866, 75.75697 25.25882..."
3771,Rajasthan,2017-20,9,Baran,59,Krishnganj,Maharwata,Kishanganj,"POLYGON ((76.63089 25.14469, 76.63319 25.14469..."
3772,Rajasthan,2017-20,9,Jhalawar,60,Jhalrapatan,Bhawrasa,Jhalrapatan,"POLYGON ((76.23306 24.52334, 76.23324 24.52298..."

In [229]:
len(big_gdf_list)

19

In [68]:
big_gdf_list = [big_gdf_himachal_main, 
                big_gdf_kerala,
                big_gdf_andra,
                big_gdf_assam,
                big_gdf_bengal,
                big_gdf_bihar, 
                big_gdf_chat,
                big_gdf_Gujarat,
                big_gdf_haryana,
                big_gdf_Karnataka_main,
                big_gdf_jhar,
                big_gdf_maha, 
                big_gdf_punjab,
                big_gdf_rajasthan_main,
                big_gdf_orissa_correct,
                big_gdf_MP,
                big_gdf_uttarakhand,
                big_gdf_Uttar,
                big_gdf_tamil
                ]

import geopandas as gpd


# Find common columns
common_columns = set(big_gdf_list[0].columns)
for gdf in big_gdf_list[1:]:
    common_columns.intersection_update(gdf.columns)

common_columns = list(common_columns)
# Iterate over each GeoDataFrame in the list
for gdf in big_gdf_list:
    # Rename 'VILLAGE' to 'NAME' if it exists
    gdf.rename(columns={'VILLAGE': 'NAME'}, inplace=True)
    gdf.rename(columns={'STATE_UT': 'STATE'}, inplace=True)
    gdf.rename(columns={'SUB_DISTRI': 'TEHSIL'}, inplace=True)


def safe_transform(gdf, target_crs):
    if gdf.crs is not None:  # Ensure there is a CRS defined
        if gdf.crs.to_string() != target_crs:  # Check if transformation is needed
            return gdf.to_crs(target_crs)
    return gdf

# Choose the target CRS
target_crs = 'EPSG:4326'  # WGS 84

# Transform each GeoDataFrame to the common CRS
transformed_gdfs = [safe_transform(gdf, target_crs) for gdf in big_gdf_list]

# Specify the columns you want to include (customize this list as needed)
specific_columns = ['NAME', 'geometry', 'DISTRICT', 'STATE', 'TEHSIL']  # Include 'geometry' explicitly

# Filter GeoDataFrames based on specific columns
filtered_gdfs = [gdf[[col for col in specific_columns if col in gdf.columns]] for gdf in transformed_gdfs]

# Concatenate the filtered GeoDataFrames
concatenated_gdf_big = gpd.GeoDataFrame(pd.concat(filtered_gdfs, ignore_index=True))

In [69]:
concatenated_gdf_big

,NAME,geometry,DISTRICT,STATE,TEHSIL
0,Village Point Boundary,"POLYGON ((76.73598 33.18017, 76.73492 33.18101...",Lahul & Spiti,Himachal Pradesh,None
1,Dhar Chhoglu,"POLYGON ((76.55004 33.19772, 76.55082 33.19775...",Chamba,Himachal Pradesh,Pangi
2,Dhar Shinkal,"POLYGON ((76.52521 33.19414, 76.52596 33.19418...",Chamba,Himachal Pradesh,Pangi
3,Sural Bhatori,"POLYGON ((76.46151 33.17813, 76.46635 33.17894...",Chamba,Himachal Pradesh,Pangi
4,Rusmas,"POLYGON ((76.39866 33.17477, 76.39969 33.17541...",Chamba,Himachal Pradesh,Pangi
...,...,...,...,...,...
599737,Thenthamaraikulam,"POLYGON ((77.50307 8.11443, 77.50314 8.11415, ...",Kanniyakumari,Tamil Nadu,Agastheeswaram
599738,Puthalam,"POLYGON ((77.45023 8.11175, 77.45247 8.11075, ...",Kanniyakumari,Tamil Nadu,Agastheeswaram
599739,Agasteeswaram,"POLYGON ((77.51122 8.10797, 77.51540 8.10685, ...",Kanniyakumari,Tamil Nadu,Agastheeswaram
599740,Kanniyakumari,"POLYGON ((77.54385 8.10316, 77.54398 8.10381, ...",Kanniyakumari,Tamil Nadu,Agastheeswaram
599741,Thengamputhoor,"POLYGON ((77.46212 8.08817, 77.46205 8.08842, ...",Kanniyakumari,Tamil Nadu,Agastheeswaram

In [125]:
common_gdf = concatenated_gdf_small.merge(concatenated_gdf, on='geometry')

In [67]:
import pandas as pd

# Assuming 'concatenated_gdf_small' and 'concatenated_gdf' are your DataFrames
# Perform a left merge on 'geometry'
result = concatenated_gdf_small.merge(concatenated_gdf, on='geometry', how='left', indicator=True)

# Filter rows where 'geometry' did not match
unmerged_rows = result[result['_merge'] == 'left_only']

# Drop the merge indicator column to clean up the DataFrame
unmerged_rows = unmerged_rows.drop(columns=['_merge'])

print(unmerged_rows)

NameError: name 'concatenated_gdf' is not defined

In [410]:
unmerged_rows.to_file('villages-No-Shapes-No-Geometry-SOI-CENTROID', driver = 'ESRI Shapefile')

In [230]:
common_gdf

NameError: name 'common_gdf' is not defined

In [70]:
import geopandas as gpd

# Load the shapefile
gdf = gpd.read_file('/Users/rishivijaywargiya/Downloads/Final-Villages-Merged-COC-SOI/Final-Villages-Merged-COC-SOI.shp')


def replace_characters(name):
    replacements = {'>': 'a', '@': 'o', '|': 'i'}
    for old, new in replacements.items():
        name = name.replace(old, new)
    return name

# Apply the function row by row to create the 'SOI-NAME' column
gdf['SOI-NAME'] = gdf['NAME'].apply(replace_characters)

# Display the first few rows to verify
print(gdf[['NAME', 'SOI-NAME']].head())

            NAME       SOI-NAME
0       LAKHOW>L       LAKHOWaL
1    AIMO NANGAL    AIMO NANGAL
2    BHALLA PIND    BHALLA PIND
3  B>LIYA M>NPUR  BaLIYA MaNPUR
4       KIRTOW>L       KIRTOWaL

In [71]:
gdf

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,NAME,geometry,SOI-NAME
0,Punjab,2008-11,1,Gurdaspur,1,Gurdaspur,Lakhowal,Gurdaspur,LAKHOW>L,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",LAKHOWaL
1,Punjab,2008-11,1,Gurdaspur,2,Batala,Ammo Nagal,Batala,AIMO NANGAL,"POLYGON ((75.24774 31.75000, 75.24879 31.75118...",AIMO NANGAL
2,Punjab,2008-11,1,Amrtisar,3,Ajnala,Bhalapind,Ajnala,BHALLA PIND,"POLYGON ((74.78681 31.79373, 74.78854 31.79339...",BHALLA PIND
3,Punjab,2008-11,1,Amritsar,4,Amritsar-I,Ballian Manjpur,Amritsar I,B>LIYA M>NPUR,"POLYGON ((75.08233 31.59099, 75.08259 31.59082...",BaLIYA MaNPUR
4,Punjab,2008-11,1,Tarntarn,5,Patti,Kirtowal,Patti,KIRTOW>L,"POLYGON ((74.90056 31.21235, 74.90026 31.21180...",KIRTOWaL
...,...,...,...,...,...,...,...,...,...,...,...
3697,Rajasthan,2017-20,9,Kota,56,Digod,Sultanpur,Digod,Sultanpur,"POLYGON ((76.13732 25.30970, 76.13781 25.31034...",Sultanpur
3698,Rajasthan,2017-20,9,Bundi,57,Hindoli,Badodiya,Hindoli,Barodiya,"POLYGON ((75.56267 25.51453, 75.56316 25.51453...",Barodiya
3699,Rajasthan,2017-20,9,Bundi,58,Talera,Jakhamund,Bundi,Jakhmoond,"POLYGON ((75.75674 25.25866, 75.75697 25.25882...",Jakhmoond
3700,Rajasthan,2017-20,9,Baran,59,Krishnganj,Maharwata,Kishanganj,Mahrawta,"POLYGON ((76.63089 25.14469, 76.63319 25.14469...",Mahrawta
3701,Rajasthan,2017-20,9,Jhalawar,60,Jhalrapatan,Bhawrasa,Jhalrapatan,Bhanwarsa,"POLYGON ((76.23306 24.52334, 76.23324 24.52298...",Bhanwarsa

In [72]:
import geopandas as gpd



for column in ['SOI-NAME', 'vilnmcoc']:
    if gdf[column].dtype == object:  # object type usually means string in pandas
        gdf[column] = gdf[column].str.lower()

# Display the first few rows to verify
print(gdf.head())

    state     year zone    dtnmcoc slnococ    tehnmcoc         vilnmcoc  \
0  Punjab  2008-11    1  Gurdaspur       1   Gurdaspur         lakhowal
1  Punjab  2008-11    1  Gurdaspur       2      Batala       ammo nagal
2  Punjab  2008-11    1   Amrtisar       3      Ajnala        bhalapind
3  Punjab  2008-11    1   Amritsar       4  Amritsar-I  ballian manjpur
4  Punjab  2008-11    1   Tarntarn       5       Patti         kirtowal

      sdnm_11           NAME  \
0   Gurdaspur       LAKHOW>L
1      Batala    AIMO NANGAL
2      Ajnala    BHALLA PIND
3  Amritsar I  B>LIYA M>NPUR
4       Patti       KIRTOW>L

                                            geometry       SOI-NAME
0  POLYGON ((75.32866 32.07205, 75.32882 32.07373...       lakhowal
1  POLYGON ((75.24774 31.75000, 75.24879 31.75118...    aimo nangal
2  POLYGON ((74.78681 31.79373, 74.78854 31.79339...    bhalla pind
3  POLYGON ((75.08233 31.59099, 75.08259 31.59082...  baliya manpur
4  POLYGON ((74.90056 31.21235, 74.90026 31.21180...       kirtowal

In [73]:
gdf = gdf.rename(columns={'vilnmcoc': 'CENTROID-NAME'})

In [74]:
gdf

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,CENTROID-NAME,sdnm_11,NAME,geometry,SOI-NAME
0,Punjab,2008-11,1,Gurdaspur,1,Gurdaspur,lakhowal,Gurdaspur,LAKHOW>L,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",lakhowal
1,Punjab,2008-11,1,Gurdaspur,2,Batala,ammo nagal,Batala,AIMO NANGAL,"POLYGON ((75.24774 31.75000, 75.24879 31.75118...",aimo nangal
2,Punjab,2008-11,1,Amrtisar,3,Ajnala,bhalapind,Ajnala,BHALLA PIND,"POLYGON ((74.78681 31.79373, 74.78854 31.79339...",bhalla pind
3,Punjab,2008-11,1,Amritsar,4,Amritsar-I,ballian manjpur,Amritsar I,B>LIYA M>NPUR,"POLYGON ((75.08233 31.59099, 75.08259 31.59082...",baliya manpur
4,Punjab,2008-11,1,Tarntarn,5,Patti,kirtowal,Patti,KIRTOW>L,"POLYGON ((74.90056 31.21235, 74.90026 31.21180...",kirtowal
...,...,...,...,...,...,...,...,...,...,...,...
3697,Rajasthan,2017-20,9,Kota,56,Digod,sultanpur,Digod,Sultanpur,"POLYGON ((76.13732 25.30970, 76.13781 25.31034...",sultanpur
3698,Rajasthan,2017-20,9,Bundi,57,Hindoli,badodiya,Hindoli,Barodiya,"POLYGON ((75.56267 25.51453, 75.56316 25.51453...",barodiya
3699,Rajasthan,2017-20,9,Bundi,58,Talera,jakhamund,Bundi,Jakhmoond,"POLYGON ((75.75674 25.25866, 75.75697 25.25882...",jakhmoond
3700,Rajasthan,2017-20,9,Baran,59,Krishnganj,maharwata,Kishanganj,Mahrawta,"POLYGON ((76.63089 25.14469, 76.63319 25.14469...",mahrawta
3701,Rajasthan,2017-20,9,Jhalawar,60,Jhalrapatan,bhawrasa,Jhalrapatan,Bhanwarsa,"POLYGON ((76.23306 24.52334, 76.23324 24.52298...",bhanwarsa

In [75]:
gdf_new = gdf.drop(['state', 'year', 'zone', 'dtnmcoc', 'slnococ', 'tehnmcoc',
       'sdnm_11', 'NAME', 'geometry'], axis =1)

In [154]:
gdf_new.to_csv('Village-Comparison-File.csv')

In [155]:
gdf_new.columns

Index(['CENTROID-NAME', 'SOI-NAME'], dtype='object')

In [156]:
import pandas as pd
from nltk.metrics.distance import jaro_similarity


results_df = pd.DataFrame(columns=["Village Name 1", "score", "Village Name 2"])

# Iterate through each row in the DataFrame
for index, row in gdf_new.iterrows():
    village_1 = row['CENTROID-NAME']
    village_2 = row['SOI-NAME']
    score = jaro_similarity(village_1, village_2)
    
    # Store the results in the DataFrame
    temp_df = pd.DataFrame([{"Village Name - COC": village_1, "score": score, "Village Name - SOI": village_2}])
    results_df = pd.concat([results_df, temp_df], ignore_index=True)

/var/folders/kp/x_0hz4ts7716vsw090qqd8cc0000gn/T/ipykernel_76323/2007582855.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  results_df = pd.concat([results_df, temp_df], ignore_index=True)

In [158]:
results_df.to_csv('jaro-similarity-coc-soi.csv')

In [159]:
threshold = 0.80
results_df = results_df[results_df['score'] >= threshold]

In [160]:
results_df

,Village Name 1,score,Village Name 2,Village Name - COC,Village Name - SOI
0,NaN,1.000000,NaN,lakhowal,lakhowal
1,NaN,0.906061,NaN,ammo nagal,aimo nangal
2,NaN,0.939394,NaN,bhalapind,bhalla pind
3,NaN,0.852137,NaN,ballian manjpur,baliya manpur
4,NaN,1.000000,NaN,kirtowal,kirtowal
...,...,...,...,...,...
3697,NaN,1.000000,NaN,sultanpur,sultanpur
3698,NaN,0.869048,NaN,badodiya,barodiya
3699,NaN,0.851852,NaN,jakhamund,jakhmoond
3700,NaN,0.879630,NaN,maharwata,mahrawta
3701,NaN,0.921296,NaN,bhawrasa,bhanwarsa

In [162]:
common_gdf.to_file('MAIN-COMMON-VILLAGE-FILE', driver='ESRI Shapefile')

In [164]:
common_gdf.to_csv('village-mapped.csv')

In [161]:
common_gdf['state'].unique()

array(['Punjab', 'Bihar', 'Uttarakhand', 'Chhattisgarh', 'Gujarat',
       'Uttar Pradesh', 'Karnataka', 'West Bengal', 'Madhya Pradesh',
       'Orissa', 'Himachal Pradesh', 'Haryana', 'Jharkhand', 'Kerala',
       'ASSAM', 'Tamil Nadu', 'MAHARASHTRA', 'Andhra Pradesh',
       'Rajasthan'], dtype=object)

In [146]:
concatenated_gdf_small

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry-polygon
0,Punjab,2008-11,1,Gurdaspur,1,Gurdaspur,Lakhowal,Gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373..."
1,Punjab,2008-11,1,Gurdaspur,2,Batala,Ammo Nagal,Batala,"POLYGON ((75.24774 31.75000, 75.24879 31.75118..."
2,Punjab,2008-11,1,Amrtisar,3,Ajnala,Bhalapind,Ajnala,"POLYGON ((74.78681 31.79373, 74.78854 31.79339..."
3,Punjab,2008-11,1,Amritsar,4,Amritsar-I,Ballian Manjpur,Amritsar I,"POLYGON ((75.08233 31.59099, 75.08259 31.59082..."
4,Punjab,2008-11,1,Tarntarn,5,Patti,Kirtowal,Patti,"POLYGON ((74.90056 31.21235, 74.90026 31.21180..."
...,...,...,...,...,...,...,...,...,...
3768,Rajasthan,2017-20,9,Kota,56,Digod,Sultanpur,Digod,"POLYGON ((76.13732 25.30970, 76.13781 25.31034..."
3769,Rajasthan,2017-20,9,Bundi,57,Hindoli,Badodiya,Hindoli,"POLYGON ((75.56267 25.51453, 75.56316 25.51453..."
3770,Rajasthan,2017-20,9,Bundi,58,Talera,Jakhamund,Bundi,"POLYGON ((75.75674 25.25866, 75.75697 25.25882..."
3771,Rajasthan,2017-20,9,Baran,59,Krishnganj,Maharwata,Kishanganj,"POLYGON ((76.63089 25.14469, 76.63319 25.14469..."
3772,Rajasthan,2017-20,9,Jhalawar,60,Jhalrapatan,Bhawrasa,Jhalrapatan,"POLYGON ((76.23306 24.52334, 76.23324 24.52298..."

In [150]:
concatenated_gdf_small

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry
0,Punjab,2008-11,1,Gurdaspur,1,Gurdaspur,Lakhowal,Gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373..."
1,Punjab,2008-11,1,Gurdaspur,2,Batala,Ammo Nagal,Batala,"POLYGON ((75.24774 31.75000, 75.24879 31.75118..."
2,Punjab,2008-11,1,Amrtisar,3,Ajnala,Bhalapind,Ajnala,"POLYGON ((74.78681 31.79373, 74.78854 31.79339..."
3,Punjab,2008-11,1,Amritsar,4,Amritsar-I,Ballian Manjpur,Amritsar I,"POLYGON ((75.08233 31.59099, 75.08259 31.59082..."
4,Punjab,2008-11,1,Tarntarn,5,Patti,Kirtowal,Patti,"POLYGON ((74.90056 31.21235, 74.90026 31.21180..."
...,...,...,...,...,...,...,...,...,...
3768,Rajasthan,2017-20,9,Kota,56,Digod,Sultanpur,Digod,"POLYGON ((76.13732 25.30970, 76.13781 25.31034..."
3769,Rajasthan,2017-20,9,Bundi,57,Hindoli,Badodiya,Hindoli,"POLYGON ((75.56267 25.51453, 75.56316 25.51453..."
3770,Rajasthan,2017-20,9,Bundi,58,Talera,Jakhamund,Bundi,"POLYGON ((75.75674 25.25866, 75.75697 25.25882..."
3771,Rajasthan,2017-20,9,Baran,59,Krishnganj,Maharwata,Kishanganj,"POLYGON ((76.63089 25.14469, 76.63319 25.14469..."
3772,Rajasthan,2017-20,9,Jhalawar,60,Jhalrapatan,Bhawrasa,Jhalrapatan,"POLYGON ((76.23306 24.52334, 76.23324 24.52298..."

In [454]:
type(concatenated_gdf_big)

geopandas.geodataframe.GeoDataFrame

In [455]:
type(coc_gdf)

geopandas.geodataframe.GeoDataFrame

In [461]:
import geopandas as gpd
import os
import pandas as pd

directory_path = '/Users/rishivijaywargiya/Downloads/filetered'
gdf_list = []

# Iterate over each file in the directory
for filename in os.listdir(directory_path):
    if filename.endswith('.shp'):
        # Construct the full file path
        file_path = os.path.join(directory_path, filename)
        
        # Load the Shapefile as a GeoDataFrame
        gdf = gpd.read_file(file_path)
        
        # Append the GeoDataFrame to the list
        gdf_list.append(gdf)

# Concatenate all GeoDataFrames into a single GeoDataFrame
coc_filtered = gpd.GeoDataFrame(pd.concat(gdf_list, ignore_index=True))

print("All shapefiles have been concatenated into a single GeoDataFrame.")

All shapefiles have been concatenated into a single GeoDataFrame.

In [5]:
concatenated_gdf_big

NameError: name 'concatenated_gdf_big' is not defined

In [4]:
import geopandas as gpd

# Load your GeoDataFrames, assuming they are already loaded as coc_filtered and concatenated_gdf_big

# Check and align CRS
if coc_filtered.crs != concatenated_gdf_big.crs:
    print("CRS mismatch detected, aligning CRS...")
    coc_filtered = coc_filtered.to_crs(concatenated_gdf_big.crs)

# Perform a spatial join
joined_gdf_full = gpd.sjoin(coc_filtered, concatenated_gdf_big, how='inner', predicate='within')

# Print statistics about the join
print(f'Villages in coc_filtered: {len(coc_filtered)}')
print(f'Matched Villages: {len(joined_gdf_full)}')
print(f'Left Out Villages: {len(coc_filtered) - len(joined_gdf_full)}')

# After the join, all columns from concatenated_gdf_big will have prefixes based on their original dataframe
# If you need specific columns or renaming for clarity, you can handle that here:
# Example: Renaming a column from concatenated_gdf_big
# joined_gdf_full.rename(columns={'geometry_y': 'geometry_big'}, inplace=True)

# Optionally, add the geometry from concatenated_gdf_big to the joined GeoDataFrame for further operations
joined_gdf_full['geometry_big'] = joined_gdf_full.apply(lambda row: concatenated_gdf_big.loc[row['index_right'], 'geometry'], axis=1)

NameError: name 'coc_filtered' is not defined

In [532]:
coc_gdf

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry
0,Bihar,2008-11,1,Samastipur,1,Samastipur,Fatehpur,Samastipur,POINT (85.74868 25.84460)
1,Bihar,2008-11,1,Samastipur,2,Samastipur,Muktapur,Samastipur,POINT (85.75294 25.84970)
2,Bihar,2008-11,1,Samastipur,3,Dalsingsarai,Banghara,Dalsinghsarai,POINT (85.81624 25.66342)
3,Bihar,2008-11,1,Madhubani,4,Madhubani,Saurath,Madhubani,POINT (86.05196 26.35940)
4,Bihar,2008-11,1,Madhubani,4,Madhubani,Saurath,Madhubani,POINT (86.06495 26.38378)
...,...,...,...,...,...,...,...,...,...
3768,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),59,MATHURAPUR-II,Kautala,Mathurapur - II,POINT (88.39996 22.05989)
3769,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),59,MATHURAPUR-II,Madpur,Mathurapur - II,POINT (88.41894 22.09075)
3770,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),60,BHANGORE-I,Rangsara,Bhangar - I,POINT (88.65039 22.51068)
3771,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),60,BHANGORE-I,Chandipur,Bhangar - I,POINT (88.64295 22.51316)
3772,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),60,BHANGORE-I,Santra,Bhangar - I,POINT (88.64297 22.49437)

In [535]:
big_gdf_list

[       VILLAGE_ID                    NAME        TEHSIL       DISTRICT  \
 0               0  Village Point Boundary          None  Lahul & Spiti
 1               1            Dhar Chhoglu         Pangi         Chamba
 2               2            Dhar Shinkal         Pangi         Chamba
 3               3           Sural Bhatori         Pangi         Chamba
 4               4                  Rusmas         Pangi         Chamba
 ...           ...                     ...           ...            ...
 10741       10738                Satiwala  Paonta Sahib        Sirmaur
 10742       10739                 Palhori  Paonta Sahib        Sirmaur
 10743       10740                  Bahral  Paonta Sahib        Sirmaur
 10744       10535                   Jarja         Nahan        Sirmaur
 10745       10453                   Nawni         Nahan        Sirmaur

                   STATE          C_CODE01    LEVEL  TOT_NM_HH  TOT_POP  M_POP  \
 0      Himachal Pradesh              None     None          0        0      0
 1      Himachal Pradesh  0201000100006000  Village          0        0      0
 2      Himachal Pradesh  0201000100001200  Village          0        0      0
 3      Himachal Pradesh  0201000100001100  Village         41      218    106
 4      Himachal Pradesh  0201000100000900  Village         46      256    133
 ...                 ...               ...      ...        ...      ...    ...
 10741  Himachal Pradesh  0210000701638200  Village        113      536    291
 10742  Himachal Pradesh  0210000701635300  Village        170     1362    724
 10743  Himachal Pradesh  0210000701638100  Village        202      994    520
 10744  Himachal Pradesh  0210000601626100  Village         35      190     99
 10745  Himachal Pradesh  0210000601620600  Village         54      288    147

        ...  T_MRG_HH  M_MRG_HH  F_MRG_HH  T_MRG_OTH  M_MRG_OTH  F_MRG_OTH  \
 0      ...         0         0         0          0          0          0
 1      ...         0         0         0          0          0          0
 2      ...         0         0         0          0          0          0
 3      ...         0         0         0          1          1          0
 4      ...         0         0         0          2          2          0
 ...    ...       ...       ...       ...        ...        ...        ...
 10741  ...         1         1         0         27         26          1
 10742  ...         2         1         1         86         83          3
 10743  ...         1         1         0         22         21          1
 10744  ...         0         0         0         12          0         12
 10745  ...         0         0         0          6          6          0

        TOT_NNW  M_NNW  F_NNW  \
 0            0      0      0
 1            0      0      0
 2            0      0      0
 3           95     47     48
 4           89     50     39
 ...        ...    ...    ...
 10741      356    119    237
 10742     1004    389    615
 10743      688    230    458
 10744       86     38     48
 10745       41     22     19

                                                 geometry
 0      POLYGON ((76.73598 33.18017, 76.73492 33.18101...
 1      POLYGON ((76.55004 33.19772, 76.55082 33.19775...
 2      POLYGON ((76.52521 33.19414, 76.52596 33.19418...
 3      POLYGON ((76.46151 33.17813, 76.46635 33.17894...
 4      POLYGON ((76.39866 33.17477, 76.39969 33.17541...
 ...                                                  ...
 10741  POLYGON ((77.58186 30.42444, 77.58321 30.41942...
 10742  POLYGON ((77.43850 30.40371, 77.44099 30.40627...
 10743  POLYGON ((77.56628 30.40512, 77.56704 30.40495...
 10744  POLYGON ((77.27505 30.58525, 77.27547 30.58574...
 10745  POLYGON ((77.29185 30.61655, 77.29219 30.61687...

 [10746 rows x 63 columns],
       OBJECTID       TEHSIL        DISTRICT   STATE            NAME  \
 0          1.0     KONDOTTY      MALAPPURAM  KERALA       CHERUK>VU
 1          2.0     KONDOTTY      MALAPPURAM  KERALA       CHELAMBRA
 2          3.0  TIR@RANG>DI      MALAPPURAM  KERALA      VALLIKUNNU
 3          4.0      PONN>NI      MALAPPURAM  KERALA     NANNAMMUKKU
 4          5.0      PONN>NI      MALAPPURAM  KERALA      VELIYANGOD
 ...        ...          ...             ...     ...             ...
 1618    1678.0        R>NNI  PATTANAMTHITTA  KERALA      CHETTAKKAL
 1619    1679.0        R>NNI  PATTANAMTHITTA  KERALA    PAZHAVANG>DI
 1620    1680.0        R>NNI  PATTANAMTHITTA  KERALA           R>NNI
 1621    1681.0        R>NNI  PATTANAMTHITTA  KERALA  VADASSERIKKARA
 1622    1682.0        KONNI  PATTANAMTHITTA  KERALA      KONIT>ZHAM

         Shape_Leng    Shape_Le_1    Shape_Area  \
 0     21553.332118  21553.332118  1.476451e+07
 1     20704.578402  20704.578402  1.592189e+07
 2     16715.114047  16715.114047  1.226533e+07
 3     20430.397101  20430.397101  1.769716e+07
 4     27198.243730  27198.243730  1.836091e+07
 ...            ...           ...           ...
 1618      0.000000  32410.275271  2.944950e+07
 1619      0.000000  32946.340546  2.708670e+07
 1620      0.000000  21589.408034  1.326932e+07
 1621      0.000000  52029.078113  4.257260e+07
 1622      0.000000  30582.083480  1.751527e+07

                                                geometry
 0     POLYGON ((3548781.966 2603804.099, 3548762.666...
 1     POLYGON ((3546269.567 2602986.877, 3546286.552...
 2     POLYGON ((3541842.162 2597867.304, 3541875.523...
 3     POLYGON ((3563395.049 2550264.894, 3563401.131...
 4     POLYGON ((3558922.603 2552362.020, 3558915.117...
 ...                                                 ...
 1618  POLYGON ((3646903.196 2402733.806, 3646886.509...
 1619  POLYGON ((3647774.833 2398282.746, 3647774.730...
 1620  POLYGON ((3643369.208 2399054.915, 3643468.927...
 1621  POLYGON ((3651088.310 2392845.890, 3651033.072...
 1622  POLYGON ((3653753.144 2387753.466, 3653754.021...

 [1623 rows x 9 columns],
        VILLAGE_ID              NAME  TEHSIL  DISTRICT           STATE  \
 0           23413            Guledi   Tamsi  Adilabad  Andhra Pradesh
 1           23414           Gomutri   Tamsi  Adilabad  Andhra Pradesh
 2           23416       Karanji (T)   Tamsi  Adilabad  Andhra Pradesh
 3           23415         Antargaon   Tamsi  Adilabad  Andhra Pradesh
 4           23417          Arli (T)   Tamsi  Adilabad  Andhra Pradesh
 ...           ...               ...     ...       ...             ...
 26772       16090    Mottakadirinur  Kuppam  Chittoor  Andhra Pradesh
 26773       16089        Chinnaobba  Kuppam  Chittoor  Andhra Pradesh
 26774       16093  Adavimulakapalle  Kuppam  Chittoor  Andhra Pradesh
 26775       16088         Ponnangur  Kuppam  Chittoor  Andhra Pradesh
 26776       16094         T.Sadumur  Kuppam  Chittoor  Andhra Pradesh

                C_CODE01    LEVEL  TOT_NM_HH  TOT_POP  M_POP  ...  T_MRG_HH  \
 0      2801000100000200  Village        110      390    193  ...        12
 1      2801000100000300  Village        191      935    462  ...         3
 2      2801000100000100  Village        334     1492    727  ...         9
 3      2801000100000400  Village        178      764    375  ...         0
 4      2801000100000500  Village        498     2392   1203  ...         0
 ...                 ...      ...        ...      ...    ...  ...       ...
 26772  2823006102797900  Village        282     1477    764  ...         0
 26773  2823006102798000  Village        389     2097   1060  ...         8
 26774  2823006102797400  Village        154      773    386  ...         8
 26775  2823006102798200  Village        613     3099   1602  ...         9
 26776  2823006102798100  Village        327     1756    880  ...         5

        M_MRG_HH  F_MRG_HH  T_MRG_OTH  M_MRG_OTH  F_MRG_OTH  TOT_NNW  M_NNW  \
 0             6         6          6          3          3      145     65
 1             1         2         16          5         11      432    202
 2             3         6         15         10          5      582    269
 3             0         0          0          0          0      300    151
 4             0         0         14          9          5     1246    538
 ...         ...       ...        ...        ...        ...      ...    ...
 26772         0         0         11          9          2      755    323
 26773         1         7        139         67         72      822    407
 26774         1         7         19         15          4      405    183
 26775         2         7         14          6          8     1853    772
 26776         0         5          1          0          1      818    346

        F_NNW                                           geometry
 0         80  POLYGON ((78.30075 19.88768, 78.30051 19.88948...
 1        230  POLYGON ((78.30075 19.88768, 78.30129 19.88763...
 2        313  POLYGON ((78.30112 19.88655, 78.30642 19.88385...
 3        149  POLYGON ((78.35575 19.86570, 78.35508 19.86898...
 4        708  POLYGON ((78.35575 19.86570, 78.35758 19.86607...
 ...      ...                                                ...
 26772    432  POLYGON ((78.39404 12.67644, 78.39436 12.67639...
 26773    415  POLYGON ((78.34267 12.67719, 78.34398 12.67658...
 26774    222  POLYGON ((78.36276 12.67180, 78.36350 12.67209...
 26775   1081  POLYGON ((78.40434 12.66134, 78.40467 12.66172...
 26776    472  POLYGON ((78.38891 12.65458, 78.39029 12.65304...

 [26777 rows x 63 columns],
        VILLAGE_ID               NAME       TEHSIL    DISTRICT  STATE  \
 0               1  Kapawpathar Deori       Sadiya    Tinsukia  Assam
 1               2         Lakhimijan       Sadiya    Tinsukia  Assam
 2               3          Bodo Gaon       Sadiya    Tinsukia  Assam
 3               4      Padum Pukhuri       Sadiya    Tinsukia  Assam
 4               5       Makuri Bosti       Sadiya    Tinsukia  Assam
 ...           ...                ...          ...         ...    ...
 22523       22519        Dewali F.V.  Patharkandi   Karimganj  Assam
 22524       22520      Jakabpur F.V.   Katlichara  Hailakandi  Assam
 22525       22521   Piplacharra F.V.  Patharkandi   Karimganj  Assam
 22526       22522           Duttapur   Katlichara  Hailakandi  Assam
 22527       22523    Ramnathpur F.V.   Katlichara  Hailakandi  Assam

                C_CODE01    LEVEL  TOT_NM_HH  TOT_POP  M_POP  ...  T_MRG_HH  \
 0      1814000101522200  Village         80      610    308  ...         0
 1      1814000101522000  Village         84      467    234  ...         0
 2      1814000101525800  Village         51      287    156  ...         8
 3      1814000101521900  Village        213     1276    652  ...         1
 4      1814000101525700  Village         43      254    141  ...         7
 ...                 ...      ...        ...      ...    ...  ...       ...
 22523  1822000402569100  Village         76      444    213  ...         0
 22524  1823000402631000  Village        519     2807   1444  ...        17
 22525  1822000402569000  Village        214     1101    563  ...         4
 22526  1823000402631100  Village        137      733    381  ...         0
 22527  1823000402631200  Village        203     1069    552  ...         0

        M_MRG_HH  F_MRG_HH  T_MRG_OTH  M_MRG_OTH  F_MRG_OTH  TOT_NNW  M_NNW  \
 0             0         0          0          0          0      263    125
 1             0         0          0          0          0      201    102
 2             0         8          0          0          0      167     95
 3             0         1          0          0          0      653    307
 4             0         7          0          0          0      125     64
 ...         ...       ...        ...        ...        ...      ...    ...
 22523         0         0          1          1          0      324     93
 22524         2        15         30         19         11     1668    628
 22525         0         4         34         30          4      768    292
 22526         0         0          3          2          1      488    155
 22527         0         0          9          7          2      574    222

        F_NNW                                           geometry
 0        138  POLYGON ((95.79467 27.97074, 95.79553 27.97079...
 1         99  POLYGON ((95.77099 27.96895, 95.77951 27.96966...
 2         72  POLYGON ((95.86855 27.96861, 95.86948 27.96852...
 3        346  POLYGON ((95.71428 27.96370, 95.72475 27.96463...
 4         61  POLYGON ((95.93252 27.96662, 95.93851 27.96621...
 ...      ...                                                ...
 22523    231  POLYGON ((92.28765 24.26248, 92.28655 24.26205...
 22524   1040  POLYGON ((92.53189 24.26218, 92.52929 24.26222...
 22525    476  POLYGON ((92.27168 24.26089, 92.27003 24.26099...
 22526    333  POLYGON ((92.52943 24.25620, 92.52779 24.25651...
 22527    352  POLYGON ((92.54643 24.24634, 92.54468 24.24696...

 [22528 rows x 63 columns],
        VILLAGE_ID                         NAME               TEHSIL  \
 0               1             Singalila Forest  Darjeeling Pulbazar
 1               2            Kashone Khasmahal         Kalimpong II
 2               3  Mansong Cinchona Plantation         Kalimpong II
 3               4                Rangpo Forest         Kalimpong II
 4               5            Lingsay Khasmahal         Kalimpong II
 ...           ...                          ...                  ...
 41315       41311                Fedric Island             Namkhana
 41316       41312  New Moore Island (Purbasha)               Gosaba
 41317       41313              Lakshmipur Abad             Namkhana
 41318       11735                      Sarkuri             Salanpur
 41319       11735                      Ghatkul             Salanpur

                           DISTRICT        STATE          C_CODE01    LEVEL  \
 0                        Darjiling  West Bengal  1901000100000100  Village
 1                        Darjiling  West Bengal  1901000400013000  Village
 2                        Darjiling  West Bengal  1901000400012900  Village
 3                        Darjiling  West Bengal  1901000400012700  Village
 4                        Darjiling  West Bengal  1901000400013700  Village
 ...                            ...          ...               ...      ...
 41315  South  Twenty Four Parganas  West Bengal  1918002804068800  Village
 41316  South  Twenty Four Parganas  West Bengal  1918002404053800  Village
 41317  South  Twenty Four Parganas  West Bengal  1918002804068300  Village
 41318                   Barddhaman  West Bengal  1909000101229300  Village
 41319                   Barddhaman  West Bengal  1909000101229100  Village

        TOT_NM_HH  TOT_POP  M_POP  ...  T_MRG_HH  M_MRG_HH  F_MRG_HH  \
 0            293     1525    792  ...         0         0         0
 1            435     2572   1360  ...        10         2         8
 2           1555     8354   4276  ...       160        35       125
 3            199     1013    536  ...         1         1         0
 4            447     2549   1296  ...        22        11        11
 ...          ...      ...    ...  ...       ...       ...       ...
 41315          5       21     12  ...         0         0         0
 41316          0        0      0  ...         0         0         0
 41317        168      938    529  ...         2         1         1
 41318          7       48     29  ...         0         0         0
 41319          0        0      0  ...         0         0         0

        T_MRG_OTH  M_MRG_OTH  F_MRG_OTH  TOT_NNW  M_NNW  F_NNW  \
 0              7          5          2      695    332    363
 1             10          1          9     1538    648    890
 2             94         74         20     6446   2924   3522
 3              0          0          0      729    314    415
 4             30         12         18     1278    581    697
 ...          ...        ...        ...      ...    ...    ...
 41315          3          1          2       11      6      5
 41316          0          0          0        0      0      0
 41317         67         29         38      586    288    298
 41318          0          0          0       33     15     18
 41319          0          0          0        0      0      0

                                                 geometry
 0      POLYGON ((88.07893 27.19720, 88.07889 27.19710...
 1      POLYGON ((88.57555 27.18754, 88.57594 27.18747...
 2      POLYGON ((88.56373 27.18507, 88.56502 27.18440...
 3      POLYGON ((88.56373 27.18507, 88.56382 27.18427...
 4      POLYGON ((88.69715 27.14574, 88.69693 27.14600...
 ...                                                  ...
 41315  POLYGON ((88.27528 21.57029, 88.27618 21.57001...
 41316  POLYGON ((89.13595 21.57024, 89.13670 21.56538...
 41317  POLYGON ((88.24734 21.56577, 88.24854 21.56622...
 41318  POLYGON ((86.80760 23.82007, 86.81366 23.81900...
 41319  POLYGON ((86.81366 23.81900, 86.80760 23.82007...

 [41320 rows x 63 columns],
        VILLAGE_ID                  NAME     TEHSIL            DISTRICT  \
 0               1          Unknown Area   Ramnagar  Pashchim Champaran
 1               2           Bhaisalotan     Sidhaw  Pashchim Champaran
 2               3              Kalapani     Sidhaw  Pashchim Champaran
 3               4          Unknown Area     Sidhaw  Pashchim Champaran
 4               5                Tharhi     Sidhaw  Pashchim Champaran
 ...           ...                   ...        ...                 ...
 45648       45648  Chatra District Part  Pratappur              Chatra
 45649       45649             Phulwaria   Imamganj                Gaya
 45650       45650          Pakari Sohia   Imamganj                Gaya
 45651       45651                Pathra   Imamganj                Gaya
 45652       45652               Herhanj   Imamganj                Gaya

            STATE          C_CODE01    LEVEL  TOT_NM_HH  TOT_POP  M_POP  ...  \
 0          Bihar              None     None          0        0      0  ...
 1          Bihar  1001000100000200  Village       1766     9224   5108  ...
 2          Bihar  1001000100000100  Village          0        0      0  ...
 3          Bihar              None     None          0        0      0  ...
 4          Bihar  1001000100000300  Village        278     1625    866  ...
 ...          ...               ...      ...        ...      ...    ...  ...
 45648  Jharkhand              None  Village          0        0      0  ...
 45649      Bihar  1035001504104100  Village        220     1352    731  ...
 45650      Bihar  1035001504104200  Village        254     1543    808  ...
 45651      Bihar  1035001504120800  Village        136      662    332  ...
 45652      Bihar  1035001504120900  Village        108      595    310  ...

        T_MRG_HH  M_MRG_HH  F_MRG_HH  T_MRG_OTH  M_MRG_OTH  F_MRG_OTH  TOT_NNW  \
 0             0         0         0          0          0          0        0
 1            18         9         9        102         66         36     6577
 2             0         0         0          0          0          0        0
 3             0         0         0          0          0          0        0
 4             6         1         5         15          8          7     1148
 ...         ...       ...       ...        ...        ...        ...      ...
 45648         0         0         0          0          0          0        0
 45649         0         0         0          2          1          1      679
 45650         2         2         0          0          0          0      814
 45651         2         2         0          0          0          0      535
 45652         3         1         2          2          1          1      360

        M_NNW  F_NNW                                           geometry
 0          0      0  POLYGON ((84.09542 27.41715, 84.09459 27.41654...
 1       2921   3656  POLYGON ((83.90762 27.44133, 83.90865 27.44132...

In [531]:
joined_gdf_full

,state_left,year,zone,dtnmcoc_left,slnococ,tehnmcoc_left,vilnmcoc,sdnm_11,geometry,index_right,NAME,dtnmcoc_right,state_right,tehnmcoc_right,geometry_big
0,Bihar,2008-11,1,Samastipur,1,Samastipur,Fatehpur,Samastipur,POINT (85.74868 25.84460),119528,bikrampur bande,samastipur,bihar,samastipur,"POLYGON ((85.74223 25.85468, 85.74215 25.85404..."
1,Bihar,2008-11,1,Samastipur,2,Samastipur,Muktapur,Samastipur,POINT (85.75294 25.84970),119478,asinpur,samastipur,bihar,samastipur,"POLYGON ((85.75123 25.85661, 85.75135 25.85649..."
2,Bihar,2008-11,1,Samastipur,3,Dalsingsarai,Banghara,Dalsinghsarai,POINT (85.81624 25.66342),123085,pagra,samastipur,bihar,dalsinghsarai,"POLYGON ((85.81817 25.67291, 85.81973 25.67269..."
3,Bihar,2008-11,1,Madhubani,4,Madhubani,Saurath,Madhubani,POINT (86.05196 26.35940),108790,jagatpur,madhubani,bihar,madhubani,"POLYGON ((86.05422 26.38550, 86.05490 26.38531..."
4,Bihar,2008-11,1,Madhubani,4,Madhubani,Saurath,Madhubani,POINT (86.06495 26.38378),108806,jitwarpur,madhubani,bihar,madhubani,"POLYGON ((86.06011 26.38452, 86.06052 26.38480..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3467,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),59,MATHURAPUR-II,Kautala,Mathurapur - II,POINT (88.39996 22.05989),99777,kautala,south twenty four parganas,west bengal,mathurapur ii,"POLYGON ((88.38358 22.07822, 88.38495 22.07863..."
3468,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),59,MATHURAPUR-II,Madpur,Mathurapur - II,POINT (88.41894 22.09075),99599,madpur,south twenty four parganas,west bengal,mathurapur ii,"POLYGON ((88.41531 22.09286, 88.41542 22.09290..."
3469,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),60,BHANGORE-I,Rangsara,Bhangar - I,POINT (88.65039 22.51068),92181,rangsara,south twenty four parganas,west bengal,bhangar i,"POLYGON ((88.64702 22.51803, 88.64716 22.51805..."
3470,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),60,BHANGORE-I,Chandipur,Bhangar - I,POINT (88.64295 22.51316),92162,chandipur,south twenty four parganas,west bengal,bhangar i,"POLYGON ((88.64100 22.51993, 88.64166 22.51991..."
3471,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),60,BHANGORE-I,Santra,Bhangar - I,POINT (88.64297 22.49437),92435,santra,south twenty four parganas,west bengal,bhangar i,"POLYGON ((88.64098 22.50403, 88.64149 22.50404..."

In [506]:
joined_gdf_full.columns

Index(['state_left', 'year', 'zone', 'dtnmcoc_left', 'slnococ',
       'tehnmcoc_left', 'vilnmcoc', 'sdnm_11', 'index_right', 'NAME',
       'dtnmcoc_right', 'state_right', 'tehnmcoc_right', 'geometry'],
      dtype='object')

In [ ]:
joined_gdf_full.rename(columns={'geometry_y': 'geometry_big'}, inplace=True)

In [502]:
joined_gdf_full=joined_gdf_full.drop('geometry_big', axis=1)

In [500]:
joined_gdf_full['geometry'] = joined_gdf_full['geometry_big']

In [504]:
joined_gdf_full.to_file('Centroid-SOI-Mapping', shapefile = 'ESRI Shapefile')

/var/folders/kp/x_0hz4ts7716vsw090qqd8cc0000gn/T/ipykernel_1096/948938113.py:1: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  joined_gdf_full.to_file('Centroid-SOI-Mapping', shapefile = 'ESRI Shapefile')

In [499]:
joined_gdf_full

,state_left,year,zone,dtnmcoc_left,slnococ,tehnmcoc_left,vilnmcoc,sdnm_11,index_right,NAME,dtnmcoc_right,state_right,tehnmcoc_right,geometry_big
0,Bihar,2008-11,1,Samastipur,1,Samastipur,Fatehpur,Samastipur,119528,bikrampur bande,samastipur,bihar,samastipur,"POLYGON ((85.74223 25.85468, 85.74215 25.85404..."
1,Bihar,2008-11,1,Samastipur,2,Samastipur,Muktapur,Samastipur,119478,asinpur,samastipur,bihar,samastipur,"POLYGON ((85.75123 25.85661, 85.75135 25.85649..."
2,Bihar,2008-11,1,Samastipur,3,Dalsingsarai,Banghara,Dalsinghsarai,123085,pagra,samastipur,bihar,dalsinghsarai,"POLYGON ((85.81817 25.67291, 85.81973 25.67269..."
3,Bihar,2008-11,1,Madhubani,4,Madhubani,Saurath,Madhubani,108790,jagatpur,madhubani,bihar,madhubani,"POLYGON ((86.05422 26.38550, 86.05490 26.38531..."
4,Bihar,2008-11,1,Madhubani,4,Madhubani,Saurath,Madhubani,108806,jitwarpur,madhubani,bihar,madhubani,"POLYGON ((86.06011 26.38452, 86.06052 26.38480..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3467,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),59,MATHURAPUR-II,Kautala,Mathurapur - II,99777,kautala,south twenty four parganas,west bengal,mathurapur ii,"POLYGON ((88.38358 22.07822, 88.38495 22.07863..."
3468,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),59,MATHURAPUR-II,Madpur,Mathurapur - II,99599,madpur,south twenty four parganas,west bengal,mathurapur ii,"POLYGON ((88.41531 22.09286, 88.41542 22.09290..."
3469,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),60,BHANGORE-I,Rangsara,Bhangar - I,92181,rangsara,south twenty four parganas,west bengal,bhangar i,"POLYGON ((88.64702 22.51803, 88.64716 22.51805..."
3470,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),60,BHANGORE-I,Chandipur,Bhangar - I,92162,chandipur,south twenty four parganas,west bengal,bhangar i,"POLYGON ((88.64100 22.51993, 88.64166 22.51991..."
3471,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),60,BHANGORE-I,Santra,Bhangar - I,92435,santra,south twenty four parganas,west bengal,bhangar i,"POLYGON ((88.64098 22.50403, 88.64149 22.50404..."

In [495]:
joined_gdf_full.to_file('Centroid-SOI-Mapping', driver='ESRI Shapefile')

/var/folders/kp/x_0hz4ts7716vsw090qqd8cc0000gn/T/ipykernel_1096/1572883184.py:1: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  joined_gdf_full.to_file('Centroid-SOI-Mapping', driver='ESRI Shapefile')

ValueError: GeoDataFrame contains multiple geometry columns but GeoDataFrame.to_file supports only a single geometry column. Use a GeoDataFrame.to_parquet or GeoDataFrame.to_feather, drop additional geometry columns or convert them to a supported format like a well-known text (WKT) using `GeoSeries.to_wkt()`.

In [464]:
joined_gdf_full.sample(30)

,state_left,year,zone,dtnmcoc_left,slnococ,tehnmcoc_left,vilnmcoc,sdnm_11,geometry,index_right,NAME,dtnmcoc_right,state_right,tehnmcoc_right,geometry_big
920,Andhra Pradesh,2017-20,Zone V,Karimnagar,54,Husnabad,Janagoun,Husnabad,POINT (79.19778 18.07619),20078,jangaon,karimnagar,andhra pradesh,husnabad,"POLYGON ((79.18222 18.09491, 79.18222 18.09495..."
199,Bihar,2017-20,IIIA,Gaya,37,Gaya Sadar,Kosdihra,Gaya Town C.D.Block,POINT (84.97955 24.75615),143978,dubahal,gaya,bihar,gaya town cd block,"POLYGON ((84.96935 24.75712, 84.97267 24.75731..."
589,ASSAM,2011-14,IV,Bongaigaon,35,Bongaigaon,Bakhrapara,Katlichara,POINT (90.56516 26.46227),51794,bongaigaon deuripara [part],bongaigaon,assam,bongaigaon,"POLYGON ((90.55865 26.46826, 90.55940 26.46910..."
3265,West Bengal,2011-14,4,Murshidabad,42,NABAGRAM,Rasulpur,Nabagram,POINT (88.00410 24.17105),70874,rasulpur,murshidabad,west bengal,nabagram,"POLYGON ((88.00254 24.18491, 88.00297 24.18491..."
1439,Karnataka,2008-11,8,Gadag,41,Sirahatti,Abrakatti,Shirhatti,POINT (75.50486 15.12329),200649,adarakatti,gadag,karnataka,shirhatti,"POLYGON ((75.49075 15.13088, 75.49531 15.13285..."
609,ASSAM,2014-17,1,Bogoribari,1,Dhubri,chitalkati,Bagribari,POINT (90.05385 26.11364),57037,chitalkati,dhubri,assam,bagribari,"POLYGON ((90.05530 26.11986, 90.05665 26.12078..."
1470,Karnataka,2011-14,3,Bekgaum,27,Soundathi,Asundi,Parasgad,POINT (75.02209 15.75454),198657,asundi,belgaum,karnataka,parasgad,"POLYGON ((74.99846 15.77243, 75.00520 15.77290..."
960,Chhattisgarh,2014-17,1,Ambikapur,2,Sarguja,Parasa,Ambikapur,POINT (83.26522 23.19021),150376,parsa,surguja,chhattisgarh,ambikapur,"POLYGON ((83.25999 23.21586, 83.26402 23.21331..."
1520,Karnataka,2014-17,4,Chikkamagaluru,31,Kadur,Jodithimmapura,Kadur,POINT (75.95107 13.62034),207856,jodithimmapura,chikmagalur,karnataka,kadur,"POLYGON ((75.94546 13.62766, 75.95113 13.62797..."
2937,Uttar Pradesh,2011-14,5,Etah,32,Etah,Bawsa,Etah,POINT (78.57894 27.51853),521331,babsa,etah,uttarpradesh,etah,"POLYGON ((78.57371 27.52594, 78.57434 27.52577..."
2789,Tamil Nadu,2017-20,III,Thanjavur,24,Papanasam,Sarabojirajapuram,Papanasam,POINT (79.21585 10.90429),592972,sarapojirajapuram,thanjavur,tamil nadu,papanasam,"POLYGON ((79.21382 10.91486, 79.21391 10.91496..."
3333,West Bengal,2014-17,5,Bankura,47,Onda,Bahara Band,Onda,POINT (87.06018 23.11999),81740,bahara band,bankura,west bengal,onda,"POLYGON ((87.06145 23.12836, 87.06173 23.12834..."
427,Himachal Pradesh,2017-20,Low Hill,Kangra,8,Dera Gopipur,Muhal,Dera Gopipur,POINT (76.26301 31.89770),5593,kariara,kangra,himachal pradesh,dera gopipur,"POLYGON ((76.26945 31.90325, 76.27010 31.90306..."
645,ASSAM,2014-17,4,Dhekiajuli,37,Sonitpur,Kheru Kanda Pathar,Dhekiajuli,POINT (92.54550 26.71445),47888,keheru khanda pather gaon,sonitpur,assam,dhekiajuli,"POLYGON ((92.53484 26.72134, 92.53759 26.72160..."
329,Himachal Pradesh,2011-14,3,Kullu,30,Nirmand,Raimu,Nermand,POINT (77.51499 31.45958),8643,rahnu,kullu,himachal pradesh,nermand,"POLYGON ((77.50085 31.48578, 77.50189 31.48521..."
409,Himachal Pradesh,2014-17,2,Bangana/Una,9,Lakhroon,Manjyani,Bangana,POINT (76.34194 31.64862),5952,village point boundary,una,himachal pradesh,None,"POLYGON ((76.03469 31.86499, 76.03648 31.86468..."
3467,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),59,MATHURAPUR-II,Kautala,Mathurapur - II,POINT (88.39996 22.05989),99777,kautala,south twenty four parganas,west bengal,mathurapur ii,"POLYGON ((88.38358 22.07822, 88.38495 22.07863..."
558,ASSAM,2011-14,II,Jorhat,12,Jorhat East,Borkhat gaon,Jorhat East,POINT (94.35729 26.89209),45123,brahmaputra river,jorhat,assam,majuli,"POLYGON ((94.19152 26.93361, 94.19378 26.93207..."
57,Bihar,2011-14,1,Madhubani,4,Jhanjharpur,Behat,Jhanjharpur,POINT (86.24770 26.25615),111191,mahinathpur,madhubani,bihar,jhanjharpur,"POLYGON ((86.23387 26.26085, 86.23444 26.26060..."
447,Himachal Pradesh,2017-20,Low Hill,Mandi,16,Mandi (Sadar),Randhara,Mandi,POINT (76.89162 31.65739),7332,randhara,mandi,himachal pradesh,mandi,"POLYGON ((76.87910 31.66676, 76.88001 31.66608..."
683,ASSAM,2017-20,UBVZ,Jorhat,25,Chipahikhola,Naragaon,Jorhat East,POINT (94.35761 26.79168),46830,badulipukhuri maja gaon,jorhat,assam,teok,"POLYGON ((94.35680 26.79496, 94.35782 26.79347..."
2069,Madhya Pradesh,2014-17,10,Badwani,42,Rajpur,Rangaon road,Rajpur,POINT (75.17397 21.88270),464506,rengaon road,barwani,madhya pradesh,rajpur,"POLYGON ((75.18391 21.90765, 75.18420 21.90748..."
3003,Uttar Pradesh,2014-17,4,Sambhal,21,Gunnaur,Manak Pur,Gunnaur,POINT (78.56099 28.31182),562230,kauakhera,sambhal,uttarpradesh,gunnaur,"POLYGON ((78.55809 28.32284, 78.55837 28.32259..."
872,Andhra Pradesh,2017-20,Zone I,Visakapatnam,5,Butchayyapeta,Vijaya Ramaraju,Butchayyapeta,POINT (82.87966 17.85182),21844,vijayaramarajupeta,visakhapatnam,andhra pradesh,butchayyapeta,"POLYGON ((82.86192 17.86697, 82.86246 17.86667..."
3186,West Bengal,2008-11,IV,MURSHIDABAD,25,BURWAN,KATNA,Burwan,POINT (87.96964 23.95601),72192,katna,murshidabad,west bengal,burwan,"POLYGON ((87.97562 23.96143, 87.97564 23.96142..."
741,Andhra Pradesh,2008-11,IV,Mahabubnagar,38,Bijinapalle,Mangnoor,Bijinapalle,POINT (78.14946 16.57645),29764,manganur,mahbubnagar,andhra pradesh,bijinapalle,"POLYGON ((78.12206 16.60537, 78.12220 16.60608..."
2645,Rajasthan,2017-20,1,Jodhpur,8,Luni,Salawas,Luni,POINT (73.00518 26.12035),339001,salawas,jodhpur,rajasthan,luni,"POLYGON ((72.95718 26.15406, 72.95997 26.15577..."
3358,West Bengal,2017-20,III-New Alluvial,UTTAR DINAJPUR,9,KALIAGANJ,Shibpur,Kaliaganj,POINT (88.28004 25.60911),65553,shibpur,uttar dinajpur,west bengal,kaliaganj,"POLYGON ((88.27907 25.61834, 88.27968 25.61829..."
1744,MAHARASHTRA,2008-11,VIII,Yavatmal,55,Yavatmal,Borgaon,Yavatmal,POINT (78.19379 20.44933),267378,borgaon,yavatm>l,maharashtra,yavatm<l,"POLYGON ((78.21223 20.46349, 78.21206 20.46316..."
2729,Tamil Nadu,2008-11,3,THANJAVUR,25,THANJAVUR,THIRUKKANURPATTY,Thanjavur,POINT (79.07664 10.69891),593979,thirukanurpatti,thanjavur,tamil nadu,thanjavur,"POLYGON ((79.08353 10.72455, 79.08497 10.72446..."

In [459]:
import geopandas as gpd

# Path to your shapefile
shapefile_path = '/Users/rishivijaywargiya/Downloads/filtered_centroid.shp'

# Load the shapefile
gdf = gpd.read_file(shapefile_path)

# Display the first few rows of the GeoDataFrame
print(gdf.head())

DriverError: Unable to open /Users/rishivijaywargiya/Downloads/filtered_centroid.shx or /Users/rishivijaywargiya/Downloads/filtered_centroid.SHX. Set SHAPE_RESTORE_SHX config option to YES to restore or create it.

In [458]:
joined_gdf_full

,state_left,year,zone,dtnmcoc_left,slnococ,tehnmcoc_left,vilnmcoc,sdnm_11,geometry,index_right,NAME,dtnmcoc_right,state_right,tehnmcoc_right,geometry_big
0,Bihar,2008-11,1,Samastipur,1,Samastipur,Fatehpur,Samastipur,POINT (85.74868 25.84460),119528,bikrampur bande,samastipur,bihar,samastipur,"POLYGON ((85.74223 25.85468, 85.74215 25.85404..."
1,Bihar,2008-11,1,Samastipur,2,Samastipur,Muktapur,Samastipur,POINT (85.75294 25.84970),119478,asinpur,samastipur,bihar,samastipur,"POLYGON ((85.75123 25.85661, 85.75135 25.85649..."
2,Bihar,2008-11,1,Samastipur,3,Dalsingsarai,Banghara,Dalsinghsarai,POINT (85.81624 25.66342),123085,pagra,samastipur,bihar,dalsinghsarai,"POLYGON ((85.81817 25.67291, 85.81973 25.67269..."
3,Bihar,2008-11,1,Madhubani,4,Madhubani,Saurath,Madhubani,POINT (86.05196 26.35940),108790,jagatpur,madhubani,bihar,madhubani,"POLYGON ((86.05422 26.38550, 86.05490 26.38531..."
4,Bihar,2008-11,1,Madhubani,4,Madhubani,Saurath,Madhubani,POINT (86.06495 26.38378),108806,jitwarpur,madhubani,bihar,madhubani,"POLYGON ((86.06011 26.38452, 86.06052 26.38480..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3768,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),59,MATHURAPUR-II,Kautala,Mathurapur - II,POINT (88.39996 22.05989),99777,kautala,south twenty four parganas,west bengal,mathurapur ii,"POLYGON ((88.38358 22.07822, 88.38495 22.07863..."
3769,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),59,MATHURAPUR-II,Madpur,Mathurapur - II,POINT (88.41894 22.09075),99599,madpur,south twenty four parganas,west bengal,mathurapur ii,"POLYGON ((88.41531 22.09286, 88.41542 22.09290..."
3770,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),60,BHANGORE-I,Rangsara,Bhangar - I,POINT (88.65039 22.51068),92181,rangsara,south twenty four parganas,west bengal,bhangar i,"POLYGON ((88.64702 22.51803, 88.64716 22.51805..."
3771,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),60,BHANGORE-I,Chandipur,Bhangar - I,POINT (88.64295 22.51316),92162,chandipur,south twenty four parganas,west bengal,bhangar i,"POLYGON ((88.64100 22.51993, 88.64166 22.51991..."
3772,West Bengal,2017-20,VI- Coastal Saline,24-PARGANA(S),60,BHANGORE-I,Santra,Bhangar - I,POINT (88.64297 22.49437),92435,santra,south twenty four parganas,west bengal,bhangar i,"POLYGON ((88.64098 22.50403, 88.64149 22.50404..."

In [450]:
concatenated_gdf_big

,NAME,geometry,dtnmcoc,state,tehnmcoc
0,village point boundary,"POLYGON ((76.73598 33.18017, 76.73492 33.18101...",lahul & spiti,himachal pradesh,None
1,dhar chhoglu,"POLYGON ((76.55004 33.19772, 76.55082 33.19775...",chamba,himachal pradesh,pangi
2,dhar shinkal,"POLYGON ((76.52521 33.19414, 76.52596 33.19418...",chamba,himachal pradesh,pangi
3,sural bhatori,"POLYGON ((76.46151 33.17813, 76.46635 33.17894...",chamba,himachal pradesh,pangi
4,rusmas,"POLYGON ((76.39866 33.17477, 76.39969 33.17541...",chamba,himachal pradesh,pangi
...,...,...,...,...,...
599737,thenthamaraikulam,"POLYGON ((77.50307 8.11443, 77.50314 8.11415, ...",kanniyakumari,tamil nadu,agastheeswaram
599738,puthalam,"POLYGON ((77.45023 8.11175, 77.45247 8.11075, ...",kanniyakumari,tamil nadu,agastheeswaram
599739,agasteeswaram,"POLYGON ((77.51122 8.10797, 77.51540 8.10685, ...",kanniyakumari,tamil nadu,agastheeswaram
599740,kanniyakumari,"POLYGON ((77.54385 8.10316, 77.54398 8.10381, ...",kanniyakumari,tamil nadu,agastheeswaram
599741,thengamputhoor,"POLYGON ((77.46212 8.08817, 77.46205 8.08842, ...",kanniyakumari,tamil nadu,agastheeswaram

In [451]:
common_gdf

NameError: name 'common_gdf' is not defined

In [452]:
import geopandas as gpd

# Initialize a list to store GeoDataFrames with the matching rows

matched_gdfs = []

# Loop through each GeoDataFrame in the list
for i, gdf in enumerate(big_gdf_list):
    if 'NAME' in gdf.columns:
        # Filter rows where the NAME column matches 'Village Point Boundary'
        matches = gdf[gdf['NAME'] == 'Village Point Boundary']
        if not matches.empty:
            print(i)
            matched_gdfs.append(matches)

# Optionally, print or inspect the matched GeoDataFrames

# for match in matched_gdfs:
#     # print(match)

0
2

In [113]:
# Concatenate all filtered GeoDataFrames
concatenated_gdf = gpd.GeoDataFrame(pd.concat(filtered_gdfs, ignore_index=True))

ValueError: Cannot determine common CRS for concatenation inputs, got ['WGS 84', 'LCC_WGS84']. Use `to_crs()` to transform geometries to the same CRS before merging.

In [432]:
concatenated_gdf_small[concatenated_gdf_small['geometry']==None]

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry
122,Punjab,2017-20,1,Hoshiarpur,7,Mukerian,Raiya,None,None
761,Uttar Pradesh,2008-11,9,Ghazipur,64,Saidpur,Wahadiya,None,None
782,Uttar Pradesh,2011-14,3,Muzaffar Nagar,13,Kerana,Jaganpur,Kairana,None
789,Uttar Pradesh,2011-14,4,J.P.Nagar,20,Amroha,Nasir-Nagla,Amroha,None
798,Uttar Pradesh,2011-14,4,J.P.Nagar,25,Hasanpur,Sahwajjpur-Dhor,Hasanpur,None
...,...,...,...,...,...,...,...,...,...
2399,Jharkhand,2014-17,1,Saheb ganj,6,Saheb ganj,Badi bochahi,None,None
2400,Jharkhand,2014-17,1,Godda,7,Godda,Ghatbanka,None,None
2420,Jharkhand,2017-20,2,Palamau,11,Palamau,Barigama,None,None
3624,Rajasthan,2011-14,7,Udaipur,49,Mavli,Sanwad,None,None
3657,Rajasthan,2014-17,3,Sikar,16,Nim ka Thana,Ghavdi,None,None

In [586]:
concatenated_gdf.to_file('all-villages-shapes', driver='ESRI Shapefile')

In [508]:
concatenated_gdf_none = concatenated_gdf[concatenated_gdf['geometry-polygon']==None]

In [393]:
concatenated_gdf_none_all_none = concatenated_gdf_none[concatenated_gdf_none['geometry']==None]

In [395]:
concatenated_gdf_none_all_none.shape

(54, 10)

In [311]:
import pandas as pd

# Assume 'df' is your DataFrame and 'column_name' is the name of the column you're interested in
missing_count = concatenated_gdf['geometry'].isna().sum()

print(f"Number of missing (None or NaN) values in 'column_name': {missing_count}")

Number of missing (None or NaN) values in 'column_name': 0

In [312]:
import pandas as pd

# Assume 'df' is your DataFrame and 'column_name' is the name of the column you're interested in
missing_count = coc_gdf['geometry'].isna().sum()

print(f"Number of missing (None or NaN) values in 'column_name': {missing_count}")

Number of missing (None or NaN) values in 'column_name': 54

In [427]:
missing = coc_gdf[coc_gdf['geometry']==None]

In [429]:
missing.shape

(54, 9)

In [315]:
missing.to_csv('missing-geometry-centroid-file.csv')

In [ ]:
# List of all your GeoDataFrames
geo_dfs = [
    coc_gdf_punjab, coc_gdf_bihar, coc_gdf_uttarakhand, coc_gdf_chattisgarh, 
    coc_gdf_gujarat, coc_gdf_UP, coc_gdf_karnataka, 
    coc_gdf_bengal, coc_gdf_MP, coc_gdf_orissa, coc_gdf_Himachal, 
    coc_gdf_haryana, coc_gdf_jhar, coc_gdf_kerala, coc_gdf_assam, coc_gdf_tamil, coc_gdf_maha, coc_gdf_andra, 
    coc_gdf_rajasthan
]

In [456]:
addition_gdf['geometry'] = None

In [457]:
addition_gdf

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry
688,Uttar Pradesh,2008-11,2,Khiri,2,Nighasan,Lalpur,Nighasan,None
689,Uttar Pradesh,2008-11,2,Balrampur,3,Utraula,Etai-Rampur,Utraula,None
691,Uttar Pradesh,2008-11,2,Khiri,5,Nighasan,Raickhati,Nighasan,None
706,Uttar Pradesh,2008-11,4,Badayun,21,Sahaswan,Khandak,Sahaswan,None
707,Uttar Pradesh,2008-11,4,Badayun,21,Sahaswan,Petam Nagar,Sahaswan,None
...,...,...,...,...,...,...,...,...,...
1883,Orissa,2017-20,III,Deogarh,34,Reamal,Kadopada,Reamal,None
1886,Orissa,2017-20,III,Boudh,37,Harabhanga,Pitambarpur,Puruna Katak,None
1888,Orissa,2017-20,III,Angul,39,Angul,Chheliapada,Anugul,None
1891,Orissa,2017-20,IV,Keonjhar,42,Banspal,Rugudi (Village - 2),Champua,None
1892,Orissa,2017-20,IV,Keonjhar,43,Patana,Purunia,Patana,None

In [459]:
orissa_gdf

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry
1696,Orissa,2008-11,I,Balasore,1,Nilgiri,Matiali,Berhampur,None
1697,Orissa,2008-11,I,Balasore,2,Khaira,Antara,Similia,None
1701,Orissa,2008-11,I,Jagatsinghpur,6,Balikuda,"Chanarpur,Garam",Balikuda,None
1702,Orissa,2008-11,I,Jajpur,7,Badachana,"Anaka,Rahala",Balichandrapur,None
1707,Orissa,2008-11,I,Khurda,12,Balipatna,Badala sasan,Balipatna,None
1715,Orissa,2008-11,II,Nabarangpur,21,Nandahandi,Nandahandi,Nabarangapur,None
1723,Orissa,2008-11,III,Sonepur,29,Dunguripali,Khuntupali,Dunguripali,None
1727,Orissa,2008-11,III,Deogarh,33,Teleibani,Terendakata,Reamal,None
1732,Orissa,2008-11,III,Boudh,36,Harabhanga,"Puruna Kataka, Kamalapur,Salakata",Harbhanga,None
1734,Orissa,2008-11,III,Angul,38,Chhendipada,Chhendipada Jungle,Chhendipada,None
1735,Orissa,2008-11,III,Angul,39,Pallahara,Odasha,Khamar,None
1738,Orissa,2008-11,IV,Keonjhar,42,Anandpur,Salabani,Anandapur,None
1739,Orissa,2008-11,IV,Keonjhar,43,Hatadihi,Sadha,Soso,None
1742,Orissa,2011-14,1,Balasore,1,Jaleswar,Bartana,Jaleswar,None
1743,Orissa,2011-14,1,Balasore,1,Jaleswar,Bartana,Jaleswar,None
1748,Orissa,2011-14,1,Jagatsinghpur,6,Balikuda,Garam,Balikuda,None
1749,Orissa,2011-14,1,Jajpur,7,Dharmasala,Sankharidiha,Dharmasala,None
1758,Orissa,2011-14,1,Puri,10,Pipili,Mangalpur,Pipili,None
1760,Orissa,2011-14,1,Khurda,12,Tangi,Badapokharia,Tangi,None
1768,Orissa,2011-14,2,Nabarangpur,20,Papadahandi,Mokiya,Paparahandi,None
1777,Orissa,2011-14,3,Sonepur,29,Sonepur,Panisiali,Sonapur,None
1782,Orissa,2011-14,3,Deogarh,34,Reamal,Tinkbir,Reamal,None
1787,Orissa,2011-14,3,Angul,39,Athamallik,Thakurgada,Athmallik,None
1791,Orissa,2011-14,4,Keonjhar,42,Anandpur,Panchupali,Ghasipura,None
1792,Orissa,2011-14,4,Keonjhar,43,Ghasipura,Bhaganai,Sainkul,None
1795,Orissa,2014-17,1,Balasore,1,Remuna,Silasuan,Remuna,None
1796,Orissa,2014-17,1,Balasore,2,Simulia,Balikana,Similia,None
1800,Orissa,2014-17,1,Jagatsinghpur,6,Ersama,Harippa,Ersama,None
1801,Orissa,2014-17,1,Jajpur,7,Barchana,Baula,Badachana,None
1802,Orissa,2014-17,1,Jajpur,8,Korei,Badatrilochanpur,Korai,None
1806,Orissa,2014-17,1,Khurda,12,Banpur,Jhitikapally,Banapur,None
1814,Orissa,2014-17,2,Nabarangpur,20,Umerkote,Beheda,Umarkote,None
1815,Orissa,2014-17,2,Nabarangpur,21,Kosagumunda,Kosagumuda,Kodinga,None
1823,Orissa,2014-17,3,Sonepur,29,Binka,Mahadevpali,Binika,None
1828,Orissa,2014-17,3,Deogarh,34,Barkote,Bamparda,Barkot,None
1831,Orissa,2014-17,3,Boudh,37,Kantamal,Kapasira,Manamunda,None
1832,Orissa,2014-17,3,Dhenkanal,38,Hindol,Gandanali,Soso,None
1833,Orissa,2014-17,3,Angul,39,Chhendipada,Tukuda,Jarapada,None
1836,Orissa,2014-17,4,Keonjhar,42,Hatadihi,Sadha,Soso,None
1837,Orissa,2014-17,4,Keonjhar,43,Anandapur,Fakirpur,Kendujhar Sadar,None
1840,Orissa,2017-20,I,Balasore,1,Jaleswar,Chalanti,Jaleswar,None
1841,Orissa,2017-20,I,Balasore,2,Basta,Paschim Simulia,Basta,None
1845,Orissa,2017-20,I,Jagatsinghpur,6,Kujang,Gorada,Kujang,None
1846,Orissa,2017-20,I,Jajpur,7,Dharmasala,Badachanabari,Dharmasala,None
1852,Orissa,2017-20,I,Khordha,11,Balianta,Singiri Sasana,Balipatna,None
1867,Orissa,2017-20,II,Nabarangpur,20,Papadahandi,Sirisi,Paparahandi,None
1868,Orissa,2017-20,II,Nabarangpur,21,Umerkote,Pujaribharandi ( Village - 1),Umarkote,None
1869,Orissa,2017-20,II,Nabarangpur,21,Umerkote,Chikalpadar (Village - 2),Umarkote,None
1883,Orissa,2017-20,III,Deogarh,34,Reamal,Kadopada,Reamal,None
1886,Orissa,2017-20,III,Boudh,37,Harabhanga,Pitambarpur,Puruna Katak,None
1888,Orissa,2017-20,III,Angul,39,Angul,Chheliapada,Anugul,None
1891,Orissa,2017-20,IV,Keonjhar,42,Banspal,Rugudi (Village - 2),Champua,None
1892,Orissa,2017-20,IV,Keonjhar,43,Patana,Purunia,Patana,None

In [322]:
village_list = pd.read_csv('/Users/rishivijaywargiya/Downloads/Final-Merged-Data(2008 - 2020)1.csv')

In [323]:
village_list

,Zone No,Tehsil Code,Tehsil Name,District Name,Village Name,State Name,Year
0,IV,40,Puduru,Ranga Reddy,pedhaumethala,Andhra Pradesh,2008-2011
1,V,49,Sadasivpet,Medak,nandi kandi,Andhra Pradesh,2008-2011
2,V,50,Zaiheerabad,Medak,huggelly,Andhra Pradesh,2008-2011
3,I,1,Etheria,Srikakulam,ponnada,Andhra Pradesh,2008-2011
4,I,2,Tekkali,Srikakulam,tirlangi,Andhra Pradesh,2008-2011
...,...,...,...,...,...,...,...
4108,Zone V,56,Chegunta,Medak,narsingi,Andhra Pradesh & Telangana,2017-2020
4109,Zone V,57,Doultabad,Medak,raipole,Andhra Pradesh & Telangana,2017-2020
4110,Zone V,58,Shayampet,Warangal,peddakodepaka,Andhra Pradesh & Telangana,2017-2020
4111,Zone V,59,Chityal,Warangal,jookal,Andhra Pradesh & Telangana,2017-2020
4112,Zone V,60,Palakurthi,Warangal,vavilala,Andhra Pradesh & Telangana,2017-2020

In [324]:
concatenated_gdf_small

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry
0,Punjab,2008-11,1,Gurdaspur,1,Gurdaspur,Lakhowal,Gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373..."
1,Punjab,2008-11,1,Gurdaspur,2,Batala,Ammo Nagal,Batala,"POLYGON ((75.24774 31.75000, 75.24879 31.75118..."
2,Punjab,2008-11,1,Amrtisar,3,Ajnala,Bhalapind,Ajnala,"POLYGON ((74.78681 31.79373, 74.78854 31.79339..."
3,Punjab,2008-11,1,Amritsar,4,Amritsar-I,Ballian Manjpur,Amritsar I,"POLYGON ((75.08233 31.59099, 75.08259 31.59082..."
4,Punjab,2008-11,1,Tarntarn,5,Patti,Kirtowal,Patti,"POLYGON ((74.90056 31.21235, 74.90026 31.21180..."
...,...,...,...,...,...,...,...,...,...
3768,Rajasthan,2017-20,9,Kota,56,Digod,Sultanpur,Digod,"POLYGON ((76.13732 25.30970, 76.13781 25.31034..."
3769,Rajasthan,2017-20,9,Bundi,57,Hindoli,Badodiya,Hindoli,"POLYGON ((75.56267 25.51453, 75.56316 25.51453..."
3770,Rajasthan,2017-20,9,Bundi,58,Talera,Jakhamund,Bundi,"POLYGON ((75.75674 25.25866, 75.75697 25.25882..."
3771,Rajasthan,2017-20,9,Baran,59,Krishnganj,Maharwata,Kishanganj,"POLYGON ((76.63089 25.14469, 76.63319 25.14469..."
3772,Rajasthan,2017-20,9,Jhalawar,60,Jhalrapatan,Bhawrasa,Jhalrapatan,"POLYGON ((76.23306 24.52334, 76.23324 24.52298..."

In [325]:
concatenated_gdf_small.columns

Index(['state', 'year', 'zone', 'dtnmcoc', 'slnococ', 'tehnmcoc', 'vilnmcoc',
       'sdnm_11', 'geometry'],
      dtype='object')

In [326]:
village_list.columns

Index(['Zone No', 'Tehsil Code', 'Tehsil Name', 'District Name',
       'Village Name', 'State Name', 'Year'],
      dtype='object')

In [327]:
# Renaming columns
village_list.rename(columns={'Tehsil Name': 'tehnmcoc', 'Village Name': 'vilnmcoc-VL', 'State Name': 'state', 'District Name': 'dtnmcoc'}, inplace=True)

In [328]:
village_list.columns

Index(['Zone No', 'Tehsil Code', 'tehnmcoc', 'dtnmcoc', 'vilnmcoc-VL', 'state',
       'Year'],
      dtype='object')

In [330]:
concatenated_gdf_small

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry
0,Punjab,2008-11,1,Gurdaspur,1,Gurdaspur,Lakhowal,Gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373..."
1,Punjab,2008-11,1,Gurdaspur,2,Batala,Ammo Nagal,Batala,"POLYGON ((75.24774 31.75000, 75.24879 31.75118..."
2,Punjab,2008-11,1,Amrtisar,3,Ajnala,Bhalapind,Ajnala,"POLYGON ((74.78681 31.79373, 74.78854 31.79339..."
3,Punjab,2008-11,1,Amritsar,4,Amritsar-I,Ballian Manjpur,Amritsar I,"POLYGON ((75.08233 31.59099, 75.08259 31.59082..."
4,Punjab,2008-11,1,Tarntarn,5,Patti,Kirtowal,Patti,"POLYGON ((74.90056 31.21235, 74.90026 31.21180..."
...,...,...,...,...,...,...,...,...,...
3768,Rajasthan,2017-20,9,Kota,56,Digod,Sultanpur,Digod,"POLYGON ((76.13732 25.30970, 76.13781 25.31034..."
3769,Rajasthan,2017-20,9,Bundi,57,Hindoli,Badodiya,Hindoli,"POLYGON ((75.56267 25.51453, 75.56316 25.51453..."
3770,Rajasthan,2017-20,9,Bundi,58,Talera,Jakhamund,Bundi,"POLYGON ((75.75674 25.25866, 75.75697 25.25882..."
3771,Rajasthan,2017-20,9,Baran,59,Krishnganj,Maharwata,Kishanganj,"POLYGON ((76.63089 25.14469, 76.63319 25.14469..."
3772,Rajasthan,2017-20,9,Jhalawar,60,Jhalrapatan,Bhawrasa,Jhalrapatan,"POLYGON ((76.23306 24.52334, 76.23324 24.52298..."

In [331]:
merged_df = pd.merge(concatenated_gdf_small, village_list, on=['tehnmcoc', 'dtnmcoc', 'state'], how='inner')

In [332]:
merged_df

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry,Zone No,Tehsil Code,vilnmcoc-VL,Year
0,Punjab,2008-11,1,Gurdaspur,1,Gurdaspur,Lakhowal,Gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",I,1,shaikha,2011-2014
1,Punjab,2008-11,1,Gurdaspur,1,Gurdaspur,Lakhowal,Gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",I,1.0,jhoroli,2014-2017
2,Punjab,2008-11,1,Gurdaspur,1,Gurdaspur,Lakhowal,Gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",I,1.0,pachowal,2014-2017
3,Punjab,2008-11,1,Gurdaspur,1,Gurdaspur,Lakhowal,Gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",I,3,bhandal,2017-2020
4,Punjab,2008-11,1,Gurdaspur,1,Gurdaspur,Lakhowal,Gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",I,3,kala goraya,2017-2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5388,Rajasthan,2017-20,9,Kota,56,Digod,Sultanpur,Digod,"POLYGON ((76.13732 25.30970, 76.13781 25.31034...",ZONE-IX,56,sultanpur,2017-2020
5389,Rajasthan,2017-20,9,Bundi,57,Hindoli,Badodiya,Hindoli,"POLYGON ((75.56267 25.51453, 75.56316 25.51453...",ZONE-IX,57,badodiya,2017-2020
5390,Rajasthan,2017-20,9,Bundi,58,Talera,Jakhamund,Bundi,"POLYGON ((75.75674 25.25866, 75.75697 25.25882...",ZONE-IX,58,jakhamund,2017-2020
5391,Rajasthan,2017-20,9,Baran,59,Krishnganj,Maharwata,Kishanganj,"POLYGON ((76.63089 25.14469, 76.63319 25.14469...",ZONE-IX,59,maharwata,2017-2020
5392,Rajasthan,2017-20,9,Jhalawar,60,Jhalrapatan,Bhawrasa,Jhalrapatan,"POLYGON ((76.23306 24.52334, 76.23324 24.52298...",ZONE-IX,60,bhawrasa,2017-2020

In [241]:
merged_df = pd.merge(concatenated_gdf_small, village_list, on=['tehnmcoc', 'dtnmcoc', 'state'], how='outer', indicator=True)

# Filter to find rows that did not match from concatenated_gdf_small
unmerged_concatenated_gdf_small = merged_df[merged_df['_merge'] == 'left_only']

# Filter to find rows that did not match from village_list
unmerged_village_list = merged_df[merged_df['_merge'] == 'right_only']

In [223]:
unmerged_concatenated_gdf_small

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry,Zone No,Tehsil Code,vilnmcoc-VL,Year,_merge
144,Punjab,2008-11,1,Fatehgarh Shaib,10,Fatehgarh Shaib,Badali Ala Singh,Fatehgarh Sahib,"POLYGON ((76.52383 30.64982, 76.52425 30.64958...",NaN,NaN,NaN,NaN,left_only
170,Punjab,2008-11,2,Jalandhar,13,Jalandhar-I,Beaspind,Jalandhar I,"POLYGON ((75.62039 31.45333, 75.62058 31.45336...",NaN,NaN,NaN,NaN,left_only
268,Punjab,2011-14,1,Nawan.Shahar,7,Nawan Shahar,Garcha,Nawanshahr,"POLYGON ((76.04733 31.08587, 76.04858 31.08564...",NaN,NaN,NaN,NaN,left_only
711,Bihar,2011-14,2,Saharsa,15,Simari Bakhtiarpur,Mahakhar,Simri,"POLYGON ((84.12232 25.63581, 84.12226 25.63605...",NaN,NaN,NaN,NaN,left_only
712,Bihar,2011-14,2,Saharsa,15,Simari Bakhtiarpur,Mahakhar,Simri,"POLYGON ((84.13519 25.64686, 84.13602 25.64673...",NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5930,Andhra Pradesh,2017-20,Zone V,Medak,56,Chegunta,Narsingi,Chegunta,"POLYGON ((78.42583 18.05796, 78.42748 18.05770...",NaN,NaN,NaN,NaN,left_only
5931,Andhra Pradesh,2017-20,Zone V,Medak,57,Doultabad,Raipole,Doultabad,"POLYGON ((78.61108 17.94727, 78.61143 17.94748...",NaN,NaN,NaN,NaN,left_only
5932,Andhra Pradesh,2017-20,Zone V,Warangal,58,Shayampet,Peddakodepaka,Shayampet,"POLYGON ((79.72748 18.19270, 79.72867 18.19208...",NaN,NaN,NaN,NaN,left_only
5933,Andhra Pradesh,2017-20,Zone V,Warangal,59,Chityal,Jookal,Chityal,"POLYGON ((79.69366 18.31366, 79.69440 18.31422...",NaN,NaN,NaN,NaN,left_only
5934,Andhra Pradesh,2017-20,Zone V,Warangal,60,Palakurthi,Vavilala,Palakurthi,"POLYGON ((79.47035 17.61842, 79.47202 17.62111...",NaN,NaN,NaN,NaN,left_only

In [291]:
state_concat = concatenated_gdf_small['state'].unique()
state_VL = unmerged_village_list['state'].unique()

In [292]:
state_concat

array(['Punjab', 'Bihar', 'Uttarakhand', 'Chhattisgarh', 'Gujarat',
       'Uttar Pradesh', 'Karnataka', 'West Bengal', 'Madhya Pradesh',
       'Orissa', 'Himachal Pradesh', 'Haryana', 'Jharkhand', 'Kerala',
       'ASSAM', 'Tamil Nadu', 'MAHARASHTRA', 'Andhra Pradesh',
       'Rajasthan'], dtype=object)

In [293]:
state_VL

array(['Andhra Pradesh', 'Assam', 'Chhattisgarh', 'Gujrat', 'Maharastra',
       'Punjab', 'Tamil Nadu', 'West Bengal', 'Himachal Pradesh',
       'Karnataka', 'Bihar', 'Haryana', 'Kerala', 'Odisha',
       'Madhya Pradesh', 'Chattisgarh', 'Jharkhand', 'Maharashtra',
       'Uttar Pradesh', 'Haryana ', 'Andhra Pradesh & Telangana '],
      dtype=object)

In [370]:
concaconcatenated_gdf_small =concatenated_gdf_small.apply(lambda col: col.str.lower() if col.dtypes == 'object' else col)
village_list =village_list.apply(lambda col: col.str.lower() if col.dtypes == 'object' else col)

In [371]:
concaconcatenated_gdf_small

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry
0,punjab,2008-11,1,gurdaspur,1,gurdaspur,lakhowal,gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373..."
1,punjab,2008-11,1,gurdaspur,2,batala,ammo nagal,batala,"POLYGON ((75.24774 31.75000, 75.24879 31.75118..."
2,punjab,2008-11,1,amrtisar,3,ajnala,bhalapind,ajnala,"POLYGON ((74.78681 31.79373, 74.78854 31.79339..."
3,punjab,2008-11,1,amritsar,4,amritsar-i,ballian manjpur,amritsar i,"POLYGON ((75.08233 31.59099, 75.08259 31.59082..."
4,punjab,2008-11,1,tarntarn,5,patti,kirtowal,patti,"POLYGON ((74.90056 31.21235, 74.90026 31.21180..."
...,...,...,...,...,...,...,...,...,...
3768,rajasthan,2017-20,9,kota,56,digod,sultanpur,digod,"POLYGON ((76.13732 25.30970, 76.13781 25.31034..."
3769,rajasthan,2017-20,9,bundi,57,hindoli,badodiya,hindoli,"POLYGON ((75.56267 25.51453, 75.56316 25.51453..."
3770,rajasthan,2017-20,9,bundi,58,talera,jakhamund,bundi,"POLYGON ((75.75674 25.25866, 75.75697 25.25882..."
3771,rajasthan,2017-20,9,baran,59,krishnganj,maharwata,kishanganj,"POLYGON ((76.63089 25.14469, 76.63319 25.14469..."
3772,rajasthan,2017-20,9,jhalawar,60,jhalrapatan,bhawrasa,jhalrapatan,"POLYGON ((76.23306 24.52334, 76.23324 24.52298..."

In [372]:
village_list

,Zone No,Tehsil Code,tehnmcoc,dtnmcoc,vilnmcoc-VL,state,Year
0,iv,40,puduru,ranga reddy,pedhaumethala,andhra pradesh,2008-2011
1,v,49,sadasivpet,medak,nandi kandi,andhra pradesh,2008-2011
2,v,50,zaiheerabad,medak,huggelly,andhra pradesh,2008-2011
3,i,1,etheria,srikakulam,ponnada,andhra pradesh,2008-2011
4,i,2,tekkali,srikakulam,tirlangi,andhra pradesh,2008-2011
...,...,...,...,...,...,...,...
4108,zone v,56,chegunta,medak,narsingi,andhra pradesh,2017-2020
4109,zone v,57,doultabad,medak,raipole,andhra pradesh,2017-2020
4110,zone v,58,shayampet,warangal,peddakodepaka,andhra pradesh,2017-2020
4111,zone v,59,chityal,warangal,jookal,andhra pradesh,2017-2020
4112,zone v,60,palakurthi,warangal,vavilala,andhra pradesh,2017-2020

In [373]:
len(village_list['state'].unique())

19

In [374]:
len(concaconcatenated_gdf_small['state'].unique())

19

In [375]:
village_list['state'] = village_list['state'].apply(lambda x: 'chhattisgarh' if x == 'chattisgarh' else x)
village_list['state'] = village_list['state'].apply(lambda x: 'gujarat' if x == 'gujrat' else x)
village_list['state'] = village_list['state'].apply(lambda x: 'haryana' if x == 'haryana ' else x)
village_list['state'] = village_list['state'].apply(lambda x: 'andhra pradesh' if x == 'andhra pradesh & telangana ' else x)
village_list['state'] = village_list['state'].apply(lambda x: 'orissa' if x == 'odisha' else x)
village_list['state'] = village_list['state'].apply(lambda x: 'maharashtra' if x == 'maharastra' else x)

In [376]:
village_list['dtnmcoc'] = village_list['dtnmcoc'].apply(lambda x: 'sibasagar' if x == 'sivasagar' else x)
village_list['dtnmcoc'] = village_list['dtnmcoc'].apply(lambda x: 'north lakhimpur' if x == 'n. lakhimpur' else x)
village_list['dtnmcoc'] = village_list['dtnmcoc'].apply(lambda x: 'korba' if x == ' korba' else x)
village_list['dtnmcoc'] = village_list['dtnmcoc'].apply(lambda x: 'baloda bazar' if x == 'balodabazar' else x)

In [377]:
concaconcatenated_gdf_small[concaconcatenated_gdf_small['state']=='chhattisgarh']['dtnmcoc'].unique()

array(['janjgir', 'bilaspur', 'korba', 'raigarh', 'jashpurnagar',
       'sarguja', 'rajnandgoan', 'raipur', 'mahasamund', 'durg', 'bastar',
       'kawardha', 'janjgeer', 'jashpur', 'rajnandgaon', 'dhamtari',
       'ambikapur', 'ramanuj nagar', 'arang', 'dabhara', 'kharasia',
       'khairagarh', 'saraypali', 'surajpur', 'gariaband', 'baloda bazar',
       'bemetara', 'kanker'], dtype=object)

In [378]:
concaconcatenated_gdf_small

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry
0,punjab,2008-11,1,gurdaspur,1,gurdaspur,lakhowal,gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373..."
1,punjab,2008-11,1,gurdaspur,2,batala,ammo nagal,batala,"POLYGON ((75.24774 31.75000, 75.24879 31.75118..."
2,punjab,2008-11,1,amrtisar,3,ajnala,bhalapind,ajnala,"POLYGON ((74.78681 31.79373, 74.78854 31.79339..."
3,punjab,2008-11,1,amritsar,4,amritsar-i,ballian manjpur,amritsar i,"POLYGON ((75.08233 31.59099, 75.08259 31.59082..."
4,punjab,2008-11,1,tarntarn,5,patti,kirtowal,patti,"POLYGON ((74.90056 31.21235, 74.90026 31.21180..."
...,...,...,...,...,...,...,...,...,...
3768,rajasthan,2017-20,9,kota,56,digod,sultanpur,digod,"POLYGON ((76.13732 25.30970, 76.13781 25.31034..."
3769,rajasthan,2017-20,9,bundi,57,hindoli,badodiya,hindoli,"POLYGON ((75.56267 25.51453, 75.56316 25.51453..."
3770,rajasthan,2017-20,9,bundi,58,talera,jakhamund,bundi,"POLYGON ((75.75674 25.25866, 75.75697 25.25882..."
3771,rajasthan,2017-20,9,baran,59,krishnganj,maharwata,kishanganj,"POLYGON ((76.63089 25.14469, 76.63319 25.14469..."
3772,rajasthan,2017-20,9,jhalawar,60,jhalrapatan,bhawrasa,jhalrapatan,"POLYGON ((76.23306 24.52334, 76.23324 24.52298..."

In [379]:
village_list[village_list['state']=='chhattisgarh']['dtnmcoc'].unique()

array(['janjgir', 'bilaspur', 'korba', 'raigarh', 'jashpurnagar',
       'sarguja', 'rajnandgoan', 'raipur', 'mahasamund', 'durg', 'bastar',
       'kawardha', 'janjgeer', 'jashpur', 'rajnandgaon', 'dhamtari',
       'surajpur', 'bemetara', 'baloda bazar', 'mungeli', 'gariaband',
       'kanker'], dtype=object)

In [380]:
len(big_gdf_Karnataka_main['DISTRICT'].unique())

27

In [381]:
print(len(village_list['state'].unique()))

19

In [382]:
village_list['tehnmcoc'] = village_list['tehnmcoc'].str.rstrip()
village_list['dtnmcoc'] = village_list['dtnmcoc'].str.rstrip()
village_list['vilnmcoc-VL'] = village_list['vilnmcoc-VL'].str.rstrip()
village_list['state'] = village_list['state'].str.rstrip()

In [383]:
village_list

,Zone No,Tehsil Code,tehnmcoc,dtnmcoc,vilnmcoc-VL,state,Year
0,iv,40,puduru,ranga reddy,pedhaumethala,andhra pradesh,2008-2011
1,v,49,sadasivpet,medak,nandi kandi,andhra pradesh,2008-2011
2,v,50,zaiheerabad,medak,huggelly,andhra pradesh,2008-2011
3,i,1,etheria,srikakulam,ponnada,andhra pradesh,2008-2011
4,i,2,tekkali,srikakulam,tirlangi,andhra pradesh,2008-2011
...,...,...,...,...,...,...,...
4108,zone v,56,chegunta,medak,narsingi,andhra pradesh,2017-2020
4109,zone v,57,doultabad,medak,raipole,andhra pradesh,2017-2020
4110,zone v,58,shayampet,warangal,peddakodepaka,andhra pradesh,2017-2020
4111,zone v,59,chityal,warangal,jookal,andhra pradesh,2017-2020
4112,zone v,60,palakurthi,warangal,vavilala,andhra pradesh,2017-2020

In [384]:
concaconcatenated_gdf_small

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry
0,punjab,2008-11,1,gurdaspur,1,gurdaspur,lakhowal,gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373..."
1,punjab,2008-11,1,gurdaspur,2,batala,ammo nagal,batala,"POLYGON ((75.24774 31.75000, 75.24879 31.75118..."
2,punjab,2008-11,1,amrtisar,3,ajnala,bhalapind,ajnala,"POLYGON ((74.78681 31.79373, 74.78854 31.79339..."
3,punjab,2008-11,1,amritsar,4,amritsar-i,ballian manjpur,amritsar i,"POLYGON ((75.08233 31.59099, 75.08259 31.59082..."
4,punjab,2008-11,1,tarntarn,5,patti,kirtowal,patti,"POLYGON ((74.90056 31.21235, 74.90026 31.21180..."
...,...,...,...,...,...,...,...,...,...
3768,rajasthan,2017-20,9,kota,56,digod,sultanpur,digod,"POLYGON ((76.13732 25.30970, 76.13781 25.31034..."
3769,rajasthan,2017-20,9,bundi,57,hindoli,badodiya,hindoli,"POLYGON ((75.56267 25.51453, 75.56316 25.51453..."
3770,rajasthan,2017-20,9,bundi,58,talera,jakhamund,bundi,"POLYGON ((75.75674 25.25866, 75.75697 25.25882..."
3771,rajasthan,2017-20,9,baran,59,krishnganj,maharwata,kishanganj,"POLYGON ((76.63089 25.14469, 76.63319 25.14469..."
3772,rajasthan,2017-20,9,jhalawar,60,jhalrapatan,bhawrasa,jhalrapatan,"POLYGON ((76.23306 24.52334, 76.23324 24.52298..."

In [385]:
state_VL_District = {}
for state_VL in village_list['state'].unique():
    district_list = village_list[village_list['state']==state_VL]['dtnmcoc'].unique()
    state_VL_District[state_VL] = district_list

In [386]:
state_SOI_District = {}
for state_SOI in concaconcatenated_gdf_small['state'].unique():
    district_list = concaconcatenated_gdf_small[concaconcatenated_gdf_small['state']==state_SOI]['dtnmcoc'].unique()
    state_SOI_District[state_SOI] = district_list

In [387]:
state_VL_District

{'andhra pradesh': array(['ranga reddy', 'medak', 'srikakulam', 'vizianagaram',
        'vishakhapatnam', 'east godavari', 'west godavari district',
        'krishna', 'guntur', 'khammam', 'prakasham', 'nellore', 'cuddapah',
        'ananthapur', 'kurnool', 'mahabubnagar', 'chittoor',
        'vizianagaram.', 'vishakapatnam', 'west godavari', 'prakasam',
        'kadapa', 'mahaboobnagar', 'nalgonda', 'nizamabad', 'adilabad',
        'karimnagar', 'karminagar', 'warangal', 'visakhapatnam',
        'rangareddy', 'visakapatnam', 'anantapur'], dtype=object),
 'assam': array(['dhemaji', 'north lakhimpur', 'sonitpur', 'darrang', 'sibsagar',
        'jorhat', 'golaghat', 'dibrugarh', 'nagaon', 'morigaon', 'kamrup',
        'nalbari', 'barpeta', 'bongaigaon', 'goalpara', 'kokrajhar',
        'dhubri', 'hailakandi', 'karimganj', 'cachar', 'karbi anglong',
        'lakhimpur', 'udalguri', 'dibru-garh', 'baksa', 'chirang',
        'karbi anlong', 'sibasagar', 'tinsukia', 'lbvz', 'cbvz', 'ubvz',
        'nbpz', 'bvz', 'hz'], dtype=object),
 'bihar': array(['samastipur', 'madhubani', 'darbhanga', 'muzaffarpur', 'vaishali',
        'sitamarhi', 'east champaran', 'west champaran', 'saharsa',
        'katihar', 'madhepura', 'supoul', 'purnea', 'saran', 'siwan',
        'patna', 'nalanda', 'arrah', 'buxer', 'sasaram', 'gaya', 'nawada',
        'aurangabad', 'begusarai', 'munger', 'khagaria', 'bhagalpur',
        'supaul', 'gopalganj', 'baxur', 'kaimur', 'jahanabad', 'jamui',
        'e.champaran', 'w.champaran', 'kathiar', 'kisangunj', 'araria',
        'bhojpur', 'buxar', 'rohtas', 'banka', 'sitamadhi', 'chhapra',
        'sheohar', 'saharsha', 'kishanganj', 'jehanabad', 'shekhpura',
        'lakhisarai'], dtype=object),
 'chhattisgarh': array(['janjgir', 'bilaspur', 'korba', 'raigarh', 'jashpurnagar',
        'sarguja', 'rajnandgoan', 'raipur', 'mahasamund', 'durg', 'bastar',
        'kawardha', 'janjgeer', 'jashpur', 'rajnandgaon', 'dhamtari',
        'surajpur', 'bemetara', 'baloda bazar', 'mungeli', 'gariaband',
        'kanker'], dtype=object),
 'gujarat': array(['kutch', 'amreli', 'bhavnagar', 'jamnagar', 'junagadh', 'rajkot',
        'ahmedabad', 'banaskantha', 'gandhinagar', 'mehsana', 'anand',
        'kheda', 'bharuch', 'narmada', 'vadodara', 'panchmahal',
        'sabarkantha', 'navsari', 'tapi', 'panchmahals', 'dahod',
        'junagarh', 'surendhranagar', 'patan', 'kachchha', 'namrmada',
        'dahod-3', 'mahesana', 'ahemdabad', 'surendranagar', 'junaghad',
        'banaskatha', 'surat', 'mahisagar', 'chhotaudepur', 'arvalli',
        'botad', 'gir somnath', 'dev. dwarka', 'morbi', 'kachchh'],
       dtype=object),
 'haryana': array(['bhiwani', 'mahendergarh', 'rewari', 'rohtak', 'hisar', 'hissar',
        'sirsa', 'fatehabad', 'jhajjar', 'jind', 'gurgaon', 'ambala',
        'kaithal', 'sonepat', 'yamunagar', 'faridabad', 'karnal', 'amabal',
        'panipat', 'yamunanagar', 'kurukshetra', 'mahender garh', 'jhjjar',
        'sonipat', 'palwal', 'charkhi dadri', 'mahenderghar', 'gurugram'],
       dtype=object),
 'jharkhand': array(['deoghar', 'jamtara', 'godda', 'sahebganj', 'hazaribag', 'kodarma',
        'bokaro', 'ranchi', 'gumla', 'dhanbad', 'palamu', 'dumka',
        'giridih', 'ghat shilla', 'koderma', 'saheb ganj', 'hazaribagh',
        'ramgarh', 'pakur', 'lathehar', 'sahibganj', 'khunti', 'palamau',
        'garhwa', 'lohardaga', 'saraikela', 'east singhbhum'], dtype=object),
 'kerala': array(['alappuzha', 'trichur', 'kozhikkode', 'thiruvananthapuram',
        'kollam', 'kottarakkara', 'pathanamthitta', 'palakkad',
        'malappuram', 'kannur', 'idukki', 'waynad', 'kasaragod',
        'kottayam', 'thrissur', 'ernakulam', 'wynad', 'kasargod'],
       dtype=object),
 'maharashtra': array(['ratnagiri', 'thane', 'raigad', 'pune', 'kolhapur', 'satara',
        'nandurbar', 'dhule', 'nashik', 'solapur', 'jalgaon', 'a.nagar',
        'osmanabad', 'sangali', 'beed', 'jalna', 'parbhani', 'aurangabad',
        'amravati', 'nanded', 'akola', 'buldhana', 'latur', 'hingoli',
        'wardha', 'yavatmal', 'washim', 'nagpur', 'bhandara', 'chandrapur',
        'ahmednagar', 'sangli', 'yeotmal', 'gondia', 'ratanagiri', 'nasik',
        'sindhudurga', 'raighad'], dtype=object),
 'madhya pradesh': array(['gwalior', 'morena', 'guna', 'shivpuri', 'ashoknagar', 'vidisha',
        'damoh', 'bhopal', 'harda', 'sagar', 'sehore', 'raisen',
        'hosagabad', 'chhattarpur', 'tikamgarh', 'rewa', 'panna', 'satna',
        'seoni', 'narsinghpur', 'jabalpur', 'betul', 'chhindwara',
        'indore', 'ujjain', 'rajgarh', 'shajapur', 'dewas', 'dhar',
        'jhabua', 'neemuch', 'mandsor', 'ratlam', 'khandwa', 'khargone',
        'barwani', 'shahdol', 'sidhi', 'dindori', 'balaghat', 'bhind',
        'maureina', 'datia', 'hoshangabad', 'chhatarpur', 'narsingpur',
        'alirajpur', 'mandsaur', 'mandla', 'umariya', 'sheopur',
        'ashok nagar', 'badwani'], dtype=object),
 'orissa': array(['balasore', 'bhadrak', 'cuttack', 'jagatsinghpur', 'jajpur',
        'kendrapara', 'puri', 'khurda', 'nayagarh', 'ganjam', 'gajapati',
        'koraput', 'malkangiri', 'nabarangpur', 'rayagada', 'kalahandi',
        'nuapada', 'balangir', 'sonepur', 'sambalpur', 'bargarh',
        'deogarh', 'jharsuguda', 'kandhamal', 'boudh', 'dhenkanal',
        'angul', 'mayurbhanj', 'keonjhar', 'sundargarh', 'khordha',
        'bolangir', 'subarnapur', 'kandhmal'], dtype=object),
 'punjab': array(['gurdaspur', 'amrtisar', 'amritsar', 'tarntarn', 'hoshiarpur',
        'nawan.shahar', 'nawan shahar', 'ferozepur', 'patiala',
        'jalandhar', 'ludhiana', 'sangrur', 'moga', 'barnala', 'faridkot',
        'mukatsar', 'bathinda', 'mansa', 'tarntaean', 'ropar',
        'kapurthala', 'bhatinda', 'bhathinda', 'muktsar', 'tarn taran',
        'sbs nagar', 'rupnagar', 'fatehgarh sahib', 'sri muktsar sahib',
        'fazilka', 'pathankot', 'nawan sahar', 'fazilika'], dtype=object),
 'rajasthan': array(['barmer', 'jodhpur', 'bikaner', 'churu', 's.ganganagar',
        'hanumangarh', 'sikar', 'jhunjhnu', 'jhunujhnu', 'nagaur', 'pali',
        'sirohi', 'jalore', 'jaipur', 'ajmer', 'tonk', 'dausa', 'alwar',
        'bharatpur', 'dholpur', 'bhilwara', 'chittor', 'udaipur',
        'banswara', 'bundi', 'kota', 'jaisalmer', 's. ganganagar',
        'jhunjhunu', 'sawai madhopur', 'chittorgarh', 'rajsamand',
        'pratapgarh', 'baran', 'jhalawar', 'shriganganagar', 'nagore',
        'karauli', 'bara', 'sawaimadhopur', 'sriganganagar', 'chitorgarh',
        'dungarpur'], dtype=object),
 'tamil nadu': array(['tiruvallur', 'kancheepuram', 'vellore', 'thiruvannamalai',
        'villupuram', 'cuddalore', 'nagapattinam', 'thiruvarur',
        'thanjavur', 'trichy', 'thiruchirappalli', 'perambalur',
        'parambalur', 'karur', 'pudukkottai', 'dindigul', 'madurai',
        'theni', 'sivagangai', 'ramanathapuram', 'virudhunagar',
        'thirunelveli', 'tirunelveli', 'thoothukudi', 'tiruppur',
        'coimbatore', 'erode', 'namakkal', 'salem', 'dharmapuri',
        'thiruvallur', 'district name', 'thiruchirapalli', 'ariyalur',
        'krishnagiri', 'kanchee puram', 'thiruvanna malai',
        'thiruchira palli', 'thiruchira   palli', 'pudukottai',
        'ramanatha      puram', 'virudhu nagar', 'thirunel veli',
        'thoothu  kudi', 'thoothu kudi', 'thiruvalllur', 'virudunagar',
        'kovilpatti'], dtype=object),
 'west bengal': array(['jalpaiguri', 'coochbehar', 'uttar dinajpur', 'maldah',
        'murshidabad', 'bardhaman', 'nadia', 'north 24-parganas',
        'birbhum', 'hooghly', 'paschim medinipur', 'purba medinipur',
        'dakshin dinajpur', 'bankura', 'puruliya', 'south 24-parganas',
        'rudra prayag', 'u.s.nagar', 'haridwar', 'baharaich', 'khiri',
        'maharajganj', 'shrabastri', 'bulandshahar', 'muzaffar nagar',
        'gautam b. nagar', 'saharanpur', 'ghaziabad', 'bareilly', 'bijnor',
        'j.p.nagar', 'moradabad', 'rampur', 'budaun', 'mainpuri',
        'kashiram nagar', 'kannauj', 'mahamaya nagar', 'etah', 'mathura',
        'farrukhabad', 'banda', 'mahoba', 'lalitpur', 'jalaun', 'jhansi',
        'fatehpur', 'kanpur nagar', 'barabanki', 'hardoi', 'sitapur',
        'kanpur dehat', 'deoria', 'gorakhpur', 'sant k. nagar', 'gonda',
        'azamgarh', 'allahbad', 'pratap garh', 'faizabad', 'jaunpur',
        'ambedkar nagar', 'varanasi', 'allahabad', 'uttar-dinajpur',
        'malda', '24-pgs(n)', 'howrah', 'burdwan', 'midnapore( w )',
        'midnapore( e )', 'purulia', '24=parganas(n)', '24-parganas(s)',
        '24-parganas(n)', 'dakhin dinajpur', 'midnapur(w)', 'midnapur (e)',
        'midnapur(e)', '24-pargana(s)', '24-pargana(n)'], dtype=object),
 'uttar pradesh': array(['khiri', 'balrampur', 'bijnor', 'pilibhit', 'bulandsahar',
        'saharanpur', 'm.nagar', 'shahjahanpur', 'moradabad', 'bareilly',
        'badayun', 'etawah', 'mathura', 'etah', 'mainpuri', 'aligarh',
        'auriya', 'firozabad', 'lalitpur', 'chitrakoot', 'jalun', 'banda',
        'jhansi', 'lucknow', 'bahraich', 'fatehpur', 'raibareli',
        'barabanki', 'sitapur', 'unnao', 'kanpur nagar', 'kushinagar',
        'basti', 'kushi nagar', 'gonda', 'gorakhpur', 'faizabad', 'balia',
        'azamgarh', 'ghazipur', 'chandauli', 'jaunpur', 'allahabad',
        'pratapgarh', 'ambedkarnagar', 'siddharth nagar', 'maharajganj',
        'muzaffar nagar', 'baghpat', 'bulandshahar', 'rampur', 'j.p.nagar',
        'sambhal', 'shahajahanpur', 'kannauj', 'kashiram nagar', 'agra',
        'hamirpur', 'jalaun', 'latitpur', 'hardoi', 'kanpur dehat',
        'sant kabir nagar', 'c.s. maharaj', 'kaushmbi', 'ballia',
        'ambedkar nagar', 'baharaich', 'lakhimpurkhiri', 'shrawasti',
        'shamli (p.nagar)', 'shamli(p.nagar)', 'kasganj', 'mahoba',
        'kaushambi', 'mau', 'sultanpur', 'bhadohi'], dtype=object),
 'himachal pradesh': array(['chamba', 'solan', 'hamirpur', 'kangra', 'bilaspur', 'una',
        'mandi', 'shimla', 'sirmour', 'kullu', 'churah', 'kasauli',
        'namhol', 'jhandutta', 'nalagarh', 'palampur', 'barsar',
        'ramshahar', 'arki', 'baldwara', 'bhoranj', 'sunder nagar', 'amb',
        'sarkaghat', 'dehra', 'tikkar(rohru)', 'sunni', 'anni', 'karsog',
        'nirmand', 'bhalei/chamba', 'arki/ solan', 't&distt. bilaspur',
        'dehra/ kangra', 'paddar/mandi', 'sarkaghat/mandi', 'bangana/una',
        'kotli/ mandi', 'datwal/ hamirpur', 'arki/solan',
        'bharari/ bilaspur', 'amb/una', 'namhol/bilaspur', 'jwali/kangra',
        'nalagarh/solan', 'dehra/kangra', 'baddi/ solan',
        'nadaun/hamirpur', 'dharmpur/mandi', 'palampur/kangra',
        'karsog/mandi', 'sunni/shimla', 'nihri/mandi', 'shimla(r)/shimla',
        'paonta/sirmour'], dtype=object),
 'karnataka': array(['aurad', 'bhalki', 'devadurga', 'many', 'chitapur', 'shorapur',
        'raichur', 'shahapur', 'afzalpur', 'gokak', 'hungund', 'soundatti',
        'ind', 'bijapur', 'navalagund', 'hadagali', 'raibhag', 'badami',
        'muddebihal', 'sindagi', 'jamakhandi', 'bagalkot', 'siraguppa',
        'bellary', 'lingasugur', 'h.bommanahalli', 'challakere',
        'arasikere', 'kadur', 'molakalmur', 'bangarpete', 'tumkur',
        'kunigal', 'mandya', 'nanjanagudu', 'holenarasipura', 'hunsur',
        'tarikere', 'kundgol', 'hubli', 'sirahatti', 'chikkodi', 'hangal',
        'haliyah', 'kalgatagi', 'bidar', 'gulbarga', 'yadagiri',
        'gulbarag', 'davanagere', 'koppal', 'gadag', 'dharwad', 'bekgaum',
        'chitradurga', 'hassan', 'chikkaballapur', 'mysor', 'shimoga',
        'belgaum', 'haver', 'haveri', 'yadgir', 'tumkuru',
        'chikkamagaluru', 'ramanagar', 'chikkaballapura',
        'chamarajanagara', 'mysore', 'kalaburgi', 'yadagir', 'belagavi',
        'vijayapur', 'bagalakot', 'dhavanagere', 'chikkamagalur', 'kolar',
        'chamarajanagar', 'uttara kannada'], dtype=object),
 'uttarakhand': array(['dehradun', 'u.s.nagar', 'haridwar', 'almora', 'pithoragarh'],
       dtype=object)}

In [388]:
state_SOI_District

{'punjab': array(['gurdaspur', 'amrtisar', 'amritsar', 'tarntarn', 'hoshiarpur',
        'nawan.shahar', 'nawan shahar', 'ferozepur', 'fatehgarh shaib',
        'patiala', 'jalandhar', 'ludhiana', 'sangrur', 'moga', 'barnala',
        'faridkot', 'mukatsar', 'bathinda', 'mansa', 'tarntaean', 'ropar',
        'kapurthala', 'bhatinda', 'bhathinda', 'muktsar', 'tarn taran',
        'sbs nagar', 'rupnagar', 'fatehgarh sahib', 'sri muktsar sahib',
        'fazilka', 'pathankot', 'nawan sahar', 'fazilika'], dtype=object),
 'bihar': array(['samastipur', 'madhubani', 'darbhanga', 'muzaffarpur', 'vaishali',
        'sitamarhi', 'east champaran', 'west champaran', 'saharsa',
        'katihar', 'madhepura', 'supoul', 'purnea', 'saran', 'siwan',
        'patna', 'nalanda', 'arrah', 'buxer', 'sasaram', 'gaya', 'nawada',
        'aurangabad', 'begusarai', 'munger', 'khagaria', 'bhagalpur',
        'supaul', 'gopalganj', 'baxur', 'kaimur', 'jahanabad', 'jamui',
        'banka', 'e.champaran', 'w.champaran', 'kathiar', 'kisangunj',
        'araria', 'bhojpur', 'buxar', 'rohtas', 'sitamadhi', 'chhapra',
        'sheohar', 'saharsha', 'kishanganj', 'jehanabad', 'shekhpura',
        'lakhisarai'], dtype=object),
 'uttarakhand': array(['champawat', 'nainital', 'u.s.nagar', 'haridwar', 'rudra prayag',
        'dehradun', 'almora', 'pithoragarh'], dtype=object),
 'chhattisgarh': array(['janjgir', 'bilaspur', 'korba', 'raigarh', 'jashpurnagar',
        'sarguja', 'rajnandgoan', 'raipur', 'mahasamund', 'durg', 'bastar',
        'kawardha', 'janjgeer', 'jashpur', 'rajnandgaon', 'dhamtari',
        'ambikapur', 'ramanuj nagar', 'arang', 'dabhara', 'kharasia',
        'khairagarh', 'saraypali', 'surajpur', 'gariaband', 'baloda bazar',
        'bemetara', 'kanker'], dtype=object),
 'gujarat': array(['kutch', 'amreli', 'bhavnagar', 'jamnagar', 'junagadh', 'rajkot',
        'ahmedabad', 'banaskantha', 'gandhinagar', 'mehsana', 'anand',
        'kheda', 'bharuch', 'narmada', 'vadodara', 'panchmahal',
        'sabarkantha', 'navsari', 'tapi', 'panchmahals', 'dahod',
        'junagarh', 'surendhranagar', 'patan', 'kachchha', 'namrmada',
        'dahod-3', 'mahesana', 'ahemdabad', 'surendranagar', 'junaghad',
        'banaskatha', 'surat', 'mahisagar', 'chhotaudepur', 'arvalli',
        'botad', 'gir somnath', 'dev. dwarka', 'morbi', 'kachchh'],
       dtype=object),
 'uttar pradesh': array(['khiri', 'balrampur', 'bijnor', 'pilibhit', 'bulandsahar',
        'saharanpur', 'm.nagar', 'shahjahanpur', 'moradabad', 'bareilly',
        'badayun', 'etawah', 'mathura', 'etah', 'mainpuri', 'aligarh',
        'auriya', 'firozabad', 'lalitpur', 'chitrakoot', 'jalun', 'banda',
        'jhansi', 'lucknow', 'bahraich', 'fatehpur', 'raibareli',
        'barabanki', 'sitapur', 'unnao', 'kanpur nagar', 'kushinagar',
        'basti', 'kushi nagar', 'gonda', 'gorakhpur', 'faizabad', 'balia',
        'azamgarh', 'ghazipur', 'chandauli', 'jaunpur', 'allahabad',
        'pratapgarh', 'ambedkarnagar', 'baharaich', 'maharajganj',
        'shrabastri', 'bulandshahar', 'muzaffar nagar', 'gautam b. nagar',
        'ghaziabad', 'j.p.nagar', 'rampur', 'budaun', 'kashiram nagar',
        'kannauj', 'mahamaya nagar', 'farrukhabad', 'mahoba', 'jalaun',
        'hardoi', 'kanpur dehat', 'deoria', 'sant k. nagar', 'allahbad',
        'pratap garh', 'ambedkar nagar', 'varanasi', 'siddharth nagar',
        'baghpat', 'sambhal', 'shahajahanpur', 'agra', 'hamirpur',
        'latitpur', 'sant kabir nagar', 'c.s. maharaj', 'kaushmbi',
        'ballia', 'lakhimpurkhiri', 'shrawasti', 'shamli (p.nagar)',
        'shamli(p.nagar)', 'kasganj', 'kaushambi', 'mau', 'sultanpur',
        'bhadohi'], dtype=object),
 'karnataka': array(['bidar', 'raichur', 'gulbarga', 'belgaum', 'bagalkot', 'bijapur',
        'dharwad', 'bellary', 'chitradurga', 'hassan', 'chikmagalur',
        'kolar', 'tumkur', 'mandya', 'mysore', 'gadag', 'haveri',
        'uttar kannada', 'yadagiri', 'gulbarag', 'davanagere', 'koppal',
        'bekgaum', 'chikkaballapur', 'mysor', 'shimoga', 'haver', 'yadgir',
        'tumkuru', 'chikkamagaluru', 'ramanagar', 'chikkaballapura',
        'chamarajanagara', 'kalaburgi', 'yadagir', 'belagavi', 'vijayapur',
        'bagalakot', 'dhavanagere', 'chikkamagalur', 'chamarajanagar',
        'uttara kannada'], dtype=object),
 'west bengal': array(['jalpaiguri', 'coochbehar', 'uttar dinajpur', 'maldah',
        'murshidabad', 'bardhaman', 'nadia', 'north 24-parganas',
        'birbhum', 'hooghly', 'paschim medinipur', 'purba medinipur',
        'dakshin dinajpur', 'bankura', 'puruliya', 'south 24-parganas',
        'darjeeling', '24-parganas(n)', 'malda', 'burdwan', 'midnapur(e)',
        'midnapur(w)', 'dakhin dinajpur', '24-parganas(s)',
        'uttar-dinajpur', '24-pgs(n)', 'howrah', 'midnapore( w )',
        'midnapore( e )', 'purulia', '24=parganas(n)', 'midnapur (e)',
        '24-pargana(s)', '24-pargana(n)'], dtype=object),
 'madhya pradesh': array(['gwalior', 'morena', 'guna', 'shivpuri', 'ashoknagar', 'vidisha',
        'damoh', 'bhopal', 'harda', 'sagar', 'sehore', 'raisen',
        'hosagabad', 'chhattarpur', 'tikamgarh', 'rewa', 'panna', 'satna',
        'seoni', 'narsinghpur', 'jabalpur', 'betul', 'chhindwara',
        'indore', 'ujjain', 'rajgarh', 'shajapur', 'dewas', 'dhar',
        'jhabua', 'neemuch', 'mandsor', 'ratlam', 'khandwa', 'khargone',
        'barwani', 'shahdol', 'sidhi', 'dindori', 'balaghat', 'bhind',
        'maureina', 'datia', 'hoshangabad', 'chhatarpur', 'narsingpur',
        'alirajpur', 'mandsaur', 'mandla', 'umariya', 'sheopur',
        'ashok nagar', 'badwani'], dtype=object),
 'orissa': array(['balasore', 'bhadrak', 'cuttack', 'jagatsinghpur', 'jajpur',
        'kendrapara', 'puri', 'khurda', 'nayagarh', 'ganjam', 'gajapati',
        'koraput', 'malkangiri', 'nabarangpur', 'rayagada', 'kalahandi',
        'nuapada', 'balangir', 'sonepur', 'sambalpur', 'bargarh',
        'deogarh', 'jharsuguda', 'kandhamal', 'boudh', 'dhenkanal',
        'angul', 'mayurbhanj', 'keonjhar', 'sundargarh', 'khordha',
        'bolangir', 'subarnapur', 'kandhmal'], dtype=object),
 'himachal pradesh': array(['chamba', 'bilaspur', 'mandi', 'hamirpur', 'solan', 'kangra',
        'shimla', 'sirmour', 'kullu', 'una', 'hamipur', 'kotli/ mandi',
        'datwal/ hamirpur', 'arki/solan', 'bharari/ bilaspur', 'amb/una',
        'namhol/bilaspur', 'jwali/kangra', 'nalagarh/solan',
        'dehra/kangra', 'baddi/ solan', 'bhalei/chamba', 'nadaun/hamirpur',
        'dharmpur/mandi', 'palampur/kangra', 'karsog/mandi',
        'sunni/shimla', 'nihri/mandi', 'shimla(r)/shimla', 'arki/ solan',
        'paonta/sirmour', 't&distt. bilaspur', 'dehra/ kangra',
        'paddar/mandi', 'sarkaghat/mandi', 'bangana/una'], dtype=object),
 'haryana': array(['bhiwani', 'mahendergarh', 'rewari', 'rohtak', 'hisar', 'hissar',
        'sirsa', 'fatehabad', 'jhajjar', 'jind', 'gurgaon', 'ambala',
        'kaithal', 'sonepat', 'yamunagar', 'faridabad', 'karnal', 'amabal',
        'panipat', 'yamunanagar', 'kurukshetra', 'mahender garh', 'jhjjar',
        'sonipat', 'palwal', 'charkhi dadri', 'mahenderghar', 'gurugram'],
       dtype=object),
 'jharkhand': array(['deoghar', 'jamtara', 'godda', 'sahebganj', 'hazaribag', 'kodarma',
        'bokaro', 'ranchi', 'gumla', 'dhanbad', 'palamu', 'dumka',
        'giridih', 'ghat shilla', 'koderma', 'saheb ganj', 'hazaribagh',
        'ramgarh', 'pakur', 'lathehar', 'sahibganj', 'khunti', 'palamau',
        'garhwa', 'lohardaga', 'saraikela', 'east singhbhum'], dtype=object),
 'kerala': array(['alappuzha', 'trichur', 'kozhikkode', 'thiruvananthapuram',
        'kollam', 'kottarakkara', 'pathanamthitta', 'palakkad',
        'malappuram', 'kannur', 'idukki', 'waynad', 'kasaragod',
        'kottayam', 'thrissur', 'ernakulam', 'wynad', 'kasargod'],
       dtype=object),
 'assam': array(['dhemaji', 'north lakhimpur', 'sonitpur', 'darrang', 'sibsagar',
        'jorhat', 'golaghat', 'nagaon', 'morigaon', 'kamrup', 'nalbari',
        'barpeta', 'bongaigaon', 'goalpara', 'kokrajhar', 'dhubri',
        'hailakandi', 'karimganj', 'cachar', 'karbi anglong', 'lakhimpur',
        'udalguri', 'dibru-garh', 'baksa', 'chirang', 'karbi anlong',
        'bogoribari', 'chapar', 'gossaigaon', 'dotoma', 'tapattari',
        'bijni', 'dudhnai', 'boko', 'chandrapur', 'tihu', 'borkhetri',
        'barnagar', 'sarthebari', 'gareswar', 'jalah', 'kampur', 'rupahi',
        'dhing', 'lahorighat', 'mayong', 'majuli', 'teok', 'amguri',
        'demow', 'sarupathar', 'morongi', 'nahorkotia', 'doomdooma',
        'kadam', 'naoboica', 'bihpuria', 'sisiborgaon', 'jonai',
        'biswanath chariali', 'tezpur', 'dhekiajuli', 'sipajhar',
        'khairabari', 'udalguri sadar', 'lakhipur', 'badarpur',
        'katlichera', 'diphu', 'kamrup Ã¢Â®', 'kamrup (m)', 'hojai',
        'charaideu', 'dibrugarh', 'tinsukia'], dtype=object),
 'tamil nadu': array(['tiruvallur', 'kancheepuram', 'vellore', 'thiruvannamalai',
        'villupuram', 'cuddalore', 'nagapattinam', 'thiruvarur',
        'thanjavur', 'trichy', 'thiruchirappalli', 'perambalur',
        'parambalur', 'karur', 'pudukkottai', 'dindigul', 'madurai',
        'theni', 'sivagangai', 'ramanathapuram', 'virudhunagar',
        'thirunelveli', 'tirunelveli', 'thoothukudi', 'tiruppur',
        'coimbatore', 'erode', 'namakkal', 'salem', 'dharmapuri',
        'thiruvallur', 'thiruchirapalli', 'ariyalur', 'krishnagiri',
        'kanchee puram', 'thiruvanna malai', 'thiruchira palli',
        'thiruchira   palli', 'pudukottai', 'ramanatha      puram',
        'virudhu nagar', 'thirunel veli', 'thoothu  kudi', 'thoothu kudi',
        'thiruvalllur', 'virudunagar', 'kovilpatti'], dtype=object),
 'maharashtra': array(['ratnagiri', 'thane', 'raigad', 'pune', 'kolhapur', 'satara',
        'nandurbar', 'dhule', 'nashik', 'solapur', 'jalgaon', 'a.nagar',
        'osmanabad', 'sangali', 'beed', 'jalna', 'parbhani', 'aurangabad',
        'amravati', 'nanded', 'akola', 'buldhana', 'latur', 'hingoli',
        'wardha', 'yavatmal', 'washim', 'nagpur', 'bhandara', 'chandrapur',
        'ahmednagar', 'sangli', 'yeotmal', 'gondia', 'ratanagiri', 'nasik',
        'sindhudurga', 'raighad'], dtype=object),
 'andhra pradesh': array(['srikakulam', 'vizianagaram', 'vishakhapatnam', 'east godavari',
        'west godavari district', 'krishna', 'guntur', 'prakasham',
        'nellore', 'chittoor', 'cuddapah', 'ananthapur', 'kurnool',
        'mahabubnagar', 'ranga reddy', 'khammam', 'medak', 'vizianagaram.',
        'vishakapatnam', 'west godavari', 'prakasam', 'kadapa',
        'mahaboobnagar', 'nalgonda', 'nizamabad', 'adilabad', 'karimnagar',
        'karminagar', 'warangal', 'visakhapatnam', 'rangareddy',
        'visakapatnam', 'anantapur'], dtype=object),
 'rajasthan': array(['barmer', 'jodhpur', 'bikaner', 'churu', 's.ganganagar',
        'hanumangarh', 'sikar', 'jhunjhnu', 'jhunujhnu', 'nagaur', 'pali',
        'sirohi', 'jalore', 'jaipur', 'ajmer', 'tonk', 'dausa', 'alwar',
        'bharatpur', 'dholpur', 'bhilwara', 'chittor', 'udaipur',
        'banswara', 'bundi', 'kota', 'jaisalmer', 's. ganganagar',
        'jhunjhunu', 'sawai madhopur', 'chittorgarh', 'rajsamand',
        'pratapgarh', 'baran', 'jhalawar', 'shriganganagar', 'nagore',
        'karauli', 'bara', 'sawaimadhopur', 'sriganganagar', 'chitorgarh',
        'dungarpur'], dtype=object)}

In [389]:
missing_districts = {}

# Iterate over each state and its districts in state_VL_District
for state, vl_districts in state_VL_District.items():
    # Check if the state exists in state_SOI_District and compare
    if state in state_SOI_District:
        soi_districts = set(state_SOI_District[state])
        # Find districts from VL not in SOI
        missing = [district for district in vl_districts if district not in soi_districts]
        if missing:
            missing_districts[state] = missing
    else:
        # State not found in state_SOI_District
        missing_districts[state] = list(vl_districts)  # All districts are missing

# Print or return the missing districts information
print("Missing Districts by State:")
for state, districts in missing_districts.items():
    print(f"{state}: {districts}")
    print(len(districts))

Missing Districts by State:
assam: ['sibasagar', 'lbvz', 'cbvz', 'ubvz', 'nbpz', 'bvz', 'hz']
7
chhattisgarh: ['mungeli']
1
tamil nadu: ['district name']
1
west bengal: ['rudra prayag', 'u.s.nagar', 'haridwar', 'baharaich', 'khiri', 'maharajganj', 'shrabastri', 'bulandshahar', 'muzaffar nagar', 'gautam b. nagar', 'saharanpur', 'ghaziabad', 'bareilly', 'bijnor', 'j.p.nagar', 'moradabad', 'rampur', 'budaun', 'mainpuri', 'kashiram nagar', 'kannauj', 'mahamaya nagar', 'etah', 'mathura', 'farrukhabad', 'banda', 'mahoba', 'lalitpur', 'jalaun', 'jhansi', 'fatehpur', 'kanpur nagar', 'barabanki', 'hardoi', 'sitapur', 'kanpur dehat', 'deoria', 'gorakhpur', 'sant k. nagar', 'gonda', 'azamgarh', 'allahbad', 'pratap garh', 'faizabad', 'jaunpur', 'ambedkar nagar', 'varanasi', 'allahabad']
48
himachal pradesh: ['churah', 'kasauli', 'namhol', 'jhandutta', 'nalagarh', 'palampur', 'barsar', 'ramshahar', 'arki', 'baldwara', 'bhoranj', 'sunder nagar', 'amb', 'sarkaghat', 'dehra', 'tikkar(rohru)', 'sunni', 'anni', 'karsog', 'nirmand']
20
karnataka: ['aurad', 'bhalki', 'devadurga', 'many', 'chitapur', 'shorapur', 'shahapur', 'afzalpur', 'gokak', 'hungund', 'soundatti', 'ind', 'navalagund', 'hadagali', 'raibhag', 'badami', 'muddebihal', 'sindagi', 'jamakhandi', 'siraguppa', 'lingasugur', 'h.bommanahalli', 'challakere', 'arasikere', 'kadur', 'molakalmur', 'bangarpete', 'kunigal', 'nanjanagudu', 'holenarasipura', 'hunsur', 'tarikere', 'kundgol', 'hubli', 'sirahatti', 'chikkodi', 'hangal', 'haliyah', 'kalgatagi']
39

In [313]:
missing_districts = {}

# Identifying missing districts
for state, vl_districts in state_VL_District.items():
    if state in state_SOI_District:
        soi_districts = set(state_SOI_District[state])
        missing = [district for district in vl_districts if district not in soi_districts]
        if missing:
            missing_districts[state] = missing
    else:
        missing_districts[state] = list(vl_districts)

# Filter village_list for missing districts and process/store results
filtered_village_parts = {}
for state, districts in missing_districts.items():
    # Filter for the current state and only the missing districts
    mask = (village_list['state'] == state) & (village_list['dtnmcoc'].isin(districts))
    filtered_village_parts[state] = village_list[mask]

    # Example: Print or further process these parts
    print(f"Filtered part for {state}:")
    print(filtered_village_parts[state])
    print(f"Number of missing districts in {state}: {len(districts)}")

Filtered part for andhra pradesh:
     Zone No Tehsil Code        tehnmcoc         dtnmcoc         vilnmcoc-VL  \
1955       i         1.0     pathapatnam     srikakulam           r.l. puram
1956       i         2.0    hiramandalam     srikakulam                tampa
1957       i         3.0         kurupam   vizianagaram              kurupam
1958       i         4.0      balijipeta   vizianagaram                barli
1959       i         5.0        madugula  visakhapatnam            madugula
1961      ii         7.0        pedapudi  east godavari            pedapudi
1962      ii         8.0   seethanagaram  east godavari           katavaram
1963      ii         9.0      kirlampudi  east godavari            mukkollu
1964      ii        10.0          kovvur  west godavari           vadapalli
1965      ii        11.0     nidadhavole  west godavari         nidadhavole
1966      ii        12.0      nallajerla  west godavari      achanna pallem
1967      ii        13.0       kankipadu        krishna           kolavennu
1969      ii        15.0     bellamkonda         guntur          bellamkonda
1970      ii        16.0     nekarikallu         guntur            chegerla
1971      ii        17.0       tadikonda         guntur            tadikonda
1972      ii        18.0         inkollu      prakasham             inkollu
1973      ii        19.0  pullalacheruvu      prakasham            komarole
1974      ii        20.0         addanki      prakasham             addanki
1975      ii        21.0       chittamur        nellore           yellasiri
1977      ii        23.0   venkatachalam        nellore            kanupuru
1978     iii        24.0    srikalahasti       chittoor         kapugunneri
1979     iii        25.0     thottambedu       chittoor         peddakannali
1981     iii        27.0         lingala         kadapa          dondlavagu
1983     iii        29.0        khajipet         kadapa         k.sunkesula
1984     iii        30.0          pamidi     ananthapur              pamidi
1985     iii        31.0      uravakonda     ananthapur              mopidi
1986     iii        32.0         kurnool        kurnool      r.konthalapadu
1987     iii        33.0    bandiatmakur        kurnool   pedda develapuram
1988     iii        34.0       mahanandi        kurnool          nandipalle
1989      iv        35.0       bomraspet   mahabubnagar           bomraspet
1990      iv        36.0           kosgi   mahabubnagar            gundumal
1991      iv        37.0       vikarabad     rangareddy           kothagadi
1992      iv        38.0           pargi     rangareddy              rapole
1993      iv        39.0          tandur     rangareddy             antaram
1994      iv        40.0            wyra        khammam           somavaram
1995      iv        41.0      sathupalle        khammam          bethupalli
1996      iv        42.0      yerrupalem        khammam      peddagopavaram
1997      iv        43.0           alair       nalgonda          kolanupaka
1998      iv        44.0         mothkur       nalgonda             mothkur
1999      iv        45.0       nuthankal       nalgonda           nuthankal
2000       v        46.0        siddipet          medak          raghavapur
2001       v        47.0          andole          medak              dakoor
2002       v        48.0          manoor          medak            boranche
2003       v        49.0        alladurg          medak         appajipally
2004       v        50.0        banswada      nizamabad          ibrahimpet
2005       v        51.0      machareddy      nizamabad           palwanche
2006       v        52.0      yellareddy      nizamabad          advilingal
2007       v        53.0         mudhole       adilabad               edbid
2008       v        54.0           boath       adilabad             pochera
2009       v        55.0       kamalapur     karimnagar               gudur
2010       v        56.0        metpalle     karimnagar              atmakur
2011       v        57.0        sircilla     karimnagar              peddur
2012       v        58.0          parkal       warangal             varikole
2013       v        59.0         ghanpur       warangal              chagal
2014       v        60.0    parvathagiri       warangal               enugal

               state       Year
1955  andhra pradesh  2014-2017
1956  andhra pradesh  2014-2017
1957  andhra pradesh  2014-2017
1958  andhra pradesh  2014-2017
1959  andhra pradesh  2014-2017
1961  andhra pradesh  2014-2017
1962  andhra pradesh  2014-2017
1963  andhra pradesh  2014-2017
1964  andhra pradesh  2014-2017
1965  andhra pradesh  2014-2017
1966  andhra pradesh  2014-2017
1967  andhra pradesh  2014-2017
1969  andhra pradesh  2014-2017
1970  andhra pradesh  2014-2017
1971  andhra pradesh  2014-2017
1972  andhra pradesh  2014-2017
1973  andhra pradesh  2014-2017
1974  andhra pradesh  2014-2017
1975  andhra pradesh  2014-2017
1977  andhra pradesh  2014-2017
1978  andhra pradesh  2014-2017
1979  andhra pradesh  2014-2017
1981  andhra pradesh  2014-2017
1983  andhra pradesh  2014-2017
1984  andhra pradesh  2014-2017
1985  andhra pradesh  2014-2017
1986  andhra pradesh  2014-2017
1987  andhra pradesh  2014-2017
1988  andhra pradesh  2014-2017
1989  andhra pradesh  2014-2017
1990  andhra pradesh  2014-2017
1991  andhra pradesh  2014-2017
1992  andhra pradesh  2014-2017
1993  andhra pradesh  2014-2017
1994  andhra pradesh  2014-2017
1995  andhra pradesh  2014-2017
1996  andhra pradesh  2014-2017
1997  andhra pradesh  2014-2017
1998  andhra pradesh  2014-2017
1999  andhra pradesh  2014-2017
2000  andhra pradesh  2014-2017
2001  andhra pradesh  2014-2017
2002  andhra pradesh  2014-2017
2003  andhra pradesh  2014-2017
2004  andhra pradesh  2014-2017
2005  andhra pradesh  2014-2017
2006  andhra pradesh  2014-2017
2007  andhra pradesh  2014-2017
2008  andhra pradesh  2014-2017
2009  andhra pradesh  2014-2017
2010  andhra pradesh  2014-2017
2011  andhra pradesh  2014-2017
2012  andhra pradesh  2014-2017
2013  andhra pradesh  2014-2017
2014  andhra pradesh  2014-2017
Number of missing districts in andhra pradesh: 22
Filtered part for assam:
            Zone No Tehsil Code   tehnmcoc    dtnmcoc          vilnmcoc-VL  \
2069      ubvz(iii)        24.0     amguri  sibasagar        khatowal gaon
2070      ubvz(iii)        24.0     amguri  sibasagar        garokosh gaon
2071      ubvz(iii)        25.0      demow  sibasagar            changmond
2072      ubvz(iii)        25.0      demow  sibasagar              dehajan
2073      ubvz(iii)        25.0      demow  sibasagar  changmai kathalbari
...             ...         ...        ...        ...                  ...
4048  karbi anglong          44      nilip         hz         dihingia (n)
4049  karbi anglong          44      nilip         hz        kathkotia (s)
4050  karbi anglong          45  lambajong         hz          kheroni (n)
4051  karbi anglong          45  lambajong         hz    sedeng terang (s)
4052  karbi anglong          45  lambajong         hz    hedink teron (ac)

      state       Year
2069  assam  2014-2017
2070  assam  2014-2017
2071  assam  2014-2017
2072  assam  2014-2017
2073  assam  2014-2017
...     ...        ...
4048  assam  2017-2020
4049  assam  2017-2020
4050  assam  2017-2020
4051  assam  2017-2020
4052  assam  2017-2020

[100 rows x 7 columns]
Number of missing districts in assam: 8
Filtered part for bihar:
         Zone No Tehsil Code          tehnmcoc  \
2124    bihar/ i         1.0  samastipur sadar
2125    bihar/ i         1.0  samastipur sadar
2126    bihar/ i         1.0  samastipur sadar
2127    bihar/ i         1.0  samastipur sadar
2128    bihar/ i         2.0     dalsing sarai
2129    bihar/ i         3.0     sahpur patori
2130    bihar/ i         4.0     sahpur patori
2131    bihar/ i         5.0     sahpur patori
2132    bihar/ i         4.0   madhubani sadar
2133    bihar/ i         5.0         phulparas
2134    bihar/ i         6.0  darbhanga  sadar
2140    bihar/ i        10.0   sitamarhi sadar
2146   bihar/ ii        13.0           saharsa
2147   bihar/ ii        14.0            barsoi
2149   bihar/ ii        16.0         kisangunj
2150   bihar/ ii        17.0         kisangunj
2154   bihar/ ii        19.0      purnea sadar
2157  bihar/ iii        22.0       siwan sadar
2158  bihar/ iii        23.0       siwan sadar
2159  bihar/ iii        23.0         gopalganj
2174   bihar/ iv        32.0             buxar
2175   bihar/ iv        33.0            dumron
2180   bihar/ iv        37.0        gaya sadar
2181   bihar/ iv        38.0      nawada sadar
2183   bihar/ iv        40.0         jahanabad
2184   bihar/ iv        41.0         jahanabad
2185     bihar/v        41.0         begusarai
2186     bihar/v        42.0         begusarai
2188     bihar/v        43.0          khagaria
3939          ii          22     katihar sadar

                                  dtnmcoc      vilnmcoc-VL  state       Year
2124                          samastipur             milki  bihar  2014-2017
2125                          samastipur           ramauli  bihar  2014-2017
2126                          samastipur          mohanpur  bihar  2014-2017
2127                          samastipur             milki  bihar  2014-2017
2128                          samastipur   rampur jalalpur  bihar  2014-2017
2129                          samastipur           rupauli  bihar  2014-2017
2130                          samastipur        sangrampur  bihar  2014-2017
2131                          samastipur    ram gama kamal  bihar  2014-2017
2132                           madhubani          mohanpur  bihar  2014-2017
2133                           madhubani          jagatpur  bihar  2014-2017
2134  darbhanga                                    adalpur  bihar  2014-2017
2140                        sitamarhi           bishanupur  bihar  2014-2017
2146                            saharsa         govargadha  bihar  2014-2017
2147  darbhanga                                     bharri  bihar  2014-2017
2149                         kisangunj             singhia  bihar  2014-2017
2150                         kisangunj             chackla  bihar  2014-2017
2154                             purnea          prasadpur  bihar  2014-2017
2157  siwan                                        chanaur  bihar  2014-2017
2158  siwan                                       nauapali  bihar  2014-2017
2159                           gopalganj           devapur  bihar  2014-2017
2174                            buxar               nagpur  bihar  2014-2017
2175                            buxar          old bhojpur  bihar  2014-2017
2180                                gaya            bhaula  bihar  2014-2017
2181          nawada                            bhadokhara  bihar  2014-2017
2183                           jahanabad           kinnari  bihar  2014-2017
2184                           jahanabad            rampur  bihar  2014-2017
2185                         begusarai          hariharpur  bihar  2014-2017
2186                         begusarai          bahabalpur  bihar  2014-2017
2188                            khagaria             imli   bihar  2014-2017
3939                             katihar            khorwa  bihar  2017-2020
Number of missing districts in bihar: 16
Filtered part for chhattisgarh:
                     Zone No Tehsil Code tehnmcoc    dtnmcoc vilnmcoc-VL  \
222                        i           2  masturi  bilaspur       mudpar
2203  chhattisgarh plain (2)        13.0    lormi    mungeli      bataha

             state       Year
222   chhattisgarh  2008-2011
2203  chhattisgarh  2014-2017
Number of missing districts in chhattisgarh: 2
Filtered part for haryana:
     Zone No Tehsil Code       tehnmcoc   dtnmcoc       vilnmcoc-VL    state  \
1442       1           1        bhiwani  bhiwani           maneharu  haryana
1443       1           2         siwani  bhiwani           dhulkot   haryana
1446       1           5  charkhi dadri  bhiwani          fatehgarh  haryana
1448       2           7          hansi    hisar            kulana   haryana
1452       2          11        adampur    hisar              kohli  haryana
1453       2          12         rohtak   rohtak              chiri  haryana
1456       2          15        manesar  gurgaon       bhora khurd   haryana
1457       2          16        narwana     jind        sacha khera  haryana
1459       2          18           jind     jind              ikkas  haryana
1460       2          19         sampla   rohtak           morkheri  haryana
1467       3          26     naraingarh   ambala           dhanana   haryana
1468       3          27      nilokheri   karnal             raison  haryana
2271       2         6.0          hisar    hisar            bhojraj  haryana
2272       2         7.0        barwala    hisar             sarsod  haryana
2275       2        10.0        dabwali    sirsa         jagamlwali  haryana
2276       2        11.0       kalanour   rohtak           kalanour  haryana
2277       2        12.0          maham   rohtak   bhaini maharjpur  haryana
2285       3        21.0        assandh   karnal             munak   haryana
2287       3        23.0      gharounda   karnal            satondi  haryana
2292       3        26.0         barara   ambala              ugala  haryana
2294       3        28.0        pundari  kaithal              mohna  haryana
2296       3        30.0         palwal   palwal             aleeka  haryana

           Year
1442  2011-2014
1443  2011-2014
1446  2011-2014
1448  2011-2014
1452  2011-2014
1453  2011-2014
1456  2011-2014
1457  2011-2014
1459  2011-2014
1460  2011-2014
1467  2011-2014
1468  2011-2014
2271  2014-2017
2272  2014-2017
2275  2014-2017
2276  2014-2017
2277  2014-2017
2285  2014-2017
2287  2014-2017
2292  2014-2017
2294  2014-2017
2296  2014-2017
Number of missing districts in haryana: 10
Filtered part for kerala:
            Zone No Tehsil Code tehnmcoc     dtnmcoc         vilnmcoc-VL  \
2481  high land - 3        30.0  hosdurg  kasaragod   north thrikkaripur

       state       Year
2481  kerala  2014-2017
Number of missing districts in kerala: 1
Filtered part for maharashtra:
     Zone No Tehsil Code    tehnmcoc  dtnmcoc   vilnmcoc-VL        state  \
1907      vi          13       sakri   dhule   deshshirwade  maharashtra
1940     vii          46     shirpur   dhule       vikharan  maharashtra
2574       8        48.0  mangrulpir  washim        pedgaon  maharashtra

           Year
1907  2011-2014
1940  2011-2014
2574  2014-2017
Number of missing districts in maharashtra: 2
Filtered part for madhya pradesh:
                   Zone No Tehsil Code   tehnmcoc   dtnmcoc     vilnmcoc-VL  \
1840                    10          36     manasa  neemuch   pipaliya raoji
2494  vindhyan plateau (4)        13.0  bairasiya   bhopal        karondiya

               state       Year
1840  madhya pradesh  2011-2014
2494  madhya pradesh  2014-2017
Number of missing districts in madhya pradesh: 2
Filtered part for orissa:
     Zone No Tehsil Code     tehnmcoc    dtnmcoc                  vilnmcoc-VL  \
3500       i          17  r.udayagiri  gajapati   gambharisahi  (village - 2)
3501       i          18  r.udayagiri  gajapati    mahendragada (village - 1)

       state       Year
3500  orissa  2017-2020
3501  orissa  2017-2020
Number of missing districts in orissa: 1
Filtered part for punjab:
     Zone No Tehsil Code      tehnmcoc        dtnmcoc vilnmcoc-VL   state  \
1568       i           7  nawan shahar  nawan.shahar       garcha  punjab

           Year
1568  2011-2014
Number of missing districts in punjab: 1
Filtered part for tamil nadu:
                      Zone No  Tehsil Code          tehnmcoc        dtnmcoc  \
1681                 zone no.  tehsil code       tehsil name  district name
1701                 zone no.  tehsil code       tehsil name  district name
1709                        6           49          pollachi    coimbatore
1710                        6           50  coimbatore south    coimbatore
1711                        6           51  coimbatore north    coimbatore
2760  cauvery delta zone(iii)         26.0         orathanad     thanjavur

           vilnmcoc-VL       state       Year
1681      village name  tamil nadu  2011-2014
1701      village name  tamil nadu  2011-2014
1709          sokkanur  tamil nadu  2011-2014
1710     devarayapuram  tamil nadu  2011-2014
1711  mg cheetipalayam  tamil nadu  2011-2014
2760    keela mangalam  tamil nadu  2014-2017
Number of missing districts in tamil nadu: 3
Filtered part for west bengal:
     Zone No Tehsil Code      tehnmcoc         dtnmcoc         vilnmcoc-VL  \
1721       1           1  rudra prayag    rudra prayag             nagrasu
1722       2           2     sitarganj       u.s.nagar             darhaha
1723       2           3        jaspur       u.s.nagar           kishanpur
1724       3           4      haridwar        haridwar             bhogpur
1725       2           5       nanpara       baharaich  jagannathpur-purey
...      ...         ...           ...             ...                 ...
1800       8          57    khalilabad   sant k. nagar            bailuali
1801       9          68       jaunpur         jaunpur            akbarpur
1802       9          73      mehnagar        azamgarh           dhanehari
1803       9          74         bhiti  ambedkar nagar            lakhipur
1804       4          24         bilsi          budaun            sadarpur

            state       Year
1721  west bengal  2011-2014
1722  west bengal  2011-2014
1723  west bengal  2011-2014
1724  west bengal  2011-2014
1725  west bengal  2011-2014
...           ...        ...
1800  west bengal  2011-2014
1801  west bengal  2011-2014
1802  west bengal  2011-2014
1803  west bengal  2011-2014
1804  west bengal  2011-2014

[84 rows x 7 columns]
Number of missing districts in west bengal: 48
Filtered part for uttar pradesh:
                      Zone No Tehsil Code           tehnmcoc       dtnmcoc  \
2801            tarai zone(2)        11.0  maharajganj sadar  maharajganj
2849  north-eastern plain (8)        56.0               gola    gorakhpur
2852  north-eastern plain (8)        59.0          banshgaon    gorakhpur
2853  north-eastern plain (8)        60.0    gorakhpur sadar    gorakhpur
3293      north-eastern plain          59          gorakhpur    gorakhpur

       vilnmcoc-VL          state       Year
2801    bagha para  uttar pradesh  2014-2017
2849        nevada  uttar pradesh  2014-2017
2852    pandey par  uttar pradesh  2014-2017
2853  rahmat nagar  uttar pradesh  2014-2017
3293        bangai  uttar pradesh  2017-2020
Number of missing districts in uttar pradesh: 2
Filtered part for himachal pradesh:
     Zone No Tehsil Code tehnmcoc  dtnmcoc  vilnmcoc-VL             state  \
1343       i           2   chamba   churah        gwari  himachal pradesh
1344       i           2   chamba   churah      salahan  himachal pradesh
1345       i           2   chamba   churah       kuther  himachal pradesh
1346       i           3    solan  kasauli      chatera  himachal pradesh
1347       i           3    solan  kasauli      gulhari  himachal pradesh
...      ...         ...      ...      ...          ...               ...
1437     iii          29    mandi   karsog  dpf bagshad  himachal pradesh
1438     iii          29    mandi   karsog      manduni  himachal pradesh
1439     iii          30    kullu  nirmand        thans  himachal pradesh
1440     iii          30    kullu  nirmand        raimu  himachal pradesh
1441     iii          30    kullu  nirmand         twar  himachal pradesh

           Year
1343  2011-2014
1344  2011-2014
1345  2011-2014
1346  2011-2014
1347  2011-2014
...         ...
1437  2011-2014
1438  2011-2014
1439  2011-2014
1440  2011-2014
1441  2011-2014

[77 rows x 7 columns]
Number of missing districts in himachal pradesh: 20
Filtered part for karnataka:

In [314]:
concaconcatenated_gdf_small

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry
0,punjab,2008-11,1,gurdaspur,1,gurdaspur,lakhowal,gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373..."
1,punjab,2008-11,1,gurdaspur,2,batala,ammo nagal,batala,"POLYGON ((75.24774 31.75000, 75.24879 31.75118..."
2,punjab,2008-11,1,amrtisar,3,ajnala,bhalapind,ajnala,"POLYGON ((74.78681 31.79373, 74.78854 31.79339..."
3,punjab,2008-11,1,amritsar,4,amritsar-i,ballian manjpur,amritsar i,"POLYGON ((75.08233 31.59099, 75.08259 31.59082..."
4,punjab,2008-11,1,tarntarn,5,patti,kirtowal,patti,"POLYGON ((74.90056 31.21235, 74.90026 31.21180..."
...,...,...,...,...,...,...,...,...,...
3768,rajasthan,2017-20,9,kota,56,digod,sultanpur,digod,"POLYGON ((76.13732 25.30970, 76.13781 25.31034..."
3769,rajasthan,2017-20,9,bundi,57,hindoli,badodiya,hindoli,"POLYGON ((75.56267 25.51453, 75.56316 25.51453..."
3770,rajasthan,2017-20,9,bundi,58,talera,jakhamund,bundi,"POLYGON ((75.75674 25.25866, 75.75697 25.25882..."
3771,rajasthan,2017-20,9,baran,59,krishnganj,maharwata,kishanganj,"POLYGON ((76.63089 25.14469, 76.63319 25.14469..."
3772,rajasthan,2017-20,9,jhalawar,60,jhalrapatan,bhawrasa,jhalrapatan,"POLYGON ((76.23306 24.52334, 76.23324 24.52298..."

In [315]:
village_list

,Zone No,Tehsil Code,tehnmcoc,dtnmcoc,vilnmcoc-VL,state,Year
0,iv,40,puduru,ranga reddy,pedhaumethala,andhra pradesh,2008-2011
1,v,49,sadasivpet,medak,nandi kandi,andhra pradesh,2008-2011
2,v,50,zaiheerabad,medak,huggelly,andhra pradesh,2008-2011
3,i,1,etheria,srikakulam,ponnada,andhra pradesh,2008-2011
4,i,2,tekkali,srikakulam,tirlangi,andhra pradesh,2008-2011
...,...,...,...,...,...,...,...
4108,zone v,56,chegunta,medak,narsingi,andhra pradesh,2017-2020
4109,zone v,57,doultabad,medak,raipole,andhra pradesh,2017-2020
4110,zone v,58,shayampet,warangal,peddakodepaka,andhra pradesh,2017-2020
4111,zone v,59,chityal,warangal,jookal,andhra pradesh,2017-2020
4112,zone v,60,palakurthi,warangal,vavilala,andhra pradesh,2017-2020

In [390]:
merged_df

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry,Zone No,Tehsil Code,vilnmcoc-VL,Year
0,Punjab,2008-11,1,Gurdaspur,1,Gurdaspur,Lakhowal,Gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",I,1,shaikha,2011-2014
1,Punjab,2008-11,1,Gurdaspur,1,Gurdaspur,Lakhowal,Gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",I,1.0,jhoroli,2014-2017
2,Punjab,2008-11,1,Gurdaspur,1,Gurdaspur,Lakhowal,Gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",I,1.0,pachowal,2014-2017
3,Punjab,2008-11,1,Gurdaspur,1,Gurdaspur,Lakhowal,Gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",I,3,bhandal,2017-2020
4,Punjab,2008-11,1,Gurdaspur,1,Gurdaspur,Lakhowal,Gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",I,3,kala goraya,2017-2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5388,Rajasthan,2017-20,9,Kota,56,Digod,Sultanpur,Digod,"POLYGON ((76.13732 25.30970, 76.13781 25.31034...",ZONE-IX,56,sultanpur,2017-2020
5389,Rajasthan,2017-20,9,Bundi,57,Hindoli,Badodiya,Hindoli,"POLYGON ((75.56267 25.51453, 75.56316 25.51453...",ZONE-IX,57,badodiya,2017-2020
5390,Rajasthan,2017-20,9,Bundi,58,Talera,Jakhamund,Bundi,"POLYGON ((75.75674 25.25866, 75.75697 25.25882...",ZONE-IX,58,jakhamund,2017-2020
5391,Rajasthan,2017-20,9,Baran,59,Krishnganj,Maharwata,Kishanganj,"POLYGON ((76.63089 25.14469, 76.63319 25.14469...",ZONE-IX,59,maharwata,2017-2020
5392,Rajasthan,2017-20,9,Jhalawar,60,Jhalrapatan,Bhawrasa,Jhalrapatan,"POLYGON ((76.23306 24.52334, 76.23324 24.52298...",ZONE-IX,60,bhawrasa,2017-2020

In [365]:
import pandas as pd
from nltk.metrics import distance

# Load the merged DataFrame


# Find unique triplets
unique_triplets = merged_df[['tehnmcoc', 'dtnmcoc', 'state']].drop_duplicates()

# Initialize an empty DataFrame for the results
results_df = pd.DataFrame(columns=['tehnmcoc', 'dtnmcoc', 'state', 'Matched vilnmcoc-VL', 'Matched vilnmcoc'])

# Function to find matching strings between two lists
def find_matches(list1, list2):
    matches = [(item1, item2) for item1 in list1 for item2 in list2 if item1 == item2]
    return matches

# Iterate over each unique triplet
for _, triplet in unique_triplets.iterrows():
    # Filter the main DataFrame for the current triplet
    temp_df = merged_df[(merged_df['tehnmcoc'] == triplet['tehnmcoc']) & 
                 (merged_df['dtnmcoc'] == triplet['dtnmcoc']) & 
                 (merged_df['state'] == triplet['state'])]
    
    # Assuming vilnmcoc-VL and vilnmcoc are stored as strings of comma-separated names
    vilnmcoc_VL_list = ','.join(temp_df['vilnmcoc-VL'].dropna().unique()).split(',')
    vilnmcoc_list = ','.join(temp_df['vilnmcoc'].dropna().unique()).split(',')
    
    # Find matching village names
    matches = find_matches(vilnmcoc_VL_list, vilnmcoc_list)
    
    # Prepare new rows for each match found
    new_rows = [{
        'tehnmcoc': triplet['tehnmcoc'],
        'dtnmcoc': triplet['dtnmcoc'],
        'state': triplet['state'],
        'Matched vilnmcoc-VL': match[0],
        'Matched vilnmcoc': match[1]
    } for match in matches]

    # Use pd.concat to append all new rows to the results_df
    if new_rows:  # only concatenate if there are new rows
        results_df = pd.concat([results_df, pd.DataFrame(new_rows)], ignore_index=True)

# Print or save results
print(results_df)

    tehnmcoc dtnmcoc      state Matched vilnmcoc-VL Matched vilnmcoc
0  Arasikere  Hassan  Karnataka            yalavare         yalavare

In [171]:
results_df

  tehnmcoc   dtnmcoc             state Matched vilnmcoc-VL Matched vilnmcoc
0  Darrang  Sipajhar             ASSAM
1   churah    chamba  himachal pradesh

In [273]:
import pandas as pd
from nltk.metrics import distance


# Find unique triplets
unique_triplets = merged_df[['tehnmcoc', 'dtnmcoc', 'state']].drop_duplicates()

# Initialize an empty DataFrame for the results
results_df = pd.DataFrame(columns=['tehnmcoc', 'dtnmcoc', 'state', 'Matched vilnmcoc-VL', 'Matched vilnmcoc', 'Similarity Score'])

# Function to find matches based on Jaro-Winkler similarity
def find_jaro_matches(list1, list2, threshold=0.85):
    matches = []
    for item1 in list1:
        for item2 in list2:
            score = distance.jaro_winkler_similarity(item1.strip(), item2.strip())
            if score >= threshold:
                matches.append((item1, item2, score))
    return matches

# Iterate over each unique triplet
for _, triplet in unique_triplets.iterrows():
    # Filter the main DataFrame for the current triplet
    temp_df = merged_df[(merged_df['tehnmcoc'] == triplet['tehnmcoc']) & 
                        (merged_df['dtnmcoc'] == triplet['dtnmcoc']) & 
                        (merged_df['state'] == triplet['state'])]

    # Assuming vilnmcoc-VL and vilnmcoc are stored as strings of comma-separated names
    vilnmcoc_VL_list = ','.join(temp_df['vilnmcoc-VL'].dropna().unique()).split(',')
    vilnmcoc_list = ','.join(temp_df['vilnmcoc'].dropna().unique()).split(',')
    
    # Find matching village names based on Jaro-Winkler similarity
    matches = find_jaro_matches(vilnmcoc_VL_list, vilnmcoc_list)

    # Prepare new rows for each match found
    new_rows = [{
        'tehnmcoc': triplet['tehnmcoc'],
        'dtnmcoc': triplet['dtnmcoc'],
        'state': triplet['state'],
        'Matched vilnmcoc-VL': match[0],
        'Matched vilnmcoc': match[1],
        'Similarity Score': match[2]
    } for match in matches]

    # Use pd.concat to append all new rows to the results_df
    if new_rows:  
        results_df = pd.concat([results_df, pd.DataFrame(new_rows)], ignore_index=True)

print(results_df)

Empty DataFrame
Columns: [tehnmcoc, dtnmcoc, state, Matched vilnmcoc-VL, Matched vilnmcoc, Similarity Score]
Index: []

In [1]:
results_df

NameError: name 'results_df' is not defined

In [369]:
merged_df

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry,Zone No,Tehsil Code,vilnmcoc-VL,Year
0,Punjab,2008-11,1,Gurdaspur,1,Gurdaspur,Lakhowal,Gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",I,1,shaikha,2011-2014
1,Punjab,2008-11,1,Gurdaspur,1,Gurdaspur,Lakhowal,Gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",I,1.0,jhoroli,2014-2017
2,Punjab,2008-11,1,Gurdaspur,1,Gurdaspur,Lakhowal,Gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",I,1.0,pachowal,2014-2017
3,Punjab,2008-11,1,Gurdaspur,1,Gurdaspur,Lakhowal,Gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",I,3,bhandal,2017-2020
4,Punjab,2008-11,1,Gurdaspur,1,Gurdaspur,Lakhowal,Gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",I,3,kala goraya,2017-2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5388,Rajasthan,2017-20,9,Kota,56,Digod,Sultanpur,Digod,"POLYGON ((76.13732 25.30970, 76.13781 25.31034...",ZONE-IX,56,sultanpur,2017-2020
5389,Rajasthan,2017-20,9,Bundi,57,Hindoli,Badodiya,Hindoli,"POLYGON ((75.56267 25.51453, 75.56316 25.51453...",ZONE-IX,57,badodiya,2017-2020
5390,Rajasthan,2017-20,9,Bundi,58,Talera,Jakhamund,Bundi,"POLYGON ((75.75674 25.25866, 75.75697 25.25882...",ZONE-IX,58,jakhamund,2017-2020
5391,Rajasthan,2017-20,9,Baran,59,Krishnganj,Maharwata,Kishanganj,"POLYGON ((76.63089 25.14469, 76.63319 25.14469...",ZONE-IX,59,maharwata,2017-2020
5392,Rajasthan,2017-20,9,Jhalawar,60,Jhalrapatan,Bhawrasa,Jhalrapatan,"POLYGON ((76.23306 24.52334, 76.23324 24.52298...",ZONE-IX,60,bhawrasa,2017-2020

In [391]:
merged_df = pd.merge(concaconcatenated_gdf_small, village_list, on=['tehnmcoc', 'dtnmcoc', 'state'], how='inner')

In [392]:
merged_df

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry,Zone No,Tehsil Code,vilnmcoc-VL,Year
0,punjab,2008-11,1,gurdaspur,1,gurdaspur,lakhowal,gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",i,1,shaikha,2011-2014
1,punjab,2008-11,1,gurdaspur,1,gurdaspur,lakhowal,gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",i,1.0,jhoroli,2014-2017
2,punjab,2008-11,1,gurdaspur,1,gurdaspur,lakhowal,gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",i,1.0,pachowal,2014-2017
3,punjab,2008-11,1,gurdaspur,1,gurdaspur,lakhowal,gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",i,3,bhandal,2017-2020
4,punjab,2008-11,1,gurdaspur,1,gurdaspur,lakhowal,gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",i,3,kala goraya,2017-2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8299,rajasthan,2017-20,9,kota,56,digod,sultanpur,digod,"POLYGON ((76.13732 25.30970, 76.13781 25.31034...",zone-ix,56,sultanpur,2017-2020
8300,rajasthan,2017-20,9,bundi,57,hindoli,badodiya,hindoli,"POLYGON ((75.56267 25.51453, 75.56316 25.51453...",zone-ix,57,badodiya,2017-2020
8301,rajasthan,2017-20,9,bundi,58,talera,jakhamund,bundi,"POLYGON ((75.75674 25.25866, 75.75697 25.25882...",zone-ix,58,jakhamund,2017-2020
8302,rajasthan,2017-20,9,baran,59,krishnganj,maharwata,kishanganj,"POLYGON ((76.63089 25.14469, 76.63319 25.14469...",zone-ix,59,maharwata,2017-2020
8303,rajasthan,2017-20,9,jhalawar,60,jhalrapatan,bhawrasa,jhalrapatan,"POLYGON ((76.23306 24.52334, 76.23324 24.52298...",zone-ix,60,bhawrasa,2017-2020

In [405]:
import pandas as pd
from nltk.metrics import distance

# Assuming merged_df is already loaded
# Find unique triplets
unique_triplets = merged_df[['tehnmcoc', 'dtnmcoc', 'state']].drop_duplicates()

# Initialize an empty DataFrame for the results
results_df = pd.DataFrame(columns=['tehnmcoc', 'dtnmcoc', 'state', 'Matched vilnmcoc-VL', 'Matched vilnmcoc', 'Similarity Score'])
non_matches_df = pd.DataFrame(columns=['tehnmcoc', 'dtnmcoc', 'state', 'Non-Matched vilnmcoc-VL', 'Non-Matched vilnmcoc'])

# Function to find matches and non-matches based on Jaro-Winkler similarity
def find_jaro_matches(list1, list2, threshold=0.95):
    matches = []
    non_matches1 = list(list1)  # Start with all entries in list1 as non-matched
    non_matches2 = list(list2)  # Start with all entries in list2 as non-matched

    for item1 in list1:
        for item2 in list2:
            score = distance.jaro_winkler_similarity(item1.strip(), item2.strip())
            if score >= threshold:
                matches.append((item1, item2, score))
                if item1 in non_matches1:
                    non_matches1.remove(item1)
                if item2 in non_matches2:
                    non_matches2.remove(item2)

    return matches, non_matches1, non_matches2

# Iterate over each unique triplet
for _, triplet in unique_triplets.iterrows():
    # Filter the main DataFrame for the current triplet
    temp_df = merged_df[(merged_df['tehnmcoc'] == triplet['tehnmcoc']) & 
                        (merged_df['dtnmcoc'] == triplet['dtnmcoc']) & 
                        (merged_df['state'] == triplet['state'])]

    # Prepare lists from CSV columns
    vilnmcoc_VL_list = ','.join(temp_df['vilnmcoc-VL'].dropna().unique()).split(',')
    vilnmcoc_list = ','.join(temp_df['vilnmcoc'].dropna().unique()).split(',')
    
    # Find matches and non-matches
    matches, non_matches1, non_matches2 = find_jaro_matches(vilnmcoc_VL_list, vilnmcoc_list)

    # Add matches to results_df
    new_rows = [{
        'tehnmcoc': triplet['tehnmcoc'],
        'dtnmcoc': triplet['dtnmcoc'],
        'state': triplet['state'],
        'Matched vilnmcoc-VL': match[0],
        'Matched vilnmcoc': match[1],
        'Similarity Score': match[2]
    } for match in matches]
    if new_rows:
        results_df = pd.concat([results_df, pd.DataFrame(new_rows)], ignore_index=True)

        # Add non-matches to non_matches_df
    non_matches_data1 = []
    non_matches_data2 = []

    for nm1 in non_matches1:
        non_matches_data1.append({
            'tehnmcoc': triplet['tehnmcoc'],
            'dtnmcoc': triplet['dtnmcoc'],
            'state': triplet['state'],
            'Non-Matched vilnmcoc-VL': nm1,
            'Non-Matched vilnmcoc': None
        })

    for nm2 in non_matches2:
        non_matches_data2.append({
            'tehnmcoc': triplet['tehnmcoc'],
            'dtnmcoc': triplet['dtnmcoc'],
            'state': triplet['state'],
            'Non-Matched vilnmcoc-VL': None,
            'Non-Matched vilnmcoc': nm2
        })

    # Convert lists to DataFrames and concatenate them to the main non_matches_df
    if non_matches_data1:
        non_matches_df = pd.concat([non_matches_df, pd.DataFrame(non_matches_data1)], ignore_index=True)
    if non_matches_data2:
        non_matches_df = pd.concat([non_matches_df, pd.DataFrame(non_matches_data2)], ignore_index=True)

# Print or save results
print("Matches:")
print(results_df)

/var/folders/kp/x_0hz4ts7716vsw090qqd8cc0000gn/T/ipykernel_1096/1246776853.py:54: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  results_df = pd.concat([results_df, pd.DataFrame(new_rows)], ignore_index=True)

Matches:
         tehnmcoc    dtnmcoc      state Matched vilnmcoc-VL Matched vilnmcoc  \
0       gurdaspur  gurdaspur     punjab             shaikha          shaikha
1       gurdaspur  gurdaspur     punjab             jhoroli          jhoroli
2       gurdaspur  gurdaspur     punjab            pachowal         pachowal
3       gurdaspur  gurdaspur     punjab             bhandal          bhandal
4       gurdaspur  gurdaspur     punjab         kala goraya      kala goraya
...           ...        ...        ...                 ...              ...
3146        digod       kota  rajasthan           sultanpur        sultanpur
3147      hindoli      bundi  rajasthan            badodiya         badodiya
3148       talera      bundi  rajasthan           jakhamund        jakhamund
3149   krishnganj      baran  rajasthan           maharwata        maharwata
3150  jhalrapatan   jhalawar  rajasthan            bhawrasa         bhawrasa

      Similarity Score
0                  1.0
1                  1.0
2                  1.0
3                  1.0
4                  1.0
...                ...
3146               1.0
3147               1.0
3148               1.0
3149               1.0
3150               1.0

[3151 rows x 6 columns]

In [406]:
results_df

,tehnmcoc,dtnmcoc,state,Matched vilnmcoc-VL,Matched vilnmcoc,Similarity Score
0,gurdaspur,gurdaspur,punjab,shaikha,shaikha,1.0
1,gurdaspur,gurdaspur,punjab,jhoroli,jhoroli,1.0
2,gurdaspur,gurdaspur,punjab,pachowal,pachowal,1.0
3,gurdaspur,gurdaspur,punjab,bhandal,bhandal,1.0
4,gurdaspur,gurdaspur,punjab,kala goraya,kala goraya,1.0
...,...,...,...,...,...,...
3146,digod,kota,rajasthan,sultanpur,sultanpur,1.0
3147,hindoli,bundi,rajasthan,badodiya,badodiya,1.0
3148,talera,bundi,rajasthan,jakhamund,jakhamund,1.0
3149,krishnganj,baran,rajasthan,maharwata,maharwata,1.0
3150,jhalrapatan,jhalawar,rajasthan,bhawrasa,bhawrasa,1.0

In [407]:

concaconcatenated_gdf_small.rename(columns={'vilnmcoc': 'Matched vilnmcoc'}, inplace=True)

In [468]:
results_df

,tehnmcoc,dtnmcoc,state,Matched vilnmcoc-VL,Matched vilnmcoc,Similarity Score
0,gurdaspur,gurdaspur,punjab,shaikha,shaikha,1.0
1,gurdaspur,gurdaspur,punjab,jhoroli,jhoroli,1.0
2,gurdaspur,gurdaspur,punjab,pachowal,pachowal,1.0
3,gurdaspur,gurdaspur,punjab,bhandal,bhandal,1.0
4,gurdaspur,gurdaspur,punjab,kala goraya,kala goraya,1.0
...,...,...,...,...,...,...
3146,digod,kota,rajasthan,sultanpur,sultanpur,1.0
3147,hindoli,bundi,rajasthan,badodiya,badodiya,1.0
3148,talera,bundi,rajasthan,jakhamund,jakhamund,1.0
3149,krishnganj,baran,rajasthan,maharwata,maharwata,1.0
3150,jhalrapatan,jhalawar,rajasthan,bhawrasa,bhawrasa,1.0

In [469]:
results_df

,tehnmcoc,dtnmcoc,state,Matched vilnmcoc-VL,Matched vilnmcoc,Similarity Score
0,gurdaspur,gurdaspur,punjab,shaikha,shaikha,1.0
1,gurdaspur,gurdaspur,punjab,jhoroli,jhoroli,1.0
2,gurdaspur,gurdaspur,punjab,pachowal,pachowal,1.0
3,gurdaspur,gurdaspur,punjab,bhandal,bhandal,1.0
4,gurdaspur,gurdaspur,punjab,kala goraya,kala goraya,1.0
...,...,...,...,...,...,...
3146,digod,kota,rajasthan,sultanpur,sultanpur,1.0
3147,hindoli,bundi,rajasthan,badodiya,badodiya,1.0
3148,talera,bundi,rajasthan,jakhamund,jakhamund,1.0
3149,krishnganj,baran,rajasthan,maharwata,maharwata,1.0
3150,jhalrapatan,jhalawar,rajasthan,bhawrasa,bhawrasa,1.0

In [408]:
merged_df.to_file('Village-List-To-SOI-Village-Mapping', driver = 'ESRI Shapefile')

/var/folders/kp/x_0hz4ts7716vsw090qqd8cc0000gn/T/ipykernel_76323/1142894996.py:1: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  merged_df.to_file('Village-List-To-SOI-Village-Mapping', driver = 'ESRI Shapefile')

In [525]:
merged_df

,Zone No,Tehsil Code,tehnmcoc_x,dtnmcoc_x,vilnmcoc-VL,state_x,Year,state_y,year,zone,dtnmcoc_y,slnococ,tehnmcoc_y,Matched vi,sdnm_11,Matched _1,Similarity,geometry,_merge
0,iv,40,puduru,ranga reddy,pedhaumethala,andhra pradesh,2008-2011,andhra pradesh,2008-11,iv,ranga reddy,40,puduru,pedhaumethala,pudur,pedhaumethala,1.0,"POLYGON ((77.96082 17.23120, 77.96113 17.23147...",both
1,v,49,sadasivpet,medak,nandi kandi,andhra pradesh,2008-2011,andhra pradesh,2008-11,v,medak,49,sadasivpet,nandi kandi,sadasivpet,nandi kandi,1.0,"POLYGON ((77.98548 17.62885, 77.98720 17.62891...",both
2,v,50,zaiheerabad,medak,huggelly,andhra pradesh,2008-2011,andhra pradesh,2008-11,v,medak,50,zaiheerabad,huggelly,zahirabad,huggelly,1.0,"POLYGON ((77.68140 17.68262, 77.68318 17.68120...",both
3,i,1,etheria,srikakulam,ponnada,andhra pradesh,2008-2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,left_only
4,i,2,tekkali,srikakulam,tirlangi,andhra pradesh,2008-2011,andhra pradesh,2008-11,i,srikakulam,2,tekkali,tirlangi,tekkali,tirlangi,1.0,"POLYGON ((84.20608 18.61308, 84.20653 18.61301...",both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4549,zone v,56,chegunta,medak,narsingi,andhra pradesh,2017-2020,andhra pradesh,2017-20,zone v,medak,56,chegunta,narsingi,chegunta,narsingi,1.0,"POLYGON ((78.42583 18.05796, 78.42748 18.05770...",both
4550,zone v,57,doultabad,medak,raipole,andhra pradesh,2017-2020,andhra pradesh,2017-20,zone v,medak,57,doultabad,raipole,doultabad,raipole,1.0,"POLYGON ((78.61108 17.94727, 78.61143 17.94748...",both
4551,zone v,58,shayampet,warangal,peddakodepaka,andhra pradesh,2017-2020,andhra pradesh,2017-20,zone v,warangal,58,shayampet,peddakodepaka,shayampet,peddakodepaka,1.0,"POLYGON ((79.72748 18.19270, 79.72867 18.19208...",both
4552,zone v,59,chityal,warangal,jookal,andhra pradesh,2017-2020,andhra pradesh,2017-20,zone v,warangal,59,chityal,jookal,chityal,jookal,1.0,"POLYGON ((79.69366 18.31366, 79.69440 18.31422...",both
4553,zone v,60,palakurthi,warangal,vavilala,andhra pradesh,2017-2020,andhra pradesh,2017-20,zone v,warangal,60,palakurthi,vavilala,palakurthi,vavilala,1.0,"POLYGON ((79.47035 17.61842, 79.47202 17.62111...",both

In [400]:
concaconcatenated_gdf_small.columns

Index(['state', 'year', 'zone', 'dtnmcoc', 'slnococ', 'tehnmcoc',
       'Matched vilnmcoc', 'sdnm_11', 'geometry'],
      dtype='object')

In [401]:
results_df.columns

Index(['tehnmcoc', 'dtnmcoc', 'state', 'Matched vilnmcoc-VL',
       'Matched vilnmcoc', 'Similarity Score'],
      dtype='object')

In [475]:
village_list

,Zone No,Tehsil Code,tehnmcoc,dtnmcoc,vilnmcoc-VL,state,Year
0,iv,40,puduru,ranga reddy,pedhaumethala,andhra pradesh,2008-2011
1,v,49,sadasivpet,medak,nandi kandi,andhra pradesh,2008-2011
2,v,50,zaiheerabad,medak,huggelly,andhra pradesh,2008-2011
3,i,1,etheria,srikakulam,ponnada,andhra pradesh,2008-2011
4,i,2,tekkali,srikakulam,tirlangi,andhra pradesh,2008-2011
...,...,...,...,...,...,...,...
4108,zone v,56,chegunta,medak,narsingi,andhra pradesh,2017-2020
4109,zone v,57,doultabad,medak,raipole,andhra pradesh,2017-2020
4110,zone v,58,shayampet,warangal,peddakodepaka,andhra pradesh,2017-2020
4111,zone v,59,chityal,warangal,jookal,andhra pradesh,2017-2020
4112,zone v,60,palakurthi,warangal,vavilala,andhra pradesh,2017-2020

In [474]:
results_df

,tehnmcoc,dtnmcoc,state,Matched vilnmcoc-VL,Matched vilnmcoc,Similarity Score
0,gurdaspur,gurdaspur,punjab,shaikha,shaikha,1.0
1,gurdaspur,gurdaspur,punjab,jhoroli,jhoroli,1.0
2,gurdaspur,gurdaspur,punjab,pachowal,pachowal,1.0
3,gurdaspur,gurdaspur,punjab,bhandal,bhandal,1.0
4,gurdaspur,gurdaspur,punjab,kala goraya,kala goraya,1.0
...,...,...,...,...,...,...
3146,digod,kota,rajasthan,sultanpur,sultanpur,1.0
3147,hindoli,bundi,rajasthan,badodiya,badodiya,1.0
3148,talera,bundi,rajasthan,jakhamund,jakhamund,1.0
3149,krishnganj,baran,rajasthan,maharwata,maharwata,1.0
3150,jhalrapatan,jhalawar,rajasthan,bhawrasa,bhawrasa,1.0

In [526]:
merged_gdf = gpd.GeoDataFrame(pd.merge(concaconcatenated_gdf_small, results_df, on=['state', 'Matched vilnmcoc', 'dtnmcoc', 'tehnmcoc']))

In [527]:
merged_df

,Zone No,Tehsil Code,tehnmcoc_x,dtnmcoc_x,vilnmcoc-VL,state_x,Year,state_y,year,zone,dtnmcoc_y,slnococ,tehnmcoc_y,Matched vi,sdnm_11,Matched _1,Similarity,geometry,_merge
0,iv,40,puduru,ranga reddy,pedhaumethala,andhra pradesh,2008-2011,andhra pradesh,2008-11,iv,ranga reddy,40,puduru,pedhaumethala,pudur,pedhaumethala,1.0,"POLYGON ((77.96082 17.23120, 77.96113 17.23147...",both
1,v,49,sadasivpet,medak,nandi kandi,andhra pradesh,2008-2011,andhra pradesh,2008-11,v,medak,49,sadasivpet,nandi kandi,sadasivpet,nandi kandi,1.0,"POLYGON ((77.98548 17.62885, 77.98720 17.62891...",both
2,v,50,zaiheerabad,medak,huggelly,andhra pradesh,2008-2011,andhra pradesh,2008-11,v,medak,50,zaiheerabad,huggelly,zahirabad,huggelly,1.0,"POLYGON ((77.68140 17.68262, 77.68318 17.68120...",both
3,i,1,etheria,srikakulam,ponnada,andhra pradesh,2008-2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,left_only
4,i,2,tekkali,srikakulam,tirlangi,andhra pradesh,2008-2011,andhra pradesh,2008-11,i,srikakulam,2,tekkali,tirlangi,tekkali,tirlangi,1.0,"POLYGON ((84.20608 18.61308, 84.20653 18.61301...",both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4549,zone v,56,chegunta,medak,narsingi,andhra pradesh,2017-2020,andhra pradesh,2017-20,zone v,medak,56,chegunta,narsingi,chegunta,narsingi,1.0,"POLYGON ((78.42583 18.05796, 78.42748 18.05770...",both
4550,zone v,57,doultabad,medak,raipole,andhra pradesh,2017-2020,andhra pradesh,2017-20,zone v,medak,57,doultabad,raipole,doultabad,raipole,1.0,"POLYGON ((78.61108 17.94727, 78.61143 17.94748...",both
4551,zone v,58,shayampet,warangal,peddakodepaka,andhra pradesh,2017-2020,andhra pradesh,2017-20,zone v,warangal,58,shayampet,peddakodepaka,shayampet,peddakodepaka,1.0,"POLYGON ((79.72748 18.19270, 79.72867 18.19208...",both
4552,zone v,59,chityal,warangal,jookal,andhra pradesh,2017-2020,andhra pradesh,2017-20,zone v,warangal,59,chityal,jookal,chityal,jookal,1.0,"POLYGON ((79.69366 18.31366, 79.69440 18.31422...",both
4553,zone v,60,palakurthi,warangal,vavilala,andhra pradesh,2017-2020,andhra pradesh,2017-20,zone v,warangal,60,palakurthi,vavilala,palakurthi,vavilala,1.0,"POLYGON ((79.47035 17.61842, 79.47202 17.62111...",both

In [529]:
# Perform an outer merge to keep all entries from both dataframes
merged_gdf = gpd.GeoDataFrame(pd.merge(concatenated_gdf_small, results_df, on=['state', 'Matched vilnmcoc', 'dtnmcoc', 'tehnmcoc'], how='outer'))

KeyError: 'Matched vilnmcoc'

In [411]:
merged_gdf.to_file('Village-List-To-SOI-Village-List-Mapping-(1.)', driver = 'ESRI Shapefile')

/var/folders/kp/x_0hz4ts7716vsw090qqd8cc0000gn/T/ipykernel_1096/3877894608.py:1: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  merged_gdf.to_file('Village-List-To-SOI-Village-List-Mapping-(1.)', driver = 'ESRI Shapefile')

In [412]:
filtered_gdf = merged_gdf[merged_gdf['Similarity Score'] > 0.85]

In [414]:
filtered_gdf

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,Matched vilnmcoc,sdnm_11,geometry,Matched vilnmcoc-VL,Similarity Score
0,punjab,2008-11,1,gurdaspur,2,batala,ammo nagal,batala,"POLYGON ((75.24774 31.75000, 75.24879 31.75118...",ammo nagal,1.0
1,punjab,2008-11,1,amrtisar,3,ajnala,bhalapind,ajnala,"POLYGON ((74.78681 31.79373, 74.78854 31.79339...",bhalapind,1.0
2,punjab,2008-11,1,amritsar,4,amritsar-i,ballian manjpur,amritsar i,"POLYGON ((75.08233 31.59099, 75.08259 31.59082...",ballian manjpur,1.0
3,punjab,2008-11,1,tarntarn,5,patti,kirtowal,patti,"POLYGON ((74.90056 31.21235, 74.90026 31.21180...",kirtowal,1.0
4,punjab,2008-11,1,hoshiarpur,6,mukerian,gera,mukerian,"POLYGON ((75.79117 31.98615, 75.79183 31.98424...",gera,1.0
...,...,...,...,...,...,...,...,...,...,...,...
3273,rajasthan,2017-20,9,kota,56,digod,sultanpur,digod,"POLYGON ((76.13732 25.30970, 76.13781 25.31034...",sultanpur,1.0
3274,rajasthan,2017-20,9,bundi,57,hindoli,badodiya,hindoli,"POLYGON ((75.56267 25.51453, 75.56316 25.51453...",badodiya,1.0
3275,rajasthan,2017-20,9,bundi,58,talera,jakhamund,bundi,"POLYGON ((75.75674 25.25866, 75.75697 25.25882...",jakhamund,1.0
3276,rajasthan,2017-20,9,baran,59,krishnganj,maharwata,kishanganj,"POLYGON ((76.63089 25.14469, 76.63319 25.14469...",maharwata,1.0
3277,rajasthan,2017-20,9,jhalawar,60,jhalrapatan,bhawrasa,jhalrapatan,"POLYGON ((76.23306 24.52334, 76.23324 24.52298...",bhawrasa,1.0

In [276]:
results_df.to_csv('mapping-soi-vl.csv')

In [259]:
results_df.to_csv('WB-districts.csv')

In [241]:
print(state_SOI_District['uttarakhand'])

['champawat' 'nainital' 'u.s.nagar' 'haridwar' 'rudra prayag' 'dehradun'
 'almora' 'pithoragarh']

In [415]:
import pandas as pd

# Load the DataFrame from CSV


# Create a tuple of the three columns and find unique combinations
unique_triplets = merged_df[['state', 'dtnmcoc', 'tehnmcoc']].drop_duplicates()

# Print the unique triplets
print("Unique triplets of 'state', 'dtnmcoc', and 'tehnmcoc':")
print(unique_triplets)

Unique triplets of 'state', 'dtnmcoc', and 'tehnmcoc':
          state    dtnmcoc     tehnmcoc
0        punjab  gurdaspur    gurdaspur
42       punjab  gurdaspur       batala
91       punjab   amrtisar       ajnala
92       punjab   amritsar   amritsar-i
93       punjab   tarntarn        patti
...         ...        ...          ...
8299  rajasthan       kota        digod
8300  rajasthan      bundi      hindoli
8301  rajasthan      bundi       talera
8302  rajasthan      baran   krishnganj
8303  rajasthan   jhalawar  jhalrapatan

[2175 rows x 3 columns]

In [416]:
unique_triplets = merged_df[['tehnmcoc', 'dtnmcoc', 'state']].drop_duplicates()

In [417]:
unique_triplets

         tehnmcoc    dtnmcoc      state
0       gurdaspur  gurdaspur     punjab
42         batala  gurdaspur     punjab
91         ajnala   amrtisar     punjab
92     amritsar-i   amritsar     punjab
93          patti   tarntarn     punjab
...           ...        ...        ...
8299        digod       kota  rajasthan
8300      hindoli      bundi  rajasthan
8301       talera      bundi  rajasthan
8302   krishnganj      baran  rajasthan
8303  jhalrapatan   jhalawar  rajasthan

[2175 rows x 3 columns]

In [418]:
results_df

,tehnmcoc,dtnmcoc,state,Matched vilnmcoc-VL,Matched vilnmcoc,Similarity Score
0,gurdaspur,gurdaspur,punjab,shaikha,shaikha,1.0
1,gurdaspur,gurdaspur,punjab,jhoroli,jhoroli,1.0
2,gurdaspur,gurdaspur,punjab,pachowal,pachowal,1.0
3,gurdaspur,gurdaspur,punjab,bhandal,bhandal,1.0
4,gurdaspur,gurdaspur,punjab,kala goraya,kala goraya,1.0
...,...,...,...,...,...,...
3146,digod,kota,rajasthan,sultanpur,sultanpur,1.0
3147,hindoli,bundi,rajasthan,badodiya,badodiya,1.0
3148,talera,bundi,rajasthan,jakhamund,jakhamund,1.0
3149,krishnganj,baran,rajasthan,maharwata,maharwata,1.0
3150,jhalrapatan,jhalawar,rajasthan,bhawrasa,bhawrasa,1.0

In [419]:
for state in results_df['state'].unique():
    print(state, len(results_df[results_df['state']==state]['Matched vilnmcoc-VL'].unique()))
    
for state in village_list['state'].unique():
    print(state, len(village_list[village_list['state']==state]['vilnmcoc-VL'].unique()))

punjab 146
bihar 174
uttarakhand 10
chhattisgarh 40
gujarat 227
uttar pradesh 215
karnataka 134
west bengal 234
madhya pradesh 179
orissa 182
himachal pradesh 259
haryana 119
jharkhand 58
kerala 114
assam 91
tamil nadu 212
maharashtra 234
andhra pradesh 217
rajasthan 227
andhra pradesh 221
assam 442
bihar 195
chhattisgarh 60
gujarat 227
haryana 119
jharkhand 63
kerala 116
maharashtra 237
madhya pradesh 177
orissa 190
punjab 147
rajasthan 236
tamil nadu 214
west bengal 609
uttar pradesh 215
himachal pradesh 319
karnataka 180
uttarakhand 10

In [420]:
concaconcatenated_gdf_small

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,Matched vilnmcoc,sdnm_11,geometry
0,punjab,2008-11,1,gurdaspur,1,gurdaspur,lakhowal,gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373..."
1,punjab,2008-11,1,gurdaspur,2,batala,ammo nagal,batala,"POLYGON ((75.24774 31.75000, 75.24879 31.75118..."
2,punjab,2008-11,1,amrtisar,3,ajnala,bhalapind,ajnala,"POLYGON ((74.78681 31.79373, 74.78854 31.79339..."
3,punjab,2008-11,1,amritsar,4,amritsar-i,ballian manjpur,amritsar i,"POLYGON ((75.08233 31.59099, 75.08259 31.59082..."
4,punjab,2008-11,1,tarntarn,5,patti,kirtowal,patti,"POLYGON ((74.90056 31.21235, 74.90026 31.21180..."
...,...,...,...,...,...,...,...,...,...
3768,rajasthan,2017-20,9,kota,56,digod,sultanpur,digod,"POLYGON ((76.13732 25.30970, 76.13781 25.31034..."
3769,rajasthan,2017-20,9,bundi,57,hindoli,badodiya,hindoli,"POLYGON ((75.56267 25.51453, 75.56316 25.51453..."
3770,rajasthan,2017-20,9,bundi,58,talera,jakhamund,bundi,"POLYGON ((75.75674 25.25866, 75.75697 25.25882..."
3771,rajasthan,2017-20,9,baran,59,krishnganj,maharwata,kishanganj,"POLYGON ((76.63089 25.14469, 76.63319 25.14469..."
3772,rajasthan,2017-20,9,jhalawar,60,jhalrapatan,bhawrasa,jhalrapatan,"POLYGON ((76.23306 24.52334, 76.23324 24.52298..."

In [421]:
merged_df

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry,Zone No,Tehsil Code,vilnmcoc-VL,Year
0,punjab,2008-11,1,gurdaspur,1,gurdaspur,lakhowal,gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",i,1,shaikha,2011-2014
1,punjab,2008-11,1,gurdaspur,1,gurdaspur,lakhowal,gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",i,1.0,jhoroli,2014-2017
2,punjab,2008-11,1,gurdaspur,1,gurdaspur,lakhowal,gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",i,1.0,pachowal,2014-2017
3,punjab,2008-11,1,gurdaspur,1,gurdaspur,lakhowal,gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",i,3,bhandal,2017-2020
4,punjab,2008-11,1,gurdaspur,1,gurdaspur,lakhowal,gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",i,3,kala goraya,2017-2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8299,rajasthan,2017-20,9,kota,56,digod,sultanpur,digod,"POLYGON ((76.13732 25.30970, 76.13781 25.31034...",zone-ix,56,sultanpur,2017-2020
8300,rajasthan,2017-20,9,bundi,57,hindoli,badodiya,hindoli,"POLYGON ((75.56267 25.51453, 75.56316 25.51453...",zone-ix,57,badodiya,2017-2020
8301,rajasthan,2017-20,9,bundi,58,talera,jakhamund,bundi,"POLYGON ((75.75674 25.25866, 75.75697 25.25882...",zone-ix,58,jakhamund,2017-2020
8302,rajasthan,2017-20,9,baran,59,krishnganj,maharwata,kishanganj,"POLYGON ((76.63089 25.14469, 76.63319 25.14469...",zone-ix,59,maharwata,2017-2020
8303,rajasthan,2017-20,9,jhalawar,60,jhalrapatan,bhawrasa,jhalrapatan,"POLYGON ((76.23306 24.52334, 76.23324 24.52298...",zone-ix,60,bhawrasa,2017-2020

In [424]:
merged_df

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry,Zone No,Tehsil Code,vilnmcoc-VL,Year
0,punjab,2008-11,1,gurdaspur,1,gurdaspur,lakhowal,gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",i,1,shaikha,2011-2014
1,punjab,2008-11,1,gurdaspur,1,gurdaspur,lakhowal,gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",i,1.0,jhoroli,2014-2017
2,punjab,2008-11,1,gurdaspur,1,gurdaspur,lakhowal,gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",i,1.0,pachowal,2014-2017
3,punjab,2008-11,1,gurdaspur,1,gurdaspur,lakhowal,gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",i,3,bhandal,2017-2020
4,punjab,2008-11,1,gurdaspur,1,gurdaspur,lakhowal,gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373...",i,3,kala goraya,2017-2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8299,rajasthan,2017-20,9,kota,56,digod,sultanpur,digod,"POLYGON ((76.13732 25.30970, 76.13781 25.31034...",zone-ix,56,sultanpur,2017-2020
8300,rajasthan,2017-20,9,bundi,57,hindoli,badodiya,hindoli,"POLYGON ((75.56267 25.51453, 75.56316 25.51453...",zone-ix,57,badodiya,2017-2020
8301,rajasthan,2017-20,9,bundi,58,talera,jakhamund,bundi,"POLYGON ((75.75674 25.25866, 75.75697 25.25882...",zone-ix,58,jakhamund,2017-2020
8302,rajasthan,2017-20,9,baran,59,krishnganj,maharwata,kishanganj,"POLYGON ((76.63089 25.14469, 76.63319 25.14469...",zone-ix,59,maharwata,2017-2020
8303,rajasthan,2017-20,9,jhalawar,60,jhalrapatan,bhawrasa,jhalrapatan,"POLYGON ((76.23306 24.52334, 76.23324 24.52298...",zone-ix,60,bhawrasa,2017-2020

In [425]:
import pandas as pd

# Assuming 'results_df' and 'village_list' are already loaded and have the relevant columns

# Find unique states present in both DataFrames
unique_states_results = set(results_df['state'].unique())
unique_states_village = set(village_list['state'].unique())
common_states = unique_states_results.intersection(unique_states_village)

# Print counts of unique 'Matched vilnmcoc-VL' in results_df for each common state
print("Counts from results_df:")
for state in common_states:
    unique_villages_count = len(results_df[(results_df['state'] == state)]['Matched vilnmcoc-VL'].unique())
    print(state, unique_villages_count)

# Print counts of unique 'vilnmcoc-VL' in village_list for each common state
print("\nCounts from village_list:")
for state in common_states:
    unique_villages_count = len(village_list[(village_list['state'] == state)]['vilnmcoc-VL'].unique())
    print(state, unique_villages_count)

Counts from merged_gdf:
chhattisgarh 38
himachal pradesh 259
uttar pradesh 215
karnataka 134
jharkhand 58
tamil nadu 212
west bengal 234
orissa 169
bihar 174
maharashtra 234
gujarat 227
punjab 146
haryana 119
rajasthan 227
kerala 114
andhra pradesh 217
uttarakhand 10
madhya pradesh 179
assam 91

Counts from village_list:
chhattisgarh 60
himachal pradesh 319
uttar pradesh 215
karnataka 180
jharkhand 63
tamil nadu 214
west bengal 609
orissa 190
bihar 195
maharashtra 237
gujarat 227
punjab 147
haryana 119
rajasthan 236
kerala 116
andhra pradesh 221
uttarakhand 10
madhya pradesh 177
assam 442

In [426]:
import pandas as pd

# Assuming 'results_df' and 'village_list' are already loaded and have the relevant columns

# Find unique states present in both DataFrames
unique_states_results = set(results_df['state'].unique())
unique_states_village = set(village_list['state'].unique())
common_states = unique_states_results.intersection(unique_states_village)

# Print counts of unique 'Matched vilnmcoc-VL' in results_df for each common state
print("Counts from results_df:")
for state in common_states:
    unique_villages_count = len(results_df[(results_df['state'] == state)]['Matched vilnmcoc-VL'].unique())
    print(state, unique_villages_count)

# Print counts of unique 'vilnmcoc-VL' in village_list for each common state
print("\nCounts from village_list:")
for state in common_states:
    unique_villages_count = len(village_list[(village_list['state'] == state)]['vilnmcoc-VL'].unique())
    print(state, unique_villages_count)

Counts from results_df:
chhattisgarh 40
himachal pradesh 259
uttar pradesh 215
karnataka 134
jharkhand 58
tamil nadu 212
west bengal 234
orissa 182
bihar 174
maharashtra 234
gujarat 227
punjab 146
haryana 119
rajasthan 227
kerala 114
andhra pradesh 217
uttarakhand 10
madhya pradesh 179
assam 91

Counts from village_list:
chhattisgarh 60
himachal pradesh 319
uttar pradesh 215
karnataka 180
jharkhand 63
tamil nadu 214
west bengal 609
orissa 190
bihar 195
maharashtra 237
gujarat 227
punjab 147
haryana 119
rajasthan 236
kerala 116
andhra pradesh 221
uttarakhand 10
madhya pradesh 177
assam 442

In [423]:
results_df

,tehnmcoc,dtnmcoc,state,Matched vilnmcoc-VL,Matched vilnmcoc,Similarity Score
0,gurdaspur,gurdaspur,punjab,shaikha,shaikha,1.0
1,gurdaspur,gurdaspur,punjab,jhoroli,jhoroli,1.0
2,gurdaspur,gurdaspur,punjab,pachowal,pachowal,1.0
3,gurdaspur,gurdaspur,punjab,bhandal,bhandal,1.0
4,gurdaspur,gurdaspur,punjab,kala goraya,kala goraya,1.0
...,...,...,...,...,...,...
3146,digod,kota,rajasthan,sultanpur,sultanpur,1.0
3147,hindoli,bundi,rajasthan,badodiya,badodiya,1.0
3148,talera,bundi,rajasthan,jakhamund,jakhamund,1.0
3149,krishnganj,baran,rajasthan,maharwata,maharwata,1.0
3150,jhalrapatan,jhalawar,rajasthan,bhawrasa,bhawrasa,1.0

In [310]:
coc_gdf[coc_gdf['']]

<GeometryArray>
[<POINT (85.749 25.845)>,  <POINT (85.753 25.85)>, <POINT (85.816 25.663)>,
 <POINT (86.052 26.359)>, <POINT (86.065 26.384)>,  <POINT (85.77 26.459)>,
 <POINT (85.978 26.162)>, <POINT (86.218 25.898)>, <POINT (85.451 26.054)>,
  <POINT (85.43 26.091)>,
 ...
 <POINT (88.816 22.167)>, <POINT (88.888 22.334)>, <POINT (87.905 22.032)>,
 <POINT (87.884 22.004)>, <POINT (87.888 22.028)>,    <POINT (88.4 22.06)>,
 <POINT (88.419 22.091)>,  <POINT (88.65 22.511)>, <POINT (88.643 22.513)>,
 <POINT (88.643 22.494)>]
Length: 3593, dtype: geometry

In [300]:
len(village_list['vilnmcoc-VL'].unique())

3943

In [337]:
results_df

,tehnmcoc,dtnmcoc,state,Matched vilnmcoc-VL,Matched vilnmcoc,Similarity Score
0,gurdaspur,gurdaspur,punjab,shaikha,shaikha,1.0
1,gurdaspur,gurdaspur,punjab,jhoroli,jhoroli,1.0
2,gurdaspur,gurdaspur,punjab,pachowal,pachowal,1.0
3,gurdaspur,gurdaspur,punjab,bhandal,bhandal,1.0
4,gurdaspur,gurdaspur,punjab,kala goraya,kala goraya,1.0
...,...,...,...,...,...,...
3279,digod,kota,rajasthan,sultanpur,sultanpur,1.0
3280,hindoli,bundi,rajasthan,badodiya,badodiya,1.0
3281,talera,bundi,rajasthan,jakhamund,jakhamund,1.0
3282,krishnganj,baran,rajasthan,maharwata,maharwata,1.0
3283,jhalrapatan,jhalawar,rajasthan,bhawrasa,bhawrasa,1.0

In [513]:
results_df

,tehnmcoc,dtnmcoc,state,Matched vilnmcoc-VL,Matched vilnmcoc,Similarity Score
0,gurdaspur,gurdaspur,punjab,shaikha,shaikha,1.0
1,gurdaspur,gurdaspur,punjab,jhoroli,jhoroli,1.0
2,gurdaspur,gurdaspur,punjab,pachowal,pachowal,1.0
3,gurdaspur,gurdaspur,punjab,bhandal,bhandal,1.0
4,gurdaspur,gurdaspur,punjab,kala goraya,kala goraya,1.0
...,...,...,...,...,...,...
3146,digod,kota,rajasthan,sultanpur,sultanpur,1.0
3147,hindoli,bundi,rajasthan,badodiya,badodiya,1.0
3148,talera,bundi,rajasthan,jakhamund,jakhamund,1.0
3149,krishnganj,baran,rajasthan,maharwata,maharwata,1.0
3150,jhalrapatan,jhalawar,rajasthan,bhawrasa,bhawrasa,1.0

In [339]:
concaconcatenated_gdf_small

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry
0,punjab,2008-11,1,gurdaspur,1,gurdaspur,lakhowal,gurdaspur,"POLYGON ((75.32866 32.07205, 75.32882 32.07373..."
1,punjab,2008-11,1,gurdaspur,2,batala,ammo nagal,batala,"POLYGON ((75.24774 31.75000, 75.24879 31.75118..."
2,punjab,2008-11,1,amrtisar,3,ajnala,bhalapind,ajnala,"POLYGON ((74.78681 31.79373, 74.78854 31.79339..."
3,punjab,2008-11,1,amritsar,4,amritsar-i,ballian manjpur,amritsar i,"POLYGON ((75.08233 31.59099, 75.08259 31.59082..."
4,punjab,2008-11,1,tarntarn,5,patti,kirtowal,patti,"POLYGON ((74.90056 31.21235, 74.90026 31.21180..."
...,...,...,...,...,...,...,...,...,...
3768,rajasthan,2017-20,9,kota,56,digod,sultanpur,digod,"POLYGON ((76.13732 25.30970, 76.13781 25.31034..."
3769,rajasthan,2017-20,9,bundi,57,hindoli,badodiya,hindoli,"POLYGON ((75.56267 25.51453, 75.56316 25.51453..."
3770,rajasthan,2017-20,9,bundi,58,talera,jakhamund,bundi,"POLYGON ((75.75674 25.25866, 75.75697 25.25882..."
3771,rajasthan,2017-20,9,baran,59,krishnganj,maharwata,kishanganj,"POLYGON ((76.63089 25.14469, 76.63319 25.14469..."
3772,rajasthan,2017-20,9,jhalawar,60,jhalrapatan,bhawrasa,jhalrapatan,"POLYGON ((76.23306 24.52334, 76.23324 24.52298..."

In [477]:

import geopandas as gpd
import os
import pandas as pd

directory_path = '/Users/rishivijaywargiya/Downloads/Village-List-To-SOI-Village-List-Mapping-(1.)'
gdf_list = []

# Iterate over each file in the directory
for filename in os.listdir(directory_path):
    if filename.endswith('.shp'):
        # Construct the full file path
        file_path = os.path.join(directory_path, filename)
        
        # Load the Shapefile as a GeoDataFrame
        gdf = gpd.read_file(file_path)
        
        # Append the GeoDataFrame to the list
        gdf_list.append(gdf)

# Concatenate all GeoDataFrames into a single GeoDataFrame
new_results = gpd.GeoDataFrame(pd.concat(gdf_list, ignore_index=True))

print("All shapefiles have been concatenated into a single GeoDataFrame.")

All shapefiles have been concatenated into a single GeoDataFrame.

In [478]:
new_results

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,Matched vi,sdnm_11,Matched _1,Similarity,geometry
0,punjab,2008-11,1,gurdaspur,2,batala,ammo nagal,batala,ammo nagal,1.0,"POLYGON ((75.24774 31.75000, 75.24879 31.75118..."
1,punjab,2008-11,1,amrtisar,3,ajnala,bhalapind,ajnala,bhalapind,1.0,"POLYGON ((74.78681 31.79373, 74.78854 31.79339..."
2,punjab,2008-11,1,amritsar,4,amritsar-i,ballian manjpur,amritsar i,ballian manjpur,1.0,"POLYGON ((75.08233 31.59099, 75.08259 31.59082..."
3,punjab,2008-11,1,tarntarn,5,patti,kirtowal,patti,kirtowal,1.0,"POLYGON ((74.90056 31.21235, 74.90026 31.21180..."
4,punjab,2008-11,1,hoshiarpur,6,mukerian,gera,mukerian,gera,1.0,"POLYGON ((75.79117 31.98615, 75.79183 31.98424..."
...,...,...,...,...,...,...,...,...,...,...,...
3273,rajasthan,2017-20,9,kota,56,digod,sultanpur,digod,sultanpur,1.0,"POLYGON ((76.13732 25.30970, 76.13781 25.31034..."
3274,rajasthan,2017-20,9,bundi,57,hindoli,badodiya,hindoli,badodiya,1.0,"POLYGON ((75.56267 25.51453, 75.56316 25.51453..."
3275,rajasthan,2017-20,9,bundi,58,talera,jakhamund,bundi,jakhamund,1.0,"POLYGON ((75.75674 25.25866, 75.75697 25.25882..."
3276,rajasthan,2017-20,9,baran,59,krishnganj,maharwata,kishanganj,maharwata,1.0,"POLYGON ((76.63089 25.14469, 76.63319 25.14469..."
3277,rajasthan,2017-20,9,jhalawar,60,jhalrapatan,bhawrasa,jhalrapatan,bhawrasa,1.0,"POLYGON ((76.23306 24.52334, 76.23324 24.52298..."

In [480]:
new_results.columns

Index(['state', 'year', 'zone', 'dtnmcoc', 'slnococ', 'tehnmcoc', 'Matched vi',
       'sdnm_11', 'Matched _1', 'Similarity', 'geometry'],
      dtype='object')

In [481]:
village_list.columns

Index(['Zone No', 'Tehsil Code', 'tehnmcoc', 'dtnmcoc', 'vilnmcoc-VL', 'state',
       'Year'],
      dtype='object')

In [482]:
import pandas as pd

# Sample DataFrames
# villagelist = pd.DataFrame({'vilnmcoc': [...]})  # This should be your actual data

# Merge with an indicator to find non-matching rows
merged_df = village_list.merge(new_results, left_on='vilnmcoc-VL', right_on='Matched vi', how='left', indicator=True)

# Filter out only the rows that did not find a match in new_results
non_matching_rows = merged_df[merged_df['_merge'] == 'left_only']

# Drop the columns added from new_results and the merge indicator
non_matching_rows = non_matching_rows.drop(columns=[col for col in new_results.columns if col != 'vilnmcoc'] + ['_merge'])

# Now non_matching_rows contains entries from villagelist that have no match in new_results

KeyError: "['state', 'dtnmcoc', 'tehnmcoc'] not found in axis"

In [488]:
new_results.columns

Index(['state', 'year', 'zone', 'dtnmcoc', 'slnococ', 'tehnmcoc', 'Matched vi',
       'sdnm_11', 'Matched _1', 'Similarity', 'geometry'],
      dtype='object')

In [489]:
# Assuming 'vilnmcoc' is the correct column for matching in villagelist and 'Matched vilnmcoc-VL' in results_df
merged_df = village_list.merge(new_results, left_on='vilnmcoc-VL', right_on='Matched vi', how='left', indicator=True)

# Filtering to find rows with no match in results_df
non_matching_rows = merged_df[merged_df['_merge'] == 'left_only']

In [491]:
non_matching_rows = non_matching_rows['vilnmcoc-VL']

In [493]:
non_matching_rows.to_csv('non-matching-villages-between-VillageList-SOI.csv')

In [508]:
new_results.columns

Index(['state', 'year', 'zone', 'dtnmcoc', 'slnococ', 'tehnmcoc', 'Matched vi',
       'sdnm_11', 'Matched _1', 'Similarity', 'geometry'],
      dtype='object')

In [522]:
new_results.rename(columns={'state': 'STATE'}, inplace=True)
new_results.rename(columns={'year': 'YEAR'}, inplace=True)
new_results.rename(columns={'zone': 'ZONE'}, inplace=True)
new_results.rename(columns={'dtnmcoc': 'DISTRICT'}, inplace=True)
new_results.rename(columns={'slnococ': 'slnococ'}, inplace=True)
new_results.rename(columns={'tehnmcoc': 'TEHSIL'}, inplace=True)
new_results.rename(columns={'Village List': 'VL'}, inplace=True)
new_results.rename(columns={'Matched _1': 'SOI'}, inplace=True)

In [523]:
new_results

,STATE,YEAR,ZONE,DISTRICT,slnococ,TEHSIL,VL,sdnm_11,SOI,Similarity,geometry
0,punjab,2008-11,1,gurdaspur,2,batala,ammo nagal,batala,ammo nagal,1.0,"POLYGON ((75.24774 31.75000, 75.24879 31.75118..."
1,punjab,2008-11,1,amrtisar,3,ajnala,bhalapind,ajnala,bhalapind,1.0,"POLYGON ((74.78681 31.79373, 74.78854 31.79339..."
2,punjab,2008-11,1,amritsar,4,amritsar-i,ballian manjpur,amritsar i,ballian manjpur,1.0,"POLYGON ((75.08233 31.59099, 75.08259 31.59082..."
3,punjab,2008-11,1,tarntarn,5,patti,kirtowal,patti,kirtowal,1.0,"POLYGON ((74.90056 31.21235, 74.90026 31.21180..."
4,punjab,2008-11,1,hoshiarpur,6,mukerian,gera,mukerian,gera,1.0,"POLYGON ((75.79117 31.98615, 75.79183 31.98424..."
...,...,...,...,...,...,...,...,...,...,...,...
3273,rajasthan,2017-20,9,kota,56,digod,sultanpur,digod,sultanpur,1.0,"POLYGON ((76.13732 25.30970, 76.13781 25.31034..."
3274,rajasthan,2017-20,9,bundi,57,hindoli,badodiya,hindoli,badodiya,1.0,"POLYGON ((75.56267 25.51453, 75.56316 25.51453..."
3275,rajasthan,2017-20,9,bundi,58,talera,jakhamund,bundi,jakhamund,1.0,"POLYGON ((75.75674 25.25866, 75.75697 25.25882..."
3276,rajasthan,2017-20,9,baran,59,krishnganj,maharwata,kishanganj,maharwata,1.0,"POLYGON ((76.63089 25.14469, 76.63319 25.14469..."
3277,rajasthan,2017-20,9,jhalawar,60,jhalrapatan,bhawrasa,jhalrapatan,bhawrasa,1.0,"POLYGON ((76.23306 24.52334, 76.23324 24.52298..."

In [524]:
new_results.to_file('Village_List-SOI-Mapping(Main)', driver = 'ESRI Shapefile' )

In [536]:
new_results.drop_duplicates()

,STATE,YEAR,ZONE,DISTRICT,slnococ,TEHSIL,VL,sdnm_11,SOI,Similarity,geometry
0,punjab,2008-11,1,gurdaspur,2,batala,ammo nagal,batala,ammo nagal,1.0,"POLYGON ((75.24774 31.75000, 75.24879 31.75118..."
1,punjab,2008-11,1,amrtisar,3,ajnala,bhalapind,ajnala,bhalapind,1.0,"POLYGON ((74.78681 31.79373, 74.78854 31.79339..."
2,punjab,2008-11,1,amritsar,4,amritsar-i,ballian manjpur,amritsar i,ballian manjpur,1.0,"POLYGON ((75.08233 31.59099, 75.08259 31.59082..."
3,punjab,2008-11,1,tarntarn,5,patti,kirtowal,patti,kirtowal,1.0,"POLYGON ((74.90056 31.21235, 74.90026 31.21180..."
4,punjab,2008-11,1,hoshiarpur,6,mukerian,gera,mukerian,gera,1.0,"POLYGON ((75.79117 31.98615, 75.79183 31.98424..."
...,...,...,...,...,...,...,...,...,...,...,...
3273,rajasthan,2017-20,9,kota,56,digod,sultanpur,digod,sultanpur,1.0,"POLYGON ((76.13732 25.30970, 76.13781 25.31034..."
3274,rajasthan,2017-20,9,bundi,57,hindoli,badodiya,hindoli,badodiya,1.0,"POLYGON ((75.56267 25.51453, 75.56316 25.51453..."
3275,rajasthan,2017-20,9,bundi,58,talera,jakhamund,bundi,jakhamund,1.0,"POLYGON ((75.75674 25.25866, 75.75697 25.25882..."
3276,rajasthan,2017-20,9,baran,59,krishnganj,maharwata,kishanganj,maharwata,1.0,"POLYGON ((76.63089 25.14469, 76.63319 25.14469..."
3277,rajasthan,2017-20,9,jhalawar,60,jhalrapatan,bhawrasa,jhalrapatan,bhawrasa,1.0,"POLYGON ((76.23306 24.52334, 76.23324 24.52298..."

In [545]:
unique_triplets_one = new_results.drop_duplicates()

In [550]:
new_results[['VL', 'STATE', 'DISTRICT', 'TEHSIL']].drop_duplicates()

                   VL      STATE    DISTRICT       TEHSIL
0          ammo nagal     punjab   gurdaspur       batala
1           bhalapind     punjab    amrtisar       ajnala
2     ballian manjpur     punjab    amritsar   amritsar-i
3            kirtowal     punjab    tarntarn        patti
4                gera     punjab  hoshiarpur     mukerian
...               ...        ...         ...          ...
3273        sultanpur  rajasthan        kota        digod
3274         badodiya  rajasthan       bundi      hindoli
3275        jakhamund  rajasthan       bundi       talera
3276        maharwata  rajasthan       baran   krishnganj
3277         bhawrasa  rajasthan    jhalawar  jhalrapatan

[3101 rows x 4 columns]

In [546]:
unique_triplets_one

,STATE,YEAR,ZONE,DISTRICT,slnococ,TEHSIL,VL,sdnm_11,SOI,Similarity,geometry
0,punjab,2008-11,1,gurdaspur,2,batala,ammo nagal,batala,ammo nagal,1.0,"POLYGON ((75.24774 31.75000, 75.24879 31.75118..."
1,punjab,2008-11,1,amrtisar,3,ajnala,bhalapind,ajnala,bhalapind,1.0,"POLYGON ((74.78681 31.79373, 74.78854 31.79339..."
2,punjab,2008-11,1,amritsar,4,amritsar-i,ballian manjpur,amritsar i,ballian manjpur,1.0,"POLYGON ((75.08233 31.59099, 75.08259 31.59082..."
3,punjab,2008-11,1,tarntarn,5,patti,kirtowal,patti,kirtowal,1.0,"POLYGON ((74.90056 31.21235, 74.90026 31.21180..."
4,punjab,2008-11,1,hoshiarpur,6,mukerian,gera,mukerian,gera,1.0,"POLYGON ((75.79117 31.98615, 75.79183 31.98424..."
...,...,...,...,...,...,...,...,...,...,...,...
3273,rajasthan,2017-20,9,kota,56,digod,sultanpur,digod,sultanpur,1.0,"POLYGON ((76.13732 25.30970, 76.13781 25.31034..."
3274,rajasthan,2017-20,9,bundi,57,hindoli,badodiya,hindoli,badodiya,1.0,"POLYGON ((75.56267 25.51453, 75.56316 25.51453..."
3275,rajasthan,2017-20,9,bundi,58,talera,jakhamund,bundi,jakhamund,1.0,"POLYGON ((75.75674 25.25866, 75.75697 25.25882..."
3276,rajasthan,2017-20,9,baran,59,krishnganj,maharwata,kishanganj,maharwata,1.0,"POLYGON ((76.63089 25.14469, 76.63319 25.14469..."
3277,rajasthan,2017-20,9,jhalawar,60,jhalrapatan,bhawrasa,jhalrapatan,bhawrasa,1.0,"POLYGON ((76.23306 24.52334, 76.23324 24.52298..."

In [7]:
# Create variables dynamically for each dataframe based on the state name

import pandas as pd

# Load the CSV file to examine its contents
file_path = '/Users/rishivijaywargiya/Downloads/AllIndia/Tehsil_Data_With_Single_Village.csv'
data = pd.read_csv(file_path)

In [3]:

import geopandas as gpd
import os
import pandas as pd

directory_path = '/Users/rishivijaywargiya/Downloads/AllIndia'
gdf_list = []

# Iterate over each file in the directory
for filename in os.listdir(directory_path):
    if filename.endswith('.shp'):
        # Construct the full file path
        file_path = os.path.join(directory_path, filename)
        
        # Load the Shapefile as a GeoDataFrame
        gdf = gpd.read_file(file_path)
        
        # Append the GeoDataFrame to the list
        gdf_list.append(gdf)

# Concatenate all GeoDataFrames into a single GeoDataFrame
AllIndia = gpd.GeoDataFrame(pd.concat(gdf_list, ignore_index=True))

print("All shapefiles have been concatenated into a single GeoDataFrame.")

All shapefiles have been concatenated into a single GeoDataFrame.

In [8]:
data_punjab = data[data['State']=='punjab']
data_bihar = data[data['State']=='bihar']
data_uttarakhand = data[data['State']=='uttarakhand']
data_chattisgarh = data[data['State']=='chhattisgarh']
data_gujarat = data[data['State']=='gujarat']
data_UP = data[data['State']=='uttar pradesh']
data_rajasthan = data[data['State']=='rajasthan']
data_karnataka = data[data['State']=='karnataka']
data_MP = data[data['State']=='madhya pradesh']
data_orissa = data[data['State']=='orissa']
data_Himachal = data[data['State']=='himachal pradesh']
data_haryana = data[data['State']=='haryana']
data_andra = data[data['State']=='andhra pradesh']
data_jhar = data[data['State']=='jharkhand']
data_assam = data[data['State']=='assam']
data_tamil = data[data['State']=='tamil nadu']
data_maha = data[data['State']=='maharastra']

In [5]:
data_tamil

NameError: name 'data_tamil' is not defined

In [9]:
SOI_punjab = AllIndia[AllIndia['state']=='punjab']
SOI_bihar = AllIndia[AllIndia['state']=='bihar']
SOI_uttarakhand = AllIndia[AllIndia['state']=='uttarakhand']
SOI_chattisgarh = AllIndia[AllIndia['state']=='chhattisgarh']
SOI_gujarat = AllIndia[AllIndia['state']=='gujarat']
SOI_UP = AllIndia[AllIndia['state']=='uttar pradesh']
SOI_rajasthan = AllIndia[AllIndia['state']=='rajasthan']
SOI_karnataka = AllIndia[AllIndia['state']=='karnataka']
SOI_MP = AllIndia[AllIndia['state']=='madhya pradesh']
SOI_orissa = AllIndia[AllIndia['state']=='orissa']
SOI_Himachal = AllIndia[AllIndia['state']=='himachal pradesh']
SOI_haryana = AllIndia[AllIndia['state']=='haryana']
SOI_andra = AllIndia[AllIndia['state']=='andhra pradesh']
SOI_jhar = AllIndia[AllIndia['state']=='jharkhand']
SOI_assam = AllIndia[AllIndia['state']=='assam']
SOI_tamil = AllIndia[AllIndia['state']=='tamil nadu']
SOI_maha = AllIndia[AllIndia['state']=='maharashtra']

In [108]:
SOI_tamil

,NAME,dtnmcoc,state,tehnmcoc,geometry
582189,karimanal,thiruvallur,tamil nadu,ponneri,"POLYGON ((80.26843 13.56393, 80.26915 13.56311..."
582190,arambakkam,thiruvallur,tamil nadu,gummidipoondi,"POLYGON ((80.0397 13.53863, 80.03973 13.53863,..."
582191,egumadurai,thiruvallur,tamil nadu,gummidipoondi,"POLYGON ((80.02533 13.54443, 80.02442 13.54222..."
582192,naidukuppam,thiruvallur,tamil nadu,gummidipoondi,"POLYGON ((80.02533 13.54443, 80.02968 13.53999..."
582193,kannambakkam,thiruvallur,tamil nadu,gummidipoondi,"POLYGON ((80.02955 13.51974, 80.02998 13.51947..."
...,...,...,...,...,...
599737,thenthamaraikulam,kanniyakumari,tamil nadu,agastheeswaram,"POLYGON ((77.50307 8.11443, 77.50314 8.11415, ..."
599738,puthalam,kanniyakumari,tamil nadu,agastheeswaram,"POLYGON ((77.45023 8.11175, 77.45247 8.11075, ..."
599739,agasteeswaram,kanniyakumari,tamil nadu,agastheeswaram,"POLYGON ((77.51122 8.10797, 77.5154 8.10685, 7..."
599740,kanniyakumari,kanniyakumari,tamil nadu,agastheeswaram,"POLYGON ((77.54385 8.10316, 77.54398 8.10381, ..."
599741,thengamputhoor,kanniyakumari,tamil nadu,agastheeswaram,"POLYGON ((77.46212 8.08817, 77.46205 8.08842, ..."

In [97]:
AllIndia['state'].unique()

array(['himachal pradesh', 'kerala', 'andhra pradesh', None, 'assam',
       'west bengal', 'bihar', 'jharkhand', 'chhattisgarh', 'gujarat',
       'dadra & nagar haveli', 'haryana', 'karnataka', 'maharashtra',
       'punjab', 'rajasthan', 'orissa', 'baleshwar', 'madhya pradesh',
       'uttar pradesh', 'uttranchal', 'uttarpradesh', 'tamil nadu',
       'pondicherry'], dtype=object)

In [38]:
SOI_andra

                   NAME   dtnmcoc           state tehnmcoc
12369            guledi  adilabad  andhra pradesh    tamsi
12370           gomutri  adilabad  andhra pradesh    tamsi
12371       karanji (t)  adilabad  andhra pradesh    tamsi
12372         antargaon  adilabad  andhra pradesh    tamsi
12373          arli (t)  adilabad  andhra pradesh    tamsi
...                 ...       ...             ...      ...
39141    mottakadirinur  chittoor  andhra pradesh   kuppam
39142        chinnaobba  chittoor  andhra pradesh   kuppam
39143  adavimulakapalle  chittoor  andhra pradesh   kuppam
39144         ponnangur  chittoor  andhra pradesh   kuppam
39145         t.sadumur  chittoor  andhra pradesh   kuppam

[26760 rows x 4 columns]

In [39]:
data_andra

,State,Zone,District Name,Tehsil Code,Tehsil Name,Village Name,Year
0,andhra pradesh,iv,ranga reddy,40.0,puduru,pedhaumethala,2008-2011
1,andhra pradesh,v,medak,49.0,sadasivpet,nandi kandi,2008-2011
2,andhra pradesh,v,medak,50.0,zaiheerabad,huggelly,2008-2011
3,andhra pradesh,i,srikakulam,1.0,etheria,ponnada,2008-2011
4,andhra pradesh,i,srikakulam,2.0,tekkali,tirlangi,2008-2011
...,...,...,...,...,...,...,...
2314,andhra pradesh,zone v,medak,56.0,chegunta,narsingi,2017-2020
2315,andhra pradesh,zone v,medak,57.0,doultabad,raipole,2017-2020
2316,andhra pradesh,zone v,warangal,58.0,shayampet,peddakodepaka,2017-2020
2317,andhra pradesh,zone v,warangal,59.0,chityal,jookal,2017-2020
2318,andhra pradesh,zone v,warangal,60.0,palakurthi,vavilala,2017-2020

In [11]:
pip install Levenshtein

Defaulting to user installation because normal site-packages is not writeable
Collecting Levenshtein
  Downloading Levenshtein-0.25.1-cp39-cp39-macosx_11_0_arm64.whl (103 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 103 kB 6.9 MB/s eta 0:00:01
Collecting rapidfuzz<4.0.0,>=3.8.0
  Downloading rapidfuzz-3.9.6-cp39-cp39-macosx_11_0_arm64.whl (1.5 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1.5 MB 2.4 MB/s eta 0:00:01
Installing collected packages: rapidfuzz, Levenshtein
Successfully installed Levenshtein-0.25.1 rapidfuzz-3.9.6
WARNING: You are using pip version 21.2.4; however, version 24.2 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [10]:
from Levenshtein import jaro

def best_match_and_score(village_name, candidates, threshold=0.85):
    if village_name is None:
        return None, None

    best_score = 0
    best_match = None
    
    for candidate in candidates:
        if candidate is None:
            continue
        score = jaro(village_name.lower(), candidate.lower())
        if score > best_score:
            best_score = score
            best_match = candidate
    
    return (best_match, best_score) if best_score >= threshold else (None, None)

# Apply the function and unpack the results into two new columns
data_andra[['Best Match', 'Match Score']] = data_andra['Village Name'].apply(
    lambda x: best_match_and_score(x, SOI_andra['NAME'])
).apply(pd.Series)

# Merge the rows where there's a match
merged_data = data_andra.merge(SOI_andra, left_on='Best Match', right_on='NAME', how='inner')

# Display the merged data
merged_data.head()

ModuleNotFoundError: No module named 'Levenshtein'

In [68]:
SOI_chattisgarh

,NAME,dtnmcoc,state,tehnmcoc,geometry
148647,jhara,surguja,chhattisgarh,pal,"POLYGON ((83.29588 24.06734, 83.29653 24.0689,..."
148648,kushfar,surguja,chhattisgarh,pal,"POLYGON ((83.32315 24.10324, 83.32349 24.10298..."
148649,semerawa,surguja,chhattisgarh,pal,"POLYGON ((83.34357 24.09818, 83.3444 24.09785,..."
148650,forest,surguja,chhattisgarh,pal,"POLYGON ((83.37156 24.10199, 83.37576 24.10102..."
148651,dhauli,surguja,chhattisgarh,pal,"POLYGON ((83.39774 24.0943, 83.40041 24.09227,..."
...,...,...,...,...,...
167220,pujaripal,dantewada,chhattisgarh,dantewada,"POLYGON ((81.36064 18.49652, 81.36261 18.49064..."
167221,mendpal,dantewada,chhattisgarh,dantewada,"POLYGON ((81.31049 18.48202, 81.31023 18.48454..."
167222,kakadi,dantewada,chhattisgarh,dantewada,"POLYGON ((81.31049 18.48202, 81.3158 18.4801, ..."
167223,nahadi,dantewada,chhattisgarh,dantewada,"POLYGON ((81.32173 18.43216, 81.32523 18.43835..."
167224,muler,dantewada,chhattisgarh,dantewada,"POLYGON ((81.36354 18.42601, 81.36516 18.42758..."

In [101]:
SOI_maha

,NAME,dtnmcoc,state,tehnmcoc,geometry
256185,usmali,jalgaon,maharashtra,yaval,"POLYGON ((75.67305 21.37475, 75.67024 21.37374..."
256186,shamkhede,jalgaon,maharashtra,dharangao,"POLYGON ((75.2283 21.03888, 75.2281 21.03867, ..."
256187,dharangaon(rural),jalgaon,maharashtra,dharangao,"POLYGON ((75.2283 21.03888, 75.22835 21.03888,..."
256188,mhasale,jalgaon,maharashtra,dharangao,"POLYGON ((75.19518 21.03882, 75.19621 21.03866..."
256189,borkhede,jalgaon,maharashtra,dharangao,"POLYGON ((75.3828 21.03713, 75.38317 21.03751,..."
...,...,...,...,...,...
304749,tardaf,s>t>ra,maharashtra,phaltan,"POLYGON ((74.36408 17.8832, 74.3651 17.88305, ..."
304750,upalave,s>t>ra,maharashtra,phaltan,"POLYGON ((74.37876 17.88171, 74.38142 17.88168..."
304751,manewadi,s>t>ra,maharashtra,phaltan,"POLYGON ((74.33965 17.84267, 74.3396 17.84285,..."
304752,veloshi,s>t>ra,maharashtra,phaltan,"POLYGON ((74.3796 17.82223, 74.37965 17.82203,..."
304753,bhatghar,s>t>ra,maharashtra,khand,"POLYGON ((73.86654 18.17572, 73.86672 18.17548..."

In [118]:
data_tamil

Empty DataFrame
Columns: [State, Zone, District Name, Tehsil Code, Tehsil Name, Village Name, Year]
Index: []

In [117]:
SOI_tamil

,NAME,dtnmcoc,state,tehnmcoc,geometry
582189,karimanal,thiruvallur,tamil nadu,ponneri,"POLYGON ((80.26843 13.56393, 80.26915 13.56311..."
582190,arambakkam,thiruvallur,tamil nadu,gummidipoondi,"POLYGON ((80.0397 13.53863, 80.03973 13.53863,..."
582191,egumadurai,thiruvallur,tamil nadu,gummidipoondi,"POLYGON ((80.02533 13.54443, 80.02442 13.54222..."
582192,naidukuppam,thiruvallur,tamil nadu,gummidipoondi,"POLYGON ((80.02533 13.54443, 80.02968 13.53999..."
582193,kannambakkam,thiruvallur,tamil nadu,gummidipoondi,"POLYGON ((80.02955 13.51974, 80.02998 13.51947..."
...,...,...,...,...,...
599737,thenthamaraikulam,kanniyakumari,tamil nadu,agastheeswaram,"POLYGON ((77.50307 8.11443, 77.50314 8.11415, ..."
599738,puthalam,kanniyakumari,tamil nadu,agastheeswaram,"POLYGON ((77.45023 8.11175, 77.45247 8.11075, ..."
599739,agasteeswaram,kanniyakumari,tamil nadu,agastheeswaram,"POLYGON ((77.51122 8.10797, 77.5154 8.10685, 7..."
599740,kanniyakumari,kanniyakumari,tamil nadu,agastheeswaram,"POLYGON ((77.54385 8.10316, 77.54398 8.10381, ..."
599741,thengamputhoor,kanniyakumari,tamil nadu,agastheeswaram,"POLYGON ((77.46212 8.08817, 77.46205 8.08842, ..."

In [12]:
from Levenshtein import jaro

def best_match_and_score(village_name, candidates, threshold=0.85):
    if village_name is None:
        return None, None

    best_score = 0
    best_match = None
    
    for candidate in candidates:
        if candidate is None:
            continue
        score = jaro(village_name.lower(), candidate.lower())
        if score > best_score:
            best_score = score
            best_match = candidate
    
    return (best_match, best_score) if best_score >= threshold else (None, None)

# Assuming 'AllIndia' and 'data' dataframes are pre-loaded and filtered into these smaller state-specific dataframes

data_punjab = data[data['State']=='punjab']
data_bihar = data[data['State']=='bihar']
data_uttarakhand = data[data['State']=='uttarakhand']
data_chattisgarh = data[data['State']=='chhattisgarh']
data_gujarat = data[data['State']=='gujarat']
data_UP = data[data['State']=='uttar pradesh']
data_rajasthan = data[data['State']=='rajasthan']
data_karnataka = data[data['State']=='karnataka']
data_MP = data[data['State']=='madhya pradesh']
data_orissa = data[data['State']=='orissa']
data_Himachal = data[data['State']=='himachal pradesh']
data_haryana = data[data['State']=='haryana']
data_andra = data[data['State']=='andhra pradesh']
data_jhar = data[data['State']=='jharkhand']
data_assam = data[data['State']=='assam']
data_tamil = data[data['State']=='tamilnadu']
data_maha = data[data['State']=='maharastra']


data_frames = {
    'punjab': data_punjab,
    'bihar': data_bihar,
    'uttarakhand': data_uttarakhand,
    'gujarat': data_gujarat,
    'UP': data_UP,
    'rajasthan': data_rajasthan,
    'karnataka': data_karnataka,
    'madhya pradesh': data_MP,
    'orissa' : data_orissa, 
    'himachal pradesh': data_Himachal,
    'haryana': data_haryana,
    'andhra pradesh':data_andra, 
    'jharkhand':data_jhar, 
    'assam':data_assam, 
    'maharastra':data_maha, 
    'chattisgarh':data_chattisgarh, 
    
}

SOI_frames = {
    'punjab': SOI_punjab,
    'bihar': SOI_bihar,
    'uttarakhand': SOI_uttarakhand,
    'gujarat': SOI_gujarat,
    'UP': SOI_UP,
    'rajasthan': SOI_rajasthan,
    'karnataka': SOI_karnataka,
    'madhya pradesh': SOI_MP,
    'orissa' : SOI_orissa, 
    'himachal pradesh': SOI_Himachal,
    'haryana': SOI_haryana,
    'andhra pradesh':SOI_andra, 
    'jharkhand':SOI_jhar, 
    'assam':SOI_assam, 
    'maharastra':SOI_maha, 
    'chattisgarh':SOI_chattisgarh
}

merged_results = {}

# Process each state
for state, data_state in data_frames.items():
    soi_state = SOI_frames[state]

    # Remove duplicates based on 'Village Name' in data_state and 'NAME' in soi_state
    data_state = data_state.drop_duplicates(subset=['Village Name'])
    soi_state = soi_state.drop_duplicates(subset=['NAME'])

    # Apply the matching function
    data_state[['Best Match', 'Match Score']] = data_state['Village Name'].apply(
        lambda x: best_match_and_score(x, soi_state['NAME'])
    ).apply(pd.Series)

    # Merge the rows where there's a match
    merged_data = data_state.merge(soi_state, left_on='Best Match', right_on='NAME', how='inner')

    # Optionally, drop duplicates after merge if necessary
    merged_data = merged_data.drop_duplicates(subset=['Village Name', 'NAME'])

    merged_results[state] = merged_data

# Accessing the result for a specific state, e.g., Punjab

/var/folders/v3/8x6m79yd6w1_lv0r4d2c5w4r0000gn/T/ipykernel_4193/3743263707.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_state[['Best Match', 'Match Score']] = data_state['Village Name'].apply(
/var/folders/v3/8x6m79yd6w1_lv0r4d2c5w4r0000gn/T/ipykernel_4193/3743263707.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_state[['Best Match', 'Match Score']] = data_state['Village Name'].apply(
/var/folders/v3/8x6m79yd6w1_lv0r4d2c5w4r0000gn/T/ipykernel_4193/3743263707.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_state[['Best Match', 'Match Score']] = data_state['Village Name'].apply(
/var/folders/v3/8x6m79yd6w1_lv0r4d2c5w4r0000gn/T/ipykernel_4193/3743263707.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_state[['Best Match', 'Match Score']] = data_state['Village Name'].apply(
/var/folders/v3/8x6m79yd6w1_lv0r4d2c5w4r0000gn/T/ipykernel_4193/3743263707.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_state[['Best Match', 'Match Score']] = data_state['Village Name'].apply(
/var/folders/v3/8x6m79yd6w1_lv0r4d2c5w4r0000gn/T/ipykernel_4193/3743263707.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_state[['Best Match', 'Match Score']] = data_state['Village Name'].apply(
/var/folders/v3/8x6m79yd6w1_lv0r4d2c5w4r0000gn/T/ipykernel_4193/3743263707.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_state[['Best Match', 'Match Score']] = data_state['Village Name'].apply(
/var/folders/v3/8x6m79yd6w1_lv0r4d2c5w4r0000gn/T/ipykernel_4193/3743263707.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_state[['Best Match', 'Match Score']] = data_state['Village Name'].apply(
/var/folders/v3/8x6m79yd6w1_lv0r4d2c5w4r0000gn/T/ipykernel_4193/3743263707.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_state[['Best Match', 'Match Score']] = data_state['Village Name'].apply(
/var/folders/v3/8x6m79yd6w1_lv0r4d2c5w4r0000gn/T/ipykernel_4193/3743263707.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_state[['Best Match', 'Match Score']] = data_state['Village Name'].apply(
/var/folders/v3/8x6m79yd6w1_lv0r4d2c5w4r0000gn/T/ipykernel_4193/3743263707.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_state[['Best Match', 'Match Score']] = data_state['Village Name'].apply(
/var/folders/v3/8x6m79yd6w1_lv0r4d2c5w4r0000gn/T/ipykernel_4193/3743263707.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_state[['Best Match', 'Match Score']] = data_state['Village Name'].apply(
/var/folders/v3/8x6m79yd6w1_lv0r4d2c5w4r0000gn/T/ipykernel_4193/3743263707.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_state[['Best Match', 'Match Score']] = data_state['Village Name'].apply(
/var/folders/v3/8x6m79yd6w1_lv0r4d2c5w4r0000gn/T/ipykernel_4193/3743263707.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_state[['Best Match', 'Match Score']] = data_state['Village Name'].apply(
/var/folders/v3/8x6m79yd6w1_lv0r4d2c5w4r0000gn/T/ipykernel_4193/3743263707.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_state[['Best Match', 'Match Score']] = data_state['Village Name'].apply(
/var/folders/v3/8x6m79yd6w1_lv0r4d2c5w4r0000gn/T/ipykernel_4193/3743263707.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_state[['Best Match', 'Match Score']] = data_state['Village Name'].apply(

In [13]:
import pandas as pd

# Convert the dictionary of dataframes into a single dataframe
merged_dataframe = pd.concat(merged_results.values(), ignore_index=True)

# Display the first few rows of the merged dataframe
print(merged_dataframe.head())

    State Zone District Name  Tehsil Code   Tehsil Name     Village Name  \
0  punjab    i     gurdaspur          2.0        batala       ammo nagal
1  punjab    i      amrtisar          3.0        ajnala        bhalapind
2  punjab    i      amritsar          4.0    amritsar-i  ballian manjpur
3  punjab    i    hoshiarpur          5.0      mukerian             gera
4  punjab    i  nawan.shahar          7.0  nawan.shahar      patti jhiki

        Year   Best Match  Match Score         NAME dtnmcoc   state  \
0  2008-2011  aimo nangal     0.906061  aimo nangal    None  punjab
1  2008-2011  bhalla pind     0.939394  bhalla pind    None  punjab
2  2008-2011         None          NaN         None    None  punjab
3  2008-2011         gera     1.000000         gera    None  punjab
4  2008-2011  pali jhikki     0.878788  pali jhikki    None  punjab

                    tehnmcoc  \
0                     bat>la
1                     ajn>la
2                 dh>r kal>n
3                   mukeri>n
4  shah|d bhagat singh nagar

                                            geometry
0  POLYGON ((75.24774 31.75, 75.24879 31.75118, 7...
1  POLYGON ((74.78681 31.79373, 74.78854 31.79339...
2  POLYGON ((75.85349 32.47272, 75.85234 32.47329...
3  POLYGON ((75.79117 31.98615, 75.79183 31.98424...
4  POLYGON ((76.06165 31.18473, 76.06131 31.18727...

/var/folders/v3/8x6m79yd6w1_lv0r4d2c5w4r0000gn/T/ipykernel_4193/4067400885.py:4: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  merged_dataframe = pd.concat(merged_results.values(), ignore_index=True)

In [14]:
merged_dataframe

,State,Zone,District Name,Tehsil Code,Tehsil Name,Village Name,Year,Best Match,Match Score,NAME,dtnmcoc,state,tehnmcoc,geometry
0,punjab,i,gurdaspur,2.0,batala,ammo nagal,2008-2011,aimo nangal,0.906061,aimo nangal,None,punjab,bat>la,"POLYGON ((75.24774 31.75, 75.24879 31.75118, 7..."
1,punjab,i,amrtisar,3.0,ajnala,bhalapind,2008-2011,bhalla pind,0.939394,bhalla pind,None,punjab,ajn>la,"POLYGON ((74.78681 31.79373, 74.78854 31.79339..."
2,punjab,i,amritsar,4.0,amritsar-i,ballian manjpur,2008-2011,None,NaN,None,None,punjab,dh>r kal>n,"POLYGON ((75.85349 32.47272, 75.85234 32.47329..."
3,punjab,i,hoshiarpur,5.0,mukerian,gera,2008-2011,gera,1.000000,gera,None,punjab,mukeri>n,"POLYGON ((75.79117 31.98615, 75.79183 31.98424..."
4,punjab,i,nawan.shahar,7.0,nawan.shahar,patti jhiki,2008-2011,pali jhikki,0.878788,pali jhikki,None,punjab,shah|d bhagat singh nagar,"POLYGON ((76.06165 31.18473, 76.06131 31.18727..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1740,chhattisgarh,chhattisgarh plain,gariaband,9.0,rajim,baronda,2017-2020,baronda,1.000000,baronda,raipur,chhattisgarh,tilda,"POLYGON ((81.83157 21.38627, 81.8316 21.38629,..."
1741,chhattisgarh,chhattisgarh plain,baloda bazar,10.0,simga,chanderi,2017-2020,chanderi,1.000000,chanderi,raipur,chhattisgarh,simga,"POLYGON ((81.76057 21.69371, 81.76141 21.69401..."
1742,chhattisgarh,chhattisgarh plain,bemetara,11.0,nawagarh,gadamore,2017-2020,gadamore,1.000000,gadamore,durg,chhattisgarh,nawagarh,"POLYGON ((81.63727 21.98766, 81.63818 21.98767..."
1743,chhattisgarh,chhattisgarh plain,rajnandgaon,12.0,khairagarh,badhaitola,2017-2020,badhai tola,0.969697,badhai tola,rajnandgaon,chhattisgarh,khairagarh,"POLYGON ((80.97946 21.36362, 80.98022 21.36156..."
1744,chhattisgarh,chhattisgarh plain,raipur,15.0,arang,rasani,2017-2020,rasni,0.944444,rasni,raipur,chhattisgarh,arang,"POLYGON ((81.92581 21.22383, 81.92956 21.22214..."

In [15]:
# Remove rows where 'Match Score' is NaN or non-numeric
merged_dataframe = merged_dataframe[pd.to_numeric(merged_dataframe['Match Score'], errors='coerce').notna()]

# Display the first few rows of the cleaned dataframe
print(merged_dataframe.head())

    State Zone District Name  Tehsil Code   Tehsil Name Village Name  \
0  punjab    i     gurdaspur          2.0        batala   ammo nagal
1  punjab    i      amrtisar          3.0        ajnala    bhalapind
3  punjab    i    hoshiarpur          5.0      mukerian         gera
4  punjab    i  nawan.shahar          7.0  nawan.shahar  patti jhiki
5  punjab    i  nawan shahar          7.0     balachaur         rail

        Year   Best Match  Match Score         NAME dtnmcoc   state  \
0  2008-2011  aimo nangal     0.906061  aimo nangal    None  punjab
1  2008-2011  bhalla pind     0.939394  bhalla pind    None  punjab
3  2008-2011         gera     1.000000         gera    None  punjab
4  2008-2011  pali jhikki     0.878788  pali jhikki    None  punjab
5  2008-2011       raisal     0.888889       raisal    None  punjab

                    tehnmcoc  \
0                     bat>la
1                     ajn>la
3                   mukeri>n
4  shah|d bhagat singh nagar
5                      n>bha

                                            geometry
0  POLYGON ((75.24774 31.75, 75.24879 31.75118, 7...
1  POLYGON ((74.78681 31.79373, 74.78854 31.79339...
3  POLYGON ((75.79117 31.98615, 75.79183 31.98424...
4  POLYGON ((76.06165 31.18473, 76.06131 31.18727...
5  POLYGON ((76.1935 30.51478, 76.19424 30.51383,...

In [16]:
merged_dataframe

,State,Zone,District Name,Tehsil Code,Tehsil Name,Village Name,Year,Best Match,Match Score,NAME,dtnmcoc,state,tehnmcoc,geometry
0,punjab,i,gurdaspur,2.0,batala,ammo nagal,2008-2011,aimo nangal,0.906061,aimo nangal,None,punjab,bat>la,"POLYGON ((75.24774 31.75, 75.24879 31.75118, 7..."
1,punjab,i,amrtisar,3.0,ajnala,bhalapind,2008-2011,bhalla pind,0.939394,bhalla pind,None,punjab,ajn>la,"POLYGON ((74.78681 31.79373, 74.78854 31.79339..."
3,punjab,i,hoshiarpur,5.0,mukerian,gera,2008-2011,gera,1.000000,gera,None,punjab,mukeri>n,"POLYGON ((75.79117 31.98615, 75.79183 31.98424..."
4,punjab,i,nawan.shahar,7.0,nawan.shahar,patti jhiki,2008-2011,pali jhikki,0.878788,pali jhikki,None,punjab,shah|d bhagat singh nagar,"POLYGON ((76.06165 31.18473, 76.06131 31.18727..."
5,punjab,i,nawan shahar,7.0,balachaur,rail,2008-2011,raisal,0.888889,raisal,None,punjab,n>bha,"POLYGON ((76.1935 30.51478, 76.19424 30.51383,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1740,chhattisgarh,chhattisgarh plain,gariaband,9.0,rajim,baronda,2017-2020,baronda,1.000000,baronda,raipur,chhattisgarh,tilda,"POLYGON ((81.83157 21.38627, 81.8316 21.38629,..."
1741,chhattisgarh,chhattisgarh plain,baloda bazar,10.0,simga,chanderi,2017-2020,chanderi,1.000000,chanderi,raipur,chhattisgarh,simga,"POLYGON ((81.76057 21.69371, 81.76141 21.69401..."
1742,chhattisgarh,chhattisgarh plain,bemetara,11.0,nawagarh,gadamore,2017-2020,gadamore,1.000000,gadamore,durg,chhattisgarh,nawagarh,"POLYGON ((81.63727 21.98766, 81.63818 21.98767..."
1743,chhattisgarh,chhattisgarh plain,rajnandgaon,12.0,khairagarh,badhaitola,2017-2020,badhai tola,0.969697,badhai tola,rajnandgaon,chhattisgarh,khairagarh,"POLYGON ((80.97946 21.36362, 80.98022 21.36156..."
1744,chhattisgarh,chhattisgarh plain,raipur,15.0,arang,rasani,2017-2020,rasni,0.944444,rasni,raipur,chhattisgarh,arang,"POLYGON ((81.92581 21.22383, 81.92956 21.22214..."

In [17]:
# Assuming 'Match' is the column of interest and you want to keep rows where this column is exactly '1'
filtered_dataframe = merged_dataframe[merged_dataframe['Match Score'] >0.9]

# Display the

In [18]:
filtered_dataframe

,State,Zone,District Name,Tehsil Code,Tehsil Name,Village Name,Year,Best Match,Match Score,NAME,dtnmcoc,state,tehnmcoc,geometry
0,punjab,i,gurdaspur,2.0,batala,ammo nagal,2008-2011,aimo nangal,0.906061,aimo nangal,None,punjab,bat>la,"POLYGON ((75.24774 31.75, 75.24879 31.75118, 7..."
1,punjab,i,amrtisar,3.0,ajnala,bhalapind,2008-2011,bhalla pind,0.939394,bhalla pind,None,punjab,ajn>la,"POLYGON ((74.78681 31.79373, 74.78854 31.79339..."
3,punjab,i,hoshiarpur,5.0,mukerian,gera,2008-2011,gera,1.000000,gera,None,punjab,mukeri>n,"POLYGON ((75.79117 31.98615, 75.79183 31.98424..."
7,punjab,ii,jalandhar,14.0,nakodar,balanda,2008-2011,balanda,1.000000,balanda,None,punjab,nakodar,"POLYGON ((75.42051 31.03766, 75.4201 31.03705,..."
8,punjab,ii,ludhiana,15.0,ludhiana-i,gauns garh,2008-2011,ghaunsgarh,0.933333,ghaunsgarh,None,punjab,ludhi>na,"POLYGON ((75.93623 30.98415, 75.93694 30.98339..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1740,chhattisgarh,chhattisgarh plain,gariaband,9.0,rajim,baronda,2017-2020,baronda,1.000000,baronda,raipur,chhattisgarh,tilda,"POLYGON ((81.83157 21.38627, 81.8316 21.38629,..."
1741,chhattisgarh,chhattisgarh plain,baloda bazar,10.0,simga,chanderi,2017-2020,chanderi,1.000000,chanderi,raipur,chhattisgarh,simga,"POLYGON ((81.76057 21.69371, 81.76141 21.69401..."
1742,chhattisgarh,chhattisgarh plain,bemetara,11.0,nawagarh,gadamore,2017-2020,gadamore,1.000000,gadamore,durg,chhattisgarh,nawagarh,"POLYGON ((81.63727 21.98766, 81.63818 21.98767..."
1743,chhattisgarh,chhattisgarh plain,rajnandgaon,12.0,khairagarh,badhaitola,2017-2020,badhai tola,0.969697,badhai tola,rajnandgaon,chhattisgarh,khairagarh,"POLYGON ((80.97946 21.36362, 80.98022 21.36156..."
1744,chhattisgarh,chhattisgarh plain,raipur,15.0,arang,rasani,2017-2020,rasni,0.944444,rasni,raipur,chhattisgarh,arang,"POLYGON ((81.92581 21.22383, 81.92956 21.22214..."

In [19]:
filtered_dataframe.to_csv('TEHSIL-DATA_WITH-SINGLE_Village-With-SHAPEFILES.csv')

In [ ]:
data