In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd

In [2]:
df_SOI_village = gpd.read_file('/home/inductive_anks/Backup Files/CS and AI/Internship/Data/All-Inidia-SOI-Village-Shape-File/All-India-Villages-SOI.shp')

In [3]:
df_subdist_shape = gpd.read_file('/home/inductive_anks/Backup Files/CS and AI/Internship/Data/All-India-Subdistrict-Shape-File/SUBDISTRICT_BOUNDARY.shp')

In [4]:
df_SOI_village.tail()

,NAME,dtnmcoc,state,tehnmcoc,geometry
599737,thenthamaraikulam,kanniyakumari,tamil nadu,agastheeswaram,"POLYGON ((77.50307 8.11443, 77.50314 8.11415, ..."
599738,puthalam,kanniyakumari,tamil nadu,agastheeswaram,"POLYGON ((77.45023 8.11175, 77.45247 8.11075, ..."
599739,agasteeswaram,kanniyakumari,tamil nadu,agastheeswaram,"POLYGON ((77.51122 8.10797, 77.5154 8.10685, 7..."
599740,kanniyakumari,kanniyakumari,tamil nadu,agastheeswaram,"POLYGON ((77.54385 8.10316, 77.54398 8.10381, ..."
599741,thengamputhoor,kanniyakumari,tamil nadu,agastheeswaram,"POLYGON ((77.46212 8.08817, 77.46205 8.08842, ..."

In [5]:

df_SOI_village = df_SOI_village.rename(columns={'NAME': 'SOI_Village', 'dtnmcoc': 'Distric Name SOI', 'state': 'State Name SOI', 'tehnmcoc': 'Tehsil Name SOI'})

In [6]:
df_SOI_village.head()

,SOI_Village,Distric Name SOI,State Name SOI,Tehsil Name SOI,geometry
0,village point boundary,lahul & spiti,himachal pradesh,None,"POLYGON ((76.73598 33.18017, 76.73492 33.18101..."
1,dhar chhoglu,chamba,himachal pradesh,pangi,"POLYGON ((76.55004 33.19772, 76.55082 33.19775..."
2,dhar shinkal,chamba,himachal pradesh,pangi,"POLYGON ((76.52521 33.19414, 76.52596 33.19418..."
3,sural bhatori,chamba,himachal pradesh,pangi,"POLYGON ((76.46151 33.17813, 76.46635 33.17894..."
4,rusmas,chamba,himachal pradesh,pangi,"POLYGON ((76.39866 33.17477, 76.39969 33.17541..."

In [7]:
df_SOI_village_raj = df_SOI_village[df_SOI_village['State Name SOI'] == 'rajasthan']

In [8]:
df_SOI_village_raj.shape

(41604, 5)

In [9]:
df_subdist_shape.head()

,District,STATE,TEHSIL,Shape_Leng,Shape_Area,geometry
0,BIL>SPUR,HIMACHAL PRADESH,BHARARI,50253.228763,9.000306e+07,"POLYGON ((3690806.89 4831388.917, 3690871.421 ..."
1,BIL>SPUR,HIMACHAL PRADESH,BIL>SPUR,93446.685818,1.703525e+08,"POLYGON ((3699861.726 4812292.061, 3699965.144..."
2,BIL>SPUR,HIMACHAL PRADESH,GHURMW|N,105834.665205,1.906542e+08,"POLYGON ((3692609.535 4827764.245, 3692614.853..."
3,BIL>SPUR,HIMACHAL PRADESH,JHAND@TA,112831.475031,3.205376e+08,"POLYGON ((3667564.424 4819909.775, 3667603.174..."
4,BIL>SPUR,HIMACHAL PRADESH,NAMHOL,61752.616994,1.034979e+08,"POLYGON ((3701617.644 4803943.439, 3701666.832..."

## Filtering for Rajasthan

In [10]:
df_SOI_village = df_SOI_village.to_crs(epsg=4326)
df_subdist_shape = df_subdist_shape.to_crs(epsg=4326)


joined_df = gpd.sjoin(df_SOI_village, df_subdist_shape, how='left', predicate='within')

In [11]:
joined_df.head()

,SOI_Village,Distric Name SOI,State Name SOI,Tehsil Name SOI,geometry,index_right,District,STATE,TEHSIL,Shape_Leng,Shape_Area
0,village point boundary,lahul & spiti,himachal pradesh,None,"POLYGON ((76.73598 33.18017, 76.73492 33.18101...",NaN,NaN,NaN,NaN,NaN,NaN
1,dhar chhoglu,chamba,himachal pradesh,pangi,"POLYGON ((76.55004 33.19772, 76.55082 33.19775...",NaN,NaN,NaN,NaN,NaN,NaN
2,dhar shinkal,chamba,himachal pradesh,pangi,"POLYGON ((76.52521 33.19414, 76.52596 33.19418...",11.0,CHAMBA,HIMACHAL PRADESH,P>NGI,188893.088214,1.490172e+09
3,sural bhatori,chamba,himachal pradesh,pangi,"POLYGON ((76.46151 33.17813, 76.46635 33.17894...",11.0,CHAMBA,HIMACHAL PRADESH,P>NGI,188893.088214,1.490172e+09
4,rusmas,chamba,himachal pradesh,pangi,"POLYGON ((76.39866 33.17477, 76.39969 33.17541...",NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
joined_df = joined_df.applymap(lambda x: x.lower() if isinstance(x, str) else x)

/tmp/ipykernel_5363/2323422221.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  joined_df = joined_df.applymap(lambda x: x.lower() if isinstance(x, str) else x)

In [13]:
joined_df.head()

,SOI_Village,Distric Name SOI,State Name SOI,Tehsil Name SOI,geometry,index_right,District,STATE,TEHSIL,Shape_Leng,Shape_Area
0,village point boundary,lahul & spiti,himachal pradesh,None,"POLYGON ((76.73598 33.18017, 76.73492 33.18101...",NaN,NaN,NaN,NaN,NaN,NaN
1,dhar chhoglu,chamba,himachal pradesh,pangi,"POLYGON ((76.55004 33.19772, 76.55082 33.19775...",NaN,NaN,NaN,NaN,NaN,NaN
2,dhar shinkal,chamba,himachal pradesh,pangi,"POLYGON ((76.52521 33.19414, 76.52596 33.19418...",11.0,chamba,himachal pradesh,p>ngi,188893.088214,1.490172e+09
3,sural bhatori,chamba,himachal pradesh,pangi,"POLYGON ((76.46151 33.17813, 76.46635 33.17894...",11.0,chamba,himachal pradesh,p>ngi,188893.088214,1.490172e+09
4,rusmas,chamba,himachal pradesh,pangi,"POLYGON ((76.39866 33.17477, 76.39969 33.17541...",NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
villages_within_tehsil = joined_df.dropna(subset=['index_right'])

villages_not_within_tehsil = joined_df[joined_df['index_right'].isna()]

In [15]:
villages_within_tehsil.head()

,SOI_Village,Distric Name SOI,State Name SOI,Tehsil Name SOI,geometry,index_right,District,STATE,TEHSIL,Shape_Leng,Shape_Area
2,dhar shinkal,chamba,himachal pradesh,pangi,"POLYGON ((76.52521 33.19414, 76.52596 33.19418...",11.0,chamba,himachal pradesh,p>ngi,188893.088214,1.490172e+09
3,sural bhatori,chamba,himachal pradesh,pangi,"POLYGON ((76.46151 33.17813, 76.46635 33.17894...",11.0,chamba,himachal pradesh,p>ngi,188893.088214,1.490172e+09
6,tai,chamba,himachal pradesh,pangi,"POLYGON ((76.43819 33.17915, 76.44485 33.17832...",11.0,chamba,himachal pradesh,p>ngi,188893.088214,1.490172e+09
7,chaloli,chamba,himachal pradesh,pangi,"POLYGON ((76.37752 33.16003, 76.38194 33.16366...",11.0,chamba,himachal pradesh,p>ngi,188893.088214,1.490172e+09
8,kuthah,chamba,himachal pradesh,pangi,"POLYGON ((76.37041 33.15255, 76.37295 33.15312...",11.0,chamba,himachal pradesh,p>ngi,188893.088214,1.490172e+09

In [16]:
villages_within_tehsil['State Name SOI'].value_counts()

State Name SOI
uttarpradesh        77554
orissa              43422
madhya pradesh      42015
bihar               37967
west bengal         34724
maharashtra         32900
rajasthan           28986
jharkhand           24072
karnataka           22062
assam               17092
uttranchal          13647
chhattisgarh        13389
andhra pradesh      11230
gujarat             10917
tamil nadu          10118
punjab               8756
himachal pradesh     7825
haryana              4670
kerala                546
baleshwar               1
Name: count, dtype: int64

In [17]:
centroid_file = gpd.read_file('/home/inductive_anks/Machine Learning/Yield-Prediction/Internship/Data/Centroid_File/coc_2008_2020_v1.shp')

In [18]:
centroid_file.head()

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry
0,Bihar,2008-11,1,Samastipur,1,Samastipur,Fatehpur,Samastipur,POINT (85.74868 25.8446)
1,Bihar,2008-11,1,Samastipur,2,Samastipur,Muktapur,Samastipur,POINT (85.75294 25.8497)
2,Bihar,2008-11,1,Samastipur,3,Dalsingsarai,Banghara,Dalsinghsarai,POINT (85.81624 25.66342)
3,Bihar,2008-11,1,Madhubani,4,Madhubani,Saurath,Madhubani,POINT (86.05196 26.3594)
4,Bihar,2008-11,1,Madhubani,4,Madhubani,Saurath,Madhubani,POINT (86.06495 26.38378)

In [19]:
centroid_file = centroid_file.applymap(lambda x: x.lower() if isinstance(x, str) else x)

/tmp/ipykernel_5363/3480053442.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  centroid_file = centroid_file.applymap(lambda x: x.lower() if isinstance(x, str) else x)

In [20]:
centroid_file.head()

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry
0,bihar,2008-11,1,samastipur,1,samastipur,fatehpur,samastipur,POINT (85.74868 25.8446)
1,bihar,2008-11,1,samastipur,2,samastipur,muktapur,samastipur,POINT (85.75294 25.8497)
2,bihar,2008-11,1,samastipur,3,dalsingsarai,banghara,dalsinghsarai,POINT (85.81624 25.66342)
3,bihar,2008-11,1,madhubani,4,madhubani,saurath,madhubani,POINT (86.05196 26.3594)
4,bihar,2008-11,1,madhubani,4,madhubani,saurath,madhubani,POINT (86.06495 26.38378)

In [21]:
villages_within_tehsil_raj = villages_within_tehsil[villages_within_tehsil['State Name SOI'] == 'rajasthan']

In [22]:
joined_df_raj = joined_df[joined_df['State Name SOI'] == 'rajasthan']

In [23]:
centroid_file_raj = centroid_file[centroid_file['state'] == 'rajasthan']

In [24]:
joined_df_raj.shape

(41604, 11)

In [25]:
villages_within_tehsil_raj.shape

(28986, 11)

In [26]:
centroid_file_raj.shape

(263, 9)

In [27]:
gdf_within = gpd.sjoin(centroid_file_raj, df_SOI_village_raj, how="inner", predicate="within")

In [28]:
gdf_within.shape

(261, 14)

In [29]:
gdf_within.head(2)

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry,index_right,SOI_Village,Distric Name SOI,State Name SOI,Tehsil Name SOI
2602,rajasthan,2008-11,1,barmer,1,barmer,shivkar,barmer,POINT (71.49015 25.68663),342267,shivkar,barmer,rajasthan,barmer
2603,rajasthan,2008-11,1,barmer,2,pachpadra,asotra,pachpadra,POINT (72.28559 25.74646),341834,asotara,barmer,rajasthan,pachpadra

In [30]:
villages_within_tehsil_raj.head(3)

,SOI_Village,Distric Name SOI,State Name SOI,Tehsil Name SOI,geometry,index_right,District,STATE,TEHSIL,Shape_Leng,Shape_Area
317167,4a,ganganagar,rajasthan,ganganagar,"POLYGON ((73.94984 30.17331, 73.95593 30.17792...",2221.0,gang>nagar,rajasthan,gang>nagar,218494.607559,9.533389e+08
317168,3a,ganganagar,rajasthan,ganganagar,"POLYGON ((73.94984 30.17331, 73.95063 30.17151...",2221.0,gang>nagar,rajasthan,gang>nagar,218494.607559,9.533389e+08
317170,2 b,ganganagar,rajasthan,ganganagar,"POLYGON ((73.9321 30.14988, 73.93232 30.15061,...",2221.0,gang>nagar,rajasthan,gang>nagar,218494.607559,9.533389e+08

In [36]:
villages_within_tehsil_raj.shape

(28986, 12)

In [37]:
gdf_within['combined_key'] = gdf_within['SOI_Village'] + '_' + gdf_within['Distric Name SOI']
villages_within_tehsil_raj['combined_key'] = villages_within_tehsil_raj['SOI_Village'] + '_' + villages_within_tehsil_raj['Distric Name SOI']

matching_villages = villages_within_tehsil_raj[villages_within_tehsil_raj['combined_key'].isin(gdf_within['combined_key'])]

/home/inductive_anks/.local/lib/python3.12/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

In [44]:
non_matching_villages = gdf_within[~gdf_within['combined_key'].isin(villages_within_tehsil_raj['combined_key'])]

In [45]:
non_matching_villages.shape

(80, 15)

In [38]:
matching_villages.shape

(193, 12)

In [40]:
matching_villages.head(2)

,SOI_Village,Distric Name SOI,State Name SOI,Tehsil Name SOI,geometry,index_right,District,STATE,TEHSIL,Shape_Leng,Shape_Area,combined_key
317455,6 lnp,ganganagar,rajasthan,ganganagar,"POLYGON ((73.94756 29.91772, 73.94797 29.91767...",2221.0,gang>nagar,rajasthan,gang>nagar,218494.607559,9.533389e+08,6 lnp_ganganagar
317992,26 lnp,ganganagar,rajasthan,ganganagar,"POLYGON ((73.91582 29.76965, 73.91586 29.76975...",2221.0,gang>nagar,rajasthan,gang>nagar,218494.607559,9.533389e+08,26 lnp_ganganagar

In [46]:
non_matching_villages.head(4)

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry,index_right,SOI_Village,Distric Name SOI,State Name SOI,Tehsil Name SOI,combined_key
2603,rajasthan,2008-11,1,barmer,2,pachpadra,asotra,pachpadra,POINT (72.28559 25.74646),341834,asotara,barmer,rajasthan,pachpadra,asotara_barmer
2604,rajasthan,2008-11,1,barmer,3,pachpadra,asara,pachpadra,POINT (72.21618 25.72853),341930,asara,barmer,rajasthan,pachpadra,asara_barmer
2605,rajasthan,2008-11,1,jodhpur,4,osian,ummed nager,osian,POINT (73.03006 26.54252),335802,ummednagar,jodhpur,rajasthan,osian,ummednagar_jodhpur
2608,rajasthan,2008-11,1,churu,7,ratangarh,parihara,ratangarh,POINT (74.55982 27.91885),324606,parihara,churu,rajasthan,ratangarh,parihara_churu

# Adding an Indicator variable in Centroid File.