In [36]:
import pandas as pd
import numpy as np
import geopandas as gpd
import os
import yaml
import pathlib

In [37]:
curr_dir = pathlib.Path().resolve()
print(curr_dir)

/home/inductive-anks/yield-prediction/Yield-Prediction/Code Files/Subdilstrict-Shape-Files

In [38]:
home_dir = curr_dir.parent.parent

In [39]:
df_village_list = pd.read_csv(home_dir.as_posix() + '/data/Tehsil Data/Tehsil_Data_With_Single_Village.csv')

In [40]:
df_SOI_shape = gpd.read_file(home_dir.as_posix() + '/data/All-Inida-SOI/All-India-Villages-SOI.shp')

In [41]:
df_SOI_shape.shape

(599742, 5)

In [42]:
df_SOI_shape.head()

,NAME,dtnmcoc,state,tehnmcoc,geometry
0,village point boundary,lahul & spiti,himachal pradesh,None,"POLYGON ((76.73598 33.18017, 76.73492 33.18101..."
1,dhar chhoglu,chamba,himachal pradesh,pangi,"POLYGON ((76.55004 33.19772, 76.55082 33.19775..."
2,dhar shinkal,chamba,himachal pradesh,pangi,"POLYGON ((76.52521 33.19414, 76.52596 33.19418..."
3,sural bhatori,chamba,himachal pradesh,pangi,"POLYGON ((76.46151 33.17813, 76.46635 33.17894..."
4,rusmas,chamba,himachal pradesh,pangi,"POLYGON ((76.39866 33.17477, 76.39969 33.17541..."

In [43]:
df_SOI_shape.rename(columns={'NAME': 'SOI_Village_Name', 'dtnmcoc': 'SOI_District_Name', 'tehnmcoc':'SOI_Tehsil_Name'}, inplace=True)

In [44]:
df_SOI_shape.head()

,SOI_Village_Name,SOI_District_Name,state,SOI_Tehsil_Name,geometry
0,village point boundary,lahul & spiti,himachal pradesh,None,"POLYGON ((76.73598 33.18017, 76.73492 33.18101..."
1,dhar chhoglu,chamba,himachal pradesh,pangi,"POLYGON ((76.55004 33.19772, 76.55082 33.19775..."
2,dhar shinkal,chamba,himachal pradesh,pangi,"POLYGON ((76.52521 33.19414, 76.52596 33.19418..."
3,sural bhatori,chamba,himachal pradesh,pangi,"POLYGON ((76.46151 33.17813, 76.46635 33.17894..."
4,rusmas,chamba,himachal pradesh,pangi,"POLYGON ((76.39866 33.17477, 76.39969 33.17541..."

In [45]:
df_village_list.head()

,State,Zone,District Name,Tehsil Code,Tehsil Name,Village Name,Year
0,andhra pradesh,iv,ranga reddy,40.0,puduru,pedhaumethala,2008-2011
1,andhra pradesh,v,medak,49.0,sadasivpet,nandi kandi,2008-2011
2,andhra pradesh,v,medak,50.0,zaiheerabad,huggelly,2008-2011
3,andhra pradesh,i,srikakulam,1.0,etheria,ponnada,2008-2011
4,andhra pradesh,i,srikakulam,2.0,tekkali,tirlangi,2008-2011

## Converting to Lower Case

In [46]:
df_village_list = df_village_list.applymap(lambda x: x.lower() if isinstance(x, str) else x)

/tmp/ipykernel_1572/990218482.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_village_list = df_village_list.applymap(lambda x: x.lower() if isinstance(x, str) else x)

In [47]:
df_SOI_shape = df_SOI_shape.applymap(lambda x: x.lower() if isinstance(x, str) else x)

/tmp/ipykernel_1572/3172920881.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_SOI_shape = df_SOI_shape.applymap(lambda x: x.lower() if isinstance(x, str) else x)

## Test

In [48]:
village_list_SOI_mapping = gpd.read_file(home_dir.as_posix() + '/data/Village_List-SOI-Mapping(Main)/Village_List-SOI-Mapping(Main).shp')

In [49]:
village_list_SOI_mapping.shape

(3278, 11)

In [50]:
village_list_SOI_mapping.head()

,STATE,YEAR,ZONE,DISTRICT,slnococ,TEHSIL,VL,sdnm_11,SOI,Similarity,geometry
0,punjab,2008-11,1,gurdaspur,2,batala,ammo nagal,batala,ammo nagal,1.0,"POLYGON ((75.24774 31.75, 75.24879 31.75118, 7..."
1,punjab,2008-11,1,amrtisar,3,ajnala,bhalapind,ajnala,bhalapind,1.0,"POLYGON ((74.78681 31.79373, 74.78854 31.79339..."
2,punjab,2008-11,1,amritsar,4,amritsar-i,ballian manjpur,amritsar i,ballian manjpur,1.0,"POLYGON ((75.08233 31.59099, 75.08259 31.59082..."
3,punjab,2008-11,1,tarntarn,5,patti,kirtowal,patti,kirtowal,1.0,"POLYGON ((74.90056 31.21235, 74.90026 31.2118,..."
4,punjab,2008-11,1,hoshiarpur,6,mukerian,gera,mukerian,gera,1.0,"POLYGON ((75.79117 31.98615, 75.79183 31.98424..."

In [51]:
df_village_list.head()

,State,Zone,District Name,Tehsil Code,Tehsil Name,Village Name,Year
0,andhra pradesh,iv,ranga reddy,40.0,puduru,pedhaumethala,2008-2011
1,andhra pradesh,v,medak,49.0,sadasivpet,nandi kandi,2008-2011
2,andhra pradesh,v,medak,50.0,zaiheerabad,huggelly,2008-2011
3,andhra pradesh,i,srikakulam,1.0,etheria,ponnada,2008-2011
4,andhra pradesh,i,srikakulam,2.0,tekkali,tirlangi,2008-2011

In [52]:
df_village_list = df_village_list.applymap(lambda x: x.strip() if isinstance(x, str) else x)

/tmp/ipykernel_1572/3965484942.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_village_list = df_village_list.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [53]:
import pandas as pd

filtered_rows = []

for idx, row in village_list_SOI_mapping.iterrows():
    village = row['VL']
    
    match = df_village_list[
        (df_village_list['Village Name'] == village)
    ]
    
    if not match.empty:
        filtered_rows.append(row)

filtered_df = pd.DataFrame(filtered_rows)

In [54]:
filtered_df.shape

(2386, 11)

In [55]:
df_village_list.shape

(2367, 7)

In [56]:
filtered_df.head()

,STATE,YEAR,ZONE,DISTRICT,slnococ,TEHSIL,VL,sdnm_11,SOI,Similarity,geometry
0,punjab,2008-11,1,gurdaspur,2,batala,ammo nagal,batala,ammo nagal,1.0,"POLYGON ((75.2477433386701 31.750000214614246,..."
1,punjab,2008-11,1,amrtisar,3,ajnala,bhalapind,ajnala,bhalapind,1.0,"POLYGON ((74.78680541639098 31.79372972722586,..."
2,punjab,2008-11,1,amritsar,4,amritsar-i,ballian manjpur,amritsar i,ballian manjpur,1.0,"POLYGON ((75.0823300831601 31.590992374689016,..."
4,punjab,2008-11,1,hoshiarpur,6,mukerian,gera,mukerian,gera,1.0,"POLYGON ((75.79117000271977 31.98614782383495,..."
5,punjab,2008-11,1,nawan.shahar,7,nawan.shahar,patti jhiki,nawanshahr,patti jhiki,1.0,"POLYGON ((76.0616450664287 31.184727329559664,..."

In [57]:
filtered_df[filtered_df['VL'] == 'pendakodo']

Empty DataFrame
Columns: [STATE, YEAR, ZONE, DISTRICT, slnococ, TEHSIL, VL, sdnm_11, SOI, Similarity, geometry]
Index: []

In [58]:
villages_not_in_filtered_df = df_village_list[~df_village_list['Village Name'].isin(filtered_df['VL'])]

count_villages_not_in_filtered_df = villages_not_in_filtered_df.shape[0]

print(f"Number of village names in df_village_list not present in filtered_df: {count_villages_not_in_filtered_df}")

Number of village names in df_village_list not present in filtered_df: 113

In [59]:
villages_not_in_filtered_df.head()

,State,Zone,District Name,Tehsil Code,Tehsil Name,Village Name,Year
3,andhra pradesh,i,srikakulam,1.0,etheria,ponnada,2008-2011
43,assam,i,darrang,7.0,mangaldoi,hirapara,2008-2011
62,bihar,4,patna,24.0,danapur,(i) bari khagaul,2008-2011
84,chhattisgarh,ii,rajnandgoan,8.0,mohla,(1) pendakodo (2) hiddad,2008-2011
86,chhattisgarh,ii,raipur,10.0,gariyaband,(1)malgaon(2)kodonbatar,2008-2011

In [51]:
import pandas as pd
from nltk.metrics.distance import jaro_winkler_similarity

# Result dataframe to store the final mapping
result_df = []

# Iterate through each row in df_village_list
for _, row in df_village_list.iterrows():
    state_name = row['State Name'].strip().lower()
    tehsil_name = row['Tehsil Name'].strip().lower()
    village_name = row['Village Name'].strip().lower()

    # Filter village_list_SOI_mapping for the same STATE and DISTRICT
    filtered_df = village_list_SOI_mapping[
        (village_list_SOI_mapping['STATE'].str.lower() == state_name) &
        (village_list_SOI_mapping['TEHSIL'].str.lower() == tehsil_name)
    ]
    
    # Exact match
    exact_match = filtered_df[
        filtered_df['VL'].str.lower() == village_name
    ]

    if not exact_match.empty:
        # If an exact match is found, add it to the result
        best_match = exact_match.iloc[0]
    elif not filtered_df.empty:
        # Fuzzy match using Jaro-Winkler similarity if the filtered_df is not empty
        filtered_df['similarity'] = filtered_df['VL'].apply(
            lambda x: jaro_winkler_similarity(x.strip().lower(), village_name)
        )
        best_match = filtered_df.loc[filtered_df['similarity'].idxmax()]
    else:
        # Handle the case where there is no match in filtered_df
        best_match = pd.Series({
            'STATE': state_name,
            'TEHSIL': tehsil_name,
            'VL': 'No match found',
            'geometry': None,
            'similarity': 0.0
        })

    # Combine the original row with the best match
    combined_result = best_match.to_dict()
    combined_result.update({
        'Matched Village Name': village_name
    })

    # Add the combined result to the result dataframe list
    result_df.append(combined_result)

# Convert the result list to a DataFrame
result_df = pd.DataFrame(result_df)

/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/home/inductive-anks/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead


In [52]:
result_df.sample(10)

,STATE,YEAR,ZONE,DISTRICT,slnococ,TEHSIL,VL,sdnm_11,SOI,Similarity,geometry,Matched Village Name,similarity
999,tamil nadu,2011-14,2,cuddalore,14,virudhachalam,aladi,virudhachalam,aladi,1.000000,"POLYGON ((79.37602236 11.647808999999999, 79.3...",aladi,NaN
794,haryana,2011-14,2,rohtak,12,rohtak,chiri,rohtak,chiri,1.000000,"POLYGON ((76.50815 29.05957, 76.51379 29.05664...",chiri,NaN
338,orissa,2008-11,i,bhadrak,3,chandbali,matto,chandabali,matto,1.000000,POLYGON ((86.73856353759766 20.866119384765625...,matto,NaN
2117,maharashtra,2017-20,vi) scarcity zone with kharif-cum rabi cropping,ahmednagar,13,karjat,kokangaon,karjat,kokangaon,1.000000,POLYGON ((74.97086694650031 18.763615091636737...,kokangaon,NaN
2158,maharashtra,2017-20,viii) moderate or moderately high rainfall zon...,chandrapur,54,warora,shembal,warora,shembal,1.000000,POLYGON ((79.00122214574847 20.201955993905123...,shembal,NaN
1334,gujarat,2014-17,6,amreli,34,savarkundla,kanatalav,savar kundla,kanatalav,1.000000,"POLYGON ((71.24441 21.34702, 71.24728 21.34863...",kanatalav,NaN
764,gujarat,2011-14,6,amreli,38,lilya,pujapadar,lilia,pujapadar,1.000000,"POLYGON ((71.35464 21.53335, 71.35484 21.53338...",pujapadar,NaN
1996,rajasthan,2017-20,4,sirohi,26,sirohi,krishnganj,sirohi,krishanganj,0.961818,"POLYGON ((72.71442395999999 24.79274937, 72.71...",krishnganj,NaN
2355,gujarat,2017-20,5,ahmedabad,26,dholka,sahij,dholka,sahij,1.000000,"POLYGON ((72.49499 22.71342, 72.49509 22.7134,...",sahij,NaN
195,jharkhand,2008-11,1,ranchi,10,ranchi sadar,hochar,kanke,hochar,1.000000,"POLYGON ((85.34659699781638 23.46744798493687,...",hochar,NaN

In [53]:
result_df.shape

(2522, 13)

In [54]:
geometry_none_df = result_df[result_df['geometry'].isna()]

In [55]:
geometry_none_df.shape

(258, 13)

In [60]:
geometry_none_df.sample(10)

,STATE,YEAR,ZONE,DISTRICT,slnococ,TEHSIL,VL,sdnm_11,SOI,Similarity,geometry,Matched Village Name,similarity
1188,maharastra,NaN,NaN,NaN,NaN,mahegaon,No match found,NaN,NaN,NaN,None,mudhana,0.0
2470,andhra pradesh & telangana,NaN,NaN,NaN,NaN,chintalapudi,No match found,NaN,NaN,NaN,None,raghavapuram,0.0
244,maharastra,NaN,NaN,NaN,NaN,amalner,No match found,NaN,NaN,NaN,None,patonda,0.0
2520,andhra pradesh & telangana,NaN,NaN,NaN,NaN,chityal,No match found,NaN,NaN,NaN,None,jookal,0.0
2510,andhra pradesh & telangana,NaN,NaN,NaN,NaN,bodhan,No match found,NaN,NaN,NaN,None,kaldurki,0.0
2465,andhra pradesh & telangana,NaN,NaN,NaN,NaN,gara,No match found,NaN,NaN,NaN,None,ampolu,0.0
1187,maharastra,NaN,NaN,NaN,NaN,hadgaon,No match found,NaN,NaN,NaN,None,hadsani,0.0
2492,andhra pradesh & telangana,NaN,NaN,NaN,NaN,yerpedu,No match found,NaN,NaN,NaN,None,musalipedu,0.0
1146,maharastra,NaN,NaN,NaN,NaN,sakri,No match found,NaN,NaN,NaN,None,deshshirwade,0.0
1147,maharastra,NaN,NaN,NaN,NaN,daund,No match found,NaN,NaN,NaN,None,girim,0.0

In [45]:
result_df_clean = pd.DataFrame(result_df)

result_df_clean = result_df.dropna(subset=['geometry'])

In [47]:
result_df_clean.shape

(2264, 13)

In [48]:
df_village_list.shape

(2522, 7)

In [50]:
geometry_none_df.head

Empty DataFrame
Columns: [STATE, YEAR, ZONE, DISTRICT, slnococ, TEHSIL, VL, sdnm_11, SOI, Similarity, geometry, Matched Village Name, similarity]
Index: []

## Creating one to one Mapped Data again

In [60]:
curr_dir = pathlib.Path().resolve()
print(curr_dir)

/home/inductive-anks/yield-prediction/Yield-Prediction/Code Files/Subdilstrict-Shape-Files

In [61]:
home_dir = curr_dir.parent.parent

In [128]:
df_village_list = pd.read_csv(home_dir.as_posix() + '/data/Tehsil Data/Tehsil_Data_With_Single_Village.csv')

In [129]:
df_village_list.head()

,State,Zone,District Name,Tehsil Code,Tehsil Name,Village Name,Year
0,andhra pradesh,iv,ranga reddy,40.0,puduru,pedhaumethala,2008-2011
1,andhra pradesh,v,medak,49.0,sadasivpet,nandi kandi,2008-2011
2,andhra pradesh,v,medak,50.0,zaiheerabad,huggelly,2008-2011
3,andhra pradesh,i,srikakulam,1.0,etheria,ponnada,2008-2011
4,andhra pradesh,i,srikakulam,2.0,tekkali,tirlangi,2008-2011

In [130]:
df_village_2008 = pd.read_csv('/home/inductive-anks/yield-prediction/Yield-Prediction/data/Final Data/2008-2011-clean.csv')

In [131]:
df_village_2011 = pd.read_csv('/home/inductive-anks/yield-prediction/Yield-Prediction/data/Final Data/2011-2014-clean.csv')

In [132]:
df_village_2014 = pd.read_csv('/home/inductive-anks/yield-prediction/Yield-Prediction/data/Final Data/2014-2017-clean.csv')

In [133]:
df_village_2017 = pd.read_csv('/home/inductive-anks/yield-prediction/Yield-Prediction/data/Final Data/2017-2020-clean.csv')

In [134]:
df_village_2008.head(2)

,Zone No,Tehsil Code,Tehsil Name,District Name,Village Name,State Name,Year
0,IV,40,Puduru,Ranga Reddy,PedhaUmethala,Andhra Pradesh,2008-2011
1,V,49,Sadasivpet,Medak,Nandi Kandi,Andhra Pradesh,2008-2011

In [135]:
df_village_2011.head(2)

,Zone No,District Name,Tehsil Code,Tehsil Name,Village Name,State Name,Year
0,Zone -I,Srikakulam,1,Vajrapukothur,Patha Tekkali,Andhra Pradesh,2011-2014
1,Zone -I,Srikakulam,2,Amdalavasa,Dusi,Andhra Pradesh,2011-2014

In [136]:
df_village_2014.head(2)

,Zone Number,District Name,Tehsil Code,Tehsil Name,Vilage,State,Block,Unnamed: 7
0,I,Srikakulam,1.0,Pathapatnam,R.L. Puram,Andhra Pradesh,2014-2017,NaN
1,I,Srikakulam,2.0,Hiramandalam,Tampa,Andhra Pradesh,2014-2017,NaN

In [137]:
df_village_2017.head(2)

,Tehsil Code,Zone Number,District Name,Tehsil Name,Vilage,State,Block,District Code
0,1,II-Terai,COOCHBEHAR,DINHATA-I,Bhoram Payasthi,West Bengal,2017-2020,NaN
1,2,II-Terai,JALPAIGURI,NAGRAKATA,Dhouda Simla (N),West Bengal,2017-2020,NaN

In [138]:
# df_village_2008
df_village_2008 = df_village_2008.rename(columns={'Zone No': 'Zone', 'State Name': 'State'})
df_village_2008 = df_village_2008[['Zone', 'District Name', 'Tehsil Code', 'Tehsil Name', 'Village Name', 'State', 'Year']]

In [139]:
df_village_2008.head()

,Zone,District Name,Tehsil Code,Tehsil Name,Village Name,State,Year
0,IV,Ranga Reddy,40,Puduru,PedhaUmethala,Andhra Pradesh,2008-2011
1,V,Medak,49,Sadasivpet,Nandi Kandi,Andhra Pradesh,2008-2011
2,V,Medak,50,Zaiheerabad,Huggelly,Andhra Pradesh,2008-2011
3,I,Srikakulam,1,Etheria,Ponnada,Andhra Pradesh,2008-2011
4,I,Srikakulam,2,Tekkali,Tirlangi,Andhra Pradesh,2008-2011

In [140]:
df_village_2011.head()

,Zone No,District Name,Tehsil Code,Tehsil Name,Village Name,State Name,Year
0,Zone -I,Srikakulam,1,Vajrapukothur,Patha Tekkali,Andhra Pradesh,2011-2014
1,Zone -I,Srikakulam,2,Amdalavasa,Dusi,Andhra Pradesh,2011-2014
2,Zone -I,Vizianagaram.,3,Bondapalli,B.Rajeru,Andhra Pradesh,2011-2014
3,Zone -I,Vishakapatnam,4,Makavara Palem,Byyavaram,Andhra Pradesh,2011-2014
4,Zone-II,East Godavari,5,Samalkota,J.Peta,Andhra Pradesh,2011-2014

In [141]:
df_village_2011 = df_village_2011.rename(columns={'Zone No': 'Zone', 'State Name': 'State'})
df_village_2011 = df_village_2011[['Zone', 'District Name', 'Tehsil Code', 'Tehsil Name', 'Village Name', 'State', 'Year']]

In [142]:
df_village_2014.head()

,Zone Number,District Name,Tehsil Code,Tehsil Name,Vilage,State,Block,Unnamed: 7
0,I,Srikakulam,1.0,Pathapatnam,R.L. Puram,Andhra Pradesh,2014-2017,NaN
1,I,Srikakulam,2.0,Hiramandalam,Tampa,Andhra Pradesh,2014-2017,NaN
2,I,Vizianagaram,3.0,Kurupam,Kurupam,Andhra Pradesh,2014-2017,NaN
3,I,Vizianagaram,4.0,Balijipeta,Barli,Andhra Pradesh,2014-2017,NaN
4,I,Visakhapatnam,5.0,Madugula,Madugula,Andhra Pradesh,2014-2017,NaN

In [143]:
df_village_2014.drop(columns=['Unnamed: 7'], inplace=True)

In [144]:
df_village_2014.head()

,Zone Number,District Name,Tehsil Code,Tehsil Name,Vilage,State,Block
0,I,Srikakulam,1.0,Pathapatnam,R.L. Puram,Andhra Pradesh,2014-2017
1,I,Srikakulam,2.0,Hiramandalam,Tampa,Andhra Pradesh,2014-2017
2,I,Vizianagaram,3.0,Kurupam,Kurupam,Andhra Pradesh,2014-2017
3,I,Vizianagaram,4.0,Balijipeta,Barli,Andhra Pradesh,2014-2017
4,I,Visakhapatnam,5.0,Madugula,Madugula,Andhra Pradesh,2014-2017

In [145]:
df_village_2014.columns

Index(['Zone Number', 'District Name', 'Tehsil Code ', 'Tehsil Name',
       'Vilage ', 'State', 'Block'],
      dtype='object')

In [146]:
df_village_2014 = df_village_2014.rename(columns={'Zone Number': 'Zone', 'State': 'State', 'Vilage ': 'Village Name', 'Tehsil Code ': 'Tehsil Code', 'Block': 'Year'})
df_village_2014 = df_village_2014[['Zone', 'District Name', 'Tehsil Code', 'Tehsil Name', 'Village Name', 'State', 'Year']]

In [147]:
df_village_2017.columns

Index(['Tehsil Code', 'Zone Number', 'District Name', 'Tehsil Name', 'Vilage ',
       'State', 'Block', 'District Code'],
      dtype='object')

In [148]:
df_village_2017 = df_village_2017.rename(columns={'Zone Number': 'Zone', 'State': 'State', 'Vilage ': 'Village Name', 'Block': 'Year'})
df_village_2017 = df_village_2017[['Zone', 'District Name', 'Tehsil Code', 'Tehsil Name', 'Village Name', 'State', 'Year']]

In [149]:
df_villages = pd.concat([df_village_2008, df_village_2011, df_village_2014, df_village_2017], ignore_index=True)

In [150]:
df_villages.head()

,Zone,District Name,Tehsil Code,Tehsil Name,Village Name,State,Year
0,IV,Ranga Reddy,40,Puduru,PedhaUmethala,Andhra Pradesh,2008-2011
1,V,Medak,49,Sadasivpet,Nandi Kandi,Andhra Pradesh,2008-2011
2,V,Medak,50,Zaiheerabad,Huggelly,Andhra Pradesh,2008-2011
3,I,Srikakulam,1,Etheria,Ponnada,Andhra Pradesh,2008-2011
4,I,Srikakulam,2,Tekkali,Tirlangi,Andhra Pradesh,2008-2011

In [151]:
df_villages.shape

(4234, 7)

In [152]:
df_villages.isna().sum()

Zone             11
District Name    10
Tehsil Code       8
Tehsil Name      10
Village Name     12
State             0
Year              0
dtype: int64

In [153]:
df_villages_cleaned = df_villages.dropna()

In [154]:
df_villages_cleaned.isna().sum()

Zone             0
District Name    0
Tehsil Code      0
Tehsil Name      0
Village Name     0
State            0
Year             0
dtype: int64

In [155]:
print("\nShape of the dataframe before and after dropping rows:")
print("Before dropping NaN rows:", df_villages.shape)
print("After dropping NaN rows:", df_villages_cleaned.shape)

Shape of the dataframe before and after dropping rows:
Before dropping NaN rows: (4234, 7)
After dropping NaN rows: (4209, 7)

In [156]:
df_villages_cleaned.head()

,Zone,District Name,Tehsil Code,Tehsil Name,Village Name,State,Year
0,IV,Ranga Reddy,40,Puduru,PedhaUmethala,Andhra Pradesh,2008-2011
1,V,Medak,49,Sadasivpet,Nandi Kandi,Andhra Pradesh,2008-2011
2,V,Medak,50,Zaiheerabad,Huggelly,Andhra Pradesh,2008-2011
3,I,Srikakulam,1,Etheria,Ponnada,Andhra Pradesh,2008-2011
4,I,Srikakulam,2,Tekkali,Tirlangi,Andhra Pradesh,2008-2011

In [157]:
df_villages_cleaned = df_villages_cleaned.applymap(lambda x: x.lower() if isinstance(x, str) else x)

/tmp/ipykernel_1572/462529041.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_villages_cleaned = df_villages_cleaned.applymap(lambda x: x.lower() if isinstance(x, str) else x)

In [158]:
df_villages_cleaned.head()

,Zone,District Name,Tehsil Code,Tehsil Name,Village Name,State,Year
0,iv,ranga reddy,40,puduru,pedhaumethala,andhra pradesh,2008-2011
1,v,medak,49,sadasivpet,nandi kandi,andhra pradesh,2008-2011
2,v,medak,50,zaiheerabad,huggelly,andhra pradesh,2008-2011
3,i,srikakulam,1,etheria,ponnada,andhra pradesh,2008-2011
4,i,srikakulam,2,tekkali,tirlangi,andhra pradesh,2008-2011

In [159]:
df_villages_cleaned['Year'].value_counts()

Year
2014-2017    1100
2017-2020    1058
2011-2014     996
2008-2011     666
2008-2009     389
Name: count, dtype: int64

In [160]:
df_villages_cleaned['Year'] = df_villages_cleaned['Year'].replace('2008-2009', '2008-2011')

In [161]:

subset = df_villages_cleaned[(df_villages_cleaned['State'] == 'karnataka') & (df_villages_cleaned['Year'] == '2008-2011')]

df_villages_cleaned.loc[(df_villages_cleaned['State'] == 'karnataka') & (df_villages_cleaned['Year'] == '2008-2011'), ['Tehsil Name', 'Tehsil Code']] = \
df_villages_cleaned.loc[(df_villages_cleaned['State'] == 'karnataka') & (df_villages_cleaned['Year'] == '2008-2011'), ['Tehsil Code', 'Tehsil Name']].values

In [162]:
# Define the correct order of columns starting from 'State' to 'Village Name'
correct_order = [
    'State', 
    'Zone', 
    'District Name', 
    'Tehsil Code', 
    'Tehsil Name', 
    'Village Name', 
    'Year'
]

df_villages_cleaned = df_villages_cleaned[correct_order]

df_villages_cleaned.head()

,State,Zone,District Name,Tehsil Code,Tehsil Name,Village Name,Year
0,andhra pradesh,iv,ranga reddy,40,puduru,pedhaumethala,2008-2011
1,andhra pradesh,v,medak,49,sadasivpet,nandi kandi,2008-2011
2,andhra pradesh,v,medak,50,zaiheerabad,huggelly,2008-2011
3,andhra pradesh,i,srikakulam,1,etheria,ponnada,2008-2011
4,andhra pradesh,i,srikakulam,2,tekkali,tirlangi,2008-2011

In [163]:
# Remove leading, trailing, and extra spaces within all string columns
df_villages_cleaned = df_villages_cleaned.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df_villages_cleaned = df_villages_cleaned.applymap(lambda x: ' '.join(x.split()) if isinstance(x, str) else x)

/tmp/ipykernel_1572/3381886373.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_villages_cleaned = df_villages_cleaned.applymap(lambda x: x.strip() if isinstance(x, str) else x)
/tmp/ipykernel_1572/3381886373.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_villages_cleaned = df_villages_cleaned.applymap(lambda x: ' '.join(x.split()) if isinstance(x, str) else x)

In [167]:
df_villages_cleaned['State'].value_counts()

State
west bengal         720
assam               448
himachal pradesh    362
rajasthan           250
maharastra          240
tamil nadu          240
gujarat             233
andhra pradesh      223
uttar pradesh       218
bihar               201
orissa              192
karnataka           180
madhya pradesh      179
punjab              147
haryana             121
kerala              120
jharkhand            65
chhattisgarh         60
uttarakhand          10
Name: count, dtype: int64

In [165]:
state_corrections = {
    'andhra pradesh & telangana': 'andhra pradesh',
    'jharkand': 'jharkhand',
    'chattisgarh': 'chhattisgarh',
    'odisha': 'orissa',
    'gujrat': 'gujarat', 
    'maharashtra': 'maharastra'
}

df_villages_cleaned['State'] = df_villages_cleaned['State'].replace(state_corrections)

In [168]:
df_villages_cleaned['State'].nunique()

19

In [169]:
import re

df_villages_cleaned['Village Name'] = df_villages_cleaned['Village Name'].str.replace(r'^\s*\d+\s*', '', regex=True)

In [170]:

df_villages_cleaned['Village Name'] = df_villages_cleaned['Village Name'].str.replace(r'^[\s\d.]+', '', regex=True)

In [175]:
df_villages_cleaned.to_csv('/home/inductive-anks/yield-prediction/Yield-Prediction/data/Final Data/Final-Merged-Data(2008-2011 to 2017-2020).csv', index=False)

In [176]:
df_villages_cleaned.shape

(4209, 7)

In [174]:
grouped = df_villages_cleaned.groupby(['State', 'Year'])['Tehsil Name'].nunique().reset_index()

## Merging With SOI shapes

In [142]:
village_list = pd.read_csv('/home/inductive-anks/yield-prediction/Yield-Prediction/data/Tehsil Data/Tehsil_Data_With_Single_Village.csv')

In [143]:
village_list_SOI_mapping = gpd.read_file(home_dir.as_posix() + '/data/Village_List-SOI-Mapping(Main)/Village_List-SOI-Mapping(Main).shp')

In [144]:
village_list.shape

(2367, 7)

In [145]:
village_list_SOI_mapping.shape

(3278, 11)

In [146]:
import pandas as pd

filtered_rows = []

for idx, row in village_list_SOI_mapping.iterrows():
    village = row['VL']
    
    match = df_village_list[
        (df_village_list['Village Name'] == village)
    ]
    
    if not match.empty:
        filtered_rows.append(row)

filtered_df = pd.DataFrame(filtered_rows)