In [4]:
import pandas as pd
import pathlib

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [5]:
curr_dir = pathlib.Path().resolve()
print(curr_dir)

/home/inductive-anks/yield-prediction/Yield-Prediction/Code Files/Common-Village-and-Tehsil

In [6]:
home_dir = curr_dir.parent.parent

In [7]:
df_2008_2011 = pd.read_csv(home_dir.as_posix() + '/data/Final Data/2008-2011-clean.csv')

In [8]:
df_2011_2014 = pd.read_csv(home_dir.as_posix() + '/data/Final Data/2011-2014-clean.csv')

In [9]:
df_2014_2017 = pd.read_csv(home_dir.as_posix() + '/data/Final Data/2014-2017-clean.csv')

In [11]:
df_2017_2020 = pd.read_excel(home_dir.as_posix() + '/data/Final Data/2017-2020-clean.xlsx')

### Preprocessing

In [40]:
df_2014_2017 = df_2014_2017.drop(columns=['Unnamed: 7'])

In [41]:
df_2014_2017.columns

Index(['Zone Number', 'District Name', 'Tehsil Code ', 'Tehsil Name',
       'Vilage ', 'State', 'Block'],
      dtype='object')

In [42]:
df_2014_2017 = df_2014_2017[['Zone Number', 'Tehsil Code ', 'Tehsil Name', 'District Name', 'Vilage ', 'State', 'Block']]

In [43]:
new_column_names = ['Zone No', 'Tehsil Code', 'Tehsil Name', 'District Name', 'Village Name', 'State Name', 'Year']

df_2014_2017.columns = new_column_names

In [44]:
df_2014_2017.head()

,Zone No,Tehsil Code,Tehsil Name,District Name,Village Name,State Name,Year
0,I,1.0,Pathapatnam,Srikakulam,R.L. Puram,Andhra Pradesh,2014-2017
1,I,2.0,Hiramandalam,Srikakulam,Tampa,Andhra Pradesh,2014-2017
2,I,3.0,Kurupam,Vizianagaram,Kurupam,Andhra Pradesh,2014-2017
3,I,4.0,Balijipeta,Vizianagaram,Barli,Andhra Pradesh,2014-2017
4,I,5.0,Madugula,Visakhapatnam,Madugula,Andhra Pradesh,2014-2017

In [45]:
df_2017_2020.head()

,Tehsil Code,Zone Number,District Name,Tehsil Name,Vilage,State,Block,District Code
0,1,II-Terai,COOCHBEHAR,DINHATA-I,Bhoram Payasthi,West Bengal,2017-2020,NaN
1,2,II-Terai,JALPAIGURI,NAGRAKATA,Dhouda Simla (N),West Bengal,2017-2020,NaN
2,3,II-Terai,JALPAIGURI,JALPAIGURI,Banshkanthia,West Bengal,2017-2020,NaN
3,4,II-Terai,COOCHBEHAR,DINHATA-I,Ruier Khuthi,West Bengal,2017-2020,NaN
4,5,II-Terai,JALPAIGURI,DHUBGIRI,Bara Gharia,West Bengal,2017-2020,NaN

In [46]:
df_2017_2020 = df_2017_2020.drop(columns=['District Code'])

In [47]:
df_2017_2020.head()

,Tehsil Code,Zone Number,District Name,Tehsil Name,Vilage,State,Block
0,1,II-Terai,COOCHBEHAR,DINHATA-I,Bhoram Payasthi,West Bengal,2017-2020
1,2,II-Terai,JALPAIGURI,NAGRAKATA,Dhouda Simla (N),West Bengal,2017-2020
2,3,II-Terai,JALPAIGURI,JALPAIGURI,Banshkanthia,West Bengal,2017-2020
3,4,II-Terai,COOCHBEHAR,DINHATA-I,Ruier Khuthi,West Bengal,2017-2020
4,5,II-Terai,JALPAIGURI,DHUBGIRI,Bara Gharia,West Bengal,2017-2020

In [48]:
df_2017_2020.columns

Index(['Tehsil Code', 'Zone Number', 'District Name', 'Tehsil Name', 'Vilage ',
       'State', 'Block'],
      dtype='object')

In [49]:
df_2017_2020 = df_2017_2020[['Zone Number', 'Tehsil Code', 'Tehsil Name', 'District Name', 'Vilage ', 'State', 'Block']]

In [50]:
new_column_names = ['Zone No', 'Tehsil Code', 'Tehsil Name', 'District Name', 'Village Name', 'State Name', 'Year']

df_2017_2020.columns = new_column_names

In [51]:
df_2017_2020.head()

,Zone No,Tehsil Code,Tehsil Name,District Name,Village Name,State Name,Year
0,II-Terai,1,DINHATA-I,COOCHBEHAR,Bhoram Payasthi,West Bengal,2017-2020
1,II-Terai,2,NAGRAKATA,JALPAIGURI,Dhouda Simla (N),West Bengal,2017-2020
2,II-Terai,3,JALPAIGURI,JALPAIGURI,Banshkanthia,West Bengal,2017-2020
3,II-Terai,4,DINHATA-I,COOCHBEHAR,Ruier Khuthi,West Bengal,2017-2020
4,II-Terai,5,DHUBGIRI,JALPAIGURI,Bara Gharia,West Bengal,2017-2020

In [52]:
df_2008_2011['Village Name'] = df_2008_2011['Village Name'].str.lower()

In [53]:
df_2011_2014['Village Name'] = df_2011_2014['Village Name'].str.lower()

In [54]:
df_2014_2017['Village Name'] = df_2014_2017['Village Name'].str.lower()

In [55]:
df_2017_2020['Village Name'] = df_2017_2020['Village Name'].str.lower()

### Converting Village Names to lower case

In [56]:
merged_df = pd.concat([df_2008_2011, df_2011_2014, df_2014_2017, df_2017_2020], ignore_index=True)

In [57]:
merged_df.sample(10)

,Zone No,Tehsil Code,Tehsil Name,District Name,Village Name,State Name,Year
11,II,6,Amalapuram,East Godavari,a.vemavaram,Andhra Pradesh,2008-2011
807,III,13,BELDANGA-I,MURSHIDABAD,begunbari,West Bengal,2008-2011
2263,7,50.0,Gadhada,Bhavnagar,gordaka,Gujarat,2014-2017
1848,10,36,Manasa,Neemuch,pipaliya raoji,Madhya Pradesh,2011-2014
1057,08,Belgaum,42.0,Chikkodi,ankalli,Karnataka,2008-2011
2597,8,58.0,Nanded,Nanded,marlak,Maharashtra,2014-2017
93,II,19,Borpathar,Golaghat,1.dighalipather,Assam,2008-2009
2130,BVZ(V),45.0,Hamren,Karbi Anglong,rongkini,Assam,2014-2017
1408,II,19,Hamipur,Barsar,pahlu,Himachal Pradesh,2011-2014
2503,Kymore plateau and Satpura hills (3),9.0,Rampur,Satna,chorhata,Madhya Pradesh,2014-2017

In [58]:
merged_df.sample(5)

,Zone No,Tehsil Code,Tehsil Name,District Name,Village Name,State Name,Year
2024,LBVZ (I),1.0,Bogoribari,Dhubri,bagulmari p=i i,Assam,2014-2017
2169,Bihar/ IV,25.0,Barh,Patna,mirdahachak,Bihar,2014-2017
3837,Zone-II,11,Jind,jind,bibipur,Haryana,2017-2020
1308,4,14,Deesa,Banaskantha,aaseda,Gujarat,2011-2014
3432,ZONE-VII,48,Hurda,Bhilwara,tokarwad,Rajasthan,2017-2020

In [59]:
merged_df['Village Name'] = merged_df['Village Name'].str.lower()

In [60]:
merged_df['Year'] = merged_df['Year'].replace('2008-2009', '2008-2011')

In [61]:
len(merged_df['Village Name'].unique())

3957

In [62]:
merged_df['State Name'].unique()

array(['Andhra Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Gujrat',
       'Haryana', 'Jharkhand', 'Kerala', 'Maharastra', 'Madhya Pradesh',
       'Orissa', 'Punjab', 'Rajasthan', 'Tamil Nadu', 'West Bengal',
       'Uttar Pradesh', 'Himachal Pradesh', 'Karnataka', 'Gujarat',
       'Odisha', 'Chattisgarh', 'Maharashtra', 'Uttarakhand',
       'Uttarakhand ', 'Uttar Pradesh ', 'Tamil Nadu ', 'Rajasthan ',
       'Punjab ', 'Odisha ', 'Maharashtra ', 'Madhya Pradesh ', 'Kerala ',
       'Karnataka ', 'Jharkand ', 'Haryana ', 'Gujarat ', 'Chattisgarh ',
       'Bihar ', 'Assam ', 'Andhra Pradesh & Telangana '], dtype=object)

In [63]:
merged_df['State Name'] = merged_df['State Name'].str.replace('Assam ', 'Assam', regex=False)

In [64]:
merged_df['State Name'] = merged_df['State Name'].str.replace('Bihar ', 'Bihar', regex=False)

In [65]:
merged_df['State Name'] = merged_df['State Name'].str.replace('Uttarakhand ', 'Uttarakhand', regex=False)

In [66]:
merged_df['State Name'] = merged_df['State Name'].str.replace('Uttar Pradesh ', 'Uttar Pradesh', regex=False)

In [67]:
merged_df['State Name'] = merged_df['State Name'].str.replace('Tamil Nadu ', 'Tamil Nadu', regex=False)

In [68]:
merged_df['State Name'] = merged_df['State Name'].str.replace('Rajasthan ', 'Rajasthan', regex=False)

In [69]:
merged_df['State Name'] = merged_df['State Name'].str.replace('Punjab ', 'Punjab', regex=False)

In [70]:
merged_df['State Name'] = merged_df['State Name'].str.replace('Odisha ', 'Odisha', regex=False)

In [71]:
merged_df['State Name'] = merged_df['State Name'].str.replace('Maharashtra ', 'Maharashtra', regex=False)

In [72]:
merged_df['State Name'] = merged_df['State Name'].str.replace('Madhya Pradesh ', 'Madhya Pradesh', regex=False)

In [73]:
merged_df['State Name'] = merged_df['State Name'].str.replace('Kerala ', 'Kerala', regex=False)

In [74]:
merged_df['State Name'] = merged_df['State Name'].str.replace('Karnataka ', 'Karnataka', regex=False)

In [75]:
merged_df['State Name'] = merged_df['State Name'].str.replace('Jharkand ', 'Jharkhand', regex=False)

In [76]:
merged_df['State Name'] = merged_df['State Name'].str.replace('Gujarat ', 'Gujarat', regex=False)

In [77]:
merged_df['State Name'] = merged_df['State Name'].str.replace('Chattisgarh ', 'Chattisgarh', regex=False)

In [78]:
len(merged_df['Tehsil Name'].unique())

2355

In [79]:
merged_df = merged_df.dropna()

In [188]:
merged_df.to_csv('Final-Merged-Data(2008 - 2020).csv', index=False)

### Common Villages

In [2]:
import pandas as pd

In [3]:
merged_df = pd.read_csv('/home/inductive-anks/yield-prediction/Yield-Prediction/data/Final Data/Final-Merged-Data(2008-2011 to 2017-2020).csv')

In [4]:
unique_years = merged_df['Year'].unique()

multi_year_villages = merged_df[merged_df.duplicated(subset=['Village Name'], keep=False)]['Village Name'].unique()

village_df = pd.DataFrame(0, index=multi_year_villages, columns=unique_years)

for village in multi_year_villages:
    village_years = merged_df[merged_df['Village Name'] == village]['Year'].unique()
    village_df.loc[village, village_years] = 1

village_df['Total Occurrence'] = village_df.sum(axis=1)

village_df = village_df[village_df['Total Occurrence'] > 1]

additional_attributes = merged_df.drop_duplicates(subset=['Village Name']).set_index('Village Name')
village_df = village_df.merge(additional_attributes, left_index=True, right_index=True)

village_df = village_df.sort_values(by='Total Occurrence', ascending=False)

In [5]:
village_df.head()

,2008-2011,2011-2014,2014-2017,2017-2020,Total Occurrence,State,Zone,District Name,Tehsil Code,Tehsil Name,Year
shahpur,1,1,1,1,4,madhya pradesh,xii,dindori,44.0,dindori,2008-2011
amrapur,1,1,1,0,3,maharashtra,vi,a.nagar,20.0,shevgaon,2008-2011
rampur,1,1,1,0,3,gujarat,4,ahmedabad,32.0,dholka,2008-2011
haripur,1,1,1,0,3,west bengal,iv,hooghly,33.0,polba/dadpur,2008-2011
kot,1,1,1,0,3,himachal pradesh,iii,mandi,27.0,karsog,2008-2011

In [6]:
village_df.reset_index(inplace=True)

In [7]:
village_df.head()

,index,2008-2011,2011-2014,2014-2017,2017-2020,Total Occurrence,State,Zone,District Name,Tehsil Code,Tehsil Name,Year
0,shahpur,1,1,1,1,4,madhya pradesh,xii,dindori,44.0,dindori,2008-2011
1,amrapur,1,1,1,0,3,maharashtra,vi,a.nagar,20.0,shevgaon,2008-2011
2,rampur,1,1,1,0,3,gujarat,4,ahmedabad,32.0,dholka,2008-2011
3,haripur,1,1,1,0,3,west bengal,iv,hooghly,33.0,polba/dadpur,2008-2011
4,kot,1,1,1,0,3,himachal pradesh,iii,mandi,27.0,karsog,2008-2011

In [8]:
village_df.rename(columns={'index': 'Village Name'}, inplace=True)

In [9]:
village_df.head(10)

,Village Name,2008-2011,2011-2014,2014-2017,2017-2020,Total Occurrence,State,Zone,District Name,Tehsil Code,Tehsil Name,Year
0,shahpur,1,1,1,1,4,madhya pradesh,xii,dindori,44.0,dindori,2008-2011
1,amrapur,1,1,1,0,3,maharashtra,vi,a.nagar,20.0,shevgaon,2008-2011
2,rampur,1,1,1,0,3,gujarat,4,ahmedabad,32.0,dholka,2008-2011
3,haripur,1,1,1,0,3,west bengal,iv,hooghly,33.0,polba/dadpur,2008-2011
4,kot,1,1,1,0,3,himachal pradesh,iii,mandi,27.0,karsog,2008-2011
5,durgapur,1,0,1,1,3,west bengal,iii,nadia,21.0,ranaghat-i,2008-2011
6,chak,1,1,1,0,3,himachal pradesh,ii,solan,21.0,nalagarh,2008-2011
7,kallapadi,0,1,1,1,3,tamil nadu,2,vellore,4.0,gudiyatham,2011-2014
8,kherwa,0,1,0,1,2,rajasthan,iv,pali,28.0,pali,2011-2014
9,anuppampattu-2,0,1,1,0,2,tamil nadu,1,thiruvallur,1.0,ponneri,2011-2014

In [10]:
village_df.to_csv('/home/inductive-anks/yield-prediction/Yield-Prediction/data/Final Data/Common-Village-Dataset.csv', index=False)

In [12]:
pd.set_option('display.max_rows', None)

In [13]:
village_df.shape

(110, 12)

In [16]:
village_df.head()

,Village Name,2008-2011,2011-2014,2014-2017,2017-2020,Total Occurrence,State,Zone,District Name,Tehsil Code,Tehsil Name,Year
0,shahpur,1,1,1,1,4,madhya pradesh,xii,dindori,44.0,dindori,2008-2011
1,amrapur,1,1,1,0,3,maharashtra,vi,a.nagar,20.0,shevgaon,2008-2011
2,rampur,1,1,1,0,3,gujarat,4,ahmedabad,32.0,dholka,2008-2011
3,haripur,1,1,1,0,3,west bengal,iv,hooghly,33.0,polba/dadpur,2008-2011
4,kot,1,1,1,0,3,himachal pradesh,iii,mandi,27.0,karsog,2008-2011

### Common Tehsils over the Year blocks

In [2]:
import pandas as pd

In [3]:
village_list_df = pd.read_csv(home_dir.as_posix() + '/data/Final Data/Final-Merged-Data(2008-2011 to 2017-2020).csv')

In [4]:
village_list_df.head(3)

,Zone No,Tehsil Code,Tehsil Name,District Name,Village Name,State Name,Year
0,IV,40,Puduru,Ranga Reddy,pedhaumethala,Andhra Pradesh,2008-2011
1,V,49,Sadasivpet,Medak,nandi kandi,Andhra Pradesh,2008-2011
2,V,50,Zaiheerabad,Medak,huggelly,Andhra Pradesh,2008-2011

In [20]:
unique_years = village_list_df['Year'].unique()

multi_year_tehsils = village_list_df[village_list_df.duplicated(subset=['Tehsil Name'], keep=False)]['Tehsil Name'].unique()

tehsil_df = pd.DataFrame(0, index=multi_year_tehsils, columns=unique_years)

for tehsil in multi_year_tehsils:
    tehsil_years = village_list_df[village_list_df['Tehsil Name'] == tehsil]['Year'].unique()
    tehsil_df.loc[tehsil, tehsil_years] = 1

tehsil_df['Total Occurrence'] = tehsil_df.sum(axis=1)

additional_attributes = village_list_df.drop_duplicates(subset=['Tehsil Name']).set_index('Tehsil Name')
tehsil_df = tehsil_df.merge(additional_attributes, left_index=True, right_index=True)

tehsil_df = tehsil_df.sort_values(by='Total Occurrence', ascending=False)

In [21]:
tehsil_df.reset_index(inplace=True)

In [22]:
tehsil_df.rename(columns={'index': 'Tehsil Name'}, inplace=True)

In [23]:
tehsil_df.sample(10)

,Tehsil Name,2008-2011,2011-2014,2014-2017,2017-2020,Total Occurrence,Zone No,Tehsil Code,District Name,Village Name,State Name,Year
832,CHANCHAL-II,0,0,0,1,1,III-New Alluvial,11,MALDA,bhandaria,West Bengal,2017-2020
815,Salboni,0,0,1,0,1,V / Red & Laterite,53.0,Midnapore( W ),lalgere,West Bengal,2014-2017
821,Onda,0,0,1,0,1,V / Red & Laterite,47.0,Bankura,bahara band,West Bengal,2014-2017
258,Barnala,1,0,0,1,2,III,22,Barnala,chhinniwal kalan,Punjab,2008-2011
760,Srijangram,1,0,0,0,1,IV,34,Bongaigaon,khorapara,Assam,2008-2011
689,Sorar,0,0,1,0,1,II,20.0,Nadaun/Hamirpur,jol sappar,Himachal Pradesh,2014-2017
444,Balia,0,1,0,1,2,5,40,Begusarai,samastipur,Bihar,2011-2014
406,Hardoi,0,1,1,0,2,7,50,Hardoi,sakara,West Bengal,2011-2014
34,Gadag,0,1,1,1,3,III,24,Gadag,harthi,Karnataka,2011-2014
717,KRISHNAGAR-II,1,0,0,0,1,III,19,NADIA,bargara,West Bengal,2008-2011

In [24]:
village_list_df['Tehsil Name'].nunique()

2350

In [25]:
len(tehsil_df[tehsil_df['Total Occurrence'] == 4])

21

In [26]:
len(tehsil_df[tehsil_df['Total Occurrence'] == 3])

108

In [27]:
len(tehsil_df[tehsil_df['Total Occurrence'] == 2])

379

In [28]:
len(tehsil_df[tehsil_df['Total Occurrence'] == 1])

417