In [1]:
import pandas as pd
import pathlib

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [3]:
curr_dir = pathlib.Path().resolve()
print(curr_dir)

/home/inductive-anks/yield-prediction/Yield-Prediction/Code Files/Cost-of-Cultivation

In [4]:
home_dir = curr_dir.parent.parent

In [5]:
df = pd.read_csv(home_dir.as_posix() + '/data/CoC-Raw-Data/COC_dta_clean.csv')

In [13]:
len(df.columns)

81

In [17]:
len(columns)

79

In [18]:
df.head(10)

,State Name,state_code,District Name,dist_code,Tehsil Name,sub_id,crop,Tehsil Code,zone,tenure,variety,season,crop_code,block,year,tehsilcultivator,pps,mainprd_qtl,croparea_ha,mainprd_rs,byprd_rs,famlab_hrs,famlab_rs,atchdlab_hrs,atchdlab_rs,casuallab_hrs,casuallab_rs,hrdanimllab_hrs,hrdanimllab_rs,ownanimllab_hrs,ownanimllab_rs,hrdmchn_hrs,hrdmchn_rs,ownmchn_hrs,ownmchn_rs,seed_kg,seed_rs,fertn_kg,fertn_rs,fertp_kg,fertp_rs,fertk_kg,fertk_rs,fertoth_kg,fertoth_rs,ferttotal_kg,ferttotal_rs,sizegroup,manure_qtl,manure_rs,insecticide_rs,ownirrimchn_hrs,ownirrimchn_rs,hrdirrimchn_hrs,hrdirrimchn_rs,canalandothirri_rs,misc_rs,landrevenue_rs,rpll_rs,imputedrent_rs,totaldepre_rs,totalcapital_rs,ss_groupno,area_sel_cr_vil_ha,nvillages_tehsil,cluster_weight,cropareainzone_ha,cropprodinzone_qtl,ntehsilsinzone,n_samp_teh_zone,area_sel_cr_zn_ha,minrent,maxrent,samp_zo_state,samp_cl_state,yield,sum_irr,irr,farmerid,UniqueID,Extra Number
0,andhra pradesh,28,y.s.r.,551,thondur,6207,arhar,31,3,1,50,1,202,2,2008,310,1011,1.25,0.40,3750.0,200.0,40.000,696.800,0.0,0.0,135.000,1910.000,6.0,150.000,0.000,0.000,3.600,1440.000,0.0,0.0,5.0,250.0,8.400,84.000,21.000,423.000,8.400,93.000,0.0,0.0,37.800,600.000,5.0,0.000,0.0,510.000,0.0,0.0,0.0,0.0,0.0,12.0,1.091,0,1185.0,1642.82,40700.0,2.0,32030.0,17,3.0,82.0,27.0,234,13,2690.0,30.0,30.0,5,0,3.125000,0.0,0,28551310,30501011285516207202200831011,1
1,andhra pradesh,28,anantapur,553,kanekal,6169,arhar,31,3,1,50,1,202,2,2008,319,1011,1.50,0.40,4500.0,200.0,77.600,1351.790,0.0,0.0,109.670,1810.000,0.0,0.000,4.000,146.440,3.000,1200.000,0.0,0.0,5.0,250.0,8.400,81.000,21.000,405.000,8.400,90.000,0.0,0.0,37.800,576.000,5.0,0.000,0.0,384.000,0.0,0.0,0.0,0.0,0.0,12.0,0.825,0,1410.0,1418.00,55981.0,2.0,32030.0,17,3.0,82.0,27.0,234,13,2690.0,30.0,30.0,5,2,3.750000,0.0,0,28553319,30501011285536169202200831911,1
2,andhra pradesh,28,anantapur,553,raptadu,6212,arhar,32,3,1,10,1,202,2,2008,320,2011,2.50,0.40,6500.0,250.0,50.896,1045.910,0.0,0.0,66.917,1356.880,0.0,0.000,13.750,220.078,1.000,450.000,0.0,0.0,4.0,200.0,6.250,72.580,6.250,146.170,0.000,0.000,0.0,0.0,12.500,218.750,5.0,0.000,0.0,37.500,0.0,0.0,0.0,0.0,0.0,0.0,0.800,0,2025.0,2600.00,81457.0,1.0,16874.0,11,2.0,82.0,27.0,234,13,2690.0,30.0,30.0,5,8,6.250000,0.0,0,28553320,20502011285536212202200832011,1
3,andhra pradesh,28,anantapur,553,raptadu,6212,arhar,32,3,1,10,1,202,2,2008,320,3011,0.70,0.10,1820.0,75.0,25.533,524.710,0.0,0.0,21.700,450.000,0.0,0.000,4.350,69.625,0.200,90.000,0.0,0.0,1.0,50.0,3.000,34.839,3.000,70.161,0.000,0.000,0.0,0.0,6.000,105.000,5.0,0.000,0.0,300.000,0.0,0.0,0.0,0.0,0.0,0.0,0.197,0,568.5,2600.00,81457.0,1.0,16874.0,11,2.0,82.0,27.0,234,13,2690.0,30.0,30.0,5,8,7.000000,0.0,0,28553320,20503011285536212202200832011,1
4,andhra pradesh,28,anantapur,553,uravakonda,6153,arhar,32,3,1,50,1,202,2,2008,321,2011,0.25,0.06,650.0,50.0,33.160,681.438,0.0,0.0,0.000,0.000,0.0,0.000,5.000,119.100,0.000,0.000,0.0,0.0,1.0,40.0,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.0,0.000,0.000,1.0,0.240,12.0,60.000,0.0,0.0,0.0,0.0,0.0,0.0,0.123,0,210.0,1520.00,54426.0,1.0,16874.0,11,2.0,82.0,27.0,234,13,2690.0,30.0,30.0,5,2,4.166666,0.0,0,28553321,20102011285536153202200832111,1
5,andhra pradesh,28,anantapur,553,uravakonda,6153,arhar,32,3,1,50,1,202,2,2008,324,1011,0.60,0.10,1560.0,75.0,24.000,493.200,0.0,0.0,14.000,200.000,0.0,0.000,5.939,144.965,0.122,12.245,0.0,0.0,1.5,90.0,1.150,13.500,1.500,27.000,0.000,0.000,0.0,0.0,3.000,49.500,2.0,0.204,10.0,34.082,0.0,0.0,0.0,0.0,0.0,0.0,0.360,0,490.5,2700.00,86955.0,2.0,16874.0,11,8.5,82.0,27.0,234,13,2690.0,30.0,30.0,5,1,6.000000,0.0,0,28553324,85201011285536153202200832411,1
6,andhra pradesh,28,anantapur,553,raptadu,6212,arhar,32,3,1,10,1,202,2,2008,326,2011,0.80,0.10,2080.0,100.0,60.000,1233.000,0.0,0.0,0.000,0.000,0.0,0.000,5.769,33.444,0.115,46.154,0.0,0.0,1.5,60.0,1.615,20.291,1.615,40.863,0.000,0.000,0.0,0.0,3.231,61.154,3.0,0.300,15.0,5.769,0.0,0.0,0.0,0.0,0.0,0.0,0.210,0,654.0,1968.00,70557.0,1.0,16874.0,11,34.0,82.0,27.0,234,13,2690.0,30.0,30.0,5,1,8.000000,0.0,0,28553326,340302011285536212202200832611,1
7,andhra pradesh,28,anantapur,553,raptadu,6212,arhar,32,3,1,50,1,202,2,2008,327,2011,4.00,0.40,10400.0,400.0,127.875,2627.830,0.0,0.0,109.661,1955.390,0.0,0.000,22.000,531.080,2.000,180.000,0.0,0.0,5.0,220.0,0.000,0.000,6.250,132.812,0.000,0.000,0.0,0.0,6.250,132.812,4.0,3.250,162.5,442.969,0.0,0.0,0.0,0.0,0.0,0.0,0.826,0,3240.0,1128.00,51199.0,2.0,16874.0,11,7.0,82.0,27.0,234,13,2690.0,30.0,30.0,5,3,10.000000,0.0,0,28553327,70402011285536212202200832711,1
8,andhra pradesh,28,anantapur,553,raptadu,6212,arhar,32,3,1,50,1,202,2,2008,328,1011,0.60,0.20,1560.0,100.0,42.970,883.027,0.0,0.0,27.606,546.818,7.0,334.545,2.182,37.091,0.410,163.500,0.0,0.0,2.0,80.0,2.318,33.058,2.318,66.575,2.318,36.731,0.0,0.0,6.955,136.364,4.0,0.727,43.6,300.000,0.0,0.0,0.0,0.0,0.0,0.0,0.413,0,498.0,1196.00,56901.0,2.0,16874.0,11,7.0,82.0,27.0,234,13,2690.0,30.0,30.0,5,0,3.000000,0.0,0,28553328,70401011285536212202200832811,1
9,andhra pradesh,28,anantapur,553,raptadu,6212,arhar,32,3,1,50,1,202,2,2008,328,2011,0.65,0.20,1690.0,100.0,41.697,856.873,0.0,0.0,28.333,546.818,7.0,334.545,0.000,0.000,0.410,163.500,0.0,0.0,3.0,120.0,3.818,45.245,3.818,91.119,0.000,0.000,0.0,0.0,7.636,136.364,4.0,0.727,43.6,27.273,0.0,0.0,0.0,0.0,0.0,0.0,0.321,0,537.0,1196.00,56901.0,2.0,16874.0,11,7.0,82.0,27.0,234,13,2690.0,30.0,30.0,5,0,3.250000,0.0,0,28553328,70402011285536212202200832811,1

In [11]:
df[df['subdist_name'] == 'KANEKAL'].head()

,state_name,state_code,dist_name,dist_code,subdist_name,sub_id,crop,tehsil_code,zone,tenure,variety,season,crop_code,block,year,tehsilcultivator,pps,mainprd_qtl,croparea_ha,mainprd_rs,byprd_rs,famlab_hrs,famlab_rs,atchdlab_hrs,atchdlab_rs,casuallab_hrs,casuallab_rs,hrdanimllab_hrs,hrdanimllab_rs,ownanimllab_hrs,ownanimllab_rs,hrdmchn_hrs,hrdmchn_rs,ownmchn_hrs,ownmchn_rs,seed_kg,seed_rs,fertn_kg,fertn_rs,fertp_kg,fertp_rs,fertk_kg,fertk_rs,fertoth_kg,fertoth_rs,ferttotal_kg,ferttotal_rs,sizegroup,manure_qtl,manure_rs,insecticide_rs,ownirrimchn_hrs,ownirrimchn_rs,hrdirrimchn_hrs,hrdirrimchn_rs,canalandothirri_rs,misc_rs,landrevenue_rs,rpll_rs,imputedrent_rs,totaldepre_rs,totalcapital_rs,ss_groupno,area_sel_cr_vil_ha,nvillages_tehsil,cluster_weight,cropareainzone_ha,cropprodinzone_qtl,ntehsilsinzone,n_samp_teh_zone,area_sel_cr_zn_ha,minrent,maxrent,samp_zo_state,samp_cl_state,yield,sum_irr,irr,farmerid
72211,Andhra Pradesh,28,Anantapur,553,KANEKAL,6169,Arhar,31,3,1,50,1,202,2,2008,319,1011,1.5,0.40,4500.0,200.0,77.599998,1351.790039,0.0,0.0,109.669998,1810.0,0.0,0.0,4.0,146.440002,3.0,1200.0,0.0,0.0,5.0,250.0,8.400000,81.000000,21.0,405.000000,8.4,90.000000,0.0,0.0,37.799999,576.0,5.0,0.0,0.0,384.0,0.0,0.000000,0.0,0.0,0.0,12.0,0.825,0,1410.0,1418.0,55981.0,2.0,32030.0,17,3.0,82.0,27.0,234,13,2690.0,30.0,30.0,5,2,3.750000,0.000000,0,28553319
72360,Andhra Pradesh,28,Anantapur,553,KANEKAL,6169,Groundnut,31,3,1,10,1,1001,2,2008,311,2011,1.5,0.68,3000.0,750.0,63.667000,1109.069946,0.0,0.0,137.667007,2670.0,15.0,600.0,0.0,0.000000,4.5,1775.0,0.0,0.0,70.0,2112.0,7.000000,67.171997,17.5,338.191986,7.0,74.636002,0.0,0.0,31.500000,480.0,1.0,0.0,0.0,410.0,0.0,0.000000,0.0,0.0,0.0,200.0,1.000,0,1125.0,584.0,15885.0,1.0,32030.0,17,1.0,1447.0,471.0,234,13,2690.0,30.0,30.0,5,0,2.205882,0.000000,0,28553311
73165,Andhra Pradesh,28,Anantapur,553,KANEKAL,6169,Paddy,31,3,1,50,1,101,2,2008,311,1011,21.0,0.30,23100.0,500.0,116.333000,2026.530029,0.0,0.0,89.333000,1690.0,6.0,300.0,0.0,0.000000,4.0,2700.0,0.0,0.0,30.0,450.0,46.200001,496.140015,36.0,705.564026,13.0,158.294998,0.0,0.0,95.199997,1360.0,1.0,0.0,0.0,1170.0,0.0,0.000000,0.0,0.0,200.0,0.0,0.488,0,7080.0,584.0,15885.0,2.0,32030.0,17,33.0,280.0,815.0,234,13,2690.0,30.0,30.0,5,0,70.000000,200.000000,1,28553311
73166,Andhra Pradesh,28,Anantapur,553,KANEKAL,6169,Paddy,31,3,1,50,1,101,2,2008,312,1011,67.5,0.90,74250.0,3375.0,400.000000,6968.000000,0.0,0.0,501.666992,9355.0,0.0,0.0,60.0,2551.709961,6.5,4000.0,0.0,0.0,90.0,1320.0,136.899994,1557.939941,80.5,1904.369995,38.5,497.688995,0.0,0.0,255.899994,3960.0,1.0,50.0,3750.0,2940.0,410.0,723.028992,0.0,0.0,565.0,180.0,0.612,0,23287.5,1562.0,92233.0,2.0,32030.0,17,33.0,280.0,815.0,234,13,2690.0,30.0,30.0,5,2,75.000000,1288.029053,1,28553312
73167,Andhra Pradesh,28,Anantapur,553,KANEKAL,6169,Paddy,31,3,1,50,2,101,2,2008,312,1012,60.0,0.90,50400.0,3500.0,507.000000,8831.940430,0.0,0.0,331.333008,5340.0,0.0,0.0,22.0,935.625000,5.0,3650.0,0.0,0.0,90.0,1380.0,107.000000,1200.430054,54.0,1184.640015,86.0,884.932007,0.0,0.0,247.000000,3270.0,1.0,0.0,0.0,2635.0,700.0,1234.439941,0.0,0.0,0.0,0.0,0.612,0,16170.0,1562.0,92233.0,2.0,32030.0,17,33.0,280.0,815.0,234,13,2690.0,30.0,30.0,5,2,66.666664,1234.439941,1,28553312

In [19]:
df['State Name'].unique()

array(['andhra pradesh', 'telangana', 'assam', 'bihar', 'chhattisgarh',
       'gujarat', 'haryana', 'himachal pradesh', 'jharkhand', 'karnataka',
       'kerala', 'madhya pradesh', 'maharashtra', 'orissa', 'punjab',
       'rajasthan', 'tamil nadu', 'uttar pradesh', 'uttarakhand',
       'west bengal'], dtype=object)

In [20]:
df['State Name'] = df['State Name'].str.replace('Tamilnadu', 'Tamil Nadu', regex=False)

In [21]:
df['State Name'] = df['State Name'].str.replace('Jharkand', 'Jharkhand', regex=False)

In [22]:
df['State Name'] = df['State Name'].str.replace('Odisha', 'Orissa', regex=False)

In [23]:
df.shape

(353224, 81)

In [24]:
df['State Name'].unique()

array(['andhra pradesh', 'telangana', 'assam', 'bihar', 'chhattisgarh',
       'gujarat', 'haryana', 'himachal pradesh', 'jharkhand', 'karnataka',
       'kerala', 'madhya pradesh', 'maharashtra', 'orissa', 'punjab',
       'rajasthan', 'tamil nadu', 'uttar pradesh', 'uttarakhand',
       'west bengal'], dtype=object)

### 1. Finding a Unique Id column for the Dataset

In [25]:
df.head(10)

,State Name,state_code,District Name,dist_code,Tehsil Name,sub_id,crop,Tehsil Code,zone,tenure,variety,season,crop_code,block,year,tehsilcultivator,pps,mainprd_qtl,croparea_ha,mainprd_rs,byprd_rs,famlab_hrs,famlab_rs,atchdlab_hrs,atchdlab_rs,casuallab_hrs,casuallab_rs,hrdanimllab_hrs,hrdanimllab_rs,ownanimllab_hrs,ownanimllab_rs,hrdmchn_hrs,hrdmchn_rs,ownmchn_hrs,ownmchn_rs,seed_kg,seed_rs,fertn_kg,fertn_rs,fertp_kg,fertp_rs,fertk_kg,fertk_rs,fertoth_kg,fertoth_rs,ferttotal_kg,ferttotal_rs,sizegroup,manure_qtl,manure_rs,insecticide_rs,ownirrimchn_hrs,ownirrimchn_rs,hrdirrimchn_hrs,hrdirrimchn_rs,canalandothirri_rs,misc_rs,landrevenue_rs,rpll_rs,imputedrent_rs,totaldepre_rs,totalcapital_rs,ss_groupno,area_sel_cr_vil_ha,nvillages_tehsil,cluster_weight,cropareainzone_ha,cropprodinzone_qtl,ntehsilsinzone,n_samp_teh_zone,area_sel_cr_zn_ha,minrent,maxrent,samp_zo_state,samp_cl_state,yield,sum_irr,irr,farmerid,UniqueID,Extra Number
0,andhra pradesh,28,y.s.r.,551,thondur,6207,arhar,31,3,1,50,1,202,2,2008,310,1011,1.25,0.40,3750.0,200.0,40.000,696.800,0.0,0.0,135.000,1910.000,6.0,150.000,0.000,0.000,3.600,1440.000,0.0,0.0,5.0,250.0,8.400,84.000,21.000,423.000,8.400,93.000,0.0,0.0,37.800,600.000,5.0,0.000,0.0,510.000,0.0,0.0,0.0,0.0,0.0,12.0,1.091,0,1185.0,1642.82,40700.0,2.0,32030.0,17,3.0,82.0,27.0,234,13,2690.0,30.0,30.0,5,0,3.125000,0.0,0,28551310,30501011285516207202200831011,1
1,andhra pradesh,28,anantapur,553,kanekal,6169,arhar,31,3,1,50,1,202,2,2008,319,1011,1.50,0.40,4500.0,200.0,77.600,1351.790,0.0,0.0,109.670,1810.000,0.0,0.000,4.000,146.440,3.000,1200.000,0.0,0.0,5.0,250.0,8.400,81.000,21.000,405.000,8.400,90.000,0.0,0.0,37.800,576.000,5.0,0.000,0.0,384.000,0.0,0.0,0.0,0.0,0.0,12.0,0.825,0,1410.0,1418.00,55981.0,2.0,32030.0,17,3.0,82.0,27.0,234,13,2690.0,30.0,30.0,5,2,3.750000,0.0,0,28553319,30501011285536169202200831911,1
2,andhra pradesh,28,anantapur,553,raptadu,6212,arhar,32,3,1,10,1,202,2,2008,320,2011,2.50,0.40,6500.0,250.0,50.896,1045.910,0.0,0.0,66.917,1356.880,0.0,0.000,13.750,220.078,1.000,450.000,0.0,0.0,4.0,200.0,6.250,72.580,6.250,146.170,0.000,0.000,0.0,0.0,12.500,218.750,5.0,0.000,0.0,37.500,0.0,0.0,0.0,0.0,0.0,0.0,0.800,0,2025.0,2600.00,81457.0,1.0,16874.0,11,2.0,82.0,27.0,234,13,2690.0,30.0,30.0,5,8,6.250000,0.0,0,28553320,20502011285536212202200832011,1
3,andhra pradesh,28,anantapur,553,raptadu,6212,arhar,32,3,1,10,1,202,2,2008,320,3011,0.70,0.10,1820.0,75.0,25.533,524.710,0.0,0.0,21.700,450.000,0.0,0.000,4.350,69.625,0.200,90.000,0.0,0.0,1.0,50.0,3.000,34.839,3.000,70.161,0.000,0.000,0.0,0.0,6.000,105.000,5.0,0.000,0.0,300.000,0.0,0.0,0.0,0.0,0.0,0.0,0.197,0,568.5,2600.00,81457.0,1.0,16874.0,11,2.0,82.0,27.0,234,13,2690.0,30.0,30.0,5,8,7.000000,0.0,0,28553320,20503011285536212202200832011,1
4,andhra pradesh,28,anantapur,553,uravakonda,6153,arhar,32,3,1,50,1,202,2,2008,321,2011,0.25,0.06,650.0,50.0,33.160,681.438,0.0,0.0,0.000,0.000,0.0,0.000,5.000,119.100,0.000,0.000,0.0,0.0,1.0,40.0,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.0,0.000,0.000,1.0,0.240,12.0,60.000,0.0,0.0,0.0,0.0,0.0,0.0,0.123,0,210.0,1520.00,54426.0,1.0,16874.0,11,2.0,82.0,27.0,234,13,2690.0,30.0,30.0,5,2,4.166666,0.0,0,28553321,20102011285536153202200832111,1
5,andhra pradesh,28,anantapur,553,uravakonda,6153,arhar,32,3,1,50,1,202,2,2008,324,1011,0.60,0.10,1560.0,75.0,24.000,493.200,0.0,0.0,14.000,200.000,0.0,0.000,5.939,144.965,0.122,12.245,0.0,0.0,1.5,90.0,1.150,13.500,1.500,27.000,0.000,0.000,0.0,0.0,3.000,49.500,2.0,0.204,10.0,34.082,0.0,0.0,0.0,0.0,0.0,0.0,0.360,0,490.5,2700.00,86955.0,2.0,16874.0,11,8.5,82.0,27.0,234,13,2690.0,30.0,30.0,5,1,6.000000,0.0,0,28553324,85201011285536153202200832411,1
6,andhra pradesh,28,anantapur,553,raptadu,6212,arhar,32,3,1,10,1,202,2,2008,326,2011,0.80,0.10,2080.0,100.0,60.000,1233.000,0.0,0.0,0.000,0.000,0.0,0.000,5.769,33.444,0.115,46.154,0.0,0.0,1.5,60.0,1.615,20.291,1.615,40.863,0.000,0.000,0.0,0.0,3.231,61.154,3.0,0.300,15.0,5.769,0.0,0.0,0.0,0.0,0.0,0.0,0.210,0,654.0,1968.00,70557.0,1.0,16874.0,11,34.0,82.0,27.0,234,13,2690.0,30.0,30.0,5,1,8.000000,0.0,0,28553326,340302011285536212202200832611,1
7,andhra pradesh,28,anantapur,553,raptadu,6212,arhar,32,3,1,50,1,202,2,2008,327,2011,4.00,0.40,10400.0,400.0,127.875,2627.830,0.0,0.0,109.661,1955.390,0.0,0.000,22.000,531.080,2.000,180.000,0.0,0.0,5.0,220.0,0.000,0.000,6.250,132.812,0.000,0.000,0.0,0.0,6.250,132.812,4.0,3.250,162.5,442.969,0.0,0.0,0.0,0.0,0.0,0.0,0.826,0,3240.0,1128.00,51199.0,2.0,16874.0,11,7.0,82.0,27.0,234,13,2690.0,30.0,30.0,5,3,10.000000,0.0,0,28553327,70402011285536212202200832711,1
8,andhra pradesh,28,anantapur,553,raptadu,6212,arhar,32,3,1,50,1,202,2,2008,328,1011,0.60,0.20,1560.0,100.0,42.970,883.027,0.0,0.0,27.606,546.818,7.0,334.545,2.182,37.091,0.410,163.500,0.0,0.0,2.0,80.0,2.318,33.058,2.318,66.575,2.318,36.731,0.0,0.0,6.955,136.364,4.0,0.727,43.6,300.000,0.0,0.0,0.0,0.0,0.0,0.0,0.413,0,498.0,1196.00,56901.0,2.0,16874.0,11,7.0,82.0,27.0,234,13,2690.0,30.0,30.0,5,0,3.000000,0.0,0,28553328,70401011285536212202200832811,1
9,andhra pradesh,28,anantapur,553,raptadu,6212,arhar,32,3,1,50,1,202,2,2008,328,2011,0.65,0.20,1690.0,100.0,41.697,856.873,0.0,0.0,28.333,546.818,7.0,334.545,0.000,0.000,0.410,163.500,0.0,0.0,3.0,120.0,3.818,45.245,3.818,91.119,0.000,0.000,0.0,0.0,7.636,136.364,4.0,0.727,43.6,27.273,0.0,0.0,0.0,0.0,0.0,0.0,0.321,0,537.0,1196.00,56901.0,2.0,16874.0,11,7.0,82.0,27.0,234,13,2690.0,30.0,30.0,5,0,3.250000,0.0,0,28553328,70402011285536212202200832811,1

In [26]:
df['year'].unique()

array([2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018,
       2019])

In [27]:
df = df[~df['year'].isin([2005, 2006, 2007])]

In [28]:
df['year'].unique()

array([2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018,
       2019])

In [22]:
df['UniqueID'] = df['cluster_weight'].astype(str) + df['sizegroup'].astype(str) + df['pps'].astype(str) + df['state_code'].astype(str) + df['dist_code'].astype(str) + df['sub_id'].astype(str) + df['crop_code'].astype(str) + df['year'].astype(str) + df['tehsilcultivator'].astype(str) + df['season'].astype(str)

In [23]:
df['Extra Number'] = df.groupby(['tehsilcultivator', 'pps']).cumcount() + 1

In [24]:
df['UniqueID'] = df['UniqueID'].astype(str) + df['Extra Number'].astype(str)

In [25]:
df['UniqueID'] = df['UniqueID'].str.replace('.', '', regex=False)

In [26]:
df['UniqueID'] = df['UniqueID'].str.replace('nan', '', regex=False)

In [27]:
len(df['UniqueID'].unique())

353224

In [28]:
df.shape

(353224, 81)

In [29]:
duplicate_ids = df['UniqueID'][df['UniqueID'].duplicated(keep=False)]

df_duplicates = df[df['UniqueID'].isin(duplicate_ids)]

In [30]:
len(df_duplicates)

0

In [31]:
df_duplicates.head(10)

Empty DataFrame
Columns: [state_name, state_code, dist_name, dist_code, subdist_name, sub_id, crop, tehsil_code, zone, tenure, variety, season, crop_code, block, year, tehsilcultivator, pps, mainprd_qtl, croparea_ha, mainprd_rs, byprd_rs, famlab_hrs, famlab_rs, atchdlab_hrs, atchdlab_rs, casuallab_hrs, casuallab_rs, hrdanimllab_hrs, hrdanimllab_rs, ownanimllab_hrs, ownanimllab_rs, hrdmchn_hrs, hrdmchn_rs, ownmchn_hrs, ownmchn_rs, seed_kg, seed_rs, fertn_kg, fertn_rs, fertp_kg, fertp_rs, fertk_kg, fertk_rs, fertoth_kg, fertoth_rs, ferttotal_kg, ferttotal_rs, sizegroup, manure_qtl, manure_rs, insecticide_rs, ownirrimchn_hrs, ownirrimchn_rs, hrdirrimchn_hrs, hrdirrimchn_rs, canalandothirri_rs, misc_rs, landrevenue_rs, rpll_rs, imputedrent_rs, totaldepre_rs, totalcapital_rs, ss_groupno, area_sel_cr_vil_ha, nvillages_tehsil, cluster_weight, cropareainzone_ha, cropprodinzone_qtl, ntehsilsinzone, n_samp_teh_zone, area_sel_cr_zn_ha, minrent, maxrent, samp_zo_state, samp_cl_state, yield, sum_irr, irr, farmerid, UniqueID, Extra Number]
Index: []

In [32]:
df_duplicates = df_duplicates[['state_name', 'state_code', 'dist_name','dist_code', 'tehsil_code', 'zone', 'crop', 'crop_code', 'block', 'year', 'tehsilcultivator',
         'pps', 'tenure', 'variety', 'season', 'farmerid']]

In [33]:
df_duplicates.head(30)

Empty DataFrame
Columns: [state_name, state_code, dist_name, dist_code, tehsil_code, zone, crop, crop_code, block, year, tehsilcultivator, pps, tenure, variety, season, farmerid]
Index: []

### Finding Number fo Unique Tehsils (State Wise)

In [29]:
unique_tehsil_counts = df.groupby("State Name")["Tehsil Code"].nunique().reset_index()

In [30]:
unique_tehsil_counts.columns = ["State Name", "unique_tehsil_count"]

In [32]:
unique_tehsil_counts

          State Name  unique_tehsil_count
0     andhra pradesh                   36
1              assam                   45
2              bihar                   45
3       chhattisgarh                   15
4            gujarat                   60
5            haryana                   30
6   himachal pradesh                   31
7          jharkhand                   15
8          karnataka                   45
9             kerala                   30
10    madhya pradesh                   45
11       maharashtra                   60
12            orissa                   45
13            punjab                   30
14         rajasthan                   60
15        tamil nadu                   60
16         telangana                   26
17     uttar pradesh                   73
18       uttarakhand                    8
19       west bengal                   60

### Checking total number of Tehsils Year wise

In [33]:
grouped = df.groupby(['State Name', 'year'])['Tehsil Code'].nunique().reset_index()

In [34]:
total_unique_tehsils_per_year = grouped.groupby('year')['Tehsil Code'].sum().reset_index()
total_unique_tehsils_per_year.columns = ['year', 'Total Number of unique Tehsils']

In [35]:
total_unique_tehsils_per_year

    year  Total Number of unique Tehsils
0   2008                             801
1   2009                             792
2   2010                             806
3   2011                             811
4   2012                             809
5   2013                             811
6   2014                             752
7   2015                             757
8   2016                             757
9   2017                             788
10  2018                             788
11  2019                             788

In [36]:
df.shape

(353224, 81)