In [1]:
import pandas as pd
import numpy as np
import geopandas as gdf
from shapely.geometry import Point
import pathlib

In [4]:
curr_dir = pathlib.Path().resolve()
print(curr_dir)

/home/inductive-anks/yield-prediction/Yield-Prediction/Code Files/Centroid-SOI

In [12]:
home_dir = curr_dir.parent.parent

In [15]:
df_centroid = gdf.read_file(home_dir.as_posix() + '/data/Centroid_File/coc_2008_2020_v1.shp')

In [16]:
df_SOI = gdf.read_file(home_dir.as_posix() + '/data/All-Inida-SOI/All-India-Villages-SOI.shp')

In [17]:
df_centroid.head()

,state,year,zone,dtnmcoc,slnococ,tehnmcoc,vilnmcoc,sdnm_11,geometry
0,Bihar,2008-11,1,Samastipur,1,Samastipur,Fatehpur,Samastipur,POINT (85.74868 25.8446)
1,Bihar,2008-11,1,Samastipur,2,Samastipur,Muktapur,Samastipur,POINT (85.75294 25.8497)
2,Bihar,2008-11,1,Samastipur,3,Dalsingsarai,Banghara,Dalsinghsarai,POINT (85.81624 25.66342)
3,Bihar,2008-11,1,Madhubani,4,Madhubani,Saurath,Madhubani,POINT (86.05196 26.3594)
4,Bihar,2008-11,1,Madhubani,4,Madhubani,Saurath,Madhubani,POINT (86.06495 26.38378)

In [18]:
df_SOI.head()

,NAME,dtnmcoc,state,tehnmcoc,geometry
0,village point boundary,lahul & spiti,himachal pradesh,None,"POLYGON ((76.73598 33.18017, 76.73492 33.18101..."
1,dhar chhoglu,chamba,himachal pradesh,pangi,"POLYGON ((76.55004 33.19772, 76.55082 33.19775..."
2,dhar shinkal,chamba,himachal pradesh,pangi,"POLYGON ((76.52521 33.19414, 76.52596 33.19418..."
3,sural bhatori,chamba,himachal pradesh,pangi,"POLYGON ((76.46151 33.17813, 76.46635 33.17894..."
4,rusmas,chamba,himachal pradesh,pangi,"POLYGON ((76.39866 33.17477, 76.39969 33.17541..."

In [19]:
df_SOI.rename(columns={'NAME':'VILLAGE'}, inplace=True)

## Applying the Within Fuction for Merging

In [9]:
value_counts = df_centroid['geometry'].value_counts()

In [10]:
filtered_values = value_counts[value_counts == 1].index

In [11]:
df_filtered_centroid = df_centroid[df_centroid['geometry'].isin(filtered_values)]

In [12]:
df_filtered_centroid.shape

(3472, 9)

In [13]:
df_centroid.shape

(3773, 9)

In [28]:
type(df_filtered_centroid)

geopandas.geodataframe.GeoDataFrame

In [30]:
type(df_SOI)

geopandas.geodataframe.GeoDataFrame

In [41]:
df_SOI['villnamecoc'] = None

for i, centroid_row in df_filtered_centroid.iterrows():
    point = centroid_row['geometry']
    villnamecoc = centroid_row['vilnmcoc']
    
    if point is not None:
        for j, polygon_row in df_SOI.iterrows():
            polygon = polygon_row['geometry']
            
            if polygon is not None and point.within(polygon):
                df_SOI.at[j, 'villnamecoc'] = villnamecoc

In [31]:
import geopandas as gpd

# Convert your DataFrames to GeoDataFrames if they aren't already
df_SOI = gpd.GeoDataFrame(df_SOI, geometry='geometry')
df_filtered_centroid = gpd.GeoDataFrame(df_filtered_centroid, geometry='geometry')

# Ensure both GeoDataFrames use the same coordinate reference system (CRS)
df_filtered_centroid = df_filtered_centroid.to_crs(df_SOI.crs)

# Perform the spatial join
joined_df = gpd.sjoin(df_filtered_centroid, df_SOI, how='left', predicate='within')

# Extract and merge the village names
df_SOI['villnamecoc'] = joined_df['vilnmcoc']

# If you need to keep only the rows from df_SOI with the matching villages:
df_SOI = df_SOI.merge(joined_df[['index_right', 'vilnmcoc']], left_index=True, right_on='index_right', how='left')

In [34]:
df_filtered_centroid.to_file('filtered_centroid', driver = 'ESRI Shapefile')

In [33]:
df_SOI.sample(30)

,VILLAGE,dtnmcoc,state,tehnmcoc,geometry,villnamecoc,index_right,vilnmcoc
NaN,sonwadi,aurang>b>d,maharashtra,kannad,"POLYGON ((75.1985 20.49245, 75.20114 20.49215,...",NaN,278516.0,NaN
NaN,mund dattaji tryambak,amar>vati,maharashtra,dhamangaon,"POLYGON ((78.22782 20.83963, 78.22765 20.8392,...",NaN,291645.0,NaN
NaN,mavadi,shimoga,karnataka,tirthahalli,"POLYGON ((75.14644 13.79063, 75.14735 13.79172...",NaN,206471.0,NaN
NaN,wadiramrao,w>sh|m,maharashtra,malegaon,"POLYGON ((77.10602 20.37365, 77.10757 20.37358...",NaN,273911.0,NaN
NaN,bijaypur,sidhi,madhya pradesh,gopadbanas,"POLYGON ((81.89636 24.38571, 81.89709 24.38579...",NaN,427115.0,NaN
NaN,chandi nagar pt v,cachar,assam,katigora,"POLYGON ((92.51585 24.93931, 92.51765 24.9393,...",NaN,59614.0,NaN
NaN,kukura chuwa,sibsagar,assam,amguri,"POLYGON ((94.62704 26.90717, 94.6277 26.90726,...",NaN,45335.0,NaN
NaN,bahorwa,supaul,bihar,kishanpur,"POLYGON ((86.77533 26.19914, 86.77539 26.19882...",NaN,112488.0,NaN
NaN,deokali,fatehpur,uttarpradesh,khaga,"POLYGON ((81.12855 25.96846, 81.12846 25.96835...",NaN,516222.0,NaN
NaN,barka nuawan,buxar,bihar,buxar,"POLYGON ((83.96123 25.55214, 83.96392 25.55218...",NaN,125764.0,NaN
NaN,minhaj chak,basti,uttarpradesh,bhanpur,"POLYGON ((82.72432 27.07016, 82.7237 27.06965,...",NaN,576617.0,NaN
NaN,doiphodwadi,b|d,maharashtra,b\d,"POLYGON ((75.83813 18.81001, 75.83816 18.81, 7...",NaN,262990.0,NaN
NaN,rajwapur,balrampur,uttarpradesh,tulsipur,"POLYGON ((82.34712 27.62703, 82.34728 27.62682...",NaN,518213.0,NaN
NaN,sundarpura,dungarpur,rajasthan,sagwara,"POLYGON ((74.03683 23.74013, 74.04582 23.74027...",NaN,357009.0,NaN
NaN,kolu khedi,ratlam,madhya pradesh,alot,"POLYGON ((75.49734 23.54719, 75.49911 23.5476,...",NaN,440183.0,NaN
NaN,yadavalli,nalgonda,andhra pradesh,nuthankal,"POLYGON ((79.64365 17.32613, 79.64403 17.32841...",NaN,25456.0,NaN
NaN,jorakani,puri,orissa,delanga,"POLYGON ((85.67724 20.06713, 85.67691 20.06627...",NaN,394889.0,NaN
NaN,bagpur,karauli,rajasthan,mandrail,"POLYGON ((77.23494 26.40539, 77.23927 26.40387...",NaN,337379.0,NaN
NaN,konganda,gulbarga,karnataka,shahpur,"POLYGON ((76.82761 16.59028, 76.82918 16.5908,...",NaN,195635.0,NaN
NaN,chinna irumbedu,kancheepuram,tamil nadu,chengalpattu,"POLYGON ((80.03526 12.65153, 80.03703 12.65068...",NaN,584804.0,NaN
NaN,pokhari,aurang>b>d,maharashtra,aurang<b<d,"POLYGON ((75.38813 19.94532, 75.38875 19.94639...",NaN,279037.0,NaN
NaN,chandniya koyalwadi,chhindwara,madhya pradesh,jamai,"POLYGON ((78.37114 22.2113, 78.37212 22.21135,...",NaN,460503.0,NaN
NaN,sidlabhavi,koppal,karnataka,yelbarga,"POLYGON ((76.31455 15.72619, 76.31558 15.72548...",NaN,198814.0,NaN
NaN,akkavayal,sivaganga,tamil nadu,ilayangudi,"POLYGON ((78.75665 9.71722, 78.75764 9.71747, ...",NaN,597529.0,NaN
NaN,peddaodela,karimnagar,andhra pradesh,manthani,"POLYGON ((79.73387 18.61091, 79.73406 18.61087...",NaN,16472.0,NaN
NaN,lodipur,vaishali,bihar,mahnar,"POLYGON ((85.55591 25.70335, 85.55595 25.70295...",NaN,122438.0,NaN
NaN,itekola,birbhum,west bengal,suri i,"POLYGON ((87.50278 23.81493, 87.50362 23.81598...",NaN,73416.0,NaN
NaN,mirthal,None,punjab,path>nkot,"POLYGON ((75.62088 32.12794, 75.62116 32.12726...",NaN,306482.0,NaN
NaN,bhagia,chatra,jharkhand,pratappur,"POLYGON ((84.6556 24.26115, 84.6557 24.26071, ...",NaN,234768.0,NaN
NaN,mesra,patan,gujarat,chanasma,"POLYGON ((72.12006 23.622, 72.12051 23.622, 72...",NaN,170105.0,NaN