In [2]:
import pandas as pd
import pathlib

In [3]:
curr_dir = pathlib.Path().resolve()
print(curr_dir)

/home/inductive-anks/yield-prediction/Yield-Prediction/Code Files/Raw-Data-Preprocessing

In [4]:
home_dir = curr_dir.parent.parent

In [5]:
df_village_2008 = pd.read_csv(home_dir.as_posix() + '/data/Final Data/2008-2011-clean.csv')

In [6]:
df_village_2011 = pd.read_csv(home_dir.as_posix() + '/data/Final Data/2011-2014-clean.csv')

In [7]:
df_village_2014 = pd.read_csv(home_dir.as_posix() + '/data/Final Data/2014-2017-clean.csv')

In [8]:
df_village_2017 = pd.read_csv(home_dir.as_posix() + '/data/Final Data/2017-2020-clean.csv')

In [9]:
df_village_2008.head(2)

,Zone No,Tehsil Code,Tehsil Name,District Name,Village Name,State Name,Year
0,IV,40,Puduru,Ranga Reddy,PedhaUmethala,Andhra Pradesh,2008-2011
1,V,49,Sadasivpet,Medak,Nandi Kandi,Andhra Pradesh,2008-2011

In [10]:
df_village_2011.head(2)

,Zone No,District Name,Tehsil Code,Tehsil Name,Village Name,State Name,Year
0,Zone -I,Srikakulam,1,Vajrapukothur,Patha Tekkali,Andhra Pradesh,2011-2014
1,Zone -I,Srikakulam,2,Amdalavasa,Dusi,Andhra Pradesh,2011-2014

In [11]:
df_village_2014.head(2)

,Zone Number,District Name,Tehsil Code,Tehsil Name,Vilage,State,Block,Unnamed: 7
0,I,Srikakulam,1.0,Pathapatnam,R.L. Puram,Andhra Pradesh,2014-2017,NaN
1,I,Srikakulam,2.0,Hiramandalam,Tampa,Andhra Pradesh,2014-2017,NaN

In [12]:
df_village_2017.head(2)

,Tehsil Code,Zone Number,District Name,Tehsil Name,Vilage,State,Block,District Code
0,1,II-Terai,COOCHBEHAR,DINHATA-I,Bhoram Payasthi,West Bengal,2017-2020,NaN
1,2,II-Terai,JALPAIGURI,NAGRAKATA,Dhouda Simla (N),West Bengal,2017-2020,NaN

In [13]:
# df_village_2008
df_village_2008 = df_village_2008.rename(columns={'Zone No': 'Zone', 'State Name': 'State'})
df_village_2008 = df_village_2008[['Zone', 'District Name', 'Tehsil Code', 'Tehsil Name', 'Village Name', 'State', 'Year']]

In [14]:
df_village_2011 = df_village_2011.rename(columns={'Zone No': 'Zone', 'State Name': 'State'})
df_village_2011 = df_village_2011[['Zone', 'District Name', 'Tehsil Code', 'Tehsil Name', 'Village Name', 'State', 'Year']]

In [15]:
df_village_2014.drop(columns=['Unnamed: 7'], inplace=True)

In [16]:
df_village_2014 = df_village_2014.rename(columns={'Zone Number': 'Zone', 'State': 'State', 'Vilage ': 'Village Name', 'Tehsil Code ': 'Tehsil Code', 'Block': 'Year'})
df_village_2014 = df_village_2014[['Zone', 'District Name', 'Tehsil Code', 'Tehsil Name', 'Village Name', 'State', 'Year']]

In [17]:
df_village_2017 = df_village_2017.rename(columns={'Zone Number': 'Zone', 'State': 'State', 'Vilage ': 'Village Name', 'Block': 'Year'})
df_village_2017 = df_village_2017[['Zone', 'District Name', 'Tehsil Code', 'Tehsil Name', 'Village Name', 'State', 'Year']]

In [18]:
df_villages = pd.concat([df_village_2008, df_village_2011, df_village_2014, df_village_2017], ignore_index=True)

In [19]:
df_villages.isna().sum()

Zone             11
District Name    10
Tehsil Code       8
Tehsil Name      10
Village Name     12
State             0
Year              0
dtype: int64

In [20]:
df_villages_cleaned = df_villages.dropna()

In [21]:
df_villages_cleaned.isna().sum()

Zone             0
District Name    0
Tehsil Code      0
Tehsil Name      0
Village Name     0
State            0
Year             0
dtype: int64

In [22]:
print("\nShape of the dataframe before and after dropping rows:")
print("Before dropping NaN rows:", df_villages.shape)
print("After dropping NaN rows:", df_villages_cleaned.shape)

Shape of the dataframe before and after dropping rows:
Before dropping NaN rows: (4234, 7)
After dropping NaN rows: (4209, 7)

In [23]:
df_villages_cleaned = df_villages_cleaned.applymap(lambda x: x.lower() if isinstance(x, str) else x)

/tmp/ipykernel_4940/462529041.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_villages_cleaned = df_villages_cleaned.applymap(lambda x: x.lower() if isinstance(x, str) else x)

In [24]:
df_villages_cleaned['Year'].value_counts()

Year
2014-2017    1100
2017-2020    1058
2011-2014     996
2008-2011     666
2008-2009     389
Name: count, dtype: int64

In [25]:
df_villages_cleaned['Year'] = df_villages_cleaned['Year'].replace('2008-2009', '2008-2011')

In [26]:

subset = df_villages_cleaned[(df_villages_cleaned['State'] == 'karnataka') & (df_villages_cleaned['Year'] == '2008-2011')]

df_villages_cleaned.loc[(df_villages_cleaned['State'] == 'karnataka') & (df_villages_cleaned['Year'] == '2008-2011'), ['Tehsil Name', 'Tehsil Code']] = \
df_villages_cleaned.loc[(df_villages_cleaned['State'] == 'karnataka') & (df_villages_cleaned['Year'] == '2008-2011'), ['Tehsil Code', 'Tehsil Name']].values

In [27]:
# Define the correct order of columns starting from 'State' to 'Village Name'
correct_order = [
    'State', 
    'Zone', 
    'District Name', 
    'Tehsil Code', 
    'Tehsil Name', 
    'Village Name', 
    'Year'
]

df_villages_cleaned = df_villages_cleaned[correct_order]

df_villages_cleaned.head()

,State,Zone,District Name,Tehsil Code,Tehsil Name,Village Name,Year
0,andhra pradesh,iv,ranga reddy,40,puduru,pedhaumethala,2008-2011
1,andhra pradesh,v,medak,49,sadasivpet,nandi kandi,2008-2011
2,andhra pradesh,v,medak,50,zaiheerabad,huggelly,2008-2011
3,andhra pradesh,i,srikakulam,1,etheria,ponnada,2008-2011
4,andhra pradesh,i,srikakulam,2,tekkali,tirlangi,2008-2011

In [28]:
# Remove leading, trailing, and extra spaces within all string columns
df_villages_cleaned = df_villages_cleaned.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df_villages_cleaned = df_villages_cleaned.applymap(lambda x: ' '.join(x.split()) if isinstance(x, str) else x)

/tmp/ipykernel_4940/3381886373.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_villages_cleaned = df_villages_cleaned.applymap(lambda x: x.strip() if isinstance(x, str) else x)
/tmp/ipykernel_4940/3381886373.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_villages_cleaned = df_villages_cleaned.applymap(lambda x: ' '.join(x.split()) if isinstance(x, str) else x)

In [29]:
state_corrections = {
    'andhra pradesh & telangana': 'andhra pradesh',
    'jharkand': 'jharkhand',
    'chattisgarh': 'chhattisgarh',
    'odisha': 'orissa',
    'gujrat': 'gujarat', 
    'maharashtra': 'maharastra'
}

df_villages_cleaned['State'] = df_villages_cleaned['State'].replace(state_corrections)

In [30]:
df_villages_cleaned['State'].nunique()

19

In [31]:
import re

df_villages_cleaned['Village Name'] = df_villages_cleaned['Village Name'].str.replace(r'^\s*\d+\s*', '', regex=True)

In [32]:

df_villages_cleaned['Village Name'] = df_villages_cleaned['Village Name'].str.replace(r'^[\s\d.]+', '', regex=True)

In [ ]:
df_villages_cleaned.to_csv(home_dir.as_posix() + '/data/Final Data/Final-Merged-Data(2008-2011 to 2017-2020).csv', index=False)

In [ ]:
grouped = df_villages_cleaned.groupby(['State', 'Year'])['Tehsil Name'].nunique().reset_index()

###