In [1]:
import pandas as pd
import pathlib

In [2]:
curr_dir = pathlib.Path().resolve()
print(curr_dir)

/home/inductive-anks/yield-prediction/Yield-Prediction/Code Files/Raw-Data-Preprocessing

In [3]:
home_dir = curr_dir.parent.parent

In [4]:
df_village_list = pd.read_csv(home_dir.as_posix() + '/data/Final Data/Final-Merged-Data(2008-2011 to 2017-2020).csv')

In [5]:
df_village_list.shape

(4113, 7)

In [6]:
len(df_village_list['Village Name'].unique())

3943

In [7]:
df_village_list.head()

,Zone No,Tehsil Code,Tehsil Name,District Name,Village Name,State Name,Year
0,IV,40,Puduru,Ranga Reddy,pedhaumethala,Andhra Pradesh,2008-2011
1,V,49,Sadasivpet,Medak,nandi kandi,Andhra Pradesh,2008-2011
2,V,50,Zaiheerabad,Medak,huggelly,Andhra Pradesh,2008-2011
3,I,1,Etheria,Srikakulam,ponnada,Andhra Pradesh,2008-2011
4,I,2,Tekkali,Srikakulam,tirlangi,Andhra Pradesh,2008-2011

In [8]:
def remove_leading_numbers(village_name):
    parts = village_name.split('. ', 1)
    if len(parts) == 2 and parts[0].isdigit():
        return parts[1]
    return village_name


df_village_list['Village Name'] = df_village_list['Village Name'].apply(remove_leading_numbers)

In [9]:
def remove_text_before_dot(village_name):
    return village_name.split('.', 1)[-1] 

df_village_list['Village Name'] = df_village_list['Village Name'].apply(remove_text_before_dot)

In [10]:
df_village_list['Village Name'] = df_village_list['Village Name'].str.replace(r'\(.*?\)', '', regex=True).str.strip()

In [11]:
df_village_list['Village Name'] = df_village_list['Village Name'].str.strip()

In [12]:
df_village_list['State Name'].unique()

array(['Andhra Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Gujrat',
       'Haryana', 'Jharkhand', 'Kerala', 'Maharastra', 'Madhya Pradesh',
       'Orissa', 'Punjab', 'Rajasthan', 'Tamil Nadu', 'West Bengal',
       'Uttar Pradesh', 'Himachal Pradesh', 'Karnataka', 'Gujarat',
       'Odisha', 'Chattisgarh', 'Maharashtra', 'Uttarakhand', 'Haryana ',
       'Andhra Pradesh & Telangana '], dtype=object)

In [13]:
df_village_list.to_csv(home_dir.as_posix() + '/data/Final Data/Final-Merged-Data(2008-2011 to 2017-2020).csv', index=False)

###